<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzmtr.eam.mapper.home.HomeMapper">


    <select id="count" resultType="integer">
            SELECT COUNT(*)
            FROM IPLAT60.USER_MESSAGE
            WHERE 1=1
            <if test="status != null">
                AND STATUS = #{status}
            </if>
            <if test="receiveUserId != null">
                AND RECEIVE_USER_ID = #{receiveUserId}
            </if>
    </select>
    <select id="queryB" resultType="com.wzmtr.eam.dto.res.home.ShowBCResDTO">
        SELECT db.NODE_NAME as "majorName",count(b.MAJOR_CODE) as cnt
        from T_EQUIPMENT_CATEGORY	 db
        left join (select d.MAJOR_CODE
        from T_FAULT_INFO d,T_FAULT_ORDER d2
        where d.FAULT_NO=d2.FAULT_NO
        and to_date(d.FILLIN_TIME, 'yyyy-mm-dd hh24:mi:ss') >=      add_months(SYSDATE, -3)
        and d.FAULT_FLAG<![CDATA[ <> ]]>'2'
        <!--作废的故障除外-->
        and d.DELETE_FLAG ='0'
        and d2.ORDER_STATUS<![CDATA[ <> ]]>'99'
        ) b
        on db.NODE_CODE = b.MAJOR_CODE
        where db.PARENT_NODE_REC_ID = '0'
        group by db.NODE_NAME,db.NODE_CODE
        order by cnt desc,db.NODE_CODE
    </select>
    <select id="queryC" resultType="com.wzmtr.eam.dto.res.home.ShowBCResDTO">
        SELECT db.NODE_NAME as "majorName",count(b.MAJOR_CODE) as cnt
        from T_EQUIPMENT_CATEGORY	 db
        left join (select d.MAJOR_CODE
        from T_FAULT_INFO d,T_FAULT_ORDER d2
        where   d.FAULT_NO=d2.FAULT_NO
        and to_date(d.FILLIN_TIME, 'yyyy-mm-dd hh24:mi:ss') -trunc(sysdate) between -7 and 7
        and d.FAULT_FLAG<![CDATA[ <> ]]>'2'
        and d.DELETE_FLAG ='0'
        <!--作废的故障除外-->
        and d2.ORDER_STATUS<![CDATA[ <> ]]>'99'
        ) b
        on db.NODE_CODE = b.MAJOR_CODE
        where db.PARENT_NODE_REC_ID = '0'
        group by db.NODE_NAME,db.NODE_CODE
        order by cnt desc,db.NODE_CODE
    </select>
    <select id="queryA" resultType="com.wzmtr.eam.dto.res.home.ShowAResDTO">
        SELECT
        t.ORDER_STATUS AS status,
        iplat60.QUERYCODECNAME('dm.faultStatus',t.ORDER_STATUS,'1') AS cname,count(1) as cnt
        FROM T_FAULT_ORDER t,
        T_FAULT_INFO d
        WHERE 1 = 1
        AND d.FAULT_NO = t.FAULT_NO
        and d.FAULT_FLAG<![CDATA[ <> ]]>'2'
          and d.DELETE_FLAG ='0'
        <!--作废的故障除外-->
        <!--and t.ORDER_STATUS<![CDATA[ <> ]]>'99'-->
        and to_date(d.FILLIN_TIME,'yyyy-mm-dd hh24:mi:ss') >= add_months(SYSDATE, -3)
        GROUP BY t.ORDER_STATUS
        ORDER BY cnt DESC
        <!--SELECT
        i.ITEM_CNAME       AS cname,
        t.ORDER_STATUS     AS status,
        count(i.ITEM_CODE) AS cnt
        FROM T_FAULT_ORDER t,
        iplat60.TEDCM01 i,
        T_FAULT_INFO d
        WHERE 1 = 1
        AND i.CODESET_CODE LIKE '%dm.faultStatus%'
        AND i.PROJECT_NAME IN ('TEST', 'IPLAT4J', 'XSERVICES', 'WZPLAT', 'APM')
        AND i.PROJECT_NAME = 'WZPLAT'
        AND i.ITEM_CODE = t.ORDER_STATUS
        AND d.FAULT_NO=t.FAULT_NO
        AND d.DISCOVERY_TIME>=to_char(add_months( SYSDATE, -5), 'YYYY/MM/DD hh:mm')
        GROUP BY i.ITEM_CNAME, t.ORDER_STATUS
        ORDER BY cnt DESC-->
    </select>
    <select id="queryForIndex" resultType="java.lang.Integer">
        SELECT count(*)
        FROM (
        SELECT
        A.TASK_ID as taskId,
        A.TASK_NAME as taskName,
        A.PROCESS_INSTANCE_ID as processInstanceId,
        A.ASSIGNEE_ID as assigneeId,
        A.ASSIGNEE_FULLNAME as assigneeFullname,
        A.REC_CREATOR as recCreator,
        (SELECT MAX(USER_NAME) FROM iplat60.XS_USER WHERE LOGIN_NAME = A.REC_CREATOR) as recCreatorName,
        to_char(to_date(A.START_TIME,'YYYYMMDDHH24miss'),'YYYY-MM-DD HH24:mi:ss') as startTime,
        A.FORM as form,
        A.DURATION as duration,
        to_char(A.OPINION) as opinion,
        B.BUSINESS_KEY as businessKey,
        B.PROCESS_DEF_NAME as processDefName
        FROM iplat60.TEWPT00 A
        INNER JOIN iplat60.TEWPI00 B ON A.ACT_INSTANCE_ID=B.ACT_INSTANCE_ID
        WHERE 1=1
        <if test="modelName != null and modelName != ''">
            AND A.PROCESS_KEY LIKE  concat(concat('%',#{modelName}),'%')
        </if>
        <if test="userId != null and userId != ''">
            AND A.ASSIGNEE_ID = #{userId}
        </if>
        <if test="state != null and state != ''">
            AND A.STATE = #{state}
        </if>
        UNION ALL
        SELECT
        EXT1 as taskId,
        STEP_NAME as taskName,
        TODO_ID as processInstanceId,
        USER_ID as assigneeId,
        (SELECT MAX(USER_NAME) FROM iplat60.XS_USER WHERE LOGIN_NAME = B.USER_ID) as assigneeFullname,
        LAST_STEP_USER_ID as recCreator,
        (SELECT MAX(USER_NAME) FROM iplat60.XS_USER WHERE LOGIN_NAME = LAST_STEP_USER_ID) as recCreatorName,
        to_char(to_date(TASK_RCV_TIME,'YYYYMMDDHH24miss'),'YYYY-MM-DD HH24:mi:ss') as startTime,
        EIP_URL as form,
        round(to_number((select to_date(to_char(sysdate,'yyyy-mm-dd hh24:mi:ss'),'yyyy-mm-dd hh24:mi:ss') FROM DUAL) -
        to_date(TASK_RCV_TIME,'yyyy-mm-dd hh24:mi:ss'))*1440) as duration,
        AUDIT_OPINION  as opinion,
        EXT1 as businessKey,
        TITLE as processDefName
        FROM T_FLOW_TASK B
        WHERE 1=1
        <if test="modelName != null and modelName != ''">
            AND B.SYSCODE LIKE concat(concat('%',#{modelName}),'%')
        </if>
        <if test="userId != null and userId != ''">
            AND B.USER_ID = #{userId}
        </if>
        <if test="todoStatus != null and todoStatus != ''">
            AND B.TODO_STATUS = #{todoStatus}
        </if>
        ) A
        ORDER BY A.startTime DESC
    </select>

    <select id="todoList" resultType="com.wzmtr.eam.entity.StatusWorkFlowLog">
        select * from
        T_FLOW_TASK
        where USER_ID=#{userId} and TODO_STATUS=#{type}
        order by KIND_TYPE asc
        <if test="type=='1'">
            , TASK_RCV_TIME desc
        </if>
        <if test="type=='2'">
            , TODO_DATE desc
        </if>
    </select>

    <select id="todoCount" resultType="com.wzmtr.eam.dto.res.home.HomeCountResDTO">
        with todoSize AS (select count(*) as todoSize from
        T_FLOW_TASK
        where USER_ID=#{userId} and TODO_STATUS='1'),
        overSize as (select count(*) as overSize from
        T_FLOW_TASK
        where USER_ID=#{userId} and TODO_STATUS='2')
        SELECT * FROM todoSize, overSize
    </select>

    <update id="urgingTodo">
        update T_FLOW_TASK set
        KIND_TYPE='1'
        where TODO_ID=#{todoId} and TODO_STATUS='1'
    </update>

</mapper>