<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzmtr.eam.mapper.user.UserHelperMapper">


    <select id="getUserByGroup" resultType="com.wzmtr.eam.dto.res.common.PersonResDTO">
        SELECT t.LOGIN_NAME as "userId",
               t.LOGIN_NAME as "loginName",
               t.USER_NAME  as "userName",
               t.MOBILE     as "mobile",
               t.EMAIL      as "email"
        FROM (SELECT DISTINCT MEMBER_ID, MEMBER_TYPE
              FROM (SELECT MEMBER_ID, PARENT_ID, MEMBER_TYPE
                    FROM iplat60.XS_USER_GROUP_MEMBER START WITH PARENT_ID in (SELECT parent_id
		FROM iplat60.XS_USER_GROUP_MEMBER t1,
		iplat60.XS_USER_GROUP t2
		WHERE t2.ID = t1.PARENT_ID
		AND t2.GROUP_ENAME = #{groupName})
                        CONNECT BY PRIOR MEMBER_ID = PARENT_ID
                        AND LEVEL <![CDATA[<=]]> 6)
              where MEMBER_TYPE = 'USER') TEMP,
             iplat60.XS_USER t
        where t.USER_ID = TEMP.MEMBER_ID
    </select>
    <select id="getUserByGroupAndOrg" resultType="com.wzmtr.eam.dto.res.common.PersonResDTO">
        SELECT vc.USER_CODE as "userId",
               vc.USER_CODE as "userCode",
               vc.USER_NAME as "userName",
               vc.ORG_CODE  as "orgCode",
               xs.MOBILE    as "mobile",
               vc.USER_CODE as "loginName"
        FROM RPLAT60.V_CO_ORG_USER vc,
             iplat60.XS_USER xs
        where vc.USER_CODE in (select a.LOGIN_NAME
                               from iplat60.XS_USER a
                               where exists(select 1
                                            from iplat60.XS_USER_GROUP_MEMBER b
                                            where b.MEMBER_ID = a.USER_ID
                                              and exists(select 1
                                                         from iplat60.XS_USER_GROUP c
                                                         where c.GROUP_ENAME = #{groupName} and c.id = b.PARENT_ID))
                                 and exists(select 1
                                            from RPLAT60.V_CO_ORG_USER d
                                            where d.ORG_CODE = #{orgCode} and d.USER_CODE = a.LOGIN_NAME))
          and xs.LOGIN_NAME = vc.USER_CODE
    </select>
    <select id="queryChildNo" resultType="com.wzmtr.eam.dto.res.common.PersonResDTO">
        SELECT ORG_CODE as "orgCode"
        FROM RPLAT60.T_WW_ORG
        WHERE PARENT_CODE = #{orgCode}
    </select>
    <select id="queryParentNo" resultType="com.wzmtr.eam.dto.res.common.PersonResDTO">
        SELECT PARENT_CODE as "orgCode"
        FROM RPLAT60.T_WW_ORG
        WHERE ORG_CODE = #{orgCode}
    </select>
</mapper>