<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzmtr.eam.mapper.overhaul.OverhaulItemMapper">

    <select id="pageOverhaulItem" resultType="com.wzmtr.eam.dto.res.overhaul.OverhaulItemResDTO">
        SELECT
        OBJECT_ID as "objectId",<!--DMER22表主键-->
        REC_ID	as "recId",  <!-- 记录ID -->
        ITEM_NAME	as "itemName",  <!-- 条目 -->
        ORDER_CODE	as "orderCode",  <!-- 检修工单 -->
        MODEL_NAME	as "modelName",  <!-- 模块名称 -->
        OBJECT_CODE	as "objectCode",  <!-- 对象编码 -->
        OBJECT_NAME	as "objectName",  <!-- 对象名称 -->
        WORK_USER_ID	as "workUserId",  <!-- 用户工号 -->
        WORK_USER_NAME	as "workUserName",  <!-- 用户姓名 -->
        ITEM_TYPE	as "itemType",  <!-- 类型 -->
        TRAIN_NUMBER	as "trainNumber",  <!-- 车组号 -->
        WORK_RESULT	as "workResult",  <!-- 结果 -->
        INSPECT_ITEM_VALUE	as "inspectItemValue",  <!-- 条目值 -->
        WORK_TIME	as "workTime",  <!-- 时间 -->
        <if test="req.objectFlag!=null and req.objectFlag!=''">
            (SELECT COUNT(1) FROM RPLAT60.T_WW_ATTACHMENT T60 WHERE T60.BUSINESS_GUID = T_OVERHAUL_ITEM.REC_ID)	as "docId",   <!-- 附件ID -->
        </if>
        <!--<isEmpty prepend=" " property="objectFlag">
            DOC_ID	as "docId",  附件ID
        </isEmpty>-->
        <!--DOC_ID	as "docId",  &lt;!&ndash; 附件ID &ndash;&gt;-->
        WORK_DETAIL	as "workDetail",  <!-- 工作说明 -->
        REMARK	as "remark",  <!-- 备注 -->
        ERROR_FLAG	as "errorFlag",  <!-- 异常标识 -->
        ITEM_UNIT	as "itemUnit",  <!-- 单位 -->
        DEFAULT_VALUE	as "defaultValue",  <!-- 默认值 -->
        MAX_VALUE	as "maxValue",  <!-- 最大参考值 -->
        MIN_VALUE	as "minValue",  <!-- 最小参考值 -->
        MUTUAL_INSPECTION_PEOPLE	as "mutualInspectionPeople",  <!-- 互检人 -->
        MUTUAL_INSPECTION_PEOPLE_ID	as "mutualInspectionPeopleId",  <!-- 互检人工号 -->
        SPECIAL_INSPECTION_PEOPLE	as "specialInspectionPeople",  <!-- 专检人 -->
        SPECIAL_INSPECTION_PEOPLE_ID	as "specialInspectionPeopleId",  <!-- 专检人工号 -->
        MODEL_SEQUENCE	as "modelSequence",  <!-- 模块顺序 -->
        SEQUENCE_ID	as "sequenceId",  <!-- 检修项顺序 -->
        TDMER02_ID	as "tdmer02Id",  <!-- 模板巡检项主键 -->
        EXT1	as "ext1",  <!-- 扩展字段1 -->
        EXT2	as "ext2",  <!-- 扩展字段2 -->
        EXT3	as "ext3",  <!-- 扩展字段3 -->
        EXT4	as "ext4",  <!-- 扩展字段4 -->
        EXT5	as "ext5" <!-- 扩展字段5 -->
        FROM T_OVERHAUL_ITEM WHERE 1=1 AND OBJECT_CODE=#{req.objectCode}
        <if test="req.itemName!=null and req.itemName!=''">
            and ITEM_NAME=#{req.itemName}
        </if>
        <if test="req.orderCode!=null and req.orderCode!=''">
            and ORDER_CODE=#{req.orderCode}
        </if>
        <if test="req.objectId!=null and req.objectId!=''">
            and OBJECT_ID=#{req.objectId}
        </if>
        <if test="req.modelName!=null and req.modelName!=''">
            and MODEL_NAME=#{req.modelName}
        </if>
        order by TO_NUMBER(NVL(TRIM(MODEL_SEQUENCE),0)),TO_NUMBER(NVL(TRIM(SEQUENCE_ID),0)),MODEL_NAME,ITEM_NAME asc
    </select>

    <select id="listOverhaulItemModel" resultType="com.wzmtr.eam.dto.res.overhaul.OverhaulItemResDTO">
        SELECT MODEL_NAME, WORK_USER_ID, WORK_USER_NAME, WORK_RESULT
        FROM T_OVERHAUL_ITEM WHERE OBJECT_CODE=#{objectCode} and ORDER_CODE=#{orderCode}
        GROUP BY MODEL_NAME, WORK_USER_ID, WORK_USER_NAME, WORK_RESULT, MODEL_SEQUENCE, SEQUENCE_ID, ITEM_NAME
        order by TO_NUMBER(NVL(TRIM(MODEL_SEQUENCE),0)),TO_NUMBER(NVL(TRIM(SEQUENCE_ID),0)),MODEL_NAME,ITEM_NAME asc
    </select>

    <select id="listOverhaulItemByModel" resultType="com.wzmtr.eam.dto.res.overhaul.OverhaulItemResDTO">
        SELECT
        OBJECT_ID as "objectId",<!--DMER22表主键-->
        REC_ID	as "recId",  <!-- 记录ID -->
        ITEM_NAME	as "itemName",  <!-- 条目 -->
        ORDER_CODE	as "orderCode",  <!-- 检修工单 -->
        MODEL_NAME	as "modelName",  <!-- 模块名称 -->
        OBJECT_CODE	as "objectCode",  <!-- 对象编码 -->
        OBJECT_NAME	as "objectName",  <!-- 对象名称 -->
        WORK_USER_ID	as "workUserId",  <!-- 用户工号 -->
        WORK_USER_NAME	as "workUserName",  <!-- 用户姓名 -->
        ITEM_TYPE	as "itemType",  <!-- 类型 -->
        TRAIN_NUMBER	as "trainNumber",  <!-- 车组号 -->
        WORK_RESULT	as "workResult",  <!-- 结果 -->
        INSPECT_ITEM_VALUE	as "inspectItemValue",  <!-- 条目值 -->
        WORK_TIME	as "workTime",  <!-- 时间 -->
        WORK_DETAIL	as "workDetail",  <!-- 工作说明 -->
        REMARK	as "remark",  <!-- 备注 -->
        ERROR_FLAG	as "errorFlag",  <!-- 异常标识 -->
        ITEM_UNIT	as "itemUnit",  <!-- 单位 -->
        DEFAULT_VALUE	as "defaultValue",  <!-- 默认值 -->
        MAX_VALUE	as "maxValue",  <!-- 最大参考值 -->
        MIN_VALUE	as "minValue",  <!-- 最小参考值 -->
        MUTUAL_INSPECTION_PEOPLE	as "mutualInspectionPeople",  <!-- 互检人 -->
        MUTUAL_INSPECTION_PEOPLE_ID	as "mutualInspectionPeopleId",  <!-- 互检人工号 -->
        SPECIAL_INSPECTION_PEOPLE	as "specialInspectionPeople",  <!-- 专检人 -->
        SPECIAL_INSPECTION_PEOPLE_ID	as "specialInspectionPeopleId",  <!-- 专检人工号 -->
        MODEL_SEQUENCE	as "modelSequence",  <!-- 模块顺序 -->
        SEQUENCE_ID	as "sequenceId",  <!-- 检修项顺序 -->
        TDMER02_ID	as "tdmer02Id",  <!-- 模板巡检项主键 -->
        EXT1	as "ext1",  <!-- 扩展字段1 -->
        EXT2	as "ext2",  <!-- 扩展字段2 -->
        EXT3	as "ext3",  <!-- 扩展字段3 -->
        EXT4	as "ext4",  <!-- 扩展字段4 -->
        EXT5	as "ext5" <!-- 扩展字段5 -->
        FROM T_OVERHAUL_ITEM WHERE OBJECT_CODE=#{objectCode} and ORDER_CODE=#{orderCode} and MODEL_NAME=#{modelName}
        order by TO_NUMBER(NVL(TRIM(MODEL_SEQUENCE),0)),TO_NUMBER(NVL(TRIM(SEQUENCE_ID),0)),MODEL_NAME,ITEM_NAME asc
    </select>

    <select id="getOverhaulItemDetail" resultType="com.wzmtr.eam.dto.res.overhaul.OverhaulItemResDTO">
        SELECT
        OBJECT_ID as "objectId",<!--DMER22表主键-->
        REC_ID	as "recId",  <!-- 记录ID -->
        ITEM_NAME	as "itemName",  <!-- 条目 -->
        ORDER_CODE	as "orderCode",  <!-- 检修工单 -->
        MODEL_NAME	as "modelName",  <!-- 模块名称 -->
        OBJECT_CODE	as "objectCode",  <!-- 对象编码 -->
        OBJECT_NAME	as "objectName",  <!-- 对象名称 -->
        WORK_USER_ID	as "workUserId",  <!-- 用户工号 -->
        WORK_USER_NAME	as "workUserName",  <!-- 用户姓名 -->
        ITEM_TYPE	as "itemType",  <!-- 类型 -->
        TRAIN_NUMBER	as "trainNumber",  <!-- 车组号 -->
        WORK_RESULT	as "workResult",  <!-- 结果 -->
        INSPECT_ITEM_VALUE	as "inspectItemValue",  <!-- 条目值 -->
        WORK_TIME	as "workTime",  <!-- 时间 -->
        <if test="objectFlag!=null and objectFlag!=''">
            (SELECT COUNT(1) FROM RPLAT60.T_WW_ATTACHMENT T60 WHERE T60.BUSINESS_GUID = T_OVERHAUL_ITEM.REC_ID)	as "docId",   <!-- 附件ID -->
        </if>
        <!--<isEmpty prepend=" " property="objectFlag">
            DOC_ID	as "docId",  附件ID
        </isEmpty>-->
        <!--DOC_ID	as "docId",  &lt;!&ndash; 附件ID &ndash;&gt;-->
        WORK_DETAIL	as "workDetail",  <!-- 工作说明 -->
        REMARK	as "remark",  <!-- 备注 -->
        ERROR_FLAG	as "errorFlag",  <!-- 异常标识 -->
        ITEM_UNIT	as "itemUnit",  <!-- 单位 -->
        DEFAULT_VALUE	as "defaultValue",  <!-- 默认值 -->
        MAX_VALUE	as "maxValue",  <!-- 最大参考值 -->
        MIN_VALUE	as "minValue",  <!-- 最小参考值 -->
        MUTUAL_INSPECTION_PEOPLE	as "mutualInspectionPeople",  <!-- 互检人 -->
        MUTUAL_INSPECTION_PEOPLE_ID	as "mutualInspectionPeopleId",  <!-- 互检人工号 -->
        SPECIAL_INSPECTION_PEOPLE	as "specialInspectionPeople",  <!-- 专检人 -->
        SPECIAL_INSPECTION_PEOPLE_ID	as "specialInspectionPeopleId",  <!-- 专检人工号 -->
        MODEL_SEQUENCE	as "modelSequence",  <!-- 模块顺序 -->
        SEQUENCE_ID	as "sequenceId",  <!-- 检修项顺序 -->
        TDMER02_ID	as "tdmer02Id",  <!-- 模板巡检项主键 -->
        EXT1	as "ext1",  <!-- 扩展字段1 -->
        EXT2	as "ext2",  <!-- 扩展字段2 -->
        EXT3	as "ext3",  <!-- 扩展字段3 -->
        EXT4	as "ext4",  <!-- 扩展字段4 -->
        EXT5	as "ext5" <!-- 扩展字段5 -->
        FROM T_OVERHAUL_ITEM WHERE REC_ID=#{id}
    </select>

    <select id="listOverhaulItem" resultType="com.wzmtr.eam.dto.res.overhaul.OverhaulItemResDTO">
        SELECT
        OBJECT_ID as "objectId",<!--DMER22表主键-->
        REC_ID	as "recId",  <!-- 记录ID -->
        ITEM_NAME	as "itemName",  <!-- 条目 -->
        ORDER_CODE	as "orderCode",  <!-- 检修工单 -->
        MODEL_NAME	as "modelName",  <!-- 模块名称 -->
        OBJECT_CODE	as "objectCode",  <!-- 对象编码 -->
        OBJECT_NAME	as "objectName",  <!-- 对象名称 -->
        WORK_USER_ID	as "workUserId",  <!-- 用户工号 -->
        WORK_USER_NAME	as "workUserName",  <!-- 用户姓名 -->
        ITEM_TYPE	as "itemType",  <!-- 类型 -->
        TRAIN_NUMBER	as "trainNumber",  <!-- 车组号 -->
        WORK_RESULT	as "workResult",  <!-- 结果 -->
        INSPECT_ITEM_VALUE	as "inspectItemValue",  <!-- 条目值 -->
        WORK_TIME	as "workTime",  <!-- 时间 -->
        <if test="objectFlag!=null and objectFlag!=''">
            (SELECT COUNT(1) FROM RPLAT60.T_WW_ATTACHMENT T60 WHERE T60.BUSINESS_GUID = T_OVERHAUL_ITEM.REC_ID)	as "docId",   <!-- 附件ID -->
        </if>
        <!--<isEmpty prepend=" " property="objectFlag">
            DOC_ID	as "docId",  附件ID
        </isEmpty>-->
        <!--DOC_ID	as "docId",  &lt;!&ndash; 附件ID &ndash;&gt;-->
        WORK_DETAIL	as "workDetail",  <!-- 工作说明 -->
        REMARK	as "remark",  <!-- 备注 -->
        ERROR_FLAG	as "errorFlag",  <!-- 异常标识 -->
        ITEM_UNIT	as "itemUnit",  <!-- 单位 -->
        DEFAULT_VALUE	as "defaultValue",  <!-- 默认值 -->
        MAX_VALUE	as "maxValue",  <!-- 最大参考值 -->
        MIN_VALUE	as "minValue",  <!-- 最小参考值 -->
        MUTUAL_INSPECTION_PEOPLE	as "mutualInspectionPeople",  <!-- 互检人 -->
        MUTUAL_INSPECTION_PEOPLE_ID	as "mutualInspectionPeopleId",  <!-- 互检人工号 -->
        SPECIAL_INSPECTION_PEOPLE	as "specialInspectionPeople",  <!-- 专检人 -->
        SPECIAL_INSPECTION_PEOPLE_ID	as "specialInspectionPeopleId",  <!-- 专检人工号 -->
        MODEL_SEQUENCE	as "modelSequence",  <!-- 模块顺序 -->
        SEQUENCE_ID	as "sequenceId",  <!-- 检修项顺序 -->
        TDMER02_ID	as "tdmer02Id",  <!-- 模板巡检项主键 -->
        EXT1	as "ext1",  <!-- 扩展字段1 -->
        EXT2	as "ext2",  <!-- 扩展字段2 -->
        EXT3	as "ext3",  <!-- 扩展字段3 -->
        EXT4	as "ext4",  <!-- 扩展字段4 -->
        EXT5	as "ext5" <!-- 扩展字段5 -->
        FROM T_OVERHAUL_ITEM WHERE 1=1 AND OBJECT_CODE=#{objectCode}
        <if test="itemName!=null and itemName!=''">
            and ITEM_NAME=#{itemName}
        </if>
        <if test="orderCode!=null and orderCode!=''">
            and ORDER_CODE=#{orderCode}
        </if>
        <if test="objectId!=null and objectId!=''">
            and OBJECT_ID=#{objectId}
        </if>
        <if test="modelName!=null and modelName!=''">
            and MODEL_NAME=#{modelName}
        </if>
        order by TO_NUMBER(NVL(TRIM(MODEL_SEQUENCE),0)),TO_NUMBER(NVL(TRIM(SEQUENCE_ID),0)),MODEL_NAME,ITEM_NAME asc
    </select>

    <update id="troubleshootOverhaulItem">
        UPDATE T_OVERHAUL_ITEM SET
        <if test="workUserId!=null">
            WORK_USER_ID=#{workUserId},
        </if>
        <if test="workUserName!=null">
            WORK_USER_NAME=#{workUserName},
        </if>
        <if test="overhaulItem.workResult!=null">
            WORK_RESULT=#{overhaulItem.workResult},
        </if>
        <if test="overhaulItem.docId!=null">
            DOC_ID=#{overhaulItem.docId},
        </if>
        <if test="overhaulItem.workDetail!=null">
            WORK_DETAIL=#{overhaulItem.workDetail},
        </if>
        <if test="overhaulItem.remark!=null">
            REMARK=#{overhaulItem.remark},
        </if>
        WORK_TIME=to_char(sysdate,'yyyy-MM-dd HH24:mi:ss')
        WHERE REC_ID=#{overhaulItem.recId}
    </update>

    <select id="selectHadFinishedOverhaulOrder" resultType="java.lang.Integer">
        SELECT count(REC_ID) FROM T_OVERHAUL_ITEM
        WHERE ORDER_CODE=#{orderCode}
        <if test="objectCode!=null and objectCode!=''">
            and OBJECT_CODE=#{objectCode}
        </if>
        AND WORK_RESULT IS NULL
    </select>

    <update id="updateOverhaulOrderErrorNum">
        UPDATE T_OVERHAUL_ORDER SET
        ABNORMAL_NUMBER=ABNORMAL_NUMBER+1,
        WORK_DETAIL='1'
        WHERE ORDER_CODE=#{orderCode}
    </update>

    <update id="updateOverhaulOrderDetailErrorNum">
        UPDATE T_OVERHAUL_ORDER_DETAIL SET
        ABNORMAL_NUMBER=ABNORMAL_NUMBER+1
        WHERE ORDER_CODE=#{orderCode} and OBJECT_CODE=#{objectCode}
    </update>
    
    <update id="finishedOverhaulOrder" parameterType="com.wzmtr.eam.dto.req.overhaul.OverhaulItemTroubleshootReqDTO">
        UPDATE T_OVERHAUL_ORDER SET
        <trim suffixOverrides=",">
            WORK_STATUS=4,
            <if test="actualStartTime!=null">
                ACTUAL_START_TIME=#{actualStartTime},
            </if>
            <if test="actualEndTime!=null">
                ACTUAL_END_TIME=#{actualEndTime},
            </if>
            <if test="startMile!=null">
                START_MILE=#{startMile},
            </if>
            <if test="endMile!=null">
                END_MILE=#{endMile},
            </if>
        </trim>
        WHERE NOT EXISTS (SELECT REC_ID FROM T_OVERHAUL_ITEM WHERE ORDER_CODE=#{orderCode} AND WORK_RESULT IS NULL)
    </update>

    <insert id="insert">
        INSERT INTO T_OVERHAUL_ITEM (
        REC_ID,  <!-- 记录ID -->
        ITEM_NAME,  <!-- 条目 -->
        ORDER_CODE,  <!-- 检修工单 -->
        MODEL_NAME,  <!-- 模块名称 -->
        OBJECT_CODE,  <!-- 对象编码 -->
        OBJECT_NAME,  <!-- 对象名称 -->
        WORK_USER_ID,  <!-- 用户工号 -->
        WORK_USER_NAME,  <!-- 用户姓名 -->
        ITEM_TYPE,  <!-- 类型 -->
        TRAIN_NUMBER,  <!-- 车组号 -->
        WORK_RESULT,  <!-- 结果 -->
        INSPECT_ITEM_VALUE,  <!-- 条目值 -->
        WORK_TIME,  <!-- 时间 -->
        DOC_ID,  <!-- 附件 -->
        WORK_DETAIL,  <!-- 工作说明 -->
        REMARK,  <!-- 备注 -->
        ERROR_FLAG,  <!-- 异常标识 -->
        ITEM_UNIT,  <!-- 单位 -->
        DEFAULT_VALUE,  <!-- 默认值 -->
        MAX_VALUE,  <!-- 最大参考值 -->
        MIN_VALUE,  <!-- 最小参考值 -->
        MUTUAL_INSPECTION_PEOPLE,  <!-- 互检人 -->
        MUTUAL_INSPECTION_PEOPLE_ID,  <!-- 互检人工号 -->
        SPECIAL_INSPECTION_PEOPLE,  <!-- 专检人 -->
        SPECIAL_INSPECTION_PEOPLE_ID,  <!-- 专检人工号 -->
        MODEL_SEQUENCE,  <!-- 模块顺序 -->
        SEQUENCE_ID,  <!-- 检修项顺序 -->
        TDMER02_ID,  <!-- 检修模板项外键 -->
        EXT1,  <!-- 扩展字段1 -->
        EXT2,  <!-- 扩展字段2 -->
        EXT3,  <!-- 扩展字段3 -->
        EXT4,  <!-- 扩展字段4 -->
        EXT5,  <!-- 扩展字段5 -->
        OBJECT_ID)
        VALUES (
        #{recId,jdbcType=VARCHAR},
        #{itemName,jdbcType=VARCHAR},
        #{orderCode,jdbcType=VARCHAR},
        #{modelName,jdbcType=VARCHAR},
        #{objectCode,jdbcType=VARCHAR},
        #{objectName,jdbcType=VARCHAR},
        #{workUserId,jdbcType=VARCHAR},
        #{workUserName,jdbcType=VARCHAR},
        #{itemType,jdbcType=VARCHAR},
        #{trainNumber,jdbcType=VARCHAR},
        #{workResult,jdbcType=VARCHAR},
        #{inspectItemValue,jdbcType=VARCHAR},
        #{workTime,jdbcType=VARCHAR},
        #{docId,jdbcType=VARCHAR},
        #{workDetail,jdbcType=VARCHAR},
        #{remark,jdbcType=VARCHAR},
        #{errorFlag,jdbcType=VARCHAR},
        #{itemUnit,jdbcType=VARCHAR},
        #{defaultValue,jdbcType=VARCHAR},
        #{maxValue,jdbcType=VARCHAR},
        #{minValue,jdbcType=VARCHAR},
        #{mutualInspectionPeople,jdbcType=VARCHAR},
        #{mutualInspectionPeopleId,jdbcType=VARCHAR},
        #{specialInspectionPeople,jdbcType=VARCHAR},
        #{specialInspectionPeopleId,jdbcType=VARCHAR},
        #{modelSequence,jdbcType=VARCHAR},
        #{sequenceId,jdbcType=VARCHAR},
        #{tdmer02Id,jdbcType=VARCHAR},
        #{ext1,jdbcType=VARCHAR},
        #{ext2,jdbcType=VARCHAR},
        #{ext3,jdbcType=VARCHAR},
        #{ext4,jdbcType=VARCHAR},
        #{ext5,jdbcType=VARCHAR},
        #{objectId,jdbcType=VARCHAR})
    </insert>

</mapper>