<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzmtr.eam.mapper.common.PersonMapper">

    <select id="searchPersonByNo" resultType="com.wzmtr.eam.shiro.model.Person">
        SELECT u.ID, u.NO, u.NAME,u.LOGIN_NAME, u.MOBILE,u.PHONE,u.EMAIL,u.OFFICE_ID, o1.NAME as OFFICE_NAME, u.COMPANY_ID, o2.NAME as COMPANY_NAME,
        o1.AREA_ID as OFFICE_AREA_ID, o2.AREA_ID as COMPANY_AREA_ID, o1.NAMES
        FROM SYS_USER u
        LEFT JOIN SYS_OFFICE o1 ON o1.ID=u.OFFICE_ID
        LEFT JOIN SYS_OFFICE o2 ON o2.ID=u.COMPANY_ID
        WHERE u.LOGIN_NAME=#{no}
    </select>


</mapper>