<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzmtr.eam.mapper.basic.OrgMajorMapper">

    <select id="pageOrgMajor" resultType="com.wzmtr.eam.dto.res.basic.OrgMajorResDTO">
        SELECT om.REC_ID, om.ORG_CODE, om.ORG_NAME, om.MAJOR_CODE,
        om.REC_STATUS, om.REMARK, u.NAME AS REC_CREATOR, om.REC_CREATE_TIME
        FROM SYS_ORG_MAJOR om
        LEFT JOIN SYS_USER u ON om.REC_CREATOR=u.ID
        where om.DELETE_FLAG='0'
        <if test="orgCodes!=null and orgCodes.size()>0">
            and
            <foreach collection="orgCodes" item="orgCode" separator="or">
                om.ORG_CODE in
                <foreach collection="orgCode" item="x" separator="," open="(" close=")">
                    #{x}
                </foreach>
            </foreach>
        </if>
        <if test="majorCode!=null and majorCode!=''">
            and om.MAJOR_CODE=#{majorCode}
        </if>
        ORDER BY om.REC_CREATE_TIME ASC
    </select>

    <select id="allListOrgMajor" resultType="com.wzmtr.eam.dto.res.basic.OrgMajorResDTO">
        SELECT om.REC_ID, om.ORG_CODE, om.ORG_NAME, om.MAJOR_CODE,
        om.REC_STATUS, om.REMARK, u.NAME AS REC_CREATOR, om.REC_CREATE_TIME
        FROM SYS_ORG_MAJOR om
        LEFT JOIN SYS_USER u ON om.REC_CREATOR=u.ID
        where om.DELETE_FLAG='0'
        <if test="orgCodes!=null and orgCodes.size()>0">
            and
            <foreach collection="orgCodes" item="orgCode" separator="or">
                om.ORG_CODE in
                <foreach collection="orgCode" item="x" separator="," open="(" close=")">
                    #{x}
                </foreach>
            </foreach>
        </if>
        <if test="majorCode!=null and majorCode!=''">
            and om.MAJOR_CODE=#{majorCode}
        </if>
        ORDER BY om.REC_CREATE_TIME ASC
    </select>

    <select id="listUseOrgMajor" resultType="com.wzmtr.eam.dto.res.basic.OrgMajorResDTO">
        SELECT om.REC_ID, om.ORG_CODE, om.ORG_NAME, om.MAJOR_CODE,
        om.REC_STATUS, om.REMARK, u.NAME AS REC_CREATOR, om.REC_CREATE_TIME
        FROM SYS_ORG_MAJOR om
        LEFT JOIN SYS_USER u ON om.REC_CREATOR=u.ID
        where om.DELETE_FLAG='0' and om.MAJOR_CODE=#{majorCode} and om.REC_STATUS='10'
        ORDER BY om.REC_CREATE_TIME ASC
    </select>

    <select id="getOrgMajorDetail" resultType="com.wzmtr.eam.dto.res.basic.OrgMajorResDTO">
        SELECT om.REC_ID, om.ORG_CODE, om.ORG_NAME, om.MAJOR_CODE,
        om.REC_STATUS, om.REMARK, u.NAME AS REC_CREATOR, om.REC_CREATE_TIME
        FROM SYS_ORG_MAJOR om
        LEFT JOIN SYS_USER u ON om.REC_CREATOR=u.ID
        where om.REC_ID=#{id}
    </select>

    <select id="selectOrgMajorIsExist" resultType="java.lang.Integer">
        SELECT COUNT(REC_ID)
        FROM SYS_ORG_MAJOR
        WHERE ORG_CODE=#{orgCode} AND MAJOR_CODE=#{majorCode} AND DELETE_FLAG='0'
        <if test="recId!=null and recId!=''">
            AND REC_ID!=#{recId}
        </if>
    </select>

    <insert id="addOrgMajor">
        INSERT INTO SYS_ORG_MAJOR (REC_ID, ORG_CODE, ORG_NAME, MAJOR_CODE, REC_STATUS,
        <if test="remark!=null and remark!=''">
            REMARK,
        </if>
        REC_CREATOR, REC_CREATE_TIME)
        VALUES (#{recId}, #{orgCode}, #{orgName}, #{majorCode}, #{recStatus},
        <if test="remark!=null and remark!=''">
            #{remark},
        </if>
        #{recCreator}, #{recCreateTime})
    </insert>

    <update id="modifyOrgMajor">
        UPDATE SYS_ORG_MAJOR SET
        <if test="orgCode!=null">
            ORG_CODE=#{orgCode},
        </if>
        <if test="orgName!=null">
            ORG_NAME=#{orgName},
        </if>
        <if test="majorCode!=null">
            MAJOR_CODE=#{majorCode},
        </if>
        <if test="recStatus!=null">
            REC_STATUS=#{recStatus},
        </if>
        <if test="remark!=null">
            REMARK=#{remark},
        </if>
        REC_REVISOR=#{recRevisor}, REC_REVISE_TIME=#{recReviseTime}
        WHERE REC_ID=#{recId}
    </update>

    <update id="deleteOrgMajor">
        UPDATE SYS_ORG_MAJOR SET
        DELETE_FLAG='1', REC_DELETOR=#{userId}, REC_DELETE_TIME=#{time}
        WHERE REC_ID IN (
        <foreach collection="ids" index="index" item="id" separator=",">
            #{id}
        </foreach>
        )
    </update>

    <select id="listOrgMajor" resultType="com.wzmtr.eam.dto.res.basic.OrgMajorResDTO">
        SELECT om.REC_ID, om.ORG_CODE, om.ORG_NAME, om.MAJOR_CODE,
        om.REC_STATUS, om.REMARK, u.NAME AS REC_CREATOR, om.REC_CREATE_TIME
        FROM SYS_ORG_MAJOR om
        LEFT JOIN SYS_USER u ON om.REC_CREATOR=u.ID
        where om.DELETE_FLAG='0'
        AND om.REC_ID IN (
        <foreach collection="ids" index="index" item="id" separator=",">
            #{id}
        </foreach>
        )
        ORDER BY om.REC_CREATE_TIME ASC
    </select>

    <select id="getWorkerGroupBySubjectAndLine" resultType="com.wzmtr.eam.entity.OrganMajorLineType">
        SELECT T05.ORG_CODE AS orgCode,
        T05.ORG_NAME AS orgName,
        T05.MAJOR_CODE AS majorCode,
        T06.LINE_CODE AS lineCode
        FROM SYS_ORG_MAJOR T05
        LEFT JOIN SYS_ORG_LINE T06 ON T05.ORG_CODE=T06.ORG_CODE
        LEFT JOIN SYS_ORG_TYPE T07 ON T05.ORG_CODE=T07.ORG_CODE
        WHERE 1=1
        <if test="subjectCode != null and subjectCode != ''">
            AND T05.MAJOR_CODE=#{subjectCode}
        </if>
        <if test="line != null and line != ''">
            AND T06.LINE_CODE=#{line}
        </if>
        <if test="orgType != null and orgType != ''">
            AND T07.ORG_TYPE=#{orgType}
        </if>
    </select>

    <select id="getDepartmentUserByGroupName" resultType="com.wzmtr.eam.entity.OrganMajorLineType">
        SELECT LOGIN_NAME AS "loginName", USER_NAME AS "userName"
        FROM
        (SELECT U.LOGIN_NAME, U.NAME AS USER_NAME
        FROM SYS_USER U
        WHERE U.USER_ID IN
        (SELECT t1.USER_ID
        FROM SYS_USER_ROLE t1
        LEFT JOIN SYS_ROLE t2 ON t1.ROLE_ID=t2.ID
        LEFT JOIN SYS_USER t3 ON t1.USER_ID=t3.LOGIN_NAME
        WHERE t2.ROLE_CODE=#{groupCname}))
        WHERE LOGIN_NAME IN
        (SELECT DISTINCT (SELECT t4.LOGIN_NAME FROM SYS_USER t4 WHERE t4.LOGIN_NAME=t5.LOGIN_NAME)
        FROM SYS_USER t5 WHERE t5.OFFICE_ID=(SELECT t6.ID FROM SYS_OFFICE t6 WHERE t6.AREA_ID=#{dptCode}))
    </select>

    <select id="queryTypeAndDeptCode" resultType="com.wzmtr.eam.dto.res.basic.OrgMajorResDTO">
        SELECT Distinct d5.ORG_CODE, d5.ORG_NAME
        FROM SYS_ORG_MAJOR d5,
             SYS_ORG_LINE d6,
             SYS_ORG_TYPE d7
        where d5.DELETE_FLAG='0' AND d6.DELETE_FLAG='0' AND d7.DELETE_FLAG='0' AND d5.ORG_CODE=d6.ORG_CODE
          AND d6.ORG_CODE=d7.ORG_CODE
          AND d5.MAJOR_CODE=#{majorCode}
          AND d6.LINE_CODE=#{lineCode}
          AND d7.ORG_TYPE=#{organType}
        order by d5.ORG_CODE asc
    </select>
    <select id="queryDispatch" resultType="com.wzmtr.eam.dto.res.common.DispatchResDTO">
        SELECT t3.NAME AS "userName", t3.LOGIN_NAME AS "loginName"
        FROM SYS_USER_ROLE t1
        LEFT JOIN SYS_ROLE t2 ON t1.ROLE_ID=t2.ID
        LEFT JOIN SYS_USER t3 ON t1.USER_ID=t3.LOGIN_NAME
        WHERE 1=1
        AND t2.ROLE_CODE='ZCJD'
        AND EXISTS
        (SELECT 1 FROM SYS_USER r1
        WHERE r1.LOGIN_NAME=t3.LOGIN_NAME and r1.OFFICE_ID IN
        (SELECT t6.ID FROM SYS_OFFICE t6 WHERE t6.AREA_ID like '01036%'))
        ORDER BY t3.ORDER_NUM ASC
    </select>
    <select id="getOrganByStationAndMajor" resultType="com.wzmtr.eam.dto.res.basic.OrgMajorResDTO">
        SELECT t1.*
        FROM SYS_OFFICE so
                 LEFT JOIN SYS_ORG_MAJOR t1 on t1.ORG_CODE=so.AREA_ID
                 LEFT JOIN SYS_ORG_REGION t2 on t2.ORG_CODE=so.AREA_ID
        where t1.MAJOR_CODE=#{majorCode}
          and t2.REGION_CODE=#{station}
    </select>
</mapper>