<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzmtr.eam.mapper.statistic.OneCarOneGearMapper">

    <select id="query" resultType="com.wzmtr.eam.dto.res.statistic.OneCarOneGearResDTO">
        SELECT
            EQUIP_NAME       as "trainNo",
            START_USE_DATE   as "startUseDate",
            MANUFACTURE_DATE as "manufactureDate"
        FROM T_EQUIPMENT
        WHERE T_EQUIPMENT.EQUIP_NAME = #{equipName}
    </select>
    <select id="querySummary" resultType="com.wzmtr.eam.dto.res.statistic.OneCarOneGearResDTO">
        select
        (SELECT COUNT(*) from(SELECT T_OVERHAUL_ORDER.REAL_END_TIME
        FROM T_OVERHAUL_ORDER
        WHERE T_OVERHAUL_ORDER.PLAN_NAME LIKE '%' || #{equipName} || '%'
        AND (T_OVERHAUL_ORDER.PLAN_NAME LIKE '%二级修30天%')
        AND LENGTH(trim(T_OVERHAUL_ORDER.REAL_END_TIME)) IS NOT null) t1
        WHERE 1=1
        <if test="startTime!=null">
           and to_date(t1.REAL_END_TIME, 'YYYY-MM-DD HH24:MI:SS') <![CDATA[>=]]> to_date(#{startTime}, 'YYYY-MM-DD HH24:MI:SS')
        </if>
        <if test="endTime!=null">
           and to_date(t1.REAL_END_TIME, 'YYYY-MM-DD HH24:MI:SS') <![CDATA[<=]]> to_date(#{endTime}, 'YYYY-MM-DD HH24:MI:SS')
        </if>
        ) as "er2",
        (SELECT COUNT(*) from(SELECT T_OVERHAUL_ORDER.REAL_END_TIME
        FROM T_OVERHAUL_ORDER
        WHERE T_OVERHAUL_ORDER.PLAN_NAME LIKE '%' || #{equipName} || '%'
        AND (T_OVERHAUL_ORDER.PLAN_NAME LIKE '%二级修90天%')
        AND LENGTH(trim(T_OVERHAUL_ORDER.REAL_END_TIME)) IS NOT null) t1
        WHERE 1=1
        <if test="startTime!=null">
          and to_date(t1.REAL_END_TIME, 'YYYY-MM-DD HH24:MI:SS') <![CDATA[>=]]> to_date(#{startTime}, 'YYYY-MM-DD HH24:MI:SS')
        </if>
        <if test="endTime!=null">
          and to_date(t1.REAL_END_TIME, 'YYYY-MM-DD HH24:MI:SS') <![CDATA[<=]]> to_date(#{endTime}, 'YYYY-MM-DD HH24:MI:SS')
        </if>
        ) as "er3",
        (SELECT COUNT(*) from(SELECT T_OVERHAUL_ORDER.REAL_END_TIME
        FROM T_OVERHAUL_ORDER
        WHERE T_OVERHAUL_ORDER.PLAN_NAME LIKE '%' || #{equipName} || '%'
        AND (T_OVERHAUL_ORDER.PLAN_NAME LIKE '%二级修180天%')
        AND LENGTH(trim(T_OVERHAUL_ORDER.REAL_END_TIME)) IS NOT null) t1
        WHERE 1=1
        <if test="startTime!=null">
          and to_date(t1.REAL_END_TIME, 'YYYY-MM-DD HH24:MI:SS') <![CDATA[>=]]> to_date(#{startTime}, 'YYYY-MM-DD HH24:MI:SS')
        </if>
        <if test="endTime!=null">
          and to_date(t1.REAL_END_TIME, 'YYYY-MM-DD HH24:MI:SS') <![CDATA[<=]]> to_date(#{endTime}, 'YYYY-MM-DD HH24:MI:SS')
        </if>
        ) as "er4",
        (SELECT COUNT(*) from(SELECT T_OVERHAUL_ORDER.REAL_END_TIME
        FROM T_OVERHAUL_ORDER
        WHERE T_OVERHAUL_ORDER.PLAN_NAME LIKE '%' || #{equipName} || '%'
        AND (T_OVERHAUL_ORDER.PLAN_NAME LIKE '%二级修360天%')
        AND LENGTH(trim(T_OVERHAUL_ORDER.REAL_END_TIME)) IS NOT null) t1
        WHERE 1=1
        <if test="startTime!=null">
          and to_date(t1.REAL_END_TIME, 'YYYY-MM-DD HH24:MI:SS') <![CDATA[>=]]> to_date(#{startTime}, 'YYYY-MM-DD HH24:MI:SS')
        </if>
        <if test="endTime!=null">
          and to_date(t1.REAL_END_TIME, 'YYYY-MM-DD HH24:MI:SS') <![CDATA[<=]]> to_date(#{endTime}, 'YYYY-MM-DD HH24:MI:SS')
        </if>
        ) as "er5",
        (SELECT COUNT(*)
        FROM T_FAULT_INFO t1
        LEFT JOIN T_FAULT_ORDER t2 ON t1.FAULT_NO=t2.FAULT_NO
        WHERE t1.MAJOR_CODE='07'
        AND t1.OBJECT_NAME= #{equipName}
        AND nvl(t2.IS_FAULT,'10')='10'
        <if test="startTime!=null">
           and to_date(t1.FILLIN_TIME, 'YYYY-MM-DD HH24:MI:SS') <![CDATA[>=]]> to_date(#{startTime}, 'YYYY-MM-DD HH24:MI:SS')
        </if>
        <if test="endTime!=null">
           and to_date(t1.FILLIN_TIME, 'YYYY-MM-DD HH24:MI:SS') <![CDATA[<=]]> to_date(#{endTime}, 'YYYY-MM-DD HH24:MI:SS')
        </if>
        ) as "fmCount",
        (SELECT COUNT(*) from(SELECT T_OVERHAUL_ORDER.REAL_END_TIME
        FROM T_OVERHAUL_ORDER
        WHERE T_OVERHAUL_ORDER.PLAN_NAME LIKE '%' || #{equipName} || '%'
        AND T_OVERHAUL_ORDER.PLAN_NAME LIKE '%一级修%'
        AND LENGTH(trim(T_OVERHAUL_ORDER.REAL_END_TIME)) IS NOT null) t1
        WHERE 1=1
        <if test="startTime!=null">
           and to_date(t1.REAL_END_TIME, 'YYYY-MM-DD HH24:MI:SS') <![CDATA[>=]]> to_date(#{startTime}, 'YYYY-MM-DD HH24:MI:SS')
        </if>
        <if test="endTime!=null">
           and to_date(t1.REAL_END_TIME, 'YYYY-MM-DD HH24:MI:SS') <![CDATA[<=]]> to_date(#{endTime}, 'YYYY-MM-DD HH24:MI:SS')
        </if>
        ) as "er1",
        (SELECT
        MAX(DM06.TOTAL_MILE)
        FROM
        T_TRAIN_MILE DM06
        WHERE
        DM06.EQUIP_NAME = #{equipName}
        ) as "maxMile",
        (SELECT
        MAX(DM06.TOTAL_TRACTION_ENERGY)
        FROM
        T_TRAIN_MILE DM06
        WHERE
        DM06.EQUIP_NAME =#{equipName}
        ) as "maxkWh",
        (SELECT
        MAX(DM06.TOTAL_REGENRATED_ELECTRICITY)
        FROM
        T_TRAIN_MILE DM06
        WHERE
        DM06.EQUIP_NAME =#{equipName}
        ) as "maxReEle",
        (SELECT
        MAX(DM06.TOTAL_MILE)- MIN(DM06.TOTAL_MILE)
        FROM
        T_TRAIN_MILE DM06
        WHERE
        DM06.EQUIP_NAME =#{equipName}
        <if test="startTime!=null">
           and to_date(DM06.DAY,'YYYY-MM-DD') <![CDATA[>=]]> to_date(#{startTime1}, 'YYYY-MM-DD')
        </if>
        <if test="endTime!=null">
           and to_date(DM06.DAY,'YYYY-MM-DD') <![CDATA[<=]]> to_date(#{endTime1}, 'YYYY-MM-DD')
        </if>
        ) as "minusMile",
        (SELECT
        MAX(DM06.TOTAL_TRACTION_ENERGY)- MIN(DM06.TOTAL_TRACTION_ENERGY)
        FROM
        T_TRAIN_MILE DM06
        WHERE
        DM06.EQUIP_NAME =#{equipName}
        <if test="startTime!=null">
           and to_date(DM06.DAY,'YYYY-MM-DD') <![CDATA[>=]]> to_date(#{startTime1}, 'YYYY-MM-DD')
        </if>
        <if test="endTime!=null">
           and to_date(DM06.DAY,'YYYY-MM-DD') <![CDATA[<=]]> to_date(#{endTime1}, 'YYYY-MM-DD')
        </if>
        ) as "minuskWh",
        (SELECT
        MAX(DM06.TOTAL_REGENRATED_ELECTRICITY)- MIN(DM06.TOTAL_REGENRATED_ELECTRICITY)
        FROM
        T_TRAIN_MILE DM06
        WHERE
        DM06.EQUIP_NAME =#{equipName}
        <if test="startTime!=null">
           and to_date(DM06.DAY,'YYYY-MM-DD') <![CDATA[>=]]> to_date(#{startTime1}, 'YYYY-MM-DD')
        </if>
        <if test="endTime!=null">
           and to_date(DM06.DAY,'YYYY-MM-DD') <![CDATA[<=]]> to_date(#{endTime1}, 'YYYY-MM-DD')
        </if>
        ) as "minusReEle"
        from dual
    </select>
    <select id="querydmer3" resultType="com.wzmtr.eam.dto.res.statistic.InspectionJobListResDTO">
        SELECT SUBSTR(ER21.REAL_END_TIME,0,10) as "dmer3date", ER21.END_MILE as "dmer3km"
        FROM T_OVERHAUL_ORDER ER21
        WHERE ER21.PLAN_NAME like '%' || #{equipName} || '%'
        AND (ER21.PLAN_NAME LIKE '%二级修90天%')
        AND LENGTH(trim(ER21.REAL_END_TIME))IS NOT NULL
        <if test="startTime!=null">
            AND to_date(SUBSTR(ER21.REAL_END_TIME,0,10),'YYYY-MM-DD') <![CDATA[>=]]> to_date(#{startTime}, 'YYYY-MM-DD')
        </if>
        <if test="endTime!=null">
            AND to_date(SUBSTR(ER21.REAL_END_TIME,0,10),'YYYY-MM-DD') <![CDATA[<=]]> to_date(#{endTime}, 'YYYY-MM-DD')
        </if>
        ORDER BY SUBSTR(ER21.REAL_END_TIME,0,10) DESC
    </select>
    <select id="queryER4" resultType="com.wzmtr.eam.dto.res.statistic.InspectionJobListResDTO">
        SELECT SUBSTR(ER21.REAL_END_TIME,0,10) as "dmer3date", ER21.END_MILE as "dmer3km"
        FROM T_OVERHAUL_ORDER ER21
        WHERE ER21.PLAN_NAME LIKE '%' || #{equipName} || '%'
        AND (ER21.PLAN_NAME LIKE '%二级修180天%')
        AND LENGTH(trim(ER21.REAL_END_TIME))IS NOT NULL
        <if test="startTime!=null">
          and to_date(SUBSTR(ER21.REAL_END_TIME,0,10),'YYYY-MM-DD') <![CDATA[>=]]> to_date(#{startTime}, 'YYYY-MM-DD')
        </if>
        <if test="endTime!=null">
          and to_date(SUBSTR(ER21.REAL_END_TIME,0,10),'YYYY-MM-DD') <![CDATA[<=]]> to_date(#{endTime}, 'YYYY-MM-DD')
        </if>
        ORDER BY SUBSTR(ER21.REAL_END_TIME,0,10) DESC
    </select>
    <select id="queryER5" resultType="com.wzmtr.eam.dto.res.statistic.InspectionJobListResDTO">
        SELECT SUBSTR(ER21.REAL_END_TIME,0,10) as "dmer3date", ER21.END_MILE as "dmer3km"
        FROM T_OVERHAUL_ORDER ER21
        WHERE ER21.PLAN_NAME LIKE '%' || #{equipName} || '%'
        AND (ER21.PLAN_NAME LIKE '%二级修360天%')
        AND LENGTH(trim(ER21.REAL_END_TIME))IS NOT NULL
        <if test="startTime!=null">
            AND to_date(SUBSTR(ER21.REAL_END_TIME,0,10),'YYYY-MM-DD') <![CDATA[>=]]> to_date(#{startTime}, 'YYYY-MM-DD')
        </if>
        <if test="endTime!=null">
            AND to_date(SUBSTR(ER21.REAL_END_TIME,0,10),'YYYY-MM-DD') <![CDATA[<=]]> to_date(#{endTime}, 'YYYY-MM-DD')
        </if>
        ORDER BY SUBSTR(ER21.REAL_END_TIME,0,10) DESC
    </select>
    <select id="queryFMHistory" resultType="com.wzmtr.eam.dto.res.fault.FaultDetailResDTO">
        SELECT
        d.REC_ID	as "recId",  <!-- 记录编号 -->
        d.FAULT_NO	as "faultNo",  <!-- 故障编号 -->
        d.OBJECT_CODE	as "objectCode",  <!-- 对象编码 -->
        d.OBJECT_CODE	as "objectCode_textField",  <!-- 对象编码 -->
        d.OBJECT_NAME	as "objectName",  <!-- 对象名称 -->
        d.TRAIN_TRUNK	as "trainTrunk",  <!-- 车底号/车厢号 -->
        d.PART_CODE as "partCode",
        d.PART_NAME as "partName",
        d.MAJOR_CODE	as "majorCode",  <!-- 专业代码 -->
        d.SYSTEM_CODE	as "systemCode",  <!-- 系统代码 -->
        d.EQUIP_TYPE_CODE	as "equipTypeCode",  <!-- 设备分类代码 -->
        d.FAULT_MODULE	as "faultModule",  <!-- 故障模块 -->
        d.FAULT_MODULE_ID	as "faultModuleId",
        d.FAULT_TYPE	as "faultType",  <!-- 故障分类（10-运营故障；20-自检故障；30-新线调试；40-正线故障；50-出库故障） -->
        d.SOURCE_CODE	as "sourceCode",  <!-- 来源编号 -->
        df.FAULT_AFFECT	as "faultAffect",  <!-- 故障影响 -->
        d.FAULT_DISPLAY_CODE	as "faultDisplayCode",  <!-- 故障现象 -->
        d.FAULT_DISPLAY_DETAIL as "faultDisplayDetail",
        d.FAULT_DETAIL	as "faultDetail",  <!-- 故障详情 -->
        d.DISCOVERER_ID	as "discovererId",  <!-- 发现人工号 -->
        d.DISCOVERER_PHONE	as "discovererPhone",
        d.DISCOVERER_NAME	as "discovererName",  <!-- 发现人姓名 -->
        d.DISCOVERY_TIME	as "discoveryTime",  <!-- 发现时间 -->
        d.FILLIN_USER_ID	as "fillinUserId",  <!-- 提报人工号 -->
        d.FILLIN_DEPT_CODE	as "fillinDeptCode",  <!-- 提报部门 -->
        d.FILLIN_TIME	as "fillinTime",  <!-- 提报时间 -->
        d.RESP_DEPT_CODE	as "respDeptCode",  <!-- 主责部门 -->
        d.ASSIST_DEPT_CODE	as "assistDeptCode",  <!-- 配合部门 -->
        d.REPAIR_DEPT_CODE	as "repairDeptCode",  <!-- 维修部门 -->
        d.PUBLISH_USER_ID	as "publishUserId",  <!-- 下发人工号 -->
        d.PUBLISH_TIME	as "publishTime",  <!-- 下发时间 -->
        d.FAULT_LEVEL	as "faultLevel",  <!-- 故障等级 -->
        d.FAULT_STATUS	as "faultStatus",  <!-- 故障状态 -->
        d.REC_STATUS	as "recStatus",  <!-- 记录状态 -->
        df.REPAIR_START_TIME	as "repairStartTime",  <!-- 维修开始时间 -->
        df.REPAIR_END_TIME	as "repairEndTime",  <!-- 维修结束时间 -->
        round(((to_date(decode(df.REPAIR_END_TIME,' ','2019-11-11 11:11:11',df.REPAIR_END_TIME),'yyyy-mm-dd HH24:mi:ss') - to_date(decode(df.REPAIR_START_TIME,' ','2019-11-11 11:11:11',df.REPAIR_START_TIME),'yyyy-mm-dd HH24:mi:ss'))*24*60),0) as "repairTime",
        d.EXT1	as "ext1",  <!-- 扩展字段1 -->
        d.EXT2	as "ext2",  <!-- 扩展字段2 -->
        d.EXT3	as "affectCodes",  <!-- 扩展字段3 -->
        d.EXT4	as "ext4",  <!-- 扩展字段4 -->
        d.EXT5	as "ext5", <!-- 扩展字段5 -->
        d.TRAIN_TAG as "traintag",
        df.REPORT_FINISH_USER_ID	as "reportFinishUserId",  <!-- 完工人工号 -->
        u.NAME	as "reportFinishUserName",  <!-- 完工人名称 -->
        df.FAULT_WORK_NO	as "faultWorkNo",  <!-- 故障工单号 -->
        d3.FAULT_PROCESS_DETAIL	as "faultProcessDetail",
        df.REC_ID	as "orderRecId",  <!-- 记录编号 -->
        df.ORDER_STATUS	as "orderStatus" , <!-- 工单状态 -->
        df.FAULT_ACTION_DETAIL	as "faultActionDetail",
        df.EXT1	as "levelfault"  <!-- 派工状态 -->,
        d3.FAULT_ANALYSIS_NO as "faultAnalysisNo"  <!-- 故障分析编号 -->
        FROM T_FAULT_INFO d
        left join T_FAULT_ORDER df on d.FAULT_NO = df.FAULT_NO
        left join T_FAULT_DETAIL d3 on d3.FAULT_NO=df.FAULT_NO
        left join SYS_USER u on u.LOGIN_NAME=df.REPORT_FINISH_USER_ID
        WHERE 1=1 and d.MAJOR_CODE='07' and nvl(df.IS_FAULT,'10')='10'
        <if test="equipName!=null and equipName != ''">
            and d.OBJECT_NAME=#{equipName}
        </if>
        <if test="startTime!=null and startTime!=''">
            and to_date(d.DISCOVERY_TIME, 'YYYY-MM-DD HH24:MI:SS') <![CDATA[>=]]> to_date(#{startTime}, 'YYYY-MM-DD HH24:MI:SS')
        </if>
        <if test="endTime!=null and endTime!=''">
            AND to_date(d.DISCOVERY_TIME, 'YYYY-MM-DD HH24:MI:SS') <![CDATA[<=]]> to_date(#{endTime}, 'YYYY-MM-DD HH24:MI:SS')
        </if>
        ORDER BY d.FAULT_NO desc,df.FAULT_WORK_NO desc
    </select>
    <select id="queryFaultFollow" resultType="com.wzmtr.eam.dto.res.fault.TrackQueryResDTO">
        SELECT ff.REC_ID, ff.FOLLOW_NO, ff.FAULT_NO, ff.FAULT_WORK_NO, ff.MAJOR_CODE, ff.POSITION_CODE,
        ff.FOLLOW_USER_ID, ff.FOLLOW_USER_NAME, ff.FOLLOW_TIME, ff.FOLLOW_START_DATE, ff.FOLLOW_END_DATE,
        ff.FOLLOW_CYCLE, ff.FOLLOW_STATUS, ff.FOLLOW_LEADER_ID, ff.FOLLOW_LEADER_NAME, ff.FOLLOW_REASON, ff.REMARK,
        ff.FOLLOW_CLOSER_ID, ff.FOLLOW_CLOSER_NAME, ff.DISPATCH_USER_ID, ff.DISPATCH_USER_NAME, ff.DISPATCH_TIME,
        ff.FOLLOW_CLOSE_TIME, ff.REC_CREATOR, ff.REC_CREATE_TIME, ff.REC_DELETOR, ff.REC_DELETE_TIME, ff.DELETE_FLAG
        FROM T_FAULT_FOLLOW ff
        LEFT JOIN SYS_USER u ON u.LOGIN_NAME=ff.FOLLOW_LEADER_ID AND u.DEL_FLAG='0'
        LEFT JOIN T_FAULT_INFO fi ON fi.FAULT_NO=ff.FAULT_NO AND fi.DEL_FLAG='0'
        WHERE ff.DELETE_FLAG='0'
        <if test="equipName!=null and equipName!=''">
            AND fi.OBJECT_NAME =#{equipName}
        </if>
        <if test="startTime!=null and startTime!=''">
            AND ff.FOLLOW_START_DATE <![CDATA[>=]]> #{startTime}
        </if>
        <if test="endTime!=null and endTime!=''">
            AND ff.FOLLOW_START_DATE <![CDATA[<=]]> #{endTime}
        </if>
        ORDER BY ff.REC_CREATE_TIME DESC
    </select>
    <select id="querydmdm20" resultType="com.wzmtr.eam.dto.res.equipment.PartReplaceResDTO">
        SELECT
        REC_ID as "recId",  <!-- 记录编号 -->
        FAULT_WORK_NO as "faultWorkNo",  <!-- 故障工单编号 -->
        EQUIP_CODE as "equipCode",  <!-- 设备代码 -->
        EQUIP_NAME as "equipName",  <!-- 设备名称 -->
        ORG_TYPE as "orgType",  <!-- 作业单位 -->
        OPERATOR as "operator",  <!-- 作业人员 -->
        REPLACEMENT_NO as "replacementNo",  <!-- 更换配件代码 -->
        REPLACEMENT_NAME as "replacementName",  <!-- 更换配件名称 -->
        REPLACE_REASON as "replaceReason",  <!-- 更换原因 -->
        OLD_REP_NO as "oldRepNo",  <!-- 旧配件编号 -->
        NEW_REP_NO as "newRepNo",  <!-- 新配件编号 -->
        OPERATE_COST_TIME as "operateCostTime",  <!-- 更换所用时间 -->
        REPLACE_DATE as "replaceDate",  <!-- 处理日期 -->
        REMARK as "remark",  <!-- 备注 -->
        DOC_ID as "docId",  <!-- 附件编号 -->
        REC_CREATOR as "recCreator",  <!-- 创建者 -->
        REC_CREATE_TIME as "recCreateTime",  <!-- 创建时间 -->
        REC_REVISOR as "recRevisor",  <!-- 修改者 -->
        REC_REVISE_TIME as "recReviseTime",  <!-- 修改时间 -->
        REC_DELETOR as "recDeletor",  <!-- 删除者 -->
        REC_DELETE_TIME as "recDeleteTime",  <!-- 删除时间 -->
        DELETE_FLAG as "deleteFlag",  <!-- 删除标志 -->
        ARCHIVE_FLAG as "archiveFlag",  <!-- 归档标记 -->
        REC_STATUS as "recStatus",  <!-- 记录状态 -->
        EXT1 as "ext1",  <!-- 扩展字段1 -->
        EXT2 as "ext2",  <!-- 扩展字段2 -->
        EXT3 as "ext3",  <!-- 扩展字段3 -->
        EXT4 as "ext4",  <!-- 扩展字段4 -->
        EXT5 as "ext5",  <!-- 扩展字段5 -->
        EXT6 as "ext6",  <!-- 扩展字段6 -->
        EXT7 as "ext7" <!-- 扩展字段7 -->
        FROM T_PART_REPLACEMENT WHERE DELETE_FLAG='0'
        <if test="equipName!=null and equipName!=''">
            AND EQUIP_NAME = #{equipName}
        </if>
        <if test="startTime!=null and startTime!=''">
            AND REPLACE_DATE <![CDATA[>=]]> #{startTime}
        </if>
        <if test="endTime!=null and endTime!=''">
            AND REPLACE_DATE <![CDATA[<=]]> #{endTime}
        </if>
        ORDER BY REPLACE_DATE desc,REC_CREATE_TIME desc
    </select>
    <select id="queryER2" resultType="com.wzmtr.eam.dto.res.statistic.InspectionJobListResDTO">
        SELECT SUBSTR(ER21.REAL_END_TIME,0,10) as "dmer3date", ER21.END_MILE as "dmer3km"
        FROM T_OVERHAUL_ORDER ER21
        WHERE ER21.PLAN_NAME  like '%' || #{equipName} || '%'
        AND (ER21.PLAN_NAME LIKE '%二级修30天%')
        AND LENGTH(trim(ER21.REAL_END_TIME))IS NOT NULL
        <if test="startTime != null">
            AND to_date(SUBSTR(ER21.REAL_END_TIME,0,10),'YYYY-MM-DD') <![CDATA[>=]]> to_date(#{startTime}, 'YYYY-MM-DD')
        </if>
        <if test="endTime != null">
            AND to_date(SUBSTR(ER21.REAL_END_TIME,0,10),'YYYY-MM-DD') <![CDATA[<=]]> to_date(#{endTime}, 'YYYY-MM-DD')
        </if>
        ORDER BY SUBSTR(ER21.REAL_END_TIME,0,10) DESC
    </select>
    <select id="queryER1" resultType="com.wzmtr.eam.dto.res.statistic.InspectionJobListResDTO">
        SELECT SUBSTR(ER21.REAL_END_TIME,0,10) as "dmer3date", ER21.END_MILE as "dmer3km"
        FROM T_OVERHAUL_ORDER ER21
        WHERE ER21.PLAN_NAME LIKE '%' || #{equipName} || '%'
        AND ER21.PLAN_NAME LIKE '%一级修%'
        AND LENGTH(trim(ER21.REAL_END_TIME))IS NOT NULL
        <if test="startTime != null">
            AND to_date(SUBSTR(ER21.REAL_END_TIME,0,10),'YYYY-MM-DD') <![CDATA[>=]]> to_date(#{startTime}, 'YYYY-MM-DD')
        </if>
        <if test="endTime != null">
            AND to_date(SUBSTR(ER21.REAL_END_TIME,0,10),'YYYY-MM-DD') <![CDATA[<=]]> to_date(#{endTime}, 'YYYY-MM-DD')
        </if>
        ORDER BY SUBSTR(ER21.REAL_END_TIME,0,10) DESC
    </select>

    <select id="listGearboxChangeOil" resultType="com.wzmtr.eam.dto.res.equipment.GearboxChangeOilResDTO">
        SELECT
        a.REC_ID	as "recId",  <!-- 记录编号 -->
        a.TRAIN_NO	as "trainNo",  <!-- 列车号 -->
        a.TOTAL_MILES  as "totalMiles",  <!-- 里程(公里) -->
        a.COMPLETE_DATE	as "completeDate",  <!-- 完成日期 -->
        a.ORG_TYPE	as "orgType",  <!-- 作业单位 -->
        a.OPERATOR	as "operator",  <!-- 作业人员 -->
        a.CONFIRMOR	as "confirmor",  <!-- 确认人员 -->
        a.REMARK	as "remark",  <!-- 备注 -->
        a.DOC_ID	as "docId",  <!-- 附件编号 -->
        a.REC_CREATOR	as "recCreator",  <!-- 创建者 -->
        a.REC_CREATE_TIME	as "recCreateTime",  <!-- 创建时间 -->
        a.REC_REVISOR	as "recRevisor",  <!-- 修改者 -->
        a.REC_REVISE_TIME	as "recReviseTime",  <!-- 修改时间 -->
        a.REC_DELETOR	as "recDeletor",  <!-- 删除者 -->
        a.REC_DELETE_TIME	as "recDeleteTime",  <!-- 删除时间 -->
        a.DELETE_FLAG	as "deleteFlag",  <!-- 删除标志 -->
        a.ARCHIVE_FLAG	as "archiveFlag",  <!-- 归档标记 -->
        a.REC_STATUS	as "recStatus",  <!-- 记录状态 -->
        a.EXT1	as "ext1",  <!-- 扩展字段1 -->
        a.EXT2	as "ext2",  <!-- 扩展字段2 -->
        a.EXT3	as "ext3",  <!-- 扩展字段3 -->
        a.EXT4	as "ext4",  <!-- 扩展字段4 -->
        a.EXT5	as "ext5",  <!-- 扩展字段5 -->
        a.EXT6	as "ext6",  <!-- 扩展字段6 -->
        a.EXT7	as "ext7" <!-- 扩展字段7 -->
        FROM T_GEARBOX_CHANGE_OIL a
        LEFT JOIN T_EQUIPMENT b on b.EQUIP_NAME=a.TRAIN_NO and b.DELETE_FLAG='0' and b.MAJOR_CODE='07'
        WHERE 1=1 and a.DELETE_FLAG='0'
        <if test="req.equipName!=null and req.equipName!=''">
            and a.TRAIN_NO like '%' || #{req.equipName} || '%'
        </if>
        <if test="req.startTime!=null and req.startTime!=''">
            and a.COMPLETE_DATE>=#{req.startTime}
        </if>
        <if test="req.endTime!=null and req.endTime!=''">
            and #{req.endTime}>=a.COMPLETE_DATE
        </if>
        ORDER BY a.REC_CREATE_TIME desc
    </select>

    <select id="listWheelsetLathing" resultType="com.wzmtr.eam.dto.res.equipment.WheelsetLathingResDTO">
        SELECT
        REC_ID	as "recId",  <!-- 记录编号 -->
        TRAIN_NO	as "trainNo",  <!-- 列车号 -->
        CARRIAGE_NO	as "carriageNo",  <!-- 车厢号 -->
        AXLE_NO	as "axleNo",  <!-- 镟修轮对车轴 -->
        WHEEL_NO  as "wheelNo",  <!-- 镟修轮对号 -->
        WHEEL_HEIGHT  as "wheelHeight",  <!-- 轮高 -->
        WHEEL_THICK  as "wheelThick",  <!-- 轮厚 -->
        WHEEL_DIAMETER  as "wheelDiameter",  <!-- 轮径 -->
        REPAIR_DETAIL  as "repairDetail",  <!-- 镟修详情 -->
        START_DATE	as "startDate",  <!-- 开始日期 -->
        COMPLETE_DATE	as "completeDate",  <!-- 完成日期 -->
        RESP_PEOPLE	as "respPeople",  <!-- 负责人 -->
        REMARK	as "remark",  <!-- 备注 -->
        DOC_ID	as "docId",  <!-- 附件编号 -->
        REC_CREATOR	as "recCreator",  <!-- 创建者 -->
        REC_CREATE_TIME	as "recCreateTime",  <!-- 创建时间 -->
        REC_REVISOR	as "recRevisor",  <!-- 修改者 -->
        REC_REVISE_TIME	as "recReviseTime",  <!-- 修改时间 -->
        REC_DELETOR	as "recDeletor",  <!-- 删除者 -->
        REC_DELETE_TIME	as "recDeleteTime",  <!-- 删除时间 -->
        DELETE_FLAG	as "deleteFlag",  <!-- 删除标志 -->
        ARCHIVE_FLAG	as "archiveFlag",  <!-- 归档标记 -->
        REC_STATUS	as "recStatus",  <!-- 记录状态 -->
        EXT1	as "ext1",  <!-- 扩展字段1 -->
        EXT2	as "ext2",  <!-- 扩展字段2 -->
        EXT3	as "ext3",  <!-- 扩展字段3 -->
        EXT4	as "ext4",  <!-- 扩展字段4 -->
        EXT5	as "ext5",  <!-- 扩展字段5 -->
        EXT6	as "ext6",  <!-- 扩展字段6 -->
        EXT7	as "ext7" <!-- 扩展字段7 -->
        FROM T_WHEELSET_LATHING
        WHERE 1=1 and DELETE_FLAG='0'
        <if test="req.equipName!=null and req.equipName!=''">
            and TRAIN_NO like '%' || #{req.equipName} || '%'
        </if>
        <if test="req.startTime!=null and req.startTime!=''">
            and START_DATE>=#{req.startTime}
        </if>
        <if test="req.endTime!=null and req.endTime!=''">
            and #{req.endTime}>=START_DATE
        </if>
        ORDER BY REC_CREATE_TIME desc
    </select>

    <select id="listGeneralSurvey" resultType="com.wzmtr.eam.dto.res.equipment.GeneralSurveyResDTO">
        SELECT
        REC_ID	as "recId",  <!-- 记录编号 -->
        TRAIN_NO	as "trainNo",  <!-- 列车号 -->
        REC_TYPE	as "recType",  <!-- 类别 -->
        REC_NOTIFY_NO	as "recNotifyNo",  <!-- 技术通知单编号 -->
        REC_DETAIL	as "recDetail",  <!-- 项目内容 -->
        COMPLETE_DATE	as "completeDate",  <!-- 完成时间 -->
        ORG_TYPE	as "orgType",  <!-- 作业单位 -->
        REMARK	as "remark",  <!-- 备注 -->
        DOC_ID	as "docId",  <!-- 附件编号 -->
        RECORD_ID	as "recordId",  <!-- 作业记录编号 -->
        REC_CREATOR	as "recCreator",  <!-- 创建者 -->
        REC_CREATE_TIME	as "recCreateTime",  <!-- 创建时间 -->
        REC_REVISOR	as "recRevisor",  <!-- 修改者 -->
        REC_REVISE_TIME	as "recReviseTime",  <!-- 修改时间 -->
        REC_DELETOR	as "recDeletor",  <!-- 删除者 -->
        REC_DELETE_TIME	as "recDeleteTime",  <!-- 删除时间 -->
        DELETE_FLAG	as "deleteFlag",  <!-- 删除标志 -->
        ARCHIVE_FLAG	as "archiveFlag",  <!-- 归档标记 -->
        REC_STATUS	as "recStatus",  <!-- 记录状态 -->
        EXT1	as "ext1",  <!-- 扩展字段1 -->
        EXT2	as "ext2",  <!-- 扩展字段2 -->
        EXT3	as "ext3",  <!-- 扩展字段3 -->
        EXT4	as "ext4",  <!-- 扩展字段4 -->
        EXT5	as "ext5",  <!-- 扩展字段5 -->
        EXT6	as "ext6",  <!-- 扩展字段6 -->
        EXT7	as "ext7" <!-- 扩展字段7 -->
        FROM T_GENERAL_SURVEY
        WHERE 1=1 and DELETE_FLAG='0'
        <if test="req.equipName!=null and req.equipName!=''">
            and TRAIN_NO like '%' || #{req.equipName} || '%'
        </if>
        <if test="req.startTime!=null and req.startTime!=''">
            and COMPLETE_DATE>=#{req.startTime}
        </if>
        <if test="req.endTime!=null and req.endTime!=''">
            and #{req.endTime}>=COMPLETE_DATE
        </if>
        ORDER BY REC_CREATE_TIME desc
    </select>
</mapper>