<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzmtr.eam.mapper.equipment.EquipmentChargeMapper">

    <select id="pageEquipmentCharge" resultType="com.wzmtr.eam.dto.res.equipment.EquipmentChargeResDTO">
        SELECT
        a.REC_ID	as "recId",
        a.EQUIP_CODE	as "equipCode",
        b.EQUIP_NAME as "equipName",
        b.MAJOR_NAME	as "majorName",
        b.SYSTEM_NAME	as "systemName",
        b.EQUIP_TYPE_NAME	as "equipTypeName",
        b.POSITION1_NAME	as "position1Name",
        a.CHARGE_DATE	as "chargeDate",
        a.CHARGE_DURATION	as "chargeDuration",
        a.REMARK	as "remark",
        a.REC_CREATOR	as "recCreator",
        a.REC_CREATE_TIME	as "recCreateTime",
        a.REC_REVISOR	as "recRevisor",
        a.REC_REVISE_TIME	as "recReviseTime",
        a.REC_DELETOR	as "recDeletor",
        a.REC_DELETE_TIME	as "recDeleteTime",
        a.DELETE_FLAG	as "deleteFlag",
        a.ARCHIVE_FLAG	as "archiveFlag",
        a.REC_STATUS	as "recStatus",
        a.EXT1	as "ext1",
        a.EXT2	as "ext2",
        a.EXT3	as "ext3",
        a.EXT4	as "ext4",
        a.EXT5	as "ext5"
        FROM T_EQUIPMENT_CHARGE a , T_EQUIPMENT b
        WHERE 1=1 AND a.DELETE_FLAG='0'
        and a.EQUIP_CODE = b.EQUIP_CODE
        <if test="equipCode!=null and equipCode!=''">
            and a.EQUIP_CODE like '%' || #{equipCode} || '%'
        </if>
        <if test="equipName!=null and equipName!=''">
            and b.EQUIP_NAME like '%' || #{equipName} || '%'
        </if>
        <if test="chargeDate!=null and chargeDate!=''">
            and a.CHARGE_DATE=#{chargeDate}
        </if>
        <if test="position1Code!=null and position1Code!=''">
            and b.POSITION1_CODE=#{position1Code}
        </if>
        <if test="subjectCode!=null and subjectCode!=''">
            and b.MAJOR_CODE=#{subjectCode}
        </if>
        <if test="majors!=null">
            and b.MAJOR_CODE IN (
            <foreach collection="majors" index="index" item="major" separator=",">
                #{major}
            </foreach>
            )
        </if>

        <if test="systemCode!=null and systemCode!=''">
            and b.SYSTEM_CODE=#{systemCode}
        </if>
        <if test="equipTypeCode!=null and equipTypeCode!=''">
            and b.EQUIP_TYPE_CODE=#{equipTypeCode}
        </if>
        ORDER BY a.CHARGE_DATE desc, a.EQUIP_CODE asc
    </select>

    <select id="getEquipmentChargeDetail" resultType="com.wzmtr.eam.dto.res.equipment.EquipmentChargeResDTO">
        SELECT
        a.REC_ID	as "recId",
        a.EQUIP_CODE	as "equipCode",
        b.EQUIP_NAME as "equipName",
        b.MAJOR_NAME	as "majorName",
        b.SYSTEM_NAME	as "systemName",
        b.EQUIP_TYPE_NAME	as "equipTypeName",
        b.POSITION1_NAME	as "position1Name",
        a.CHARGE_DATE	as "chargeDate",
        a.CHARGE_DURATION	as "chargeDuration",
        a.REMARK	as "remark",
        a.REC_CREATOR	as "recCreator",
        a.REC_CREATE_TIME	as "recCreateTime",
        a.REC_REVISOR	as "recRevisor",
        a.REC_REVISE_TIME	as "recReviseTime",
        a.REC_DELETOR	as "recDeletor",
        a.REC_DELETE_TIME	as "recDeleteTime",
        a.DELETE_FLAG	as "deleteFlag",
        a.ARCHIVE_FLAG	as "archiveFlag",
        a.REC_STATUS	as "recStatus",
        a.EXT1	as "ext1",
        a.EXT2	as "ext2",
        a.EXT3	as "ext3",
        a.EXT4	as "ext4",
        a.EXT5	as "ext5"
        FROM T_EQUIPMENT_CHARGE a , T_EQUIPMENT b
        WHERE 1=1 AND a.DELETE_FLAG='0'
        and a.EQUIP_CODE = b.EQUIP_CODE and a.REC_ID=#{id}
    </select>

    <select id="selectEquipmentNameByCode" resultType="java.lang.String">
        SELECT EQUIP_NAME
        FROM T_EQUIPMENT
        WHERE EQUIP_CODE=#{equipCode}
    </select>

    <insert id="addEquipmentCharge">
        INSERT INTO T_EQUIPMENT_CHARGE
        (REC_ID,
        EQUIP_CODE,
        CHARGE_DATE,
        CHARGE_DURATION,
        REMARK,
        REC_CREATOR,
        REC_CREATE_TIME,
        DELETE_FLAG)
        VALUES (
        #{recId,jdbcType=VARCHAR},
        #{equipCode,jdbcType=VARCHAR},
        #{chargeDate,jdbcType=VARCHAR},
        #{chargeDuration,jdbcType=NUMERIC},
        #{remark,jdbcType=VARCHAR},
        #{recCreator,jdbcType=VARCHAR},
        #{recCreateTime,jdbcType=VARCHAR},
        '0')
    </insert>

    <update id="modifyEquipmentCharge">
        UPDATE T_EQUIPMENT_CHARGE SET
        <if test="equipCode!=null">
            EQUIP_CODE	= #{equipCode},
        </if>
        <if test="chargeDate!=null">
            CHARGE_DATE	= #{chargeDate},
        </if>
        <if test="chargeDuration!=null">
            CHARGE_DURATION	= #{chargeDuration,jdbcType=NUMERIC},
        </if>
        <if test="remark!=null">
            REMARK	= #{remark},
        </if>
        REC_REVISOR	= #{recRevisor},
        REC_REVISE_TIME	= #{recReviseTime}
        WHERE REC_ID = #{recId}
    </update>

    <update id="deleteEquipmentCharge">
        UPDATE T_EQUIPMENT_CHARGE SET
        DELETE_FLAG='1', REC_DELETOR=#{userId}, REC_DELETE_TIME=#{time}
        WHERE REC_ID IN (
        <foreach collection="ids" index="index" item="id" separator=",">
            #{id}
        </foreach>
        )
    </update>

    <select id="listEquipmentCharge" resultType="com.wzmtr.eam.dto.res.equipment.EquipmentChargeResDTO">
        SELECT
        a.REC_ID	as "recId",
        a.EQUIP_CODE	as "equipCode",
        b.EQUIP_NAME as "equipName",
        b.MAJOR_NAME	as "majorName",
        b.SYSTEM_NAME	as "systemName",
        b.EQUIP_TYPE_NAME	as "equipTypeName",
        b.POSITION1_NAME	as "position1Name",
        a.CHARGE_DATE	as "chargeDate",
        a.CHARGE_DURATION	as "chargeDuration",
        a.REMARK	as "remark",
        a.REC_CREATOR	as "recCreator",
        a.REC_CREATE_TIME	as "recCreateTime",
        a.REC_REVISOR	as "recRevisor",
        a.REC_REVISE_TIME	as "recReviseTime",
        a.REC_DELETOR	as "recDeletor",
        a.REC_DELETE_TIME	as "recDeleteTime",
        a.DELETE_FLAG	as "deleteFlag",
        a.ARCHIVE_FLAG	as "archiveFlag",
        a.REC_STATUS	as "recStatus",
        a.EXT1	as "ext1",
        a.EXT2	as "ext2",
        a.EXT3	as "ext3",
        a.EXT4	as "ext4",
        a.EXT5	as "ext5"
        FROM T_EQUIPMENT_CHARGE a , T_EQUIPMENT b
        WHERE 1=1 AND a.DELETE_FLAG='0' AND a.EQUIP_CODE = b.EQUIP_CODE
        AND a.REC_ID IN (
        <foreach collection="list" index="index" item="id" separator=",">
            #{id}
        </foreach>
        )
        ORDER BY a.CHARGE_DATE desc, a.EQUIP_CODE asc
    </select>

</mapper>