<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzmtr.eam.mapper.equipment.GeneralSurveyMapper">

    <select id="pageGeneralSurvey" resultType="com.wzmtr.eam.dto.res.equipment.GeneralSurveyResDTO">
        SELECT
        REC_ID	as "recId",  <!-- 记录编号 -->
        TRAIN_NO	as "trainNo",  <!-- 列车号 -->
        REC_TYPE	as "recType",  <!-- 类别 -->
        REC_NOTIFY_NO	as "recNotifyNo",  <!-- 技术通知单编号 -->
        REC_DETAIL	as "recDetail",  <!-- 项目内容 -->
        COMPLETE_DATE	as "completeDate",  <!-- 完成时间 -->
        ORG_TYPE	as "orgType",  <!-- 作业单位 -->
        REMARK	as "remark",  <!-- 备注 -->
        DOC_ID	as "docId",  <!-- 附件编号 -->
        RECORD_ID	as "recordId",  <!-- 作业记录编号 -->
        REC_CREATOR	as "recCreator",  <!-- 创建者 -->
        REC_CREATE_TIME	as "recCreateTime",  <!-- 创建时间 -->
        REC_REVISOR	as "recRevisor",  <!-- 修改者 -->
        REC_REVISE_TIME	as "recReviseTime",  <!-- 修改时间 -->
        REC_DELETOR	as "recDeletor",  <!-- 删除者 -->
        REC_DELETE_TIME	as "recDeleteTime",  <!-- 删除时间 -->
        DELETE_FLAG	as "deleteFlag",  <!-- 删除标志 -->
        ARCHIVE_FLAG	as "archiveFlag",  <!-- 归档标记 -->
        REC_STATUS	as "recStatus",  <!-- 记录状态 -->
        EXT1	as "ext1",  <!-- 扩展字段1 -->
        EXT2	as "ext2",  <!-- 扩展字段2 -->
        EXT3	as "ext3",  <!-- 扩展字段3 -->
        EXT4	as "ext4",  <!-- 扩展字段4 -->
        EXT5	as "ext5",  <!-- 扩展字段5 -->
        EXT6	as "ext6",  <!-- 扩展字段6 -->
        EXT7	as "ext7" <!-- 扩展字段7 -->
        FROM T_GENERAL_SURVEY
        WHERE 1=1 and DELETE_FLAG='0'
        <if test="trainNo!=null and trainNo!=''">
            and TRAIN_NO like '%' || #{trainNo} || '%'
        </if>
        <if test="recNotifyNo!=null and recNotifyNo!=''">
            and REC_NOTIFY_NO like '%' || #{recNotifyNo} || '%'
        </if>
        <if test="recDetail!=null and recDetail!=''">
            and REC_DETAIL like '%' || #{recDetail} || '%'
        </if>
        <if test="orgType!=null and orgType!=''">
            and ORG_TYPE=#{orgType}
        </if>
        ORDER BY REC_CREATE_TIME desc
    </select>

    <select id="getGeneralSurveyDetail" resultType="com.wzmtr.eam.dto.res.equipment.GeneralSurveyResDTO">
        SELECT
        REC_ID	as "recId",  <!-- 记录编号 -->
        TRAIN_NO	as "trainNo",  <!-- 列车号 -->
        REC_TYPE	as "recType",  <!-- 类别 -->
        REC_NOTIFY_NO	as "recNotifyNo",  <!-- 技术通知单编号 -->
        REC_DETAIL	as "recDetail",  <!-- 项目内容 -->
        COMPLETE_DATE	as "completeDate",  <!-- 完成时间 -->
        ORG_TYPE	as "orgType",  <!-- 作业单位 -->
        REMARK	as "remark",  <!-- 备注 -->
        DOC_ID	as "docId",  <!-- 附件编号 -->
        RECORD_ID	as "recordId",  <!-- 作业记录编号 -->
        REC_CREATOR	as "recCreator",  <!-- 创建者 -->
        REC_CREATE_TIME	as "recCreateTime",  <!-- 创建时间 -->
        REC_REVISOR	as "recRevisor",  <!-- 修改者 -->
        REC_REVISE_TIME	as "recReviseTime",  <!-- 修改时间 -->
        REC_DELETOR	as "recDeletor",  <!-- 删除者 -->
        REC_DELETE_TIME	as "recDeleteTime",  <!-- 删除时间 -->
        DELETE_FLAG	as "deleteFlag",  <!-- 删除标志 -->
        ARCHIVE_FLAG	as "archiveFlag",  <!-- 归档标记 -->
        REC_STATUS	as "recStatus",  <!-- 记录状态 -->
        EXT1	as "ext1",  <!-- 扩展字段1 -->
        EXT2	as "ext2",  <!-- 扩展字段2 -->
        EXT3	as "ext3",  <!-- 扩展字段3 -->
        EXT4	as "ext4",  <!-- 扩展字段4 -->
        EXT5	as "ext5",  <!-- 扩展字段5 -->
        EXT6	as "ext6",  <!-- 扩展字段6 -->
        EXT7	as "ext7" <!-- 扩展字段7 -->
        FROM T_GENERAL_SURVEY
        WHERE 1=1 and DELETE_FLAG='0' and REC_ID=#{id}
    </select>

    <insert id="addGeneralSurvey">
        INSERT INTO T_GENERAL_SURVEY (
        REC_ID,  <!-- 记录编号 -->
        TRAIN_NO,  <!-- 列车号 -->
        REC_TYPE,  <!-- 类别 -->
        REC_NOTIFY_NO,  <!-- 技术通知单编号 -->
        REC_DETAIL,  <!-- 项目内容 -->
        COMPLETE_DATE,  <!-- 完成时间 -->
        ORG_TYPE,  <!-- 作业单位 -->
        REMARK,  <!-- 备注 -->
        DOC_ID,  <!-- 附件编号 -->
        RECORD_ID,  <!-- 作业记录编号 -->
        REC_CREATOR,  <!-- 创建者 -->
        REC_CREATE_TIME,  <!-- 创建时间 -->
        REC_REVISOR,  <!-- 修改者 -->
        REC_REVISE_TIME,  <!-- 修改时间 -->
        REC_DELETOR,  <!-- 删除者 -->
        REC_DELETE_TIME,  <!-- 删除时间 -->
        DELETE_FLAG,  <!-- 删除标志 -->
        ARCHIVE_FLAG,  <!-- 归档标记 -->
        REC_STATUS,  <!-- 记录状态 -->
        EXT1,  <!-- 扩展字段1 -->
        EXT2,  <!-- 扩展字段2 -->
        EXT3,  <!-- 扩展字段3 -->
        EXT4,  <!-- 扩展字段4 -->
        EXT5,  <!-- 扩展字段5 -->
        EXT6,  <!-- 扩展字段6 -->
        EXT7  <!-- 扩展字段7 -->)
        VALUES (
        #{recId,jdbcType=VARCHAR},
        #{trainNo,jdbcType=VARCHAR},
        #{recType,jdbcType=VARCHAR},
        #{recNotifyNo,jdbcType=VARCHAR},
        #{recDetail,jdbcType=VARCHAR},
        #{completeDate,jdbcType=VARCHAR},
        #{orgType,jdbcType=VARCHAR},
        #{remark,jdbcType=VARCHAR},
        #{docId,jdbcType=VARCHAR},
        #{recordId,jdbcType=VARCHAR},
        #{recCreator,jdbcType=VARCHAR},
        #{recCreateTime,jdbcType=VARCHAR},
        #{recRevisor,jdbcType=VARCHAR},
        #{recReviseTime,jdbcType=VARCHAR},
        #{recDeletor,jdbcType=VARCHAR},
        #{recDeleteTime,jdbcType=VARCHAR},
        '0',
        #{archiveFlag,jdbcType=VARCHAR},
        #{recStatus,jdbcType=VARCHAR},
        #{ext1,jdbcType=VARCHAR},
        #{ext2,jdbcType=VARCHAR},
        #{ext3,jdbcType=VARCHAR},
        #{ext4,jdbcType=VARCHAR},
        #{ext5,jdbcType=VARCHAR},
        #{ext6,jdbcType=VARCHAR},
        #{ext7,jdbcType=VARCHAR})
    </insert>

    <update id="modifyGeneralSurvey">
        UPDATE T_GENERAL_SURVEY SET
        <if test="docId!=null">
            DOC_ID=#{docId},
        </if>
        <if test="recordId!=null">
            RECORD_ID=#{recordId},
        </if>
        REC_REVISOR=#{recRevisor}, REC_REVISE_TIME=#{recReviseTime}
        WHERE REC_ID=#{recId}
    </update>

    <update id="deleteGeneralSurvey">
        UPDATE T_GENERAL_SURVEY SET
        DELETE_FLAG='1', REC_DELETOR=#{userId}, REC_DELETE_TIME=#{time}
        WHERE REC_ID IN (
        <foreach collection="ids" index="index" item="id" separator=",">
            #{id}
        </foreach>
        )
    </update>

    <insert id="importGeneralSurvey">
        insert ALL
        <foreach collection="list" index="index" item="generalSurvey" separator=" ">
            INTO T_GENERAL_SURVEY (
            REC_ID,  <!-- 记录编号 -->
            TRAIN_NO,  <!-- 列车号 -->
            REC_TYPE,  <!-- 类别 -->
            REC_NOTIFY_NO,  <!-- 技术通知单编号 -->
            REC_DETAIL,  <!-- 项目内容 -->
            COMPLETE_DATE,  <!-- 完成时间 -->
            ORG_TYPE,  <!-- 作业单位 -->
            REMARK,  <!-- 备注 -->
            DOC_ID,  <!-- 附件编号 -->
            RECORD_ID,  <!-- 作业记录编号 -->
            REC_CREATOR,  <!-- 创建者 -->
            REC_CREATE_TIME,  <!-- 创建时间 -->
            REC_REVISOR,  <!-- 修改者 -->
            REC_REVISE_TIME,  <!-- 修改时间 -->
            REC_DELETOR,  <!-- 删除者 -->
            REC_DELETE_TIME,  <!-- 删除时间 -->
            DELETE_FLAG,  <!-- 删除标志 -->
            ARCHIVE_FLAG,  <!-- 归档标记 -->
            REC_STATUS,  <!-- 记录状态 -->
            EXT1,  <!-- 扩展字段1 -->
            EXT2,  <!-- 扩展字段2 -->
            EXT3,  <!-- 扩展字段3 -->
            EXT4,  <!-- 扩展字段4 -->
            EXT5,  <!-- 扩展字段5 -->
            EXT6,  <!-- 扩展字段6 -->
            EXT7  <!-- 扩展字段7 -->)
            VALUES (
            #{generalSurvey.recId,jdbcType=VARCHAR},
            #{generalSurvey.trainNo,jdbcType=VARCHAR},
            #{generalSurvey.recType,jdbcType=VARCHAR},
            #{generalSurvey.recNotifyNo,jdbcType=VARCHAR},
            #{generalSurvey.recDetail,jdbcType=VARCHAR},
            #{generalSurvey.completeDate,jdbcType=VARCHAR},
            #{generalSurvey.orgType,jdbcType=VARCHAR},
            #{generalSurvey.remark,jdbcType=VARCHAR},
            #{generalSurvey.docId,jdbcType=VARCHAR},
            #{generalSurvey.recordId,jdbcType=VARCHAR},
            #{generalSurvey.recCreator,jdbcType=VARCHAR},
            #{generalSurvey.recCreateTime,jdbcType=VARCHAR},
            #{generalSurvey.recRevisor,jdbcType=VARCHAR},
            #{generalSurvey.recReviseTime,jdbcType=VARCHAR},
            #{generalSurvey.recDeletor,jdbcType=VARCHAR},
            #{generalSurvey.recDeleteTime,jdbcType=VARCHAR},
            '0',
            #{generalSurvey.archiveFlag,jdbcType=VARCHAR},
            #{generalSurvey.recStatus,jdbcType=VARCHAR},
            #{generalSurvey.ext1,jdbcType=VARCHAR},
            #{generalSurvey.ext2,jdbcType=VARCHAR},
            #{generalSurvey.ext3,jdbcType=VARCHAR},
            #{generalSurvey.ext4,jdbcType=VARCHAR},
            #{generalSurvey.ext5,jdbcType=VARCHAR},
            #{generalSurvey.ext6,jdbcType=VARCHAR},
            #{generalSurvey.ext7,jdbcType=VARCHAR})
        </foreach>
        SELECT * FROM dual
    </insert>

    <select id="listGeneralSurvey" resultType="com.wzmtr.eam.dto.res.equipment.GeneralSurveyResDTO">
        SELECT
        REC_ID	as "recId",  <!-- 记录编号 -->
        TRAIN_NO	as "trainNo",  <!-- 列车号 -->
        REC_TYPE	as "recType",  <!-- 类别 -->
        REC_NOTIFY_NO	as "recNotifyNo",  <!-- 技术通知单编号 -->
        REC_DETAIL	as "recDetail",  <!-- 项目内容 -->
        COMPLETE_DATE	as "completeDate",  <!-- 完成时间 -->
        ORG_TYPE	as "orgType",  <!-- 作业单位 -->
        REMARK	as "remark",  <!-- 备注 -->
        DOC_ID	as "docId",  <!-- 附件编号 -->
        RECORD_ID	as "recordId",  <!-- 作业记录编号 -->
        REC_CREATOR	as "recCreator",  <!-- 创建者 -->
        REC_CREATE_TIME	as "recCreateTime",  <!-- 创建时间 -->
        REC_REVISOR	as "recRevisor",  <!-- 修改者 -->
        REC_REVISE_TIME	as "recReviseTime",  <!-- 修改时间 -->
        REC_DELETOR	as "recDeletor",  <!-- 删除者 -->
        REC_DELETE_TIME	as "recDeleteTime",  <!-- 删除时间 -->
        DELETE_FLAG	as "deleteFlag",  <!-- 删除标志 -->
        ARCHIVE_FLAG	as "archiveFlag",  <!-- 归档标记 -->
        REC_STATUS	as "recStatus",  <!-- 记录状态 -->
        EXT1	as "ext1",  <!-- 扩展字段1 -->
        EXT2	as "ext2",  <!-- 扩展字段2 -->
        EXT3	as "ext3",  <!-- 扩展字段3 -->
        EXT4	as "ext4",  <!-- 扩展字段4 -->
        EXT5	as "ext5",  <!-- 扩展字段5 -->
        EXT6	as "ext6",  <!-- 扩展字段6 -->
        EXT7	as "ext7" <!-- 扩展字段7 -->
        FROM T_GENERAL_SURVEY
        WHERE 1=1 and DELETE_FLAG='0'
        <if test="trainNo!=null and trainNo!=''">
            and TRAIN_NO like '%' || #{trainNo} || '%'
        </if>
        <if test="recNotifyNo!=null and recNotifyNo!=''">
            and REC_NOTIFY_NO like '%' || #{recNotifyNo} || '%'
        </if>
        <if test="recDetail!=null and recDetail!=''">
            and REC_DETAIL like '%' || #{recDetail} || '%'
        </if>
        <if test="orgType!=null and orgType!=''">
            and ORG_TYPE=#{orgType}
        </if>
        <if test="ids!=null and ids.size()>0">
            and REC_ID in (
            <foreach collection="ids" index="index" item="id" separator=",">
                #{id}
            </foreach>
            )
        </if>
        ORDER BY REC_CREATE_TIME desc
    </select>

</mapper>