<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzmtr.eam.mapper.equipment.WheelsetLathingMapper">

    <select id="pageWheelsetLathing" resultType="com.wzmtr.eam.dto.res.equipment.WheelsetLathingResDTO">
        SELECT
        REC_ID	as "recId",  <!-- 记录编号 -->
        TRAIN_NO	as "trainNo",  <!-- 列车号 -->
        CARRIAGE_NO	as "carriageNo",  <!-- 车厢号 -->
        AXLE_NO	as "axleNo",  <!-- 镟修轮对车轴 -->
        WHEEL_NO  as "wheelNo",  <!-- 镟修轮对号 -->
        WHEEL_HEIGHT  as "wheelHeight",  <!-- 轮高 -->
        WHEEL_THICK  as "wheelThick",  <!-- 轮厚 -->
        WHEEL_DIAMETER  as "wheelDiameter",  <!-- 轮径 -->
        REPAIR_DETAIL  as "repairDetail",  <!-- 镟修详情 -->
        START_DATE	as "startDate",  <!-- 开始日期 -->
        COMPLETE_DATE	as "completeDate",  <!-- 完成日期 -->
        RESP_PEOPLE	as "respPeople",  <!-- 负责人 -->
        REMARK	as "remark",  <!-- 备注 -->
        DOC_ID	as "docId",  <!-- 附件编号 -->
        REC_CREATOR	as "recCreator",  <!-- 创建者 -->
        REC_CREATE_TIME	as "recCreateTime",  <!-- 创建时间 -->
        REC_REVISOR	as "recRevisor",  <!-- 修改者 -->
        REC_REVISE_TIME	as "recReviseTime",  <!-- 修改时间 -->
        REC_DELETOR	as "recDeletor",  <!-- 删除者 -->
        REC_DELETE_TIME	as "recDeleteTime",  <!-- 删除时间 -->
        DELETE_FLAG	as "deleteFlag",  <!-- 删除标志 -->
        ARCHIVE_FLAG	as "archiveFlag",  <!-- 归档标记 -->
        REC_STATUS	as "recStatus",  <!-- 记录状态 -->
        EXT1	as "ext1",  <!-- 扩展字段1 -->
        EXT2	as "ext2",  <!-- 扩展字段2 -->
        EXT3	as "ext3",  <!-- 扩展字段3 -->
        EXT4	as "ext4",  <!-- 扩展字段4 -->
        EXT5	as "ext5",  <!-- 扩展字段5 -->
        EXT6	as "ext6",  <!-- 扩展字段6 -->
        EXT7	as "ext7" <!-- 扩展字段7 -->
        FROM T_WHEELSET_LATHING
        WHERE 1=1 and DELETE_FLAG='0'
        <if test="trainNo!=null and trainNo!=''">
            and TRAIN_NO like '%' || #{trainNo} || '%'
        </if>
        <if test="carriageNo!=null and carriageNo!=''">
            and CARRIAGE_NO like '%' || #{carriageNo} || '%'
        </if>
        <if test="axleNo!=null and axleNo!=''">
            and AXLE_NO like '%' || #{axleNo} || '%'
        </if>
        <if test="wheelNo!=null and wheelNo!=''">
            and WHEEL_NO like '%' || #{wheelNo} || '%'
        </if>
        ORDER BY REC_CREATE_TIME desc
    </select>

    <select id="getWheelsetLathingDetail" resultType="com.wzmtr.eam.dto.res.equipment.WheelsetLathingResDTO">
        SELECT
        REC_ID	as "recId",  <!-- 记录编号 -->
        TRAIN_NO	as "trainNo",  <!-- 列车号 -->
        CARRIAGE_NO	as "carriageNo",  <!-- 车厢号 -->
        AXLE_NO	as "axleNo",  <!-- 镟修轮对车轴 -->
        WHEEL_NO  as "wheelNo",  <!-- 镟修轮对号 -->
        WHEEL_HEIGHT  as "wheelHeight",  <!-- 轮高 -->
        WHEEL_THICK  as "wheelThick",  <!-- 轮厚 -->
        WHEEL_DIAMETER  as "wheelDiameter",  <!-- 轮径 -->
        REPAIR_DETAIL	as "repairDetail",  <!-- 镟修详情 -->
        START_DATE	as "startDate",  <!-- 开始日期 -->
        COMPLETE_DATE	as "completeDate",  <!-- 完成日期 -->
        RESP_PEOPLE	as "respPeople",  <!-- 负责人 -->
        REMARK	as "remark",  <!-- 备注 -->
        DOC_ID	as "docId",  <!-- 附件编号 -->
        REC_CREATOR	as "recCreator",  <!-- 创建者 -->
        REC_CREATE_TIME	as "recCreateTime",  <!-- 创建时间 -->
        REC_REVISOR	as "recRevisor",  <!-- 修改者 -->
        REC_REVISE_TIME	as "recReviseTime",  <!-- 修改时间 -->
        REC_DELETOR	as "recDeletor",  <!-- 删除者 -->
        REC_DELETE_TIME	as "recDeleteTime",  <!-- 删除时间 -->
        DELETE_FLAG	as "deleteFlag",  <!-- 删除标志 -->
        ARCHIVE_FLAG	as "archiveFlag",  <!-- 归档标记 -->
        REC_STATUS	as "recStatus",  <!-- 记录状态 -->
        EXT1	as "ext1",  <!-- 扩展字段1 -->
        EXT2	as "ext2",  <!-- 扩展字段2 -->
        EXT3	as "ext3",  <!-- 扩展字段3 -->
        EXT4	as "ext4",  <!-- 扩展字段4 -->
        EXT5	as "ext5",  <!-- 扩展字段5 -->
        EXT6	as "ext6",  <!-- 扩展字段6 -->
        EXT7	as "ext7" <!-- 扩展字段7 -->
        FROM T_WHEELSET_LATHING
        WHERE 1=1 and DELETE_FLAG='0' and REC_ID=#{id}
    </select>

    <insert id="addWheelsetLathing">
        INSERT INTO T_WHEELSET_LATHING (
        REC_ID,  <!-- 记录编号 -->
        TRAIN_NO,  <!-- 列车号 -->
        CARRIAGE_NO,  <!-- 车厢号 -->
        AXLE_NO,  <!-- 镟修轮对车轴 -->
        WHEEL_NO,  <!-- 镟修轮对号 -->
        WHEEL_HEIGHT,  <!-- 轮高 -->
        WHEEL_THICK,  <!-- 轮厚 -->
        WHEEL_DIAMETER,  <!-- 轮径 -->
        REPAIR_DETAIL,  <!-- 镟修详情 -->
        START_DATE,  <!-- 开始日期 -->
        COMPLETE_DATE,  <!-- 完成日期 -->
        RESP_PEOPLE,  <!-- 负责人 -->
        REMARK,  <!-- 备注 -->
        DOC_ID,  <!-- 附件编号 -->
        REC_CREATOR,  <!-- 创建者 -->
        REC_CREATE_TIME,  <!-- 创建时间 -->
        REC_REVISOR,  <!-- 修改者 -->
        REC_REVISE_TIME,  <!-- 修改时间 -->
        REC_DELETOR,  <!-- 删除者 -->
        REC_DELETE_TIME,  <!-- 删除时间 -->
        DELETE_FLAG,  <!-- 删除标志 -->
        ARCHIVE_FLAG,  <!-- 归档标记 -->
        REC_STATUS,  <!-- 记录状态 -->
        EXT1,  <!-- 扩展字段1 -->
        EXT2,  <!-- 扩展字段2 -->
        EXT3,  <!-- 扩展字段3 -->
        EXT4,  <!-- 扩展字段4 -->
        EXT5,  <!-- 扩展字段5 -->
        EXT6,  <!-- 扩展字段6 -->
        EXT7  <!-- 扩展字段7 -->)
        VALUES (
        #{recId,jdbcType=VARCHAR},
        #{trainNo,jdbcType=VARCHAR},
        #{carriageNo,jdbcType=VARCHAR},
        #{axleNo,jdbcType=VARCHAR},
        #{wheelNo,jdbcType=VARCHAR},
        #{wheelHeight,jdbcType=VARCHAR},
        #{wheelThick,jdbcType=VARCHAR},
        #{wheelDiameter,jdbcType=VARCHAR},
        #{repairDetail,jdbcType=VARCHAR},
        #{startDate,jdbcType=VARCHAR},
        #{completeDate,jdbcType=VARCHAR},
        #{respPeople,jdbcType=VARCHAR},
        #{remark,jdbcType=VARCHAR},
        #{docId,jdbcType=VARCHAR},
        #{recCreator,jdbcType=VARCHAR},
        #{recCreateTime,jdbcType=VARCHAR},
        #{recRevisor,jdbcType=VARCHAR},
        #{recReviseTime,jdbcType=VARCHAR},
        #{recDeletor,jdbcType=VARCHAR},
        #{recDeleteTime,jdbcType=VARCHAR},
        '0',
        #{archiveFlag,jdbcType=VARCHAR},
        #{recStatus,jdbcType=VARCHAR},
        #{ext1,jdbcType=VARCHAR},
        #{ext2,jdbcType=VARCHAR},
        #{ext3,jdbcType=VARCHAR},
        #{ext4,jdbcType=VARCHAR},
        #{ext5,jdbcType=VARCHAR},
        #{ext6,jdbcType=VARCHAR},
        #{ext7,jdbcType=VARCHAR})
    </insert>

    <update id="deleteWheelsetLathing">
        UPDATE T_WHEELSET_LATHING SET
        DELETE_FLAG='1', REC_DELETOR=#{userId}, REC_DELETE_TIME=#{time}
        WHERE REC_ID IN (
        <foreach collection="ids" index="index" item="id" separator=",">
            #{id}
        </foreach>
        )
    </update>

    <insert id="importWheelsetLathing">
        insert ALL
        <foreach collection="list" index="index" item="wheel" separator=" ">
            INTO T_WHEELSET_LATHING (
            REC_ID,  <!-- 记录编号 -->
            TRAIN_NO,  <!-- 列车号 -->
            CARRIAGE_NO,  <!-- 车厢号 -->
            AXLE_NO,  <!-- 镟修轮对车轴 -->
            WHEEL_NO,  <!-- 镟修轮对号 -->
            WHEEL_HEIGHT,  <!-- 轮高 -->
            WHEEL_THICK,  <!-- 轮厚 -->
            WHEEL_DIAMETER,  <!-- 轮径 -->
            REPAIR_DETAIL,  <!-- 镟修详情 -->
            START_DATE,  <!-- 开始日期 -->
            COMPLETE_DATE,  <!-- 完成日期 -->
            RESP_PEOPLE,  <!-- 负责人 -->
            REMARK,  <!-- 备注 -->
            DOC_ID,  <!-- 附件编号 -->
            REC_CREATOR,  <!-- 创建者 -->
            REC_CREATE_TIME,  <!-- 创建时间 -->
            REC_REVISOR,  <!-- 修改者 -->
            REC_REVISE_TIME,  <!-- 修改时间 -->
            REC_DELETOR,  <!-- 删除者 -->
            REC_DELETE_TIME,  <!-- 删除时间 -->
            DELETE_FLAG,  <!-- 删除标志 -->
            ARCHIVE_FLAG,  <!-- 归档标记 -->
            REC_STATUS,  <!-- 记录状态 -->
            EXT1,  <!-- 扩展字段1 -->
            EXT2,  <!-- 扩展字段2 -->
            EXT3,  <!-- 扩展字段3 -->
            EXT4,  <!-- 扩展字段4 -->
            EXT5,  <!-- 扩展字段5 -->
            EXT6,  <!-- 扩展字段6 -->
            EXT7  <!-- 扩展字段7 -->)
            VALUES (
            #{wheel.recId,jdbcType=VARCHAR},
            #{wheel.trainNo,jdbcType=VARCHAR},
            #{wheel.carriageNo,jdbcType=VARCHAR},
            #{wheel.axleNo,jdbcType=VARCHAR},
            #{wheel.wheelNo,jdbcType=VARCHAR},
            #{wheel.wheelHeight,jdbcType=VARCHAR},
            #{wheel.wheelThick,jdbcType=VARCHAR},
            #{wheel.wheelDiameter,jdbcType=VARCHAR},
            #{wheel.repairDetail,jdbcType=VARCHAR},
            #{wheel.startDate,jdbcType=VARCHAR},
            #{wheel.completeDate,jdbcType=VARCHAR},
            #{wheel.respPeople,jdbcType=VARCHAR},
            #{wheel.remark,jdbcType=VARCHAR},
            #{wheel.docId,jdbcType=VARCHAR},
            #{wheel.recCreator,jdbcType=VARCHAR},
            #{wheel.recCreateTime,jdbcType=VARCHAR},
            #{wheel.recRevisor,jdbcType=VARCHAR},
            #{wheel.recReviseTime,jdbcType=VARCHAR},
            #{wheel.recDeletor,jdbcType=VARCHAR},
            #{wheel.recDeleteTime,jdbcType=VARCHAR},
            '0',
            #{wheel.archiveFlag,jdbcType=VARCHAR},
            #{wheel.recStatus,jdbcType=VARCHAR},
            #{wheel.ext1,jdbcType=VARCHAR},
            #{wheel.ext2,jdbcType=VARCHAR},
            #{wheel.ext3,jdbcType=VARCHAR},
            #{wheel.ext4,jdbcType=VARCHAR},
            #{wheel.ext5,jdbcType=VARCHAR},
            #{wheel.ext6,jdbcType=VARCHAR},
            #{wheel.ext7,jdbcType=VARCHAR})
        </foreach>
        SELECT * FROM dual
    </insert>

    <select id="listWheelsetLathing" resultType="com.wzmtr.eam.dto.res.equipment.WheelsetLathingResDTO">
        SELECT
        REC_ID	as "recId",  <!-- 记录编号 -->
        TRAIN_NO	as "trainNo",  <!-- 列车号 -->
        CARRIAGE_NO	as "carriageNo",  <!-- 车厢号 -->
        AXLE_NO	as "axleNo",  <!-- 镟修轮对车轴 -->
        WHEEL_NO  as "wheelNo",  <!-- 镟修轮对号 -->
        WHEEL_HEIGHT  as "wheelHeight",  <!-- 轮高 -->
        WHEEL_THICK  as "wheelThick",  <!-- 轮厚 -->
        WHEEL_DIAMETER  as "wheelDiameter",  <!-- 轮径 -->
        REPAIR_DETAIL	as "repairDetail",  <!-- 镟修详情 -->
        START_DATE	as "startDate",  <!-- 开始日期 -->
        COMPLETE_DATE	as "completeDate",  <!-- 完成日期 -->
        RESP_PEOPLE	as "respPeople",  <!-- 负责人 -->
        REMARK	as "remark",  <!-- 备注 -->
        DOC_ID	as "docId",  <!-- 附件编号 -->
        REC_CREATOR	as "recCreator",  <!-- 创建者 -->
        REC_CREATE_TIME	as "recCreateTime",  <!-- 创建时间 -->
        REC_REVISOR	as "recRevisor",  <!-- 修改者 -->
        REC_REVISE_TIME	as "recReviseTime",  <!-- 修改时间 -->
        REC_DELETOR	as "recDeletor",  <!-- 删除者 -->
        REC_DELETE_TIME	as "recDeleteTime",  <!-- 删除时间 -->
        DELETE_FLAG	as "deleteFlag",  <!-- 删除标志 -->
        ARCHIVE_FLAG	as "archiveFlag",  <!-- 归档标记 -->
        REC_STATUS	as "recStatus",  <!-- 记录状态 -->
        EXT1	as "ext1",  <!-- 扩展字段1 -->
        EXT2	as "ext2",  <!-- 扩展字段2 -->
        EXT3	as "ext3",  <!-- 扩展字段3 -->
        EXT4	as "ext4",  <!-- 扩展字段4 -->
        EXT5	as "ext5",  <!-- 扩展字段5 -->
        EXT6	as "ext6",  <!-- 扩展字段6 -->
        EXT7	as "ext7" <!-- 扩展字段7 -->
        FROM T_WHEELSET_LATHING
        WHERE 1=1 and DELETE_FLAG='0'
        <if test="trainNo!=null and trainNo!=''">
            and TRAIN_NO like '%' || #{trainNo} || '%'
        </if>
        <if test="carriageNo!=null and carriageNo!=''">
            and CARRIAGE_NO like '%' || #{carriageNo} || '%'
        </if>
        <if test="axleNo!=null and axleNo!=''">
            and AXLE_NO like '%' || #{axleNo} || '%'
        </if>
        <if test="wheelNo!=null and wheelNo!=''">
            and WHEEL_NO like '%' || #{wheelNo} || '%'
        </if>
        ORDER BY REC_CREATE_TIME desc
    </select>

    <select id="exportWheelsetLathing" resultType="com.wzmtr.eam.dto.res.equipment.WheelsetLathingResDTO">
        SELECT
        REC_ID	as "recId",  <!-- 记录编号 -->
        TRAIN_NO	as "trainNo",  <!-- 列车号 -->
        CARRIAGE_NO	as "carriageNo",  <!-- 车厢号 -->
        AXLE_NO	as "axleNo",  <!-- 镟修轮对车轴 -->
        WHEEL_NO  as "wheelNo",  <!-- 镟修轮对号 -->
        WHEEL_HEIGHT  as "wheelHeight",  <!-- 轮高 -->
        WHEEL_THICK  as "wheelThick",  <!-- 轮厚 -->
        WHEEL_DIAMETER  as "wheelDiameter",  <!-- 轮径 -->
        REPAIR_DETAIL	as "repairDetail",  <!-- 镟修详情 -->
        START_DATE	as "startDate",  <!-- 开始日期 -->
        COMPLETE_DATE	as "completeDate",  <!-- 完成日期 -->
        RESP_PEOPLE	as "respPeople",  <!-- 负责人 -->
        REMARK	as "remark",  <!-- 备注 -->
        DOC_ID	as "docId",  <!-- 附件编号 -->
        REC_CREATOR	as "recCreator",  <!-- 创建者 -->
        REC_CREATE_TIME	as "recCreateTime",  <!-- 创建时间 -->
        REC_REVISOR	as "recRevisor",  <!-- 修改者 -->
        REC_REVISE_TIME	as "recReviseTime",  <!-- 修改时间 -->
        REC_DELETOR	as "recDeletor",  <!-- 删除者 -->
        REC_DELETE_TIME	as "recDeleteTime",  <!-- 删除时间 -->
        DELETE_FLAG	as "deleteFlag",  <!-- 删除标志 -->
        ARCHIVE_FLAG	as "archiveFlag",  <!-- 归档标记 -->
        REC_STATUS	as "recStatus",  <!-- 记录状态 -->
        EXT1	as "ext1",  <!-- 扩展字段1 -->
        EXT2	as "ext2",  <!-- 扩展字段2 -->
        EXT3	as "ext3",  <!-- 扩展字段3 -->
        EXT4	as "ext4",  <!-- 扩展字段4 -->
        EXT5	as "ext5",  <!-- 扩展字段5 -->
        EXT6	as "ext6",  <!-- 扩展字段6 -->
        EXT7	as "ext7" <!-- 扩展字段7 -->
        FROM T_WHEELSET_LATHING
        WHERE 1=1 and DELETE_FLAG='0'
        AND REC_ID IN (
        <foreach collection="ids" index="index" item="id" separator=",">
            #{id}
        </foreach>
        )
        ORDER BY REC_CREATE_TIME desc
    </select>
</mapper>