<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzmtr.eam.mapper.statistic.CarFaultMapper">

    <select id="query" resultType="com.wzmtr.eam.dto.res.statistic.CarFaultQueryResDTO">
        SELECT TO_CHAR(TO_DATE(t.FILLIN_TIME,'YYYY-MM-DD HH24:MI:SS'),'YYYYMM') AS fillinTime,
        t.OBJECT_CODE AS objectCode,
        t.OBJECT_NAME AS objectName,
        COUNT(1) AS faultCount
        FROM T_FAULT_INFO t
        WHERE EXISTS (SELECT 1
        FROM T_FAULT_ORDER a
        WHERE a.FAULT_NO = t.FAULT_NO
        AND a.ORDER_STATUS != '99'
        AND NVL(a.IS_FAULT,'10') = '10')
        AND t.MAJOR_CODE = '07'
        <!--开始、结束日期作为参数-->
        AND TO_DATE(t.FILLIN_TIME, 'YYYY-MM-DD HH24:MI:SS') <![CDATA[>=]]> TO_DATE(#{startTime}, 'YYYY-MM-DD')
        AND TO_DATE(#{endTime}, 'YYYY-MM-DD') + 1 <![CDATA[>]]> TO_DATE(t.FILLIN_TIME, 'YYYY-MM-DD HH24:MI:SS')
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="objectCode!=null and objectCode.size()>0">
                AND OBJECT_CODE IN
                <foreach item="item" index="index" collection="objectCode" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </trim>
        GROUP BY TO_CHAR(TO_DATE(t.FILLIN_TIME, 'YYYY-MM-DD HH24:MI:SS'), 'YYYYMM'), t.OBJECT_CODE, t.OBJECT_NAME
        ORDER BY TO_CHAR(TO_DATE(t.FILLIN_TIME, 'YYYY-MM-DD HH24:MI:SS'), 'YYYYMM'), t.OBJECT_CODE
    </select>

</mapper>