<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzmtr.eam.mapper.SpareAndCarVideo.CarVideoMapper">
    <insert id="add">
        INSERT INTO T_VIDEO_ACCESS (REC_ID,
                                    COMPANY_CODE,
                                    COMPANY_NAME,
                                    APPLY_NO,
                                    TRAIN_NO,
                                    EQUIP_CODE,
                                    APPLY_REASON,
                                    APPLY_TYPE,
                                    APPLIER_ID,
                                    APPLIER_MOB_PHONE,
                                    APPLY_DEPT_CODE,
                                    APPLY_DEPT_LEADER,
                                    APPLY_TIME,
                                    VIDEO_START_TIME,
                                    VIDEO_END_TIME,
                                    ENGINEER_ID,
                                    REPAIR_MANAGER_ID,
                                    DISPATCH_USER_ID,
                                    DISPATCH_TIME,
                                    WORK_TIME,
                                    WORK_FLOW_INST_ID,
                                    WORK_FLOW_INST_STATUS,
                                    REMARK,
                                    REC_CREATOR,
                                    REC_CREATE_TIME,
                                    REC_REVISOR,
                                    REC_REVISE_TIME,
                                    REC_DELETOR,
                                    REC_DELETE_TIME,
                                    DELETE_FLAG,
                                    ARCHIVE_FLAG,
                                    REC_STATUS,
                                    EXT1,
                                    EXT2,
                                    EXT3,
                                    EXT4,
                                    EXT5,
                                    WORK_CLASS)
        VALUES (#{recId,jdbcType=VARCHAR}, #{companyCode,jdbcType=VARCHAR}, #{companyName,jdbcType=VARCHAR},
                #{applyNo,jdbcType=VARCHAR}, #{trainNo,jdbcType=VARCHAR}, #{equipCode,jdbcType=VARCHAR},
                #{applyReason,jdbcType=VARCHAR}, #{applyType,jdbcType=VARCHAR}, #{applierId,jdbcType=VARCHAR},
                #{applierMobPhone,jdbcType=VARCHAR}, #{applyDeptCode,jdbcType=VARCHAR},
                #{applyDeptLeader,jdbcType=VARCHAR}, #{applyTime,jdbcType=VARCHAR},
                #{videoStartTime,jdbcType=VARCHAR}, #{videoEndTime,jdbcType=VARCHAR},
                #{engineerId,jdbcType=VARCHAR}, #{repairManagerId,jdbcType=VARCHAR},
                #{dispatchUserId,jdbcType=VARCHAR}, #{dispatchTime,jdbcType=VARCHAR}, #{workTime,jdbcType=VARCHAR},
                #{workFlowInstId,jdbcType=VARCHAR}, #{workFlowInstStatus,jdbcType=VARCHAR},
                #{remark,jdbcType=VARCHAR}, #{recCreator,jdbcType=VARCHAR}, #{recCreateTime,jdbcType=VARCHAR},
                #{recRevisor,jdbcType=VARCHAR}, #{recReviseTime,jdbcType=VARCHAR}, #{recDeletor,jdbcType=VARCHAR},
                #{recDeleteTime,jdbcType=VARCHAR}, #{deleteFlag,jdbcType=VARCHAR}, #{archiveFlag,jdbcType=VARCHAR},
                #{recStatus,jdbcType=VARCHAR}, #{ext1,jdbcType=VARCHAR}, #{ext2,jdbcType=VARCHAR},
                #{ext3,jdbcType=VARCHAR}, #{ext4,jdbcType=VARCHAR}, #{ext5,jdbcType=VARCHAR},
                #{workClass,jdbcType=VARCHAR})
    </insert>
    <update id="update">
        UPDATE T_VIDEO_ACCESS
        SET TRAIN_NO          = #{trainNo},
            EQUIP_CODE        = #{equipCode},
            APPLY_REASON      = #{applyReason},
            APPLY_TYPE        = #{applyType},
            APPLIER_ID        = #{applierId},
            APPLIER_MOB_PHONE = #{applierMobPhone},
            APPLY_DEPT_CODE   = #{applyDeptCode},
            APPLY_DEPT_LEADER = #{applyDeptLeader},
            APPLY_TIME        = #{applyTime},
            VIDEO_START_TIME  = #{videoStartTime},
            VIDEO_END_TIME    = #{videoEndTime},
            ENGINEER_ID       = #{engineerId},
            REPAIR_MANAGER_ID = #{repairManagerId},
            REMARK            = #{remark},
            REC_REVISOR       = #{recRevisor},
            REC_REVISE_TIME   = #{recReviseTime},
            DISPATCH_USER_ID=#{dispatchUserI}
        WHERE REC_ID = #{recId}
    </update>
    <update id="deleteByIds">
        update
        T_VIDEO_ACCESS
        set
        DELETE_FLAG='1', REC_DELETOR=#{userId}, REC_DELETE_TIME=#{time}
        WHERE REC_ID in
        <foreach collection="ids" item="id" index="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
    <select id="query" resultType="com.wzmtr.eam.dto.res.spareAndCarVideo.CarVideoResDTO">
        SELECT
        REC_ID	as "recId",
        COMPANY_CODE	as "companyCode",
        COMPANY_NAME	as "companyName",
        APPLY_NO	as "applyNo",
        TRAIN_NO	as "trainNo",
        APPLY_REASON	as "applyReason",
        APPLY_TYPE	as "applyType",
        APPLIER_ID	as "applierId",
        APPLIER_MOB_PHONE	as "applierMobPhone",
        APPLY_DEPT_CODE	as "applyDeptCode",
        APPLY_DEPT_LEADER	as "applyDeptLeader",
        APPLY_TIME	as "applyTime",
        VIDEO_START_TIME	as "videoStartTime",
        VIDEO_END_TIME	as "videoEndTime",
        ENGINEER_ID	as "engineerId",
        REPAIR_MANAGER_ID	as "repairManagerId",
        DISPATCH_USER_ID	as "dispatchUserId",
        DISPATCH_TIME	as "dispatchTime",
        WORKER_ID	as "workerId",
        WORK_TIME	as "workTime",
        CLOSER_ID	as "closerId",
        CLOSE_TIME	as "closeTime",
        WORK_FLOW_INST_ID	as "workFlowInstId",
        WORK_FLOW_INST_STATUS	as "workFlowInstStatus",
        REMARK	as "remark",
        REC_CREATOR	as "recCreator",
        REC_CREATE_TIME	as "recCreateTime",
        REC_REVISOR	as "recRevisor",
        REC_REVISE_TIME	as "recReviseTime",
        REC_DELETOR	as "recDeletor",
        REC_DELETE_TIME	as "recDeleteTime",
        DELETE_FLAG	as "deleteFlag",
        ARCHIVE_FLAG	as "archiveFlag",
        REC_STATUS	as "recStatus",
        EXT1	as "ext1",
        EXT2	as "ext2",
        EXT3	as "ext3",
        EXT4	as "ext4",
        EXT5	as "ext5",
        WORK_CLASS as "workClass"
        FROM T_VIDEO_ACCESS
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="recId!=null and recId!=''">
                and REC_ID = #{recId}
            </if>
            <if test="recStatus!=null and recStatus!=''">
                and REC_STATUS = #{recStatus}
            </if>
<!--            <if test="restoreDesc!=null and restoreDesc!=''">-->
<!--                and RESTORE_DESC = #{restoreDesc}-->
<!--            </if>-->
<!--            <if test="restoreDesc!=null and restoreDesc!=''">-->
<!--                and RESTORE_DESC = #{restoreDesc}-->
<!--            </if>-->
        </trim>
    </select>
    <select id="detail" resultType="com.wzmtr.eam.dto.res.spareAndCarVideo.CarVideoResDTO">
        SELECT
        REC_ID	as "recId",
        COMPANY_CODE	as "companyCode",
        COMPANY_NAME	as "companyName",
        APPLY_NO	as "applyNo",
        TRAIN_NO	as "trainNo",
        APPLY_REASON	as "applyReason",
        APPLY_TYPE	as "applyType",
        APPLIER_ID	as "applierId",
        APPLIER_MOB_PHONE	as "applierMobPhone",
        APPLY_DEPT_CODE	as "applyDeptCode",
        APPLY_DEPT_LEADER	as "applyDeptLeader",
        APPLY_TIME	as "applyTime",
        VIDEO_START_TIME	as "videoStartTime",
        VIDEO_END_TIME	as "videoEndTime",
        ENGINEER_ID	as "engineerId",
        REPAIR_MANAGER_ID	as "repairManagerId",
        DISPATCH_USER_ID	as "dispatchUserId",
        DISPATCH_TIME	as "dispatchTime",
        WORKER_ID	as "workerId",
        WORK_TIME	as "workTime",
        CLOSER_ID	as "closerId",
        CLOSE_TIME	as "closeTime",
        WORK_FLOW_INST_ID	as "workFlowInstId",
        WORK_FLOW_INST_STATUS	as "workFlowInstStatus",
        REMARK	as "remark",
        REC_CREATOR	as "recCreator",
        REC_CREATE_TIME	as "recCreateTime",
        REC_REVISOR	as "recRevisor",
        REC_REVISE_TIME	as "recReviseTime",
        REC_DELETOR	as "recDeletor",
        REC_DELETE_TIME	as "recDeleteTime",
        DELETE_FLAG	as "deleteFlag",
        ARCHIVE_FLAG	as "archiveFlag",
        REC_STATUS	as "recStatus",
        EXT1	as "ext1",
        EXT2	as "ext2",
        EXT3	as "ext3",
        EXT4	as "ext4",
        EXT5	as "ext5",
        WORK_CLASS as "workClass"
        FROM T_VIDEO_ACCESS
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="recId!=null and recId!=''">
                and REC_ID = #{recId}
            </if>
        </trim>
    </select>
    <select id="list" resultType="com.wzmtr.eam.dto.res.secure.SecureHazardResDTO">
        SELECT
        REC_ID as "recId",  <!-- 记录编号 -->
        RISK_ID as "riskId",  <!-- 隐患排查单号 -->
        INSPECT_DATE as "inspectDate",  <!-- 发现日期 -->
        RISK_RANK as "riskRank",  <!-- 隐患等级 -->
        RISK_DETAIL as "riskDetail",  <!-- 隐患内容 -->
        INSPECT_DEPT_CODE as "inspectDeptCode",  <!-- 报告部门 -->
        INSPECTOR_CODE as "inspectorCode",  <!-- 报告人 -->
        POSITION_DESC as "positionDesc",  <!-- 地点 -->
        POSITION1_CODE as "position1Code",  <!-- 位置一 -->
        POSITION2_CODE as "position2Code",  <!-- 位置二 -->
        POSITION3 as "position3",  <!-- 位置三 -->
        POSITION_REMARK as "positionRemark",  <!-- 位置补充说明 -->
        RISK_PIC as "riskPic",  <!-- 隐患照片 -->
        NOTIFY_DEPT_CODE as "notifyDeptCode",  <!-- 整改通知下达部门 -->
        RESTORE_DETAIL as "restoreDetail",  <!-- 整改措施 -->
        PLAN_DATE as "planDate",  <!-- 计划完成日期 -->
        RESTORE_DEPT_CODE as "restoreDeptCode",  <!-- 整改部门 -->
        RESTORE_PIC as "restorePic",  <!-- 整改照片 -->
        RESTORE_DESC as "restoreDesc",  <!-- 整改情况 -->
        EXAMINER_CODE as "examinerCode",  <!-- 复查人 -->
        EXAM_DATE as "examDate",  <!-- 复查日期 -->
        COMPLETION_DETAIL as "completionDetail",  <!-- 完成情况 -->
        UNDONE_DESC as "undoneDesc",  <!-- 未整改原因及建议 -->
        LAST_PLAN_DATE as "lastPlanDate",  <!-- 最终计划完成日期 -->
        LAST_CHECKER_ID as "lastCheckerId",  <!-- 追查人 -->
        LAST_CHECK_DATE as "lastCheckDate",  <!-- 追查日期 -->
        IS_RESTORED as "isRestored",  <!-- 是否整改 -->
        PLAN_NOTE as "planNote",  <!-- 备注 -->
        WORK_FLOW_INST_ID as "workFlowInstId",  <!-- 工作流实例ID -->
        WORK_FLOW_INST_STATUS as "workFlowInstStatus",  <!-- 工作流实例状态 -->
        REC_STATUS as "recStatus",  <!-- 记录状态 -->
        REC_CREATOR as "recCreator",  <!-- 创建者 -->
        REC_CREATE_TIME as "recCreateTime",  <!-- 创建时间 -->
        REC_REVISOR as "recRevisor",  <!-- 修改者 -->
        REC_REVISE_TIME as "recReviseTime",  <!-- 修改时间 -->
        REC_DELETOR as "recDeletor",  <!-- 删除者 -->
        REC_DELETE_TIME as "recDeleteTime",  <!-- 删除时间 -->
        DELETE_FLAG as "deleteFlag",  <!-- 删除标志 -->
        ARCHIVE_FLAG as "archiveFlag",  <!-- 归档标记 -->
        EXT1 as "ext1",  <!-- 扩展字段1 -->
        EXT2 as "ext2",  <!-- 扩展字段2 -->
        EXT3 as "ext3",  <!-- 扩展字段3 -->
        EXT4 as "ext4",  <!-- 扩展字段4 -->
        EXT5 as "ext5" <!-- 扩展字段5 -->
        FROM T_VIDEO_ACCESS
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="riskId!=null and riskId!=''">
                and RISK_ID = #{riskId}
            </if>
            <if test="begin!=null and begin!=''">
                and TO_DATE(INSPECT_DATE,'YYYY-MM-DD') <![CDATA[>=]]> TO_DATE(#{begin},'YYYY-MM-DD')
            </if>
            <if test="end!=null and end!=''">
                and TO_DATE(INSPECT_DATE,'YYYY-MM-DD') <![CDATA[<=]]> TO_DATE(#{end},'YYYY-MM-DD')
            </if>
            <if test="restoreDesc!=null and restoreDesc!=''">
                and RESTORE_DESC = #{restoreDesc}
            </if>
            <if test="workFlowInstStatus!=null and workFlowInstStatus!=''">
                and WORK_FLOW_INST_STATUS = #{workFlowInstStatus}
            </if>
        </trim>
    </select>

</mapper>