<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzmtr.eam.mapper.mea.CheckPlanMapper">

    <sql id="checkPlan-instrument-cols">
        SELECT
        a.REC_ID	as "recId",  <!-- 记录编号 -->
        a.INSTRM_PLAN_NO	as "instrmPlanNo",  <!-- 计量器具定检计划号 -->
        a.INSTRM_PLAN_TYPE	as "instrmPlanType",  <!-- 定抽检标识10:定检;20:抽检 -->
        a.EQUIP_CODE	as "equipCode",  <!-- 计量器具代码 -->
        a.EQUIP_NAME	as "equipName",  <!-- 计量器具名称 -->
        a.PLAN_PERIOD_MARK	as "planPeriodMark",  <!-- 定检计划时期 -->
        a.PLAN_BEGIN_DATE	as "planBeginDate",  <!-- 定检开始日期 -->
        a.PLAN_END_DATE	as "planEndDate",  <!-- 定检结束日期 -->
        a.USE_DEPT_CODE	as "useDeptCode",  <!-- 使用单位代码 -->
        a.USE_DEPT_CNAME	as "useDeptCname",  <!-- 使用单位 -->
        a.PLAN_CREATER_NO	as "planCreaterNo",  <!-- 计划人工号 -->
        a.PLAN_CREATER_NAME	as "planCreaterName",  <!-- 计划人 -->
        a.PLAN_CREATE_TIME	as "planCreateTime",  <!-- 计划提醒时间 -->
        a.PLAN_STATUS	as "planStatus",  <!-- 计划状态10:提交;20:检测中;30:完成检测 -->
        a.PLAN_NOTE	as "planNote",  <!-- 备注 -->
        a.WORK_FLOW_INST_ID	as "workFlowInstId",  <!-- 工作流实例ID -->
        a.WORK_FLOW_INST_STATUS	as "workFlowInstStatus",  <!-- 工作流实例状态 -->
        a.COMPANY_CODE	as "companyCode",  <!-- 公司代码 -->
        a.COMPANY_NAME	as "companyName",  <!-- 公司名称 -->
        a.REC_CREATOR	as "recCreator",  <!-- 创建者 -->
        a.REC_CREATE_TIME	as "recCreateTime",  <!-- 创建时间 -->
        a.REC_REVISOR	as "recRevisor",  <!-- 修改者 -->
        a.REC_REVISE_TIME	as "recReviseTime",  <!-- 修改时间 -->
        a.REC_DELETOR	as "recDeletor",  <!-- 删除者 -->
        a.REC_DELETE_TIME	as "recDeleteTime",  <!-- 删除时间 -->
        a.DELETE_FLAG	as "deleteFlag",  <!-- 删除标志 -->
        a.ARCHIVE_FLAG	as "archiveFlag",  <!-- 归档标记 -->
        a.REC_STATUS	as "recStatus",  <!-- 记录状态 -->
        a.EXT1	as "ext1",  <!-- 扩展字段1 -->
        a.EXT2	as "ext2",  <!-- 扩展字段2 -->
        a.EXT3	as "ext3",  <!-- 扩展字段3 -->
        a.EXT4	as "ext4",  <!-- 扩展字段4 -->
        a.EXT5	as "ext5", <!-- 扩展字段5 -->
        a.EDIT_DEPT_CODE as "editDeptCode"
    </sql>

    <select id="pageCheckPlan" resultType="com.wzmtr.eam.dto.res.CheckPlanResDTO">
        <include refid="checkPlan-instrument-cols"/>
        FROM T_MEA_CHECK_PLAN a WHERE 1=1 and a.DELETE_FLAG='0'
        <if test="req.instrmPlanNo!=null and req.instrmPlanNo!=''">
            and a.INSTRM_PLAN_NO like '%' || #{req.instrmPlanNo} || '%'
        </if>
        <if test="req.planCreaterName!=null and req.planCreaterName!=''">
            and a.PLAN_CREATER_NAME like '%' || #{req.planCreaterName} || '%'
        </if>
        <if test="req.planStatus!=null and req.planStatus!=''">
            and a.PLAN_STATUS=#{req.planStatus}
        </if>
        <if test="req.instrmPlanType!=null and req.instrmPlanType!=''">
            and a.INSTRM_PLAN_TYPE=#{req.instrmPlanType}
        </if>
        <if test="req.planPeriodMark!=null and req.planPeriodMark!=''">
            and a.PLAN_PERIOD_MARK=#{req.planPeriodMark}
        </if>
        <if test="req.editDeptCode!=null and req.editDeptCode!=''">
            and a.EDIT_DEPT_CODE=#{req.editDeptCode}
        </if>
        <if test="req.workFlowInstId!=null and req.workFlowInstId!=''">
            and a.WORK_FLOW_INST_ID=#{req.workFlowInstId}
        </if>
        order by a.INSTRM_PLAN_NO desc
    </select>

    <select id="getCheckPlanDetail" resultType="com.wzmtr.eam.dto.res.CheckPlanResDTO">
        <include refid="checkPlan-instrument-cols"/>
        FROM T_MEA_CHECK_PLAN a WHERE a.REC_ID=#{id}
    </select>

    <select id="getMaxCode" resultType="java.lang.String">
        select max(INSTRM_PLAN_NO)
        FROM T_MEA_CHECK_PLAN
    </select>

    <insert id="addCheckPlan">
        INSERT INTO T_MEA_CHECK_PLAN (
        REC_ID,  <!-- 记录编号 -->
        INSTRM_PLAN_NO,  <!-- 计量器具定检计划号 -->
        INSTRM_PLAN_TYPE,  <!-- 定抽检标识10:定检;20:抽检 -->
        EQUIP_CODE,  <!-- 计量器具代码 -->
        EQUIP_NAME,  <!-- 计量器具名称 -->
        PLAN_PERIOD_MARK,  <!-- 定检计划时期 -->
        PLAN_BEGIN_DATE,  <!-- 定检开始日期 -->
        PLAN_END_DATE,  <!-- 定检结束日期 -->
        USE_DEPT_CODE,  <!-- 使用单位代码 -->
        USE_DEPT_CNAME,  <!-- 使用单位 -->
        PLAN_CREATER_NO,  <!-- 计划人工号 -->
        PLAN_CREATER_NAME,  <!-- 计划人 -->
        PLAN_CREATE_TIME,  <!-- 计划提醒时间 -->
        PLAN_STATUS,  <!-- 计划状态10:提交;20:检测中;30:完成检测 -->
        PLAN_NOTE,  <!-- 备注 -->
        WORK_FLOW_INST_ID,  <!-- 工作流实例ID -->
        WORK_FLOW_INST_STATUS,  <!-- 工作流实例状态 -->
        COMPANY_CODE,  <!-- 公司代码 -->
        COMPANY_NAME,  <!-- 公司名称 -->
        REC_CREATOR,  <!-- 创建者 -->
        REC_CREATE_TIME,  <!-- 创建时间 -->
        REC_REVISOR,  <!-- 修改者 -->
        REC_REVISE_TIME,  <!-- 修改时间 -->
        REC_DELETOR,  <!-- 删除者 -->
        REC_DELETE_TIME,  <!-- 删除时间 -->
        DELETE_FLAG,  <!-- 删除标志 -->
        ARCHIVE_FLAG,  <!-- 归档标记 -->
        REC_STATUS,  <!-- 记录状态 -->
        EXT1,  <!-- 扩展字段1 -->
        EXT2,  <!-- 扩展字段2 -->
        EXT3,  <!-- 扩展字段3 -->
        EXT4,  <!-- 扩展字段4 -->
        EXT5,  <!-- 扩展字段5 -->
        EDIT_DEPT_CODE)
        VALUES (
        #{recId,jdbcType=VARCHAR},
        #{instrmPlanNo,jdbcType=VARCHAR},
        #{instrmPlanType,jdbcType=VARCHAR},
        #{equipCode,jdbcType=VARCHAR},
        #{equipName,jdbcType=VARCHAR},
        #{planPeriodMark,jdbcType=VARCHAR},
        #{planBeginDate,jdbcType=VARCHAR},
        #{planEndDate,jdbcType=VARCHAR},
        #{useDeptCode,jdbcType=VARCHAR},
        #{useDeptCname,jdbcType=VARCHAR},
        #{planCreaterNo,jdbcType=VARCHAR},
        #{planCreaterName,jdbcType=VARCHAR},
        #{planCreateTime,jdbcType=VARCHAR},
        #{planStatus,jdbcType=VARCHAR},
        #{planNote,jdbcType=VARCHAR},
        #{workFlowInstId,jdbcType=VARCHAR},
        #{workFlowInstStatus,jdbcType=VARCHAR},
        #{companyCode,jdbcType=VARCHAR},
        #{companyName,jdbcType=VARCHAR},
        #{recCreator,jdbcType=VARCHAR},
        #{recCreateTime,jdbcType=VARCHAR},
        #{recRevisor,jdbcType=VARCHAR},
        #{recReviseTime,jdbcType=VARCHAR},
        #{recDeletor,jdbcType=VARCHAR},
        #{recDeleteTime,jdbcType=VARCHAR},
        '0',
        #{archiveFlag,jdbcType=VARCHAR},
        #{recStatus,jdbcType=VARCHAR},
        #{ext1,jdbcType=VARCHAR},
        #{ext2,jdbcType=VARCHAR},
        #{ext3,jdbcType=VARCHAR},
        #{ext4,jdbcType=VARCHAR},
        #{ext5,jdbcType=VARCHAR},
        #{editDeptCode,jdbcType=VARCHAR})
    </insert>
    
    <update id="modifyCheckPlan">
        UPDATE T_MEA_CHECK_PLAN SET
        <if test="instrmPlanNo!=null">
            INSTRM_PLAN_NO=#{instrmPlanNo},   <!-- 计量器具定检计划号 -->
        </if>
        <if test="instrmPlanType!=null">
            INSTRM_PLAN_TYPE=#{instrmPlanType},   <!-- 定抽检标识10:定检;20:抽检 -->
        </if>
        <if test="equipCode!=null">
            EQUIP_CODE=#{equipCode},   <!-- 计量器具代码 -->
        </if>
        <if test="equipName!=null">
            EQUIP_NAME=#{equipName},   <!-- 计量器具名称 -->
        </if>
        <if test="planPeriodMark!=null">
            PLAN_PERIOD_MARK=#{planPeriodMark},   <!-- 定检计划时期 -->
        </if>
        <if test="planBeginDate!=null">
            PLAN_BEGIN_DATE=#{planBeginDate},   <!-- 定检开始日期 -->
        </if>
        <if test="planEndDate!=null">
            PLAN_END_DATE=#{planEndDate},   <!-- 定检结束日期 -->
        </if>
        <if test="useDeptCode!=null">
            USE_DEPT_CODE=#{useDeptCode},   <!-- 使用单位代码 -->
        </if>
        <if test="useDeptCname!=null">
            USE_DEPT_CNAME=#{useDeptCname},   <!-- 使用单位 -->
        </if>
        <if test="planCreaterNo!=null">
            PLAN_CREATER_NO=#{planCreaterNo},   <!-- 计划人工号 -->
        </if>
        <if test="planCreaterName!=null">
            PLAN_CREATER_NAME=#{planCreaterName},   <!-- 计划人 -->
        </if>
        <if test="planCreateTime!=null">
            PLAN_CREATE_TIME=#{planCreateTime},   <!-- 计划提醒时间 -->
        </if>
        <if test="planStatus!=null">
            PLAN_STATUS=#{planStatus},   <!-- 计划状态10:提交;20:检测中;30:完成检测 -->
        </if>
        <if test="planNote!=null">
            PLAN_NOTE=#{planNote},   <!-- 备注 -->
        </if>
        <if test="workFlowInstId!=null">
            WORK_FLOW_INST_ID=#{workFlowInstId},   <!-- 工作流实例ID -->
        </if>
        <if test="workFlowInstStatus!=null">
            WORK_FLOW_INST_STATUS=#{workFlowInstStatus},   <!-- 工作流实例状态 -->
        </if>
        <if test="companyCode!=null">
            COMPANY_CODE=#{companyCode},   <!-- 公司代码 -->
        </if>
        <if test="companyName!=null">
            COMPANY_NAME=#{companyName},   <!-- 公司名称 -->
        </if>
        <if test="archiveFlag!=null">
            ARCHIVE_FLAG=#{archiveFlag},   <!-- 归档标记 -->
        </if>
        <if test="recStatus!=null">
            REC_STATUS=#{recStatus},   <!-- 记录状态 -->
        </if>
        <if test="ext1!=null">
            EXT1=#{ext1},   <!-- 扩展字段1 -->
        </if>
        <if test="ext2!=null">
            EXT2=#{ext2},   <!-- 扩展字段2 -->
        </if>
        <if test="ext3!=null">
            EXT3=#{ext3},   <!-- 扩展字段3 -->
        </if>
        <if test="ext4!=null">
            EXT4=#{ext4},   <!-- 扩展字段4 -->
        </if>
        <if test="ext5!=null">
            EXT5=#{ext5},  <!-- 扩展字段5 -->
        </if>
        <if test="editDeptCode!=null">
            EDIT_DEPT_CODE=#{editDeptCode},
        </if>
        REC_REVISOR=#{recRevisor},   <!-- 修改者 -->
        REC_REVISE_TIME=#{recReviseTime}   <!-- 修改时间 -->
        WHERE REC_ID=#{recId}
    </update>

    <update id="deleteCheckPlanDetail">
        UPDATE T_MEA_INFO SET
        DELETE_FLAG='1', REC_DELETOR=#{userId}, REC_DELETE_TIME=#{time}
        <if test="instrmPlanNo!=null and instrmPlanNo!=''">
            WHERE INSTRM_PLAN_NO=#{instrmPlanNo}
        </if>
        <if test="id!=null and id!=''">
            WHERE REC_ID=#{id}
        </if>
    </update>

    <update id="deleteCheckPlan">
        UPDATE T_MEA_CHECK_PLAN SET
        DELETE_FLAG='1', REC_DELETOR=#{userId}, REC_DELETE_TIME=#{time}
        WHERE REC_ID=#{id}
    </update>

    <select id="listCheckPlan" resultType="com.wzmtr.eam.dto.res.CheckPlanResDTO">
        <include refid="checkPlan-instrument-cols"/>
        FROM T_MEA_CHECK_PLAN a WHERE 1=1 and a.DELETE_FLAG='0'
        <if test="instrmPlanNo!=null and instrmPlanNo!=''">
            and a.INSTRM_PLAN_NO like '%' || #{instrmPlanNo} || '%'
        </if>
        <if test="planCreaterName!=null and planCreaterName!=''">
            and a.PLAN_CREATER_NAME like '%' || #{planCreaterName} || '%'
        </if>
        <if test="planStatus!=null and planStatus!=''">
            and a.PLAN_STATUS=#{planStatus}
        </if>
        <if test="instrmPlanType!=null and instrmPlanType!=''">
            and a.INSTRM_PLAN_TYPE=#{instrmPlanType}
        </if>
        <if test="planPeriodMark!=null and planPeriodMark!=''">
            and a.PLAN_PERIOD_MARK=#{planPeriodMark}
        </if>
        <if test="editDeptCode!=null and editDeptCode!=''">
            and a.EDIT_DEPT_CODE=#{editDeptCode}
        </if>
        <if test="workFlowInstId!=null and workFlowInstId!=''">
            and a.WORK_FLOW_INST_ID=#{workFlowInstId}
        </if>
        order by a.INSTRM_PLAN_NO desc
    </select>

    <sql id="info-cols">
        SELECT
        a.REC_ID	as "recId",  <!-- 记录编号 -->
        a.INSTRM_PLAN_NO	as "instrmPlanNo",  <!-- 计量器具检定计划号 -->
        a.EQUIP_CODE	as "equipCode",  <!-- 计量器具代码 -->
        a.EQUIP_NAME	as "equipName",  <!-- 计量器具名称 -->
        a.MAT_SPECIFI	as "matSpecifi",  <!-- 型号规格 -->
        a.MANUFACTURE_NO	as "manufactureNo",  <!-- 出厂编号 -->
        a.MANUFACTURE	as "manufacture",  <!-- 生产厂家 -->
        a.INSTALLATION_UNIT	as "installationUnit",  <!-- 安装单位 -->
        a.VERIFY_DEPT	as "verifyDept",  <!-- 检定校准单位 -->
        a.VERIFY_PERIOD	as "verifyPeriod",  <!-- 检定周期(天) -->
        a.PLAN_BEGIN_DATE	as "planBeginDate",  <!-- 计划开始时间 -->
        a.PLAN_END_DATE	as "planEndDate",  <!-- 计划完成时间 -->
        a.EQUIPMENT_STATE	as "equipmentState",  <!-- 计量器具状态（10:在用;20:限用;30:维修;40:损坏;50:未查;60:送检;70:封存;80:丢失;90:禁用;） -->
        a.USE_DEPT_PLACE	as "useDeptPlace",  <!-- 计量器具使用地点 -->
        a.EQUIPMENT_REG_CODE	as "equipmentRegCode",  <!-- 计量器具注册登记代码 -->
        a.SECURITY_MANAGER	as "securityManager",  <!-- 安全管理人员 -->
        a.SECURITY_CONTACT	as "securityContact",  <!-- 安全管理人员联系方式 -->
        a.POSITION1_CODE	as "position1Code",  <!-- 位置一 -->
        a.POSITION1_NAME	as "position1Name",  <!-- 位置一名称 -->
        a.POSITION2_CODE	as "position2Code",  <!-- 位置二 -->
        a.POSITION2_NAME	as "position2Name",  <!-- 位置二名称 -->
        a.POSITION3	as "position3",  <!-- 位置三 -->
        a.POSITION_REMARK	as "positionRemark",  <!-- 位置补充说明 -->
        a.VERIFY_NOTE	as "verifyNote",  <!-- 备注 -->
        a.COMPANY_CODE	as "companyCode",  <!-- 公司代码 -->
        a.COMPANY_NAME	as "companyName",  <!-- 公司名称 -->
        a.REC_CREATOR	as "recCreator",  <!-- 创建者 -->
        a.REC_CREATE_TIME	as "recCreateTime",  <!-- 创建时间 -->
        a.REC_REVISOR	as "recRevisor",  <!-- 修改者 -->
        a.REC_REVISE_TIME	as "recReviseTime",  <!-- 修改时间 -->
        a.REC_DELETOR	as "recDeletor",  <!-- 删除者 -->
        a.REC_DELETE_TIME	as "recDeleteTime",  <!-- 删除时间 -->
        a.DELETE_FLAG	as "deleteFlag",  <!-- 删除标志 -->
        a.ARCHIVE_FLAG	as "archiveFlag",  <!-- 归档标记 -->
        a.REC_STATUS	as "recStatus",  <!-- 记录状态 -->
        a.EXT1	as "ext1",  <!-- 扩展字段1 -->
        a.EXT2	as "ext2",  <!-- 扩展字段2 -->
        a.EXT3	as "ext3",  <!-- 扩展字段3 -->
        a.EXT4	as "ext4",  <!-- 扩展字段4 -->
        a.EXT5	as "ext5", <!-- 扩展字段5 -->
        b.LAST_VERIFY_DATE  as "lastVerifyDate",
        b.EXPIRATION_DATE  as "validDate"
        <!--c.LAST_VERIFY_DATE+a.VERIFY_PERIOD as "validDate"-->
        FROM T_MEA_INFO a
        left join T_MEA_INSTRUMENT b on a.EQUIP_CODE=b.EQUIP_CODE
    </sql>

    <select id="pageInfo" resultType="com.wzmtr.eam.dto.res.MeaInfoResDTO">
        <include refid="info-cols"/>
        WHERE 1=1 and a.DELETE_FLAG='0'
        <if test="equipCode!=null and equipCode!=''">
            and a.EQUIP_CODE=#{equipCode}
        </if>
        <if test="instrmPlanNo!=null and instrmPlanNo!=''">
            and a.INSTRM_PLAN_NO=#{instrmPlanNo}
        </if>
        order by a.REC_CREATE_TIME desc
    </select>

    <select id="getInfoDetail" resultType="com.wzmtr.eam.dto.res.MeaInfoResDTO">
        <include refid="info-cols"/>
        WHERE 1=1 and a.REC_ID=#{id}
    </select>

    <insert id="addInfo">
        INSERT INTO T_MEA_INFO (
        REC_ID,  <!-- 记录编号 -->
        INSTRM_PLAN_NO,  <!-- 计量器具检定计划号 -->
        EQUIP_CODE,  <!-- 计量器具代码 -->
        EQUIP_NAME,  <!-- 计量器具名称 -->
        MAT_SPECIFI,  <!-- 型号规格 -->
        MANUFACTURE_NO,  <!-- 出厂编号 -->
        MANUFACTURE,  <!-- 生产厂家 -->
        INSTALLATION_UNIT,  <!-- 安装单位 -->
        VERIFY_DEPT,  <!-- 检定校准单位 -->
        VERIFY_PERIOD,  <!-- 检定周期(天) -->
        PLAN_BEGIN_DATE,  <!-- 计划开始时间 -->
        PLAN_END_DATE,  <!-- 计划完成时间 -->
        EQUIPMENT_STATE,  <!-- 计量器具状态（10:在用;20:限用;30:维修;40:损坏;50:未查;60:送检;70:封存;80:丢失;90:禁用;） -->
        USE_DEPT_PLACE,  <!-- 计量器具使用地点 -->
        EQUIPMENT_REG_CODE,  <!-- 计量器具注册登记代码 -->
        SECURITY_MANAGER,  <!-- 安全管理人员 -->
        SECURITY_CONTACT,  <!-- 安全管理人员联系方式 -->
        POSITION1_CODE,  <!-- 位置一 -->
        POSITION1_NAME,  <!-- 位置一名称 -->
        POSITION2_CODE,  <!-- 位置二 -->
        POSITION2_NAME,  <!-- 位置二名称 -->
        POSITION3,  <!-- 位置三 -->
        POSITION_REMARK,  <!-- 位置补充说明 -->
        VERIFY_NOTE,  <!-- 备注 -->
        COMPANY_CODE,  <!-- 公司代码 -->
        COMPANY_NAME,  <!-- 公司名称 -->
        REC_CREATOR,  <!-- 创建者 -->
        REC_CREATE_TIME,  <!-- 创建时间 -->
        REC_REVISOR,  <!-- 修改者 -->
        REC_REVISE_TIME,  <!-- 修改时间 -->
        REC_DELETOR,  <!-- 删除者 -->
        REC_DELETE_TIME,  <!-- 删除时间 -->
        DELETE_FLAG,  <!-- 删除标志 -->
        ARCHIVE_FLAG,  <!-- 归档标记 -->
        REC_STATUS,  <!-- 记录状态 -->
        EXT1,  <!-- 扩展字段1 -->
        EXT2,  <!-- 扩展字段2 -->
        EXT3,  <!-- 扩展字段3 -->
        EXT4,  <!-- 扩展字段4 -->
        EXT5  <!-- 扩展字段5 -->)
        VALUES (
        #{recId,jdbcType=VARCHAR},
        #{instrmPlanNo,jdbcType=VARCHAR},
        #{equipCode,jdbcType=VARCHAR},
        #{equipName,jdbcType=VARCHAR},
        #{matSpecifi,jdbcType=VARCHAR},
        #{manufactureNo,jdbcType=VARCHAR},
        #{manufacture,jdbcType=VARCHAR},
        #{installationUnit,jdbcType=VARCHAR},
        #{verifyDept,jdbcType=VARCHAR},
        #{verifyPeriod,jdbcType=NUMERIC},
        #{planBeginDate,jdbcType=VARCHAR},
        #{planEndDate,jdbcType=VARCHAR},
        #{equipmentState,jdbcType=VARCHAR},
        #{useDeptPlace,jdbcType=VARCHAR},
        #{equipmentRegCode,jdbcType=VARCHAR},
        #{securityManager,jdbcType=VARCHAR},
        #{securityContact,jdbcType=VARCHAR},
        #{position1Code,jdbcType=VARCHAR},
        #{position1Name,jdbcType=VARCHAR},
        #{position2Code,jdbcType=VARCHAR},
        #{position2Name,jdbcType=VARCHAR},
        #{position3,jdbcType=VARCHAR},
        #{positionRemark,jdbcType=VARCHAR},
        #{verifyNote,jdbcType=VARCHAR},
        #{companyCode,jdbcType=VARCHAR},
        #{companyName,jdbcType=VARCHAR},
        #{recCreator,jdbcType=VARCHAR},
        #{recCreateTime,jdbcType=VARCHAR},
        #{recRevisor,jdbcType=VARCHAR},
        #{recReviseTime,jdbcType=VARCHAR},
        #{recDeletor,jdbcType=VARCHAR},
        #{recDeleteTime,jdbcType=VARCHAR},
        '0',
        #{archiveFlag,jdbcType=VARCHAR},
        #{recStatus,jdbcType=VARCHAR},
        #{ext1,jdbcType=VARCHAR},
        #{ext2,jdbcType=VARCHAR},
        #{ext3,jdbcType=VARCHAR},
        #{ext4,jdbcType=VARCHAR},
        #{ext5,jdbcType=VARCHAR})
    </insert>

    <update id="modifyInfo">
        UPDATE T_MEA_INFO SET
        <if test="instrmPlanNo!=null">
            INSTRM_PLAN_NO=#{instrmPlanNo},   <!-- 计量器具检定计划号 -->
        </if>
        <if test="equipCode!=null">
            EQUIP_CODE=#{equipCode},   <!-- 计量器具代码 -->
        </if>
        <if test="equipName!=null">
            EQUIP_NAME=#{equipName},   <!-- 计量器具名称 -->
        </if>
        <if test="matSpecifi!=null">
            MAT_SPECIFI=#{matSpecifi},   <!-- 型号规格 -->
        </if>
        <if test="manufactureNo!=null">
            MANUFACTURE_NO=#{manufactureNo},   <!-- 出厂编号 -->
        </if>
        <if test="manufacture!=null">
            MANUFACTURE=#{manufacture},   <!-- 生产厂家 -->
        </if>
        <if test="installationUnit!=null">
            INSTALLATION_UNIT=#{installationUnit},   <!-- 安装单位 -->
        </if>
        <if test="verifyDept!=null">
            VERIFY_DEPT=#{verifyDept},   <!-- 检定校准单位 -->
        </if>
        <if test="verifyPeriod!=null">
            VERIFY_PERIOD=#{verifyPeriod,jdbcType=NUMERIC},   <!-- 检定周期(天) -->
        </if>
        <if test="planBeginDate!=null">
            PLAN_BEGIN_DATE=#{planBeginDate},   <!-- 计划开始时间 -->
        </if>
        <if test="planEndDate!=null">
            PLAN_END_DATE=#{planEndDate},   <!-- 计划完成时间 -->
        </if>
        <if test="equipmentState!=null">
            EQUIPMENT_STATE=#{equipmentState},   <!-- 计量器具状态（10:在用;20:限用;30:维修;40:损坏;50:未查;60:送检;70:封存;80:丢失;90:禁用;） -->
        </if>
        <if test="useDeptPlace!=null">
            USE_DEPT_PLACE=#{useDeptPlace},   <!-- 计量器具使用地点 -->
        </if>
        <if test="equipmentRegCode!=null">
            EQUIPMENT_REG_CODE=#{equipmentRegCode},   <!-- 计量器具注册登记代码 -->
        </if>
        <if test="securityManager!=null">
            SECURITY_MANAGER=#{securityManager},   <!-- 安全管理人员 -->
        </if>
        <if test="securityContact!=null">
            SECURITY_CONTACT=#{securityContact},   <!-- 安全管理人员联系方式 -->
        </if>
        <if test="position1Code!=null">
            POSITION1_CODE=#{position1Code},   <!-- 位置一 -->
        </if>
        <if test="position1Name!=null">
            POSITION1_NAME=#{position1Name},   <!-- 位置一名称 -->
        </if>
        <if test="position2Code!=null">
            POSITION2_CODE=#{position2Code},   <!-- 位置二 -->
        </if>
        <if test="position2Name!=null">
            POSITION2_NAME=#{position2Name},   <!-- 位置二名称 -->
        </if>
        <if test="position3!=null">
            POSITION3=#{position3},   <!-- 位置三 -->
        </if>
        <if test="positionRemark!=null">
            POSITION_REMARK=#{positionRemark},   <!-- 位置补充说明 -->
        </if>
        <if test="verifyNote!=null">
            VERIFY_NOTE=#{verifyNote},   <!-- 备注 -->
        </if>
        <if test="companyCode!=null">
            COMPANY_CODE=#{companyCode},   <!-- 公司代码 -->
        </if>
        <if test="companyName!=null">
            COMPANY_NAME=#{companyName},   <!-- 公司名称 -->
        </if>
        <if test="archiveFlag!=null">
            ARCHIVE_FLAG=#{archiveFlag},   <!-- 归档标记 -->
        </if>
        <if test="recStatus!=null">
            REC_STATUS=#{recStatus},   <!-- 记录状态 -->
        </if>
        <if test="ext1!=null">
            EXT1=#{ext1},   <!-- 扩展字段1 -->
        </if>
        <if test="ext2!=null">
            EXT2=#{ext2},   <!-- 扩展字段2 -->
        </if>
        <if test="ext3!=null">
            EXT3=#{ext3},   <!-- 扩展字段3 -->
        </if>
        <if test="ext4!=null">
            EXT4=#{ext4},   <!-- 扩展字段4 -->
        </if>
        <if test="ext5!=null">
            EXT5=#{ext5},  <!-- 扩展字段5 -->
        </if>
        REC_REVISOR=#{recRevisor},   <!-- 修改者 -->
        REC_REVISE_TIME=#{recReviseTime}   <!-- 修改时间 -->
        WHERE REC_ID=#{recId}
    </update>

    <select id="listInfo" resultType="com.wzmtr.eam.dto.res.MeaInfoResDTO">
        <include refid="info-cols"/>
        WHERE 1=1 and a.DELETE_FLAG='0'
        <if test="equipCode!=null and equipCode!=''">
            and a.EQUIP_CODE=#{equipCode}
        </if>
        <if test="instrmPlanNo!=null and instrmPlanNo!=''">
            and a.INSTRM_PLAN_NO=#{instrmPlanNo}
        </if>
        order by a.REC_CREATE_TIME desc
    </select>

</mapper>