<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzmtr.eam.mapper.specialEquip.DetectionMapper">

    <select id="pageDetection" resultType="com.wzmtr.eam.dto.res.specialEquip.DetectionResDTO">
        SELECT
        a.REC_ID	as "recId",  <!-- 记录编号 -->
        a.CHECK_NO  as "checkNo",
        a.SEND_VERIFY_NO	as "sendVerifyNo",  <!-- 检测单号 -->
        a.INSTRM_PLAN_NO	as "instrmPlanNo",  <!-- 特种设备检验计划号 -->
        a.EDIT_DEPT_CODE	as "editDeptCode",  <!-- 编制部门 -->
        a.VERIFY_DEPT	as "verifyDept",  <!-- 检测校准单位 -->
        a.VERIFY_NOTE	as "verifyNote",  <!-- 备注 -->
        a.ASSET_KIND_CODE as "assetKindCode",
        <!--a.VERIFY_TYPE as "verifyType",-->
        a.SEC_ORG as "secOrg",
        a.MANAGE_ORG as "manageOrg",
        a.WORK_FLOW_INST_ID	as "workFlowInstId",  <!-- 工作流实例ID -->
        a.WORK_FLOW_INST_STATUS	as "workFlowInstStatus",  <!-- 工作流实例状态 -->
        a.COMPANY_CODE	as "companyCode",  <!-- 公司代码 -->
        a.COMPANY_NAME	as "companyName",  <!-- 公司名称 -->
        a.REC_CREATOR	as "recCreator",  <!-- 创建者 -->
        a.REC_CREATE_TIME	as "recCreateTime",  <!-- 创建时间 -->
        a.REC_REVISOR	as "recRevisor",  <!-- 修改者 -->
        a.REC_REVISE_TIME	as "recReviseTime",  <!-- 修改时间 -->
        a.REC_DELETOR	as "recDeletor",  <!-- 删除者 -->
        a.REC_DELETE_TIME	as "recDeleteTime",  <!-- 删除时间 -->
        a.DELETE_FLAG	as "deleteFlag",  <!-- 删除标志 -->
        a.ARCHIVE_FLAG	as "archiveFlag",  <!-- 归档标记 -->
        a.REC_STATUS	as "recStatus",  <!-- 记录状态 -->
        a.EXT1	as "ext1",  <!-- 扩展字段1 -->
        a.EXT2	as "ext2",  <!-- 扩展字段2 -->
        a.EXT3	as "ext3",  <!-- 扩展字段3 -->
        a.EXT4	as "ext4",  <!-- 扩展字段4 -->
        a.EXT5	as "ext5" <!-- 扩展字段5 -->
        <!--b.SEND_CONSIGNER_NAME as "sendConsignerName",-->
        <!--b.SEND_CONSIGNER_TELE as "sendConsignerTele",-->
        <!--b.SEND_RECEIVER_NAME as "sendReceiverName",-->
        <!--b.SEND_RECEIVER_TELE as "sendReceiverTele"-->
        <!--c.REC_ID as "verifyRecId"-->
        <!--c.VERIFY_DATE as "verifyDate"-->
        FROM T_DETECTION a
        <!--LEFT JOIN WBPLAT.TDMSE01 b on a.SEND_VERIFY_NO=b.SEND_VERIFY_NO-->
        <!--LEFT JOIN WBPLAT.TDMSE22 c on a.REC_ID=c.TEST_REC_ID-->
        WHERE 1=1 and a.DELETE_FLAG='0'
        <if test="checkNo!=null and checkNo!=''">
            and a.CHECK_NO like '%' || #{checkNo} || '%'
        </if>
        <if test="sendVerifyNo!=null and sendVerifyNo!=''">
            and a.SEND_VERIFY_NO like '%' || #{sendVerifyNo} || '%'
        </if>
        <if test="editDeptCode!=null and editDeptCode!=''">
            and a.EDIT_DEPT_CODE=#{editDeptCode}
        </if>
        <if test="recStatus!=null and recStatus!=''">
            and a.REC_STATUS=#{recStatus}
        </if>
        ORDER BY a.CHECK_NO desc
    </select>

    <select id="getDetectionDetail" resultType="com.wzmtr.eam.dto.res.specialEquip.DetectionResDTO">
        SELECT
        a.REC_ID	as "recId",  <!-- 记录编号 -->
        a.CHECK_NO  as "checkNo",
        a.SEND_VERIFY_NO	as "sendVerifyNo",  <!-- 检测单号 -->
        a.INSTRM_PLAN_NO	as "instrmPlanNo",  <!-- 特种设备检验计划号 -->
        a.EDIT_DEPT_CODE	as "editDeptCode",  <!-- 编制部门 -->
        a.VERIFY_DEPT	as "verifyDept",  <!-- 检测校准单位 -->
        a.VERIFY_NOTE	as "verifyNote",  <!-- 备注 -->
        a.ASSET_KIND_CODE as "assetKindCode",
        <!--a.VERIFY_TYPE as "verifyType",-->
        a.SEC_ORG as "secOrg",
        a.MANAGE_ORG as "manageOrg",
        a.WORK_FLOW_INST_ID	as "workFlowInstId",  <!-- 工作流实例ID -->
        a.WORK_FLOW_INST_STATUS	as "workFlowInstStatus",  <!-- 工作流实例状态 -->
        a.COMPANY_CODE	as "companyCode",  <!-- 公司代码 -->
        a.COMPANY_NAME	as "companyName",  <!-- 公司名称 -->
        a.REC_CREATOR	as "recCreator",  <!-- 创建者 -->
        a.REC_CREATE_TIME	as "recCreateTime",  <!-- 创建时间 -->
        a.REC_REVISOR	as "recRevisor",  <!-- 修改者 -->
        a.REC_REVISE_TIME	as "recReviseTime",  <!-- 修改时间 -->
        a.REC_DELETOR	as "recDeletor",  <!-- 删除者 -->
        a.REC_DELETE_TIME	as "recDeleteTime",  <!-- 删除时间 -->
        a.DELETE_FLAG	as "deleteFlag",  <!-- 删除标志 -->
        a.ARCHIVE_FLAG	as "archiveFlag",  <!-- 归档标记 -->
        a.REC_STATUS	as "recStatus",  <!-- 记录状态 -->
        a.EXT1	as "ext1",  <!-- 扩展字段1 -->
        a.EXT2	as "ext2",  <!-- 扩展字段2 -->
        a.EXT3	as "ext3",  <!-- 扩展字段3 -->
        a.EXT4	as "ext4",  <!-- 扩展字段4 -->
        a.EXT5	as "ext5" <!-- 扩展字段5 -->
        <!--b.SEND_CONSIGNER_NAME as "sendConsignerName",-->
        <!--b.SEND_CONSIGNER_TELE as "sendConsignerTele",-->
        <!--b.SEND_RECEIVER_NAME as "sendReceiverName",-->
        <!--b.SEND_RECEIVER_TELE as "sendReceiverTele"-->
        <!--c.REC_ID as "verifyRecId"-->
        <!--c.VERIFY_DATE as "verifyDate"-->
        FROM T_DETECTION a
        <!--LEFT JOIN WBPLAT.TDMSE01 b on a.SEND_VERIFY_NO=b.SEND_VERIFY_NO-->
        <!--LEFT JOIN WBPLAT.TDMSE22 c on a.REC_ID=c.TEST_REC_ID-->
        WHERE 1=1 and a.REC_ID=#{id}
    </select>

    <select id="getMaxCode" resultType="java.lang.String">
        SELECT max(CHECK_NO)
        FROM T_DETECTION
    </select>

    <insert id="addDetection">
        INSERT INTO T_DETECTION (
        REC_ID,  <!-- 记录编号 -->
        CHECK_NO,
        SEND_VERIFY_NO,  <!-- 检测单号 -->
        INSTRM_PLAN_NO,  <!-- 特种设备检验计划号 -->
        EDIT_DEPT_CODE,  <!-- 特种设备检测计划明细表REC_ID -->
        VERIFY_DEPT,  <!-- 检测校准单位 -->
        VERIFY_NOTE,  <!-- 备注 -->
        WORK_FLOW_INST_ID,  <!-- 工作流实例ID -->
        WORK_FLOW_INST_STATUS,  <!-- 工作流实例状态 -->
        COMPANY_CODE,  <!-- 公司代码 -->
        COMPANY_NAME,  <!-- 公司名称 -->
        REC_CREATOR,  <!-- 创建者 -->
        REC_CREATE_TIME,  <!-- 创建时间 -->
        REC_REVISOR,  <!-- 修改者 -->
        REC_REVISE_TIME,  <!-- 修改时间 -->
        REC_DELETOR,  <!-- 删除者 -->
        REC_DELETE_TIME,  <!-- 删除时间 -->
        DELETE_FLAG,  <!-- 删除标志 -->
        ARCHIVE_FLAG,  <!-- 归档标记 -->
        REC_STATUS,  <!-- 记录状态 -->
        EXT1,  <!-- 扩展字段1 -->
        EXT2,  <!-- 扩展字段2 -->
        EXT3,  <!-- 扩展字段3 -->
        EXT4,  <!-- 扩展字段4 -->
        EXT5,  <!-- 扩展字段5 -->
        MANAGE_ORG,
        SEC_ORG,
        ASSET_KIND_CODE
        <!--VERIFY_TYPE-->)
        VALUES (
        #{recId,jdbcType=VARCHAR},
        #{checkNo,jdbcType=VARCHAR},
        #{sendVerifyNo,jdbcType=VARCHAR},
        #{instrmPlanNo,jdbcType=VARCHAR},
        #{editDeptCode,jdbcType=VARCHAR},
        #{verifyDept,jdbcType=VARCHAR},
        #{verifyNote,jdbcType=VARCHAR},
        #{workFlowInstId,jdbcType=VARCHAR},
        #{workFlowInstStatus,jdbcType=VARCHAR},
        #{companyCode,jdbcType=VARCHAR},
        #{companyName,jdbcType=VARCHAR},
        #{recCreator,jdbcType=VARCHAR},
        #{recCreateTime,jdbcType=VARCHAR},
        #{recRevisor,jdbcType=VARCHAR},
        #{recReviseTime,jdbcType=VARCHAR},
        #{recDeletor,jdbcType=VARCHAR},
        #{recDeleteTime,jdbcType=VARCHAR},
        '0',
        #{archiveFlag,jdbcType=VARCHAR},
        #{recStatus,jdbcType=VARCHAR},
        #{ext1,jdbcType=VARCHAR},
        #{ext2,jdbcType=VARCHAR},
        #{ext3,jdbcType=VARCHAR},
        #{ext4,jdbcType=VARCHAR},
        #{ext5,jdbcType=VARCHAR},
        #{manageOrg,jdbcType=VARCHAR},
        #{secOrg,jdbcType=VARCHAR},
        #{assetKindCode,jdbcType=VARCHAR})
    </insert>

    <select id="hasDetail" resultType="java.lang.String">
        SELECT 1 FROM T_DETECTION_DETAIL WHERE TEST_REC_ID=#{testRecId}
    </select>
    
    <update id="modifyDetection">
        UPDATE T_DETECTION SET
        <if test="sendVerifyNo!=null">
            SEND_VERIFY_NO=#{sendVerifyNo},   <!-- 检测单号 -->
        </if>
        <if test="checkNo!=null">
            CHECK_NO  =#{checkNo},
        </if>
        <if test="instrmPlanNo!=null">
            INSTRM_PLAN_NO=#{instrmPlanNo},   <!-- 特种设备检验计划号 -->
        </if>
        <if test="editDeptCode!=null">
            EDIT_DEPT_CODE=#{editDeptCode},   <!-- 特种设备检测计划明细表REC_ID -->
        </if>
        <if test="verifyDept!=null">
            VERIFY_DEPT=#{verifyDept},   <!-- 检测校准单位 -->
        </if>
        <if test="verifyNote!=null">
            VERIFY_NOTE=#{verifyNote},   <!-- 备注 -->
        </if>
        <if test="workFlowInstId!=null">
            WORK_FLOW_INST_ID=#{workFlowInstId},   <!-- 工作流实例ID -->
        </if>
        <if test="workFlowInstStatus!=null">
            WORK_FLOW_INST_STATUS=#{workFlowInstStatus},   <!-- 工作流实例状态 -->
        </if>
        <if test="companyCode!=null">
            COMPANY_CODE=#{companyCode},   <!-- 公司代码 -->
        </if>
        <if test="companyName!=null">
            COMPANY_NAME=#{companyName},   <!-- 公司名称 -->
        </if>
        <if test="archiveFlag!=null">
            ARCHIVE_FLAG=#{archiveFlag},   <!-- 归档标记 -->
        </if>
        <if test="recStatus!=null">
            REC_STATUS=#{recStatus},   <!-- 记录状态 -->
        </if>
        <if test="ext1!=null">
            EXT1=#{ext1},   <!-- 扩展字段1 -->
        </if>
        <if test="ext2!=null">
            EXT2=#{ext2},   <!-- 扩展字段2 -->
        </if>
        <if test="ext3!=null">
            EXT3=#{ext3},   <!-- 扩展字段3 -->
        </if>
        <if test="manageOrg!=null">
            MANAGE_ORG=#{manageOrg},   <!-- 管理部门 -->
        </if>
        <if test="secOrg!=null">
            SEC_ORG=#{secOrg},   <!-- 维管部门 -->
        </if>
        <if test="ext4!=null">
            EXT4=#{ext4},   <!-- 扩展字段4 -->
        </if>
        <if test="ext5!=null">
            EXT5=#{ext5},  <!-- 扩展字段5 -->
        </if>
        <if test="assetKindCode!=null">
            ASSET_KIND_CODE=#{assetKindCode},
        </if>
        REC_REVISOR=#{recRevisor},   <!-- 修改者 -->
        REC_REVISE_TIME=#{recReviseTime}   <!-- 修改时间 -->
        <!--VERIFY_TYPE=#verifyType#-->
        WHERE REC_ID=#{recId}
    </update>

    <delete id="deleteDetectionDetail">
        UPDATE T_DETECTION_DETAIL SET
        DELETE_FLAG='1', REC_DELETOR=#{userId}, REC_DELETE_TIME=#{time}
        <if test="testRecId!=null and testRecId!=''">
            WHERE TEST_REC_ID=#{testRecId}
        </if>
        <if test="recId!=null and recId!=''">
            WHERE REC_ID=#{recId}
        </if>
    </delete>

    <update id="deleteDetection">
        UPDATE T_DETECTION SET
        DELETE_FLAG='1', REC_DELETOR=#{userId}, REC_DELETE_TIME=#{time}
        WHERE REC_ID=#{id}
    </update>

    <select id="listDetection" resultType="com.wzmtr.eam.dto.res.specialEquip.DetectionResDTO">
        SELECT
        a.REC_ID	as "recId",  <!-- 记录编号 -->
        a.CHECK_NO  as "checkNo",
        a.SEND_VERIFY_NO	as "sendVerifyNo",  <!-- 检测单号 -->
        a.INSTRM_PLAN_NO	as "instrmPlanNo",  <!-- 特种设备检验计划号 -->
        a.EDIT_DEPT_CODE	as "editDeptCode",  <!-- 编制部门 -->
        a.VERIFY_DEPT	as "verifyDept",  <!-- 检测校准单位 -->
        a.VERIFY_NOTE	as "verifyNote",  <!-- 备注 -->
        a.ASSET_KIND_CODE as "assetKindCode",
        <!--a.VERIFY_TYPE as "verifyType",-->
        a.SEC_ORG as "secOrg",
        a.MANAGE_ORG as "manageOrg",
        a.WORK_FLOW_INST_ID	as "workFlowInstId",  <!-- 工作流实例ID -->
        a.WORK_FLOW_INST_STATUS	as "workFlowInstStatus",  <!-- 工作流实例状态 -->
        a.COMPANY_CODE	as "companyCode",  <!-- 公司代码 -->
        a.COMPANY_NAME	as "companyName",  <!-- 公司名称 -->
        a.REC_CREATOR	as "recCreator",  <!-- 创建者 -->
        a.REC_CREATE_TIME	as "recCreateTime",  <!-- 创建时间 -->
        a.REC_REVISOR	as "recRevisor",  <!-- 修改者 -->
        a.REC_REVISE_TIME	as "recReviseTime",  <!-- 修改时间 -->
        a.REC_DELETOR	as "recDeletor",  <!-- 删除者 -->
        a.REC_DELETE_TIME	as "recDeleteTime",  <!-- 删除时间 -->
        a.DELETE_FLAG	as "deleteFlag",  <!-- 删除标志 -->
        a.ARCHIVE_FLAG	as "archiveFlag",  <!-- 归档标记 -->
        a.REC_STATUS	as "recStatus",  <!-- 记录状态 -->
        a.EXT1	as "ext1",  <!-- 扩展字段1 -->
        a.EXT2	as "ext2",  <!-- 扩展字段2 -->
        a.EXT3	as "ext3",  <!-- 扩展字段3 -->
        a.EXT4	as "ext4",  <!-- 扩展字段4 -->
        a.EXT5	as "ext5" <!-- 扩展字段5 -->
        <!--b.SEND_CONSIGNER_NAME as "sendConsignerName",-->
        <!--b.SEND_CONSIGNER_TELE as "sendConsignerTele",-->
        <!--b.SEND_RECEIVER_NAME as "sendReceiverName",-->
        <!--b.SEND_RECEIVER_TELE as "sendReceiverTele"-->
        <!--c.REC_ID as "verifyRecId"-->
        <!--c.VERIFY_DATE as "verifyDate"-->
        FROM T_DETECTION a
        <!--LEFT JOIN WBPLAT.TDMSE01 b on a.SEND_VERIFY_NO=b.SEND_VERIFY_NO-->
        <!--LEFT JOIN WBPLAT.TDMSE22 c on a.REC_ID=c.TEST_REC_ID-->
        WHERE 1=1 and a.DELETE_FLAG='0'
        <if test="recId!=null and recId!=''">
            and a.REC_ID=#{recId}
        </if>
        <if test="checkNo!=null and checkNo!=''">
            and a.CHECK_NO like '%' || #{checkNo} || '%'
        </if>
        <if test="sendVerifyNo!=null and sendVerifyNo!=''">
            and a.SEND_VERIFY_NO like '%' || #{sendVerifyNo} || '%'
        </if>
        <if test="editDeptCode!=null and editDeptCode!=''">
            and a.EDIT_DEPT_CODE=#{editDeptCode}
        </if>
        <if test="recStatus!=null and recStatus!=''">
            and a.REC_STATUS=#{recStatus}
        </if>
        ORDER BY a.CHECK_NO desc
    </select>

    <select id="pageDetectionDetail" resultType="com.wzmtr.eam.dto.res.specialEquip.DetectionDetailResDTO">
        SELECT
        a.REC_ID	as "recId",  <!-- 记录编号 -->
        a.TEST_REC_ID	as "testRecId",  <!-- 检测记录表REC_ID -->
        a.TESTLIST_DETAIL_REC_ID	as "testlistDetailRecId",  <!-- 检测单明细表REC_ID -->
        a.EQUIP_CODE	as "equipCode",  <!-- 设备代码 -->
        a.EQUIP_NAME	as "equipName",  <!-- 设备名称 -->
        a.MAT_SPECIFI	as "matSpecifi",  <!-- 型号规格 -->
        a.MANUFACTURE_NO	as "manufactureNo",  <!-- 出厂编号 -->
        a.MANUFACTURE	as "manufacture",  <!-- 生产厂家 -->
        a.INSTALLATION_UNIT	as "installationUnit",  <!-- 安装单位 -->
        a.VERIFY_DATE	as "verifyDate",  <!-- 检测日期 -->
        a.VERIFICATION_NO	as "verificationNo",  <!-- 证书编号 -->
        a.VERIFICATION_TYPE	as "verificationType",  <!-- 证书类型 -->
        a.VERIFY_PROOF	as "verifyProof",  <!-- 检测依据 -->
        a.VERIFY_REPORT_NO	as "verifyReportNo",  <!-- 检测报告编号 -->
        a.VERIFY_REPORT_TYPE	as "verifyReportType",  <!-- 检测报告类型 0:检测证书;1:校准证书;2:检测结果通知书;3:检测证书;4:测试报告;5:测试证书;6:无证书7:校验证书; -->
        a.VERIFY_REPORT_NAME	as "verifyReportName",  <!-- 检测报告名称 -->
        a.VERIFY_REPORT_DATE	as "verifyReportDate",  <!-- 检测报告日期 -->
        a.VERIFY_FEE	as "verifyFee",  <!-- 检测费用 -->
        a.VERIFY_RESULT	as "verifyResult",  <!-- 检测结果（0：合格；1：不合格） -->
        a.VERIFY_CONCLUSION	as "verifyConclusion",  <!-- 检测结果说明 -->
        a.VERIFY_REPORT_ATT	as "verifyReportAtt",  <!-- 检测报告附件 -->
        a.LAST_VERIFY_DATE	as "lastVerifyDate",  <!-- 上次检测日期 -->
        a.NEXT_VERIFY_DATE	as "nextVerifyDate",  <!-- 下次检测日期 -->
        a.POSITION1_CODE	as "position1Code",  <!-- 位置一 -->
        a.POSITION1_NAME	as "position1Name",  <!-- 位置一名称 -->
        a.POSITION2_CODE	as "position2Code",  <!-- 位置二 -->
        a.POSITION2_NAME	as "position2Name",  <!-- 位置二名称 -->
        a.POSITION3	as "position3",  <!-- 位置三 -->
        a.POSITION_REMARK	as "positionRemark",  <!-- 位置补充说明 -->
        a.FAULT_NO	as "faultNo",  <!-- 故障编号 -->
        a.VERIFY_NOTE	as "verifyNote",  <!-- 备注 -->
        a.COMPANY_CODE	as "companyCode",  <!-- 公司代码 -->
        a.COMPANY_NAME	as "companyName",  <!-- 公司名称 -->
        a.REC_CREATOR	as "recCreator",  <!-- 创建者 -->
        a.REC_CREATE_TIME	as "recCreateTime",  <!-- 创建时间 -->
        a.REC_REVISOR	as "recRevisor",  <!-- 修改者 -->
        a.REC_REVISE_TIME	as "recReviseTime",  <!-- 修改时间 -->
        a.REC_DELETOR	as "recDeletor",  <!-- 删除者 -->
        a.REC_DELETE_TIME	as "recDeleteTime",  <!-- 删除时间 -->
        a.DELETE_FLAG	as "deleteFlag",  <!-- 删除标志 -->
        a.ARCHIVE_FLAG	as "archiveFlag",  <!-- 归档标记 -->
        a.REC_STATUS	as "recStatus",  <!-- 记录状态 -->
        a.EXT1	as "ext1",  <!-- 扩展字段1 -->
        a.EXT2	as "ext2",  <!-- 扩展字段2 -->
        a.EXT3	as "ext3",  <!-- 扩展字段3 -->
        a.EXT4	as "ext4",  <!-- 扩展字段4 -->
        a.EXT5	as "ext5", <!-- 扩展字段5 -->
        b.SEND_VERIFY_NO as "sendVerifyNo",
        b.VERIFY_DEPT as "verifyDept",
        a.VERIFY_VALIDITY_DATE as "verifyValidityDate",
        se31.EQUIP_INNER_NO as "equipInnerNo",
        a.DOC_ID as "docId"
        <!--d.PLAN_STATUS as "planStatus"-->
        FROM T_DETECTION_DETAIL a
        LEFT JOIN T_DETECTION b ON a.TEST_REC_ID=b.REC_ID
        LEFT JOIN T_SPECIAL_EQUIP_EXT se31 ON se31.EQUIP_CODE=a.EQUIP_CODE
        WHERE 1=1 and a.TEST_REC_ID=#{testRecId} and a.DELETE_FLAG='0'
        <!--<isNotEmpty prepend=" AND " property="testRecId">-->
        <!--a.TEST_REC_ID=#{testRecId#-->
        <!--</isNotEmpty>-->
        order by a.EQUIP_CODE asc
    </select>

    <select id="getDetectionDetailDetail" resultType="com.wzmtr.eam.dto.res.specialEquip.DetectionDetailResDTO">
        SELECT
        a.REC_ID	as "recId",  <!-- 记录编号 -->
        a.TEST_REC_ID	as "testRecId",  <!-- 检测记录表REC_ID -->
        a.TESTLIST_DETAIL_REC_ID	as "testlistDetailRecId",  <!-- 检测单明细表REC_ID -->
        a.EQUIP_CODE	as "equipCode",  <!-- 设备代码 -->
        a.EQUIP_NAME	as "equipName",  <!-- 设备名称 -->
        a.MAT_SPECIFI	as "matSpecifi",  <!-- 型号规格 -->
        a.MANUFACTURE_NO	as "manufactureNo",  <!-- 出厂编号 -->
        a.MANUFACTURE	as "manufacture",  <!-- 生产厂家 -->
        a.INSTALLATION_UNIT	as "installationUnit",  <!-- 安装单位 -->
        a.VERIFY_DATE	as "verifyDate",  <!-- 检测日期 -->
        a.VERIFICATION_NO	as "verificationNo",  <!-- 证书编号 -->
        a.VERIFICATION_TYPE	as "verificationType",  <!-- 证书类型 -->
        a.VERIFY_PROOF	as "verifyProof",  <!-- 检测依据 -->
        a.VERIFY_REPORT_NO	as "verifyReportNo",  <!-- 检测报告编号 -->
        a.VERIFY_REPORT_TYPE	as "verifyReportType",  <!-- 检测报告类型 0:检测证书;1:校准证书;2:检测结果通知书;3:检测证书;4:测试报告;5:测试证书;6:无证书7:校验证书; -->
        a.VERIFY_REPORT_NAME	as "verifyReportName",  <!-- 检测报告名称 -->
        a.VERIFY_REPORT_DATE	as "verifyReportDate",  <!-- 检测报告日期 -->
        a.VERIFY_FEE	as "verifyFee",  <!-- 检测费用 -->
        a.VERIFY_RESULT	as "verifyResult",  <!-- 检测结果（0：合格；1：不合格） -->
        a.VERIFY_CONCLUSION	as "verifyConclusion",  <!-- 检测结果说明 -->
        a.VERIFY_REPORT_ATT	as "verifyReportAtt",  <!-- 检测报告附件 -->
        a.LAST_VERIFY_DATE	as "lastVerifyDate",  <!-- 上次检测日期 -->
        a.NEXT_VERIFY_DATE	as "nextVerifyDate",  <!-- 下次检测日期 -->
        a.POSITION1_CODE	as "position1Code",  <!-- 位置一 -->
        a.POSITION1_NAME	as "position1Name",  <!-- 位置一名称 -->
        a.POSITION2_CODE	as "position2Code",  <!-- 位置二 -->
        a.POSITION2_NAME	as "position2Name",  <!-- 位置二名称 -->
        a.POSITION3	as "position3",  <!-- 位置三 -->
        a.POSITION_REMARK	as "positionRemark",  <!-- 位置补充说明 -->
        a.FAULT_NO	as "faultNo",  <!-- 故障编号 -->
        a.VERIFY_NOTE	as "verifyNote",  <!-- 备注 -->
        a.COMPANY_CODE	as "companyCode",  <!-- 公司代码 -->
        a.COMPANY_NAME	as "companyName",  <!-- 公司名称 -->
        a.REC_CREATOR	as "recCreator",  <!-- 创建者 -->
        a.REC_CREATE_TIME	as "recCreateTime",  <!-- 创建时间 -->
        a.REC_REVISOR	as "recRevisor",  <!-- 修改者 -->
        a.REC_REVISE_TIME	as "recReviseTime",  <!-- 修改时间 -->
        a.REC_DELETOR	as "recDeletor",  <!-- 删除者 -->
        a.REC_DELETE_TIME	as "recDeleteTime",  <!-- 删除时间 -->
        a.DELETE_FLAG	as "deleteFlag",  <!-- 删除标志 -->
        a.ARCHIVE_FLAG	as "archiveFlag",  <!-- 归档标记 -->
        a.REC_STATUS	as "recStatus",  <!-- 记录状态 -->
        a.EXT1	as "ext1",  <!-- 扩展字段1 -->
        a.EXT2	as "ext2",  <!-- 扩展字段2 -->
        a.EXT3	as "ext3",  <!-- 扩展字段3 -->
        a.EXT4	as "ext4",  <!-- 扩展字段4 -->
        a.EXT5	as "ext5", <!-- 扩展字段5 -->
        b.SEND_VERIFY_NO as "sendVerifyNo",
        b.VERIFY_DEPT as "verifyDept",
        a.VERIFY_VALIDITY_DATE as "verifyValidityDate",
        se31.EQUIP_INNER_NO as "equipInnerNo",
        a.DOC_ID as "docId"
        <!--d.PLAN_STATUS as "planStatus"-->
        FROM T_DETECTION_DETAIL a
        LEFT JOIN T_DETECTION b ON a.TEST_REC_ID=b.REC_ID
        LEFT JOIN T_SPECIAL_EQUIP_EXT se31 ON se31.EQUIP_CODE=a.EQUIP_CODE
        WHERE 1=1 and a.REC_ID=#{recId}
        <!--<isNotEmpty prepend=" AND " property="testRecId">-->
        <!--a.TEST_REC_ID=#{testRecId#-->
        <!--</isNotEmpty>-->
    </select>

    <insert id="addDetectionDetail">
        INSERT INTO T_DETECTION_DETAIL (
        REC_ID,  <!-- 记录编号 -->
        TEST_REC_ID,  <!-- 检测记录表REC_ID -->
        TESTLIST_DETAIL_REC_ID,  <!-- 检测单明细表REC_ID -->
        EQUIP_CODE,  <!-- 设备代码 -->
        EQUIP_NAME,  <!-- 设备名称 -->
        MAT_SPECIFI,  <!-- 型号规格 -->
        MANUFACTURE_NO,  <!-- 出厂编号 -->
        MANUFACTURE,  <!-- 生产厂家 -->
        INSTALLATION_UNIT,  <!-- 安装单位 -->
        VERIFY_DATE,  <!-- 检测日期 -->
        VERIFICATION_NO,  <!-- 证书编号 -->
        VERIFICATION_TYPE,  <!-- 证书类型 -->
        VERIFY_PROOF,  <!-- 检测依据 -->
        VERIFY_REPORT_NO,  <!-- 检测报告编号 -->
        VERIFY_REPORT_TYPE,  <!-- 检测报告类型 0:检测证书;1:校准证书;2:检测结果通知书;3:检测证书;4:测试报告;5:测试证书;6:无证书7:校验证书; -->
        VERIFY_REPORT_NAME,  <!-- 检测报告名称 -->
        VERIFY_REPORT_DATE,  <!-- 检测报告日期 -->
        VERIFY_FEE,  <!-- 检测费用 -->
        VERIFY_RESULT,  <!-- 检测结果（0：合格；1：不合格） -->
        VERIFY_CONCLUSION,  <!-- 检测结果说明 -->
        VERIFY_REPORT_ATT,  <!-- 检测报告附件 -->
        LAST_VERIFY_DATE,  <!-- 上次检测日期 -->
        NEXT_VERIFY_DATE,  <!-- 下次检测日期 -->
        POSITION1_CODE,  <!-- 位置一 -->
        POSITION1_NAME,  <!-- 位置一名称 -->
        POSITION2_CODE,  <!-- 位置二 -->
        POSITION2_NAME,  <!-- 位置二名称 -->
        POSITION3,  <!-- 位置三 -->
        POSITION_REMARK,  <!-- 位置补充说明 -->
        FAULT_NO,  <!-- 故障编号 -->
        VERIFY_NOTE,  <!-- 备注 -->
        COMPANY_CODE,  <!-- 公司代码 -->
        COMPANY_NAME,  <!-- 公司名称 -->
        REC_CREATOR,  <!-- 创建者 -->
        REC_CREATE_TIME,  <!-- 创建时间 -->
        REC_REVISOR,  <!-- 修改者 -->
        REC_REVISE_TIME,  <!-- 修改时间 -->
        REC_DELETOR,  <!-- 删除者 -->
        REC_DELETE_TIME,  <!-- 删除时间 -->
        DELETE_FLAG,  <!-- 删除标志 -->
        ARCHIVE_FLAG,  <!-- 归档标记 -->
        REC_STATUS,  <!-- 记录状态 -->
        EXT1,  <!-- 扩展字段1 -->
        EXT2,  <!-- 扩展字段2 -->
        EXT3,  <!-- 扩展字段3 -->
        EXT4,  <!-- 扩展字段4 -->
        EXT5,  <!-- 扩展字段5 -->
        DOC_ID,
        VERIFY_VALIDITY_DATE)
        VALUES (
        #{recId,jdbcType=VARCHAR},
        #{testRecId,jdbcType=VARCHAR},
        #{testlistDetailRecId,jdbcType=VARCHAR},
        #{equipCode,jdbcType=VARCHAR},
        #{equipName,jdbcType=VARCHAR},
        #{matSpecifi,jdbcType=VARCHAR},
        #{manufactureNo,jdbcType=VARCHAR},
        #{manufacture,jdbcType=VARCHAR},
        #{installationUnit,jdbcType=VARCHAR},
        #{verifyDate,jdbcType=VARCHAR},
        #{verificationNo,jdbcType=VARCHAR},
        #{verificationType,jdbcType=VARCHAR},
        #{verifyProof,jdbcType=VARCHAR},
        #{verifyReportNo,jdbcType=VARCHAR},
        #{verifyReportType,jdbcType=VARCHAR},
        #{verifyReportName,jdbcType=VARCHAR},
        #{verifyReportDate,jdbcType=VARCHAR},
        #{verifyFee,jdbcType=NUMERIC},
        #{verifyResult,jdbcType=VARCHAR},
        #{verifyConclusion,jdbcType=VARCHAR},
        #{verifyReportAtt,jdbcType=VARCHAR},
        #{lastVerifyDate,jdbcType=VARCHAR},
        #{nextVerifyDate,jdbcType=VARCHAR},
        #{position1Code,jdbcType=VARCHAR},
        #{position1Name,jdbcType=VARCHAR},
        #{position2Code,jdbcType=VARCHAR},
        #{position2Name,jdbcType=VARCHAR},
        #{position3,jdbcType=VARCHAR},
        #{positionRemark,jdbcType=VARCHAR},
        #{faultNo,jdbcType=VARCHAR},
        #{verifyNote,jdbcType=VARCHAR},
        #{companyCode,jdbcType=VARCHAR},
        #{companyName,jdbcType=VARCHAR},
        #{recCreator,jdbcType=VARCHAR},
        #{recCreateTime,jdbcType=VARCHAR},
        #{recRevisor,jdbcType=VARCHAR},
        #{recReviseTime,jdbcType=VARCHAR},
        #{recDeletor,jdbcType=VARCHAR},
        #{recDeleteTime,jdbcType=VARCHAR},
        '0',
        #{archiveFlag,jdbcType=VARCHAR},
        #{recStatus,jdbcType=VARCHAR},
        #{ext1,jdbcType=VARCHAR},
        #{ext2,jdbcType=VARCHAR},
        #{ext3,jdbcType=VARCHAR},
        #{ext4,jdbcType=VARCHAR},
        #{ext5,jdbcType=VARCHAR},
        ' ',
        #{verifyValidityDate,jdbcType=VARCHAR})
    </insert>

    <update id="modifyDetectionDetail">
        UPDATE T_DETECTION_DETAIL SET
        <if test="testRecId!=null">
            TEST_REC_ID=#{testRecId},   <!-- 检测记录表REC_ID -->
        </if>
        <if test="testlistDetailRecId!=null">
            TESTLIST_DETAIL_REC_ID=#{testlistDetailRecId},   <!-- 检测单明细表REC_ID -->
        </if>
        <if test="equipCode!=null">
            EQUIP_CODE=#{equipCode},   <!-- 设备代码 -->
        </if>
        <if test="equipName!=null">
            EQUIP_NAME=#{equipName},   <!-- 设备名称 -->
        </if>
        <if test="verifyValidityDate!=null">
            VERIFY_VALIDITY_DATE=#{verifyValidityDate},
        </if>
        <if test="matSpecifi!=null">
            MAT_SPECIFI=#{matSpecifi},   <!-- 型号规格 -->
        </if>
        <if test="manufactureNo!=null">
            MANUFACTURE_NO=#{manufactureNo},   <!-- 出厂编号 -->
        </if>
        <if test="manufacture!=null">
            MANUFACTURE=#{manufacture},   <!-- 生产厂家 -->
        </if>
        <if test="installationUnit!=null">
            INSTALLATION_UNIT=#{installationUnit},   <!-- 安装单位 -->
        </if>
        <if test="verifyDate!=null">
            VERIFY_DATE=#{verifyDate},   <!-- 检测日期 -->
        </if>
        <if test="verificationNo!=null">
            VERIFICATION_NO=#{verificationNo},   <!-- 证书编号 -->
        </if>
        <if test="verificationType!=null">
            VERIFICATION_TYPE=#{verificationType},   <!-- 证书类型 -->
        </if>
        <if test="verifyProof!=null">
            VERIFY_PROOF=#{verifyProof},   <!-- 检测依据 -->
        </if>
        <if test="verifyReportNo!=null">
            VERIFY_REPORT_NO=#{verifyReportNo},   <!-- 检测报告编号 -->
        </if>
        <if test="verifyReportType!=null">
            VERIFY_REPORT_TYPE=#{verifyReportType},   <!-- 检测报告类型 0:检测证书;1:校准证书;2:检测结果通知书;3:检测证书;4:测试报告;5:测试证书;6:无证书7:校验证书; -->
        </if>
        <if test="verifyReportName!=null">
            VERIFY_REPORT_NAME=#{verifyReportName},   <!-- 检测报告名称 -->
        </if>
        <if test="verifyReportDate!=null">
            VERIFY_REPORT_DATE=#{verifyReportDate},   <!-- 检测报告日期 -->
        </if>
        <if test="verifyFee!=null">
            VERIFY_FEE=#{verifyFee:NUMERIC},   <!-- 检测费用 -->
        </if>
        <if test="verifyResult!=null">
            VERIFY_RESULT=#{verifyResult},   <!-- 检测结果（0：合格；1：不合格） -->
        </if>
        <if test="verifyConclusion!=null">
            VERIFY_CONCLUSION=#{verifyConclusion},   <!-- 检测结果说明 -->
        </if>
        <if test="verifyReportAtt!=null">
            VERIFY_REPORT_ATT=#{verifyReportAtt},   <!-- 检测报告附件 -->
        </if>
        <if test="lastVerifyDate!=null">
            LAST_VERIFY_DATE=#{lastVerifyDate},   <!-- 上次检测日期 -->
        </if>
        <if test="nextVerifyDate!=null">
            NEXT_VERIFY_DATE=#{nextVerifyDate},   <!-- 下次检测日期 -->
        </if>
        <if test="position1Code!=null">
            POSITION1_CODE=#{position1Code},   <!-- 位置一 -->
        </if>
        <if test="position1Name!=null">
            POSITION1_NAME=#{position1Name},   <!-- 位置一名称 -->
        </if>
        <if test="position2Code!=null">
            POSITION2_CODE=#{position2Code},   <!-- 位置二 -->
        </if>
        <if test="position2Name!=null">
            POSITION2_NAME=#{position2Name},   <!-- 位置二名称 -->
        </if>
        <if test="position3!=null">
            POSITION3=#{position3},   <!-- 位置三 -->
        </if>
        <if test="positionRemark!=null">
            POSITION_REMARK=#{positionRemark},   <!-- 位置补充说明 -->
        </if>
        <if test="faultNo!=null">
            FAULT_NO=#{faultNo},   <!-- 故障编号 -->
        </if>
        <if test="verifyNote!=null">
            VERIFY_NOTE=#{verifyNote},   <!-- 备注 -->
        </if>
        <if test="companyCode!=null">
            COMPANY_CODE=#{companyCode},   <!-- 公司代码 -->
        </if>
        <if test="companyName!=null">
            COMPANY_NAME=#{companyName},   <!-- 公司名称 -->
        </if>
        <if test="archiveFlag!=null">
            ARCHIVE_FLAG=#{archiveFlag},   <!-- 归档标记 -->
        </if>
        <if test="recStatus!=null">
            REC_STATUS=#{recStatus},   <!-- 记录状态 -->
        </if>
        <if test="ext1!=null">
            EXT1=#{ext1},   <!-- 扩展字段1 -->
        </if>
        <if test="ext2!=null">
            EXT2=#{ext2},   <!-- 扩展字段2 -->
        </if>
        <if test="ext3!=null">
            EXT3=#{ext3},   <!-- 扩展字段3 -->
        </if>
        <if test="ext4!=null">
            EXT4=#{ext4},   <!-- 扩展字段4 -->
        </if>
        <if test="ext5!=null">
            EXT5=#{ext5},  <!-- 扩展字段5 -->
        </if>
        REC_REVISOR=#{recRevisor},   <!-- 修改者 -->
        REC_REVISE_TIME=#{recReviseTime}   <!-- 修改时间 -->
        WHERE REC_ID=#{recId}
    </update>

    <select id="listDetectionDetail" resultType="com.wzmtr.eam.dto.res.specialEquip.DetectionDetailResDTO">
        SELECT
        a.REC_ID	as "recId",  <!-- 记录编号 -->
        a.TEST_REC_ID	as "testRecId",  <!-- 检测记录表REC_ID -->
        a.TESTLIST_DETAIL_REC_ID	as "testlistDetailRecId",  <!-- 检测单明细表REC_ID -->
        a.EQUIP_CODE	as "equipCode",  <!-- 设备代码 -->
        a.EQUIP_NAME	as "equipName",  <!-- 设备名称 -->
        a.MAT_SPECIFI	as "matSpecifi",  <!-- 型号规格 -->
        a.MANUFACTURE_NO	as "manufactureNo",  <!-- 出厂编号 -->
        a.MANUFACTURE	as "manufacture",  <!-- 生产厂家 -->
        a.INSTALLATION_UNIT	as "installationUnit",  <!-- 安装单位 -->
        a.VERIFY_DATE	as "verifyDate",  <!-- 检测日期 -->
        a.VERIFICATION_NO	as "verificationNo",  <!-- 证书编号 -->
        a.VERIFICATION_TYPE	as "verificationType",  <!-- 证书类型 -->
        a.VERIFY_PROOF	as "verifyProof",  <!-- 检测依据 -->
        a.VERIFY_REPORT_NO	as "verifyReportNo",  <!-- 检测报告编号 -->
        a.VERIFY_REPORT_TYPE	as "verifyReportType",  <!-- 检测报告类型 0:检测证书;1:校准证书;2:检测结果通知书;3:检测证书;4:测试报告;5:测试证书;6:无证书7:校验证书; -->
        a.VERIFY_REPORT_NAME	as "verifyReportName",  <!-- 检测报告名称 -->
        a.VERIFY_REPORT_DATE	as "verifyReportDate",  <!-- 检测报告日期 -->
        a.VERIFY_FEE	as "verifyFee",  <!-- 检测费用 -->
        a.VERIFY_RESULT	as "verifyResult",  <!-- 检测结果（0：合格；1：不合格） -->
        a.VERIFY_CONCLUSION	as "verifyConclusion",  <!-- 检测结果说明 -->
        a.VERIFY_REPORT_ATT	as "verifyReportAtt",  <!-- 检测报告附件 -->
        a.LAST_VERIFY_DATE	as "lastVerifyDate",  <!-- 上次检测日期 -->
        a.NEXT_VERIFY_DATE	as "nextVerifyDate",  <!-- 下次检测日期 -->
        a.POSITION1_CODE	as "position1Code",  <!-- 位置一 -->
        a.POSITION1_NAME	as "position1Name",  <!-- 位置一名称 -->
        a.POSITION2_CODE	as "position2Code",  <!-- 位置二 -->
        a.POSITION2_NAME	as "position2Name",  <!-- 位置二名称 -->
        a.POSITION3	as "position3",  <!-- 位置三 -->
        a.POSITION_REMARK	as "positionRemark",  <!-- 位置补充说明 -->
        a.FAULT_NO	as "faultNo",  <!-- 故障编号 -->
        a.VERIFY_NOTE	as "verifyNote",  <!-- 备注 -->
        a.COMPANY_CODE	as "companyCode",  <!-- 公司代码 -->
        a.COMPANY_NAME	as "companyName",  <!-- 公司名称 -->
        a.REC_CREATOR	as "recCreator",  <!-- 创建者 -->
        a.REC_CREATE_TIME	as "recCreateTime",  <!-- 创建时间 -->
        a.REC_REVISOR	as "recRevisor",  <!-- 修改者 -->
        a.REC_REVISE_TIME	as "recReviseTime",  <!-- 修改时间 -->
        a.REC_DELETOR	as "recDeletor",  <!-- 删除者 -->
        a.REC_DELETE_TIME	as "recDeleteTime",  <!-- 删除时间 -->
        a.DELETE_FLAG	as "deleteFlag",  <!-- 删除标志 -->
        a.ARCHIVE_FLAG	as "archiveFlag",  <!-- 归档标记 -->
        a.REC_STATUS	as "recStatus",  <!-- 记录状态 -->
        a.EXT1	as "ext1",  <!-- 扩展字段1 -->
        a.EXT2	as "ext2",  <!-- 扩展字段2 -->
        a.EXT3	as "ext3",  <!-- 扩展字段3 -->
        a.EXT4	as "ext4",  <!-- 扩展字段4 -->
        a.EXT5	as "ext5", <!-- 扩展字段5 -->
        b.SEND_VERIFY_NO as "sendVerifyNo",
        b.VERIFY_DEPT as "verifyDept",
        a.VERIFY_VALIDITY_DATE as "verifyValidityDate",
        se31.EQUIP_INNER_NO as "equipInnerNo",
        a.DOC_ID as "docId"
        <!--d.PLAN_STATUS as "planStatus"-->
        FROM T_DETECTION_DETAIL a
        LEFT JOIN T_DETECTION b ON a.TEST_REC_ID=b.REC_ID
        LEFT JOIN T_SPECIAL_EQUIP_EXT se31 ON se31.EQUIP_CODE=a.EQUIP_CODE
        WHERE 1=1 and a.TEST_REC_ID=#{testRecId} and a.DELETE_FLAG='0'
        <!--<isNotEmpty prepend=" AND " property="testRecId">-->
        <!--a.TEST_REC_ID=#{testRecId#-->
        <!--</isNotEmpty>-->
        order by a.EQUIP_CODE asc
    </select>

    <select id="queryMsg" resultType="com.wzmtr.eam.dto.res.specialEquip.DetectionDetailResDTO">
        SELECT EQUIP_CODE as "equipCode",
        VERIFY_VALIDITY_DATE as "verifyValidityDate",
        VERIFY_DATE as "verifyDate"
        FROM T_DETECTION_DETAIL WHERE TEST_REC_ID=#{testRecId}
    </select>

    <update id="updateEquip">
        UPDATE T_EQUIPMENT SET
        VERIFY_DATE=#{verifyDate},
        VERIFY_VALIDITY_DATE=#{verifyValidityDate}
        where EQUIP_CODE=#{equipCode}
    </update>

</mapper>