<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzmtr.eam.mapper.basic.EquipmentCategoryMapper">

    <select id="pageEquipmentCategory" resultType="com.wzmtr.eam.dto.res.EquipmentCategoryResDTO">
        SELECT dc.REC_ID, dc.PARENT_NODE_REC_ID, dc.NODE_NAME, dc.NODE_CODE, dc.REC_STATUS, dc.REMARK, u.NAME AS REC_CREATOR, dc.REC_CREATE_TIME
        FROM T_EQUIPMENT_CATEGORY dc
        LEFT JOIN SYS_USER u ON dc.REC_CREATOR=u.ID
        WHERE dc.DELETE_FLAG='0'
        <if test="name!=null and name!=''">
            and dc.NODE_NAME like '%' || #{name} || '%'
        </if>
        <if test="code!=null and code!=''">
            and dc.NODE_CODE like '%' || #{code} || '%'
        </if>
        <if test="parentId!=null and parentId!=''">
            and dc.PARENT_NODE_REC_ID=#{parentId}
        </if>
        ORDER BY dc.NODE_CODE ASC
    </select>

    <select id="listEquipmentCategoryRootList" resultType="com.wzmtr.eam.dto.res.EquipmentCategoryResDTO">
        SELECT REC_ID, PARENT_NODE_REC_ID, NODE_NAME, NODE_CODE, REC_STATUS, REMARK, REC_CREATOR, REC_CREATE_TIME
        FROM T_EQUIPMENT_CATEGORY
        WHERE DELETE_FLAG=0 AND PARENT_NODE_REC_ID='0'
        ORDER BY NODE_CODE ASC
    </select>

    <select id="listEquipmentCategoryBodyList" resultType="com.wzmtr.eam.dto.res.EquipmentCategoryResDTO">
        SELECT REC_ID, PARENT_NODE_REC_ID, NODE_NAME, NODE_CODE, REC_STATUS, REMARK, REC_CREATOR, REC_CREATE_TIME
        FROM T_EQUIPMENT_CATEGORY
        WHERE DELETE_FLAG=0 AND PARENT_NODE_REC_ID!='0'
        ORDER BY NODE_CODE ASC
    </select>

    <select id="getEquipmentCategoryDetail" resultType="com.wzmtr.eam.dto.res.EquipmentCategoryResDTO">
        SELECT dc.REC_ID, dc.PARENT_NODE_REC_ID, dc.NODE_NAME, dc.NODE_CODE, dc.REC_STATUS, dc.REMARK, u.NAME AS REC_CREATOR, dc.REC_CREATE_TIME
        FROM T_EQUIPMENT_CATEGORY dc
        LEFT JOIN SYS_USER u ON dc.REC_CREATOR=u.ID
        WHERE dc.REC_ID=#{id}
    </select>

    <select id="selectEquipmentCategoryIsExist" resultType="java.lang.Integer">
        SELECT COUNT(REC_ID)
        FROM T_EQUIPMENT_CATEGORY
        WHERE PARENT_NODE_REC_ID=#{parentNodeRecId} AND NODE_CODE=#{nodeCode} AND DELETE_FLAG='0'
        <if test="recId!=null and recId!=''">
            AND REC_ID!=#{recId}
        </if>
    </select>

    <insert id="addEquipmentCategory">
        INSERT INTO T_EQUIPMENT_CATEGORY (REC_ID, NODE_NAME, NODE_CODE, REC_STATUS, NODE_LEVEL,
        <if test="remark!=null and remark!=''">
            REMARK,
        </if>
        REC_CREATOR, REC_CREATE_TIME, PARENT_NODE_REC_ID)
        VALUES (#{recId}, #{nodeName}, #{nodeCode}, #{recStatus}, #{nodeLevel},
        <if test="remark!=null and remark!=''">
            #{remark},
        </if>
        #{recCreator}, #{recCreateTime}, #{parentNodeRecId})
    </insert>

    <update id="modifyEquipmentCategory">
        UPDATE T_EQUIPMENT_CATEGORY SET
        <if test="nodeName!=null">
            NODE_NAME=#{nodeName},
        </if>
        <if test="nodeCode!=null">
            NODE_CODE=#{nodeCode},
        </if>
        <if test="recStatus!=null">
            REC_STATUS=#{recStatus},
        </if>
        <if test="remark!=null">
            REMARK=#{remark},
        </if>
        <if test="parentNodeRecId!=null">
            PARENT_NODE_REC_ID=#{parentNodeRecId},
        </if>
        <if test="nodeLevel!=null">
            NODE_LEVEL=#{nodeLevel},
        </if>
        REC_REVISOR=#{recRevisor}, REC_REVISE_TIME=#{recReviseTime}
        WHERE REC_ID=#{recId}
    </update>

    <update id="deleteEquipmentCategory">
        UPDATE T_EQUIPMENT_CATEGORY SET
        DELETE_FLAG='1', REC_DELETOR=#{userId}, REC_DELETE_TIME=#{time}
        WHERE REC_ID IN (
        <foreach collection="ids" index="index" item="id" separator=",">
            #{id}
        </foreach>
        )
    </update>

    <select id="listEquipmentCategory" resultType="com.wzmtr.eam.dto.res.EquipmentCategoryResDTO">
        SELECT dc.REC_ID, dc.PARENT_NODE_REC_ID, dc.NODE_NAME, dc.NODE_CODE, dc.REC_STATUS, dc.REMARK, u.NAME AS REC_CREATOR, dc.REC_CREATE_TIME
        FROM T_EQUIPMENT_CATEGORY dc
        LEFT JOIN SYS_USER u ON dc.REC_CREATOR=u.ID
        where dc.DELETE_FLAG='0'
        <if test="name!=null and name!=''">
            and dc.NODE_NAME like '%' || #{name} || '%'
        </if>
        <if test="code!=null and code!=''">
            and dc.NODE_CODE like '%' || #{code} || '%'
        </if>
        <if test="parentId!=null and parentId!=''">
            and dc.PARENT_NODE_REC_ID=#{parentId}
        </if>
        ORDER BY dc.NODE_CODE ASC
    </select>

</mapper>