<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzmtr.eam.mapper.fault.TrackQueryMapper">
    <update id="cancellGenZ">
        UPDATE T_FAULT_TRACK
        SET
        <if test="companyCode!=null">
            COMPANY_CODE = #{companyCode},
        </if>
        <if test="companyName!=null">
            COMPANY_NAME = #{companyName},
        </if>
        <if test="faultAnalysisNo!=null">
            FAULT_ANALYSIS_NO = #{faultAnalysisNo},
        </if>
        <if test="trackReason!=null">
            TRACK_REASON = #{trackReason},
        </if>
        <if test="trackUserId!=null">
            TRACK_USER_ID = #{trackUserId},
        </if>
        <if test="trackTime!=null">
            TRACK_TIME = #{trackTime},
        </if>
        <if test="trackStartDate!=null">
            TRACK_START_DATE = #{trackStartDate},
        </if>
        <if test="trackPeriod!=null">
            TRACK_PERIOD = #{trackPeriod},
        </if>
        <if test="faultNo!=null">
            FAULT_NO = #{faultNo},
        </if>
        <if test="faultWorkNo!=null">
            FAULT_WORK_NO = #{faultWorkNo},
        </if>
        <if test="trackEndDate!=null">
            TRACK_END_DATE =#{trackEndDate},
        </if>
        <if test="trackCycle!=null">
            TRACK_CYCLE = #{trackCycle},
        </if>
        <if test="trackReporterId!=null">
            TRACK_REPORTER_ID =#{trackReporterId},
        </if>
        <if test="trackReportTime!=null">
            TRACK_REPORT_TIME =#{trackReportTime},
        </if>
        <if test="trackResult!=null">
            TRACK_RESULT = #{trackResult},
        </if>
        <if test="trackCloserId!=null">
            TRACK_CLOSER_ID = #{trackCloserId},
        </if>
        <if test="trackCloseTime!=null">
            TRACK_CLOSE_TIME = #{trackCloseTime},
        </if>
        <if test="workFlowInstId!=null">
            WORK_FLOW_INST_ID = #{workFlowInstId},
        </if>
        <if test="workFlowInstStatus!=null">
            WORK_FLOW_INST_STATUS = #{workFlowInstStatus},
        </if>
        <if test="docId!=null">
            DOC_ID = #{docId},
        </if>
        <if test="remark!=null">
            REMARK = #{remark},
        </if>
        <if test="recCreator!=null">
            REC_CREATOR = #{recCreator},
        </if>
        <if test="recCreateTime!=null">
            REC_CREATE_TIME = #{recCreateTime},
        </if>
        <if test="recRevisor!=null">
            REC_REVISOR = #{recRevisor},
        </if>
        <if test="recReviseTime!=null">
            REC_REVISE_TIME = #{recReviseTime},
        </if>
        <if test="recDeletor!=null">
            REC_DELETOR = #{recDeletor},
        </if>
        <if test="recDeleteTime!=null">
            REC_DELETE_TIME = #{recDeleteTime},
        </if>
        <if test="deleteFlag!=null">
            DELETE_FLAG = #{deleteFlag},
        </if>
        <if test="archiveFlag!=null">
            ARCHIVE_FLAG = #{archiveFlag},
        </if>
        <if test="ext1!=null">
            EXT1 = #{ext1},
        </if>
        <if test="ext2!=null">
            EXT2 = #{ext2},
        </if>
        <if test="ext3!=null">
            EXT3 = #{ext3},
        </if>
        <if test="ext4!=null">
            EXT4 = #{ext4},
        </if>
        <if test="ext5!=null">
            EXT5 =#{ext5},
        </if>
        REC_STATUS = #{recStatus}
        WHERE
        FAULT_TRACK_NO = #{faultTrackNo}
    </update>

    <select id="query" resultType="com.wzmtr.eam.dto.res.fault.TrackQueryResDTO">
        SELECT
        df9.REC_ID as "recId",  <!-- 记录编号 -->
        df9.COMPANY_CODE as "companyCode",  <!-- 公司代码 -->
        df9.COMPANY_NAME as "companyName",  <!-- 公司名称 -->
        df9.FAULT_TRACK_NO as "faultTrackNo",  <!-- 故障跟踪编号 -->
        df9.FAULT_ANALYSIS_NO as "faultAnalysisNo",  <!-- 故障分析编号 -->
        df9.FAULT_ANALYSIS_NO as "faultAnalysisNo_textField",
        df9.TRACK_REASON as "trackReason",  <!-- 跟踪原因 -->
        df9.TRACK_USER_ID as "trackUserId",  <!-- 转跟踪人员工号 -->
        (SELECT USER_NAME FROM IPLAT60.XS_USER WHERE df9.TRACK_USER_ID = LOGIN_NAME) as "trackUserName",
        df9.TRACK_TIME as "trackTime",  <!-- 转跟踪时间 -->
        df9.TRACK_PERIOD as "trackPeriod",  <!-- 跟踪期限 -->
        df9.TRACK_CYCLE as "trackCycle",  <!-- 跟踪周期 -->
        df9.TRACK_START_DATE as "trackStartDate",
        df9.TRACK_END_DATE as "trackEndDate",
        df9.TRACK_REPORTER_ID as "trackReporterId",  <!-- 跟踪报告人工号 -->
        df9.TRACK_REPORT_TIME as "trackReportTime",  <!-- 跟踪报告时间 -->
        df9.TRACK_RESULT as "trackResult",  <!-- 跟踪结果 -->
        df9.TRACK_CLOSER_ID as "trackCloserId",  <!-- 跟踪关闭人工号 -->
        df9.TRACK_CLOSE_TIME as "trackCloseTime",  <!-- 跟踪关闭时间 -->
        df9.WORK_FLOW_INST_ID as "workFlowInstId",  <!-- 工作流实例ID -->
        df9.WORK_FLOW_INST_STATUS as "workFlowInstStatus",  <!-- 工作流实例状态 -->
        df2.WORK_CLASS as "workClass",
        df9.DOC_ID as "docId",  <!-- 附件编号 -->
        df9.REMARK as "remark",  <!-- 备注 -->
        df9.REC_STATUS as "recStatus",  <!-- 记录状态 -->
        df1.FAULT_NO as "faultNo",
        df2.FAULT_WORK_NO as "faultWorkNo",
        df1.OBJECT_CODE as "objectCode",
        df1.OBJECT_NAME as "objectName",
        df1.POSITION_CODE as "positionCode",
        db3.NODE_NAME as "positionName",
        df1.FAULT_DISPLAY_CODE as "faultDisplayCode",
        df1.FAULT_DISPLAY_DETAIL as "faultDisplayDetail",
        df2.FAULT_REASON_CODE as "faultReasonCode",
        df2.FAULT_REASON_DETAIL as "faultReasonDetail",
        df1.LINE_CODE as "lineCode",
        df1.MAJOR_CODE AS "majorCode",
        df1.FAULT_DETAIL AS "faultDetail",
        ( SELECT db.NODE_NAME FROM T_EQUIPMENT_CATEGORY db WHERE db.NODE_CODE = df1.MAJOR_CODE ) AS "majorName",
        df2.FAULT_ACTION_DETAIL AS "faultActionDetail"
        FROM T_FAULT_TRACK df9,T_FAULT_ORDER df2,T_FAULT_INFO df1,SYS_REGION db3
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="faultTrackNo!=null and faultTrackNo!=''">
                and df9.FAULT_TRACK_NO = #{faultTrackNo}
            </if>
            <if test="faultNo!=null and faultNo!=''">
                and df1.FAULT_NO = #{faultNo}
            </if>
            <if test="faultWorkNo!=null and faultWorkNo!=''">
                and df2.FAULT_WORK_NO = #{faultWorkNo}
            </if>
            <if test="objectCode!=null and objectCode!=''">
                and df1.OBJECT_CODE = #{objectCode}
            </if>
            <if test="objectName!=null and objectName!=''">
                and df1.OBJECT_NAME = #{objectName}
            </if>
            <if test="lineCode!=null and lineCode!=''">
                and df1.LINE_CODE = #{lineCode}
            </if>
            <if test="positionCode!=null and positionCode!=''">
                and df1.POSITION_CODE= #{positionCode}
            </if>
            <if test="majorCode!=null and majorCode!=''">
                and df1.MAJOR_CODE = #{majorCode}
            </if>
            <if test="systemCode!=null and systemCode!=''">
                and df1.SYSTEM_CODE = #{systemCode}
            </if>
            <if test="equipTypeCode!=null and equipTypeCode!=''">
                and df1.EQUIP_TYPE_CODE = #{equipTypeCode}
            </if>
            <if test="recStatus!=null and recStatus!=''">
                and df9.REC_STATUS = #{recStatus}
            </if>
            and df9.FAULT_WORK_NO=df2.FAULT_WORK_NO
            and df9.FAULT_NO=df1.FAULT_NO
            and df1.FAULT_NO=df2.FAULT_NO
            and df1.POSITION_CODE=db3.NODE_CODE
            and df9.DELETE_FLAG='0'
        </trim>
        order by df9.FAULT_TRACK_NO desc
    </select>
    <select id="detail" resultType="com.wzmtr.eam.dto.res.fault.TrackQueryResDTO">
        SELECT
        df9.REC_ID as "recId",  <!-- 记录编号 -->
        df9.COMPANY_CODE as "companyCode",  <!-- 公司代码 -->
        df9.COMPANY_NAME as "companyName",  <!-- 公司名称 -->
        df9.FAULT_TRACK_NO as "faultTrackNo",  <!-- 故障跟踪编号 -->
        df9.FAULT_ANALYSIS_NO as "faultAnalysisNo",  <!-- 故障分析编号 -->
        df9.FAULT_ANALYSIS_NO as "faultAnalysisNo_textField",
        df9.TRACK_REASON as "trackReason",  <!-- 跟踪原因 -->
        df9.TRACK_USER_ID as "trackUserId",  <!-- 转跟踪人员工号 -->
        -- (SELECT USER_NAME FROM IPLAT60.XS_USER WHERE df9.TRACK_USER_ID = LOGIN_NAME) as "trackUserName",
        df9.TRACK_TIME as "trackTime",  <!-- 转跟踪时间 -->
        df9.TRACK_PERIOD as "trackPeriod",  <!-- 跟踪期限 -->
        df9.TRACK_CYCLE as "trackCycle",  <!-- 跟踪周期 -->
        df9.TRACK_START_DATE as "trackStartDate",
        df9.TRACK_END_DATE as "trackEndDate",
        df9.TRACK_REPORTER_ID as "trackReporterId",  <!-- 跟踪报告人工号 -->
        df9.TRACK_REPORT_TIME as "trackReportTime",  <!-- 跟踪报告时间 -->
        df9.TRACK_RESULT as "trackResult",  <!-- 跟踪结果 -->
        df9.TRACK_CLOSER_ID as "trackCloserId",  <!-- 跟踪关闭人工号 -->
        df9.TRACK_CLOSE_TIME as "trackCloseTime",  <!-- 跟踪关闭时间 -->
        df9.WORK_FLOW_INST_ID as "workFlowInstId",  <!-- 工作流实例ID -->
        df9.WORK_FLOW_INST_STATUS as "workFlowInstStatus",  <!-- 工作流实例状态 -->
        df2.WORK_CLASS as "workClass",
        df9.DOC_ID as "docId",  <!-- 附件编号 -->
        df9.REMARK as "remark",  <!-- 备注 -->
        df9.REC_STATUS as "recStatus",  <!-- 记录状态 -->
        df1.FAULT_NO as "faultNo",<!-- 故障编号 -->
        df2.FAULT_WORK_NO as "faultWorkNo",<!-- 故障工单号 -->
        df1.OBJECT_CODE as "objectCode",<!-- 对象code -->
        df1.OBJECT_NAME as "objectName",<!-- 对象名称 -->
        df1.POSITION_CODE as "positionCode",<!-- 位置code -->
        db3.NODE_NAME as "positionName",<!-- 位置名称 -->
        df1.FAULT_DISPLAY_CODE as "faultDisplayCode",<!-- 故障 -->
        df1.FAULT_DISPLAY_DETAIL as "faultDisplayDetail",<!-- 故障现象详情 -->
        df2.FAULT_REASON_CODE as "faultReasonCode",<!-- 故障原因code -->
        df2.FAULT_REASON_DETAIL as "faultReasonDetail",<!-- 故障原因 -->
        df1.LINE_CODE as "lineCode",<!-- 线路 -->
        df1.MAJOR_CODE AS "majorCode",<!-- 专业 -->
        df1.FAULT_DETAIL AS "faultDetail",<!-- 故障详情 -->
        ( SELECT db.NODE_NAME FROM T_EQUIPMENT_CATEGORY db WHERE db.NODE_CODE = df1.MAJOR_CODE ) AS "majorName",
        df2.FAULT_ACTION_DETAIL AS "faultActionDetail"
        FROM
        T_FAULT_TRACK df9
        LEFT JOIN T_FAULT_ORDER df2 ON df9.FAULT_WORK_NO = df2.FAULT_WORK_NO
        LEFT JOIN T_FAULT_INFO df1 ON df9.FAULT_NO = df1.FAULT_NO and df1.FAULT_NO = df2.FAULT_NO
        LEFT JOIN SYS_REGION db3 ON df1.POSITION_CODE = db3.NODE_CODE
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="faultTrackNo!=null and faultTrackNo!=''">
                and df9.FAULT_TRACK_NO = #{faultTrackNo}
            </if>
            and df9.DELETE_FLAG='0'
        </trim>
    </select>
    <select id="faultDetail" resultType="com.wzmtr.eam.dataobject.FaultInfoDO">
        SELECT
        d.REC_ID AS "recId",
        df.REC_ID AS "workId",
        df.WORK_CLASS AS "workClass",
        d.COMPANY_CODE AS "companyCode",
        d.COMPANY_NAME AS "companyName",
        d.FAULT_NO AS "faultNo",
        d.FAULT_FLAG AS "faultFlag",
        d.OBJECT_CODE AS "objectCode",
        d.OBJECT_CODE AS "objectCode_textField",
        d.OBJECT_NAME AS "objectName",
        d.TRAIN_TRUNK AS "trainTrunk",
        ( SELECT ec.ITEM_CNAME FROM iplat60.tedcm01 ec WHERE ec.ITEM_CODE = d.LINE_CODE AND ec.CODESET_CODE = 'line' )
        AS "lineName",
        d.LINE_CODE AS "lineCode",
        d.POSITION_CODE AS "positionCode",
        d.POSITION2_CODE AS "position2Code",
        d.PART_CODE AS "partCode",
        d.PART_NAME AS "partName",
        ( SELECT db.NODE_NAME FROM SYS_REGION db WHERE db.NODE_CODE = d.POSITION_CODE ) AS "positionName_textField",
        ( SELECT db.NODE_NAME FROM SYS_REGION db WHERE db.NODE_CODE = d.POSITION_CODE ) AS "positionName",
        ( SELECT db.NODE_NAME FROM T_EQUIPMENT_CATEGORY db WHERE db.NODE_CODE = d.MAJOR_CODE ) AS "majorName",
        ( SELECT db.NODE_NAME FROM T_EQUIPMENT_CATEGORY db WHERE db.NODE_CODE = d.SYSTEM_CODE ) AS "systemName",
        ( SELECT db.NODE_NAME FROM T_EQUIPMENT_CATEGORY db WHERE db.NODE_CODE = d.EQUIP_TYPE_CODE ) AS "equipTypeName",
        ( SELECT d3.NODE_NAME FROM SYS_REGION d3 WHERE d3.NODE_CODE = d.EXT1 ) AS "stationCode",
        d.MAJOR_CODE AS "majorCode",
        d.SYSTEM_CODE AS "systemCode",
        d.EQUIP_TYPE_CODE AS "equipTypeCode",
        d.FAULT_MODULE AS "faultModule",
        d.FAULT_MODULE_ID AS "faultModuleId",
        d.FAULT_TYPE AS "faultType",
        d.SOURCE_CODE AS "sourceCode",
        d.FAULT_DISPLAY_CODE AS "faultDisplayCode",
        d.FAULT_DISPLAY_DETAIL AS "faultDisplayDetail",
        d.FAULT_DETAIL AS "faultDetail",
        d.DISCOVERER_ID AS "discovererId",
        d.DISCOVERER_PHONE AS "discovererPhone",
        d.DISCOVERER_NAME AS "discovererName",
        d.DISCOVERY_TIME AS "discoveryTime",
        d.FILLIN_USER_ID AS "fillinUserId",
        d.FILLIN_DEPT_CODE AS "fillinDeptCode",
        d.FILLIN_TIME AS "fillinTime",
        d.RESP_DEPT_CODE AS "respDeptCode",
        d.ASSIST_DEPT_CODE AS "assistDeptCode",
        d.REPAIR_DEPT_CODE AS "repairDeptCode",
        d.PUBLISH_USER_ID AS "publishUserId",
        d.PUBLISH_TIME AS "publishTime",
        d.FAULT_LEVEL AS "faultLevel",
        d.FAULT_STATUS AS "faultStatus",
        d.WORK_FLOW_INST_ID AS "workFlowInstId",
        d.WORK_FLOW_INST_STATUS AS "workFlowInstStatus",
        d.DOC_ID AS "docId",
        d.REMARK AS "remark",
        d.REC_CREATOR AS "recCreator",
        d.REC_CREATE_TIME AS "recCreateTime",
        d.REC_REVISOR AS "recRevisor",
        d.REC_REVISE_TIME AS "recReviseTime",
        d.REC_DELETOR AS "recDeletor",
        d.REC_DELETE_TIME AS "recDeleteTime",
        d.DELETE_FLAG AS "deleteFlag",
        d.ARCHIVE_FLAG AS "archiveFlag",
        d.REC_STATUS AS "recStatus",
        d.EXT1 AS "ext1",
        d.EXT2 AS "ext2",
        d.EXT3 AS "affect",
        d.EXT4 AS "ext4",
        d.EXT5 AS "ext5",
        d.TRAIN_TAG AS "traintag",
        u.USER_NAME AS "fillinUserName",
        df.CLOSE_TIME AS "closeTime",
        ( SELECT u1.USER_NAME FROM IPLAT60.XS_USER u1 WHERE u1.LOGIN_NAME = df.CLOSE_USER_ID ) AS "closeUserName",
        df.DEALER_UNIT AS "dealerUnit",
        df.DEALER_NUM AS "dealerNum",
        df.FAULT_WORK_NO AS "faultWorkNo",
        df.REC_ID AS "orderRecId",
        df.ORDER_STATUS AS "orderStatus",
        df.EXT1 AS "levelfault"
        FROM
        T_FAULT_INFO d,
        IPLAT60.XS_USER u,
        T_FAULT_ORDER df
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="faultNo!=null and faultNo!=''">
                and d.FAULT_NO = #{faultNo}
            </if>
            <if test="faultWorkNo!=null and faultWorkNo!=''">
                and df.FAULT_WORK_NO = #{faultWorkNo}
            </if>
            AND d.FILLIN_USER_ID = u.LOGIN_NAME
            AND d.FAULT_NO = df.FAULT_NO
            AND d.FAULT_FLAG <![CDATA[!=]]> '2'
        </trim>
    </select>
    <select id="faultOrderDetail" resultType="com.wzmtr.eam.dto.res.fault.FaultDetailResDTO">
        SELECT
        REC_ID	as "recId",
        COMPANY_CODE	as "companyCode",
        COMPANY_NAME	as "companyName",
        FAULT_NO	as "faultNo",
        FAULT_WORK_NO	as "faultWorkNo",
        DISPATCH_USER_ID	as "dispatchUserId",
        DISPATCH_TIME	as "dispatchTime",
        REPAIR_RESP_USER_ID	as "repairRespUserId",
        WORK_AREA	as "workArea",
        ORDER_STATUS	as "orderStatus",
        REPAIR_DISPATCH_NO	as "repairDispatchNo",
        REPORT_USER_ID	as "reportUserId",
        REPORT_TIME	as "reportTime",
        WORK_CLASS as "workClass",
        CHECK_USER_ID as "checkUserId",
        CHECK_TIME as "checkTime",
        RUSH_REPAIR_NO	as "rushRepairNo",
        ARRIVAL_TIME	as "arrivalTime",
        REPAIR_START_TIME	as "repairStartTime",
        REPAIR_END_TIME	as "repairEndTime",
        REPAIR_TIME	as "repairTime",
        LEAVE_TIME	as "leaveTime",
        FAULT_REASON_CODE	as "faultReasonCode",
        FAULT_REASON_DETAIL	as "faultReasonDetail",
        FAULT_ACTION_CODE	as "faultActionCode",
        FAULT_ACTION_DETAIL	as "faultActionDetail",
        FAULT_PROCESS_RESULT	as "faultProcessResult",
        REPORT_START_USER_ID	as "reportStartUserId",
        REPORT_START_TIME	as "reportStartTime",
        REPORT_FINISH_USER_ID	as "reportFinishUserId",
        REPORT_FINISH_TIME	as "reportFinishTime",
        CONFIRM_USER_ID	as "confirmUserId",
        CONFIRM_TIME	as "confirmTime",
        CLOSE_USER_ID	as "closeUserId",
        CLOSE_TIME	as "closeTime",
        WORK_FLOW_INST_ID	as "workFlowInstId",
        WORK_FLOW_INST_STATUS	as "workFlowInstStatus",
        PLAN_RECOVERY_TIME as "planRecoveryTime",
        (Select u.USER_NAME from IPLAT60.XS_USER u where u.LOGIN_NAME = trim(DISPATCH_USER_ID)) as "dispatchUserName",
        (Select u.USER_NAME from IPLAT60.XS_USER u where u.LOGIN_NAME = trim(REPAIR_RESP_USER_ID)) as "repairRespUserName",
        (Select u.USER_NAME from IPLAT60.XS_USER u where u.LOGIN_NAME = trim(CHECK_USER_ID)) as "checkUserName",
        (Select u.USER_NAME from IPLAT60.XS_USER u where u.LOGIN_NAME = trim(CLOSE_USER_ID)) as "closeUserName",
        (Select u.USER_NAME from IPLAT60.XS_USER u where u.LOGIN_NAME = trim(REPORT_FINISH_USER_ID)) as "reportFinishUserName",
        (Select u.USER_NAME from IPLAT60.XS_USER u where u.LOGIN_NAME = trim(CONFIRM_USER_ID)) as "confirmUserName",
        (Select u.USER_NAME from IPLAT60.XS_USER u where u.LOGIN_NAME = trim(REPORT_USER_ID)) as "reportUserName",
        FAULT_AFFECT as "faultAffect",
        IS_DETAINING_REPAIR as "isDetainingRepair",
        DOC_ID	as "docId",
        REMARK	as "remark",
        REC_CREATOR	as "recCreator",
        REC_CREATE_TIME	as "recCreateTime",
        REC_REVISOR	as "recRevisor",
        REC_REVISE_TIME	as "recReviseTime",
        REC_DELETOR	as "recDeletor",
        REC_DELETE_TIME	as "recDeleteTime",
        DELETE_FLAG	as "deleteFlag",
        ARCHIVE_FLAG	as "archiveFlag",
        REC_STATUS	as "recStatus",
        EXT1	as "levelfault",
        EXT2	as "ext2",
        EXT3	as "ext3",
        EXT4	as "ext4",
        EXT5	as "ext5"
        FROM T_FAULT_ORDER
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="faultNo!=null and faultNo!=''">
                and FAULT_NO = #{faultNo}
            </if>
            <if test="faultWorkNo!=null and faultWorkNo!=''">
                and FAULT_WORK_NO = #{faultWorkNo}
            </if>
        </trim>
    </select>
</mapper>