<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzmtr.eam.mapper.fault.TrackMapper">
    <insert id="add">
        INSERT INTO T_DANGER_RISK (REC_ID,  <!-- 记录编号 -->
        DANGER_RISK_ID,  <!-- 危险源记录单号 -->
        REC_DEPT,  <!-- 记录部门 -->
        DANGER_RISK,  <!-- 危险源 -->
        DANGER_RISK_RANK,  <!-- 危险源等级 -->
        DANGER_RISK_DETAIL,  <!-- 危险源描述 -->
        CONSEQUENSE,  <!-- 后果/伤害 -->
        RESP_DEPT_CODE,  <!-- 责任部门 -->
        RESP_CODE,  <!-- 责任人 -->
        POSITION_DESC,  <!-- 地点 -->
        POSITION1_CODE,  <!-- 位置一 -->
        POSITION2_CODE,  <!-- 位置二 -->
        POSITION3,  <!-- 位置三 -->
        POSITION_REMARK,  <!-- 位置补充说明 -->
        DANGER_RISK_PIC,  <!-- 危险源照片 -->
        CONTROL_DETAIL,  <!-- 控制措施 -->
        DISC_DATE,  <!-- 发现时间 -->
        REMARK,  <!-- 备注 -->
        REC_CREATOR,  <!-- 创建者 -->
        REC_CREATE_TIME,  <!-- 创建时间 -->
        REC_REVISOR,  <!-- 修改者 -->
        REC_REVISE_TIME,  <!-- 修改时间 -->
        REC_DELETOR,  <!-- 删除者 -->
        REC_DELETE_TIME,  <!-- 删除时间 -->
        DELETE_FLAG,  <!-- 删除标志 -->
        ARCHIVE_FLAG,  <!-- 归档标记 -->
        EXT1,  <!-- 扩展字段1 -->
        EXT2,  <!-- 扩展字段2 -->
        EXT3,  <!-- 扩展字段3 -->
        EXT4,  <!-- 扩展字段4 -->
        EXT5  <!-- 扩展字段5 -->
        )
        VALUES (#{recId,jdbcType=VARCHAR}, #{dangerRiskId,jdbcType=VARCHAR}, #{recDept,jdbcType=VARCHAR},
        #{dangerRisk,jdbcType=VARCHAR}, #{dangerRiskRank,jdbcType=VARCHAR}, #{dangerRiskDetail,jdbcType=VARCHAR},
        #{consequense,jdbcType=VARCHAR}, #{respDeptCode,jdbcType=VARCHAR}, #{respCode,jdbcType=VARCHAR},
        #{positionDesc,jdbcType=VARCHAR}, #{position1Code,jdbcType=VARCHAR}, #{position2Code,jdbcType=VARCHAR},
        #{position3,jdbcType=VARCHAR}, #{positionRemark,jdbcType=VARCHAR}, #{dangerRiskPic,jdbcType=VARCHAR},
        #{controlDetail,jdbcType=VARCHAR}, #{discDate,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR},
        #{recCreator,jdbcType=VARCHAR}, #{recCreateTime,jdbcType=VARCHAR}, #{recRevisor,jdbcType=VARCHAR},
        #{recReviseTime,jdbcType=VARCHAR}, #{recDeletor,jdbcType=VARCHAR}, #{recDeleteTime,jdbcType=VARCHAR},
        #{deleteFlag,jdbcType=VARCHAR}, #{archiveFlag,jdbcType=VARCHAR}, #{ext1,jdbcType=VARCHAR},
        #{ext2,jdbcType=VARCHAR}, #{ext3,jdbcType=VARCHAR}, #{ext4,jdbcType=VARCHAR}, #{ext5,jdbcType=VARCHAR})
    </insert>
    <update id="update">
        UPDATE T_DANGER_RISK
        SET
            REC_DEPT           = #{recDept},
            DANGER_RISK        = #{dangerRisk},
            DANGER_RISK_RANK   = #{dangerRiskRank},
            DANGER_RISK_DETAIL = #{dangerRiskDetail},
            CONSEQUENSE        = #{consequense},
            RESP_DEPT_CODE     = #{respDeptCode},
            RESP_CODE          = #{respCode},
            POSITION_DESC      = #{positionDesc},
            POSITION1_CODE     = #{position1Code},
            POSITION2_CODE     = #{position2Code},
            POSITION3          = #{position3},
            POSITION_REMARK    = #{positionRemark},
            DANGER_RISK_PIC    = #{dangerRiskPic},
            CONTROL_DETAIL     = #{controlDetail},
            DISC_DATE          = #{discDate},
            REMARK             = #{remark},
            REC_CREATOR        = #{recCreator},
            REC_CREATE_TIME    = #{recCreateTime},
            REC_REVISOR        = #{recRevisor},
            REC_REVISE_TIME    = #{recReviseTime},
            REC_DELETOR        = #{recDeletor},
            REC_DELETE_TIME    = #{recDeleteTime},
            DELETE_FLAG        = #{deleteFlag},
            ARCHIVE_FLAG       = #{archiveFlag},
            EXT1               = #{ext1},
            EXT2               = #{ext2},
            EXT3               = #{ext3},
            EXT4               = #{ext4},
            EXT5               = #{ext5}
        WHERE DANGER_RISK_ID = #{dangerRiskId}
    </update>

    <update id="deleteByIds">
        update
        T_DANGER_RISK
        set
        DELETE_FLAG='1', REC_DELETOR=#{userId}, REC_DELETE_TIME=#{time}
        WHERE REC_ID in
        <foreach collection="ids" item="id" index="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>




    <select id="getMaxCode" resultType="java.lang.String">
            SELECT max(DANGER_RISK_ID)
            FROM T_DANGER_RISK
    </select>
    <select id="query" resultType="com.wzmtr.eam.dto.res.fault.TrackResDTO">
        SELECT
        df11.REC_ID as "recId",  <!-- 记录编号 -->
        df11.COMPANY_CODE as "companyCode",  <!-- 公司代码 -->
        df11.COMPANY_NAME as "companyName",  <!-- 公司名称 -->
        df11.FAULT_TRACK_NO as "faultTrackNo",  <!-- 故障跟踪编号 -->
        df11.FAULT_TRACK_WORK_NO as "faultTrackWorkNo",  <!-- 故障跟踪工单号 -->
        df11.DISPATCH_USER_ID as "dispatchUserId",  <!-- 派工人工号 -->
        df11.DISPATCH_TIME as "dispatchTime",  <!-- 派工时间 -->
        df11.WORKER_GROUP_CODE as "workerGroupCode",
        df11.WORK_GROUP_NAME as "workGroupName",
        df11.TRACK_REPORTER_ID as "trackReporterId",  <!-- 跟踪报告人工号 -->
        df11.TRACK_REPORT_TIME as "trackReportTime",  <!-- 跟踪报告时间 -->
        -- (Select u.USER_NAME from IPLAT60.c u where u.LOGIN_NAME =df11.TRACK_REPORTER_ID) as "trackReportName",
        -- (Select u.USER_NAME from IPLAT60.XS_USER u where u.LOGIN_NAME = df11.DISPATCH_USER_ID) as "dispatchUserName",
        -- (Select u.USER_NAME from IPLAT60.XS_USER u where u.LOGIN_NAME = df11.TRACK_CLOSER_ID) as "trackCloserName",
        df11.TRACK_RESULT as "trackResult",  <!-- 跟踪结果 -->
        df11.TRACK_CLOSER_ID as "trackCloserId",  <!-- 跟踪关闭人工号 -->
        df11.TRACK_CLOSE_TIME as "trackCloseTime",  <!-- 跟踪关闭时间 -->
        df11.DOC_ID as "docId",  <!-- 附件编号 -->
        df11.REMARK as "remark",  <!-- 备注 -->
        df11.REC_CREATOR as "recCreator",  <!-- 创建者 -->
        df11.REC_CREATE_TIME as "recCreateTime",  <!-- 创建时间 -->
        df11.REC_REVISOR as "recRevisor",  <!-- 修改者 -->
        df11.REC_REVISE_TIME as "recReviseTime",  <!-- 修改时间 -->
        df11.REC_DELETOR as "recDeletor",  <!-- 删除者 -->
        df11.REC_DELETE_TIME as "recDeleteTime",  <!-- 删除时间 -->
        df11.DELETE_FLAG as "deleteFlag",  <!-- 删除标志 -->
        df11.ARCHIVE_FLAG as "archiveFlag",  <!-- 归档标记 -->
        df11.REC_STATUS as "recStatus",  <!-- 记录状态 -->
        df1.OBJECT_CODE as "objectCode",
        df1.OBJECT_NAME as "objectName"
        FROM T_FAULT_TRACK_DETAIL df11
        LEFT JOIN T_FAULT_TRACK df9
        ON df11.FAULT_TRACK_NO = df9.FAULT_TRACK_NO
        LEFT JOIN T_FAULT_ORDER df2
        ON df9.FAULT_WORK_NO = df2.FAULT_WORK_NO
        LEFT JOIN T_FAULT_INFO df1
        ON df9.FAULT_NO = df1.FAULT_NO
        AND df2.FAULT_NO = df1.FAULT_NO
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="faultTrackNo!=null and faultTrackNo!=''">
                and df11.FAULT_TRACK_NO = #{faultTrackNo}
            </if>
            <if test="faultTrackWorkNo!=null and faultTrackWorkNo!=''">
                and df11.FAULT_TRACK_WORK_NO = #{faultTrackWorkNo}
            </if>
            <if test="faultTrackWorkNo!=null and faultTrackWorkNo!=''">
                and df11.FAULT_TRACK_WORK_NO = #{faultTrackWorkNo}
            </if>
            <if test="objectCode!=null and objectCode!=''">
                and df1.OBJECT_CODE = #{objectCode}
            </if>
            <if test="objectName!=null and objectName!=''">
                and df1.OBJECT_NAME = #{objectName}
            </if>
            <if test="majorCode!=null and majorCode!=''">
                and df1.MAJOR_CODE = #{majorCode}
            </if>
            <if test="systemCode!=null and systemCode!=''">
                and df1.SYSTEM_CODE = #{systemCode}
            </if>
            <if test="equipTypeCode!=null and equipTypeCode!=''">
                and df1.EQUIP_TYPE_CODE = #{equipTypeCode}
            </if>
            <if test="recStatus!=null and recStatus!=''">
                and df9.REC_STATUS = #{recStatus}
            </if>
        </trim>
        order by df11.FAULT_TRACK_WORK_NO
    </select>
    <select id="detail" resultType="com.wzmtr.eam.dto.res.fault.TrackResDTO">
        SELECT
        df11.REC_ID as "recId",  <!-- 记录编号 -->
        df11.COMPANY_CODE as "companyCode",  <!-- 公司代码 -->
        df11.COMPANY_NAME as "companyName",  <!-- 公司名称 -->
        df11.FAULT_TRACK_NO as "faultTrackNo",  <!-- 故障跟踪编号 -->
        df11.FAULT_TRACK_WORK_NO as "faultTrackWorkNo",  <!-- 故障跟踪工单号 -->
        df11.DISPATCH_USER_ID as "dispatchUserId",  <!-- 派工人工号 -->
        df11.DISPATCH_TIME as "dispatchTime",  <!-- 派工时间 -->
        df11.WORKER_GROUP_CODE as "workerGroupCode",
        df11.WORK_GROUP_NAME as "workGroupName",
        df11.TRACK_REPORTER_ID as "trackReporterId",  <!-- 跟踪报告人工号 -->
        df11.TRACK_REPORT_TIME as "trackReportTime",  <!-- 跟踪报告时间 -->
        -- (Select u.USER_NAME from IPLAT60.c u where u.LOGIN_NAME =df11.TRACK_REPORTER_ID) as "trackReportName",
        -- (Select u.USER_NAME from IPLAT60.XS_USER u where u.LOGIN_NAME = df11.DISPATCH_USER_ID) as "dispatchUserName",
        -- (Select u.USER_NAME from IPLAT60.XS_USER u where u.LOGIN_NAME = df11.TRACK_CLOSER_ID) as "trackCloserName",
        df11.TRACK_RESULT as "trackResult",  <!-- 跟踪结果 -->
        df11.TRACK_CLOSER_ID as "trackCloserId",  <!-- 跟踪关闭人工号 -->
        df11.TRACK_CLOSE_TIME as "trackCloseTime",  <!-- 跟踪关闭时间 -->
        df11.DOC_ID as "docId",  <!-- 附件编号 -->
        df11.REMARK as "remark",  <!-- 备注 -->
        df11.REC_CREATOR as "recCreator",  <!-- 创建者 -->
        df11.REC_CREATE_TIME as "recCreateTime",  <!-- 创建时间 -->
        df11.REC_REVISOR as "recRevisor",  <!-- 修改者 -->
        df11.REC_REVISE_TIME as "recReviseTime",  <!-- 修改时间 -->
        df11.REC_DELETOR as "recDeletor",  <!-- 删除者 -->
        df11.REC_DELETE_TIME as "recDeleteTime",  <!-- 删除时间 -->
        df11.DELETE_FLAG as "deleteFlag",  <!-- 删除标志 -->
        df11.ARCHIVE_FLAG as "archiveFlag",  <!-- 归档标记 -->
        df11.REC_STATUS as "recStatus",  <!-- 记录状态 -->
        df1.OBJECT_CODE as "objectCode",
        df1.OBJECT_NAME as "objectName"
        FROM T_FAULT_TRACK_DETAIL df11
        LEFT JOIN T_FAULT_TRACK df9
        ON df11.FAULT_TRACK_NO = df9.FAULT_TRACK_NO
        LEFT JOIN T_FAULT_ORDER df2
        ON df9.FAULT_WORK_NO = df2.FAULT_WORK_NO
        LEFT JOIN T_FAULT_INFO df1
        ON df9.FAULT_NO = df1.FAULT_NO
        AND df2.FAULT_NO = df1.FAULT_NO
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="faultTrackNo!=null and faultTrackNo!=''">
                and df11.FAULT_TRACK_NO = #{faultTrackNo}
            </if>
            <if test="faultTrackWorkNo!=null and faultTrackWorkNo!=''">
                and df11.FAULT_TRACK_WORK_NO = #{faultTrackWorkNo}
            </if>
            <if test="faultTrackWorkNo!=null and faultTrackWorkNo!=''">
                and df11.FAULT_TRACK_WORK_NO = #{faultTrackWorkNo}
            </if>
            <if test="objectCode!=null and objectCode!=''">
                and df1.OBJECT_CODE = #{objectCode}
            </if>
            <if test="objectName!=null and objectName!=''">
                and df1.OBJECT_NAME = #{objectName}
            </if>
            <if test="majorCode!=null and majorCode!=''">
                and df1.MAJOR_CODE = #{majorCode}
            </if>
            <if test="systemCode!=null and systemCode!=''">
                and df1.SYSTEM_CODE = #{systemCode}
            </if>
            <if test="equipTypeCode!=null and equipTypeCode!=''">
                and df1.EQUIP_TYPE_CODE = #{equipTypeCode}
            </if>
            <if test="recStatus!=null and recStatus!=''">
                and df9.REC_STATUS = #{recStatus}
            </if>
        </trim>
        order by df11.FAULT_TRACK_WORK_NO
    </select>

</mapper>