<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzmtr.eam.mapper.fault.FaultReportMapper">
    <insert id="addToFaultOrder">
        INSERT INTO T_FAULT_ORDER
        (REC_ID,  <!-- 记录编号 -->
        COMPANY_CODE,  <!-- 公司代码 -->
        COMPANY_NAME,  <!-- 公司名称 -->
        FAULT_NO,  <!-- 故障编号 -->
        FAULT_WORK_NO,  <!-- 故障工单号 -->
        REPORT_USER_ID,
        REPORT_TIME,
        PLAN_RECOVERY_TIME,
        FAULT_AFFECT,
        WORK_CLASS,
        CHECK_USER_ID,
        CHECK_TIME,
        DISPATCH_USER_ID,  <!-- 派工人工号 -->
        DISPATCH_TIME,  <!-- 派工时间 -->
        REPAIR_RESP_USER_ID,  <!-- 维修负责人工号 -->
        WORK_AREA,  <!-- 工作区域 -->
        ORDER_STATUS,  <!-- 工单状态 -->
        REPAIR_DISPATCH_NO,  <!-- 维调号 -->
        RUSH_REPAIR_NO,  <!-- 抢修号 -->
        ARRIVAL_TIME,  <!-- 到达现场时间 -->
        REPAIR_START_TIME,  <!-- 维修开始时间 -->
        REPAIR_END_TIME,  <!-- 维修结束时间 -->
        REPAIR_TIME,  <!-- 耗时（单位：小时） -->
        LEAVE_TIME,  <!-- 离开现场时间 -->
        FAULT_REASON_CODE,  <!-- 故障原因码 -->
        FAULT_REASON_DETAIL,  <!-- 故障原因详情 -->
        FAULT_ACTION_CODE,  <!-- 故障行动码 -->
        FAULT_ACTION_DETAIL,  <!-- 故障处理详情 -->
        FAULT_PROCESS_RESULT,  <!-- 故障处理结果（10-已处理；20-未处理） -->
        REPORT_START_USER_ID,  <!-- 开工人工号 -->
        REPORT_START_TIME,  <!-- 开工时间 -->
        REPORT_FINISH_USER_ID,  <!-- 完工人工号 -->
        REPORT_FINISH_TIME,  <!-- 完工时间 -->
        CONFIRM_USER_ID,  <!-- 完工确认人工号 -->
        CONFIRM_TIME,  <!-- 完工确认时间 -->
        CLOSE_USER_ID,  <!-- 关闭人工号 -->
        CLOSE_TIME,  <!-- 关闭时间 -->
        WORK_FLOW_INST_ID,  <!-- 工作流实例ID -->
        WORK_FLOW_INST_STATUS,  <!-- 工作流实例状态 -->
        DOC_ID,  <!-- 附件编号 -->
        REMARK,  <!-- 备注 -->
        REC_CREATOR,  <!-- 创建者 -->
        REC_CREATE_TIME,  <!-- 创建时间 -->
        REC_REVISOR,  <!-- 修改者 -->
        REC_REVISE_TIME,  <!-- 修改时间 -->
        REC_DELETOR,  <!-- 删除者 -->
        REC_DELETE_TIME,  <!-- 删除时间 -->
        DELETE_FLAG,  <!-- 删除标志 -->
        ARCHIVE_FLAG,  <!-- 归档标记 -->
        REC_STATUS,  <!-- 记录状态 -->
        DEALER_UNIT,
        DEALER_NUM,
        EXT1,  <!-- 扩展字段1 -->
        EXT2,  <!-- 扩展字段2 -->
        EXT3,  <!-- 扩展字段3 -->
        EXT4,  <!-- 扩展字段4 -->
        EXT5  <!-- 扩展字段5 -->
        )
        VALUES (#{recId,jdbcType=VARCHAR}, #{companyCode,jdbcType=VARCHAR}, #{companyName,jdbcType=VARCHAR},
        #{faultNo,jdbcType=VARCHAR}, #{faultWorkNo,jdbcType=VARCHAR},#{reportUserId,jdbcType=VARCHAR},
        #{reportTime,jdbcType=VARCHAR},#{planRecoveryTime,jdbcType=VARCHAR},#{faultAffect,jdbcType=VARCHAR},
        #{workClass,jdbcType=VARCHAR}, #{checkUserId,jdbcType=VARCHAR}, #{checkTime,jdbcType=VARCHAR},
        #{dispatchUserId,jdbcType=VARCHAR}, #{dispatchTime,jdbcType=VARCHAR}, #{repairRespUserId,jdbcType=VARCHAR},
        #{workArea,jdbcType=VARCHAR}, #{orderStatus,jdbcType=VARCHAR}, #{repairDispatchNo,jdbcType=VARCHAR},
        #{rushRepairNo,jdbcType=VARCHAR}, #{arrivalTime,jdbcType=VARCHAR}, #{repairStartTime,jdbcType=VARCHAR},
        #{repairEndTime,jdbcType=VARCHAR}, #{repairTime,jdbcType=NUMERIC}{, #{leaveTime,jdbcType=VARCHAR},
        #{faultReasonCode,jdbcType=VARCHAR}, #{faultReasonDetail,jdbcType=VARCHAR}, #{faultActionCode,jdbcType=VARCHAR},
        #{faultActionDetail,jdbcType=VARCHAR}, #{faultProcessResult,jdbcType=VARCHAR},
        #{reportStartUserId,jdbcType=VARCHAR},
        #{reportStartTime,jdbcType=VARCHAR}, #{reportFinishUserId,jdbcType=VARCHAR},
        #{reportFinishTime,jdbcType=VARCHAR},
        #{confirmUserId,jdbcType=VARCHAR}, #{confirmTime,jdbcType=VARCHAR}, #{closeUserId,jdbcType=VARCHAR},
        #{closeTime,jdbcType=VARCHAR}, #{workFlowInstId,jdbcType=VARCHAR},
        #{workFlowInstStatus,jdbcType=VARCHAR}, #{docId,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR},
        #{recCreator,jdbcType=VARCHAR}, #{recCreateTime,jdbcType=VARCHAR},
        #{recRevisor,jdbcType=VARCHAR}, #{recReviseTime,jdbcType=VARCHAR}, #{recDeletor,jdbcType=VARCHAR},
        #{recDeleteTime,jdbcType=VARCHAR}, #{deleteFlag,jdbcType=VARCHAR}, #{archiveFlag,jdbcType=VARCHAR},
        #{recStatus,jdbcType=VARCHAR},#{dealerUnit,jdbcType=VARCHAR},#{dealerNum,jdbcType=VARCHAR},
        #{ext1,jdbcType=VARCHAR}, #{ext2,jdbcType=VARCHAR}, #{ext3,jdbcType=VARCHAR}, #{ext4,jdbcType=VARCHAR},
        #{ext5,jdbcType=VARCHAR})
    </insert>
    <insert id="addToFaultInfo">
        INSERT INTO T_FAULT_INFO (REC_ID,  <!-- 记录编号 -->
        COMPANY_CODE,  <!-- 公司代码 -->
        COMPANY_NAME,  <!-- 公司名称 -->
        POSITION2_CODE,
        PART_CODE,
        PART_NAME,
        FAULT_MODULE_ID,
        FAULT_NO,  <!-- 故障编号 -->
        FAULT_FLAG,  <!-- 故障标识（1-标准故障；2-快速故障） -->
        OBJECT_CODE,  <!-- 对象编码 -->
        OBJECT_NAME,  <!-- 对象名称 -->
        TRAIN_TRUNK,  <!-- 车底号/车厢号 -->
        LINE_CODE,  <!-- 线路编码 -->
        POSITION_CODE,  <!-- 位置编码 -->
        MAJOR_CODE,  <!-- 专业代码 -->
        SYSTEM_CODE,  <!-- 系统代码 -->
        EQUIP_TYPE_CODE,  <!-- 设备分类代码 -->
        FAULT_MODULE,  <!-- 故障模块 -->
        FAULT_TYPE,  <!-- 故障分类（10-运营故障；20-自检故障；30-新线调试；40-正线故障；50-出库故障） -->
        SOURCE_CODE,  <!-- 来源编号 -->
        FAULT_DISPLAY_CODE,  <!-- 故障现象 -->
        FAULT_DETAIL,  <!-- 故障详情 -->
        DISCOVERER_ID,  <!-- 发现人工号 -->
        DISCOVERER_NAME,  <!-- 发现人姓名 -->
        DISCOVERY_TIME,  <!-- 发现时间 -->
        DISCOVERER_PHONE,
        FAULT_DISPLAY_DETAIL,
        FILLIN_USER_ID,  <!-- 提报人工号 -->
        FILLIN_DEPT_CODE,  <!-- 提报部门 -->
        FILLIN_TIME,  <!-- 提报时间 -->
        RESP_DEPT_CODE,  <!-- 主责部门 -->
        ASSIST_DEPT_CODE,  <!-- 配合部门 -->
        REPAIR_DEPT_CODE,  <!-- 维修部门 -->
        PUBLISH_USER_ID,  <!-- 下发人工号 -->
        PUBLISH_TIME,  <!-- 下发时间 -->
        FAULT_LEVEL,  <!-- 故障等级 -->
        FAULT_STATUS,  <!-- 故障状态 -->
        WORK_FLOW_INST_ID,  <!-- 工作流实例ID -->
        WORK_FLOW_INST_STATUS,  <!-- 工作流实例状态 -->
        DOC_ID,  <!-- 附件编号 -->
        REMARK,  <!-- 备注 -->
        REC_CREATOR,  <!-- 创建者 -->
        REC_CREATE_TIME,  <!-- 创建时间 -->
        REC_REVISOR,  <!-- 修改者 -->
        REC_REVISE_TIME,  <!-- 修改时间 -->
        REC_DELETOR,  <!-- 删除者 -->
        REC_DELETE_TIME,  <!-- 删除时间 -->
        DELETE_FLAG,  <!-- 删除标志 -->
        ARCHIVE_FLAG,  <!-- 归档标记 -->
        REC_STATUS,  <!-- 记录状态 -->
        EXT1,  <!-- 扩展字段1 -->
        EXT2,  <!-- 扩展字段2 -->
        EXT3,  <!-- 扩展字段3 -->
        EXT4,  <!-- 扩展字段4 -->
        EXT5,  <!-- 扩展字段5 -->
        TRAIN_TAG
        )
        VALUES (#{recId,jdbcType=VARCHAR}, #{companyCode,jdbcType=VARCHAR}, #{companyName,jdbcType=VARCHAR},
        #{position2Code,jdbcType=VARCHAR},#{partCode,jdbcType=VARCHAR},#{partName,jdbcType=VARCHAR},#{faultModuleId,jdbcType=VARCHAR},
        #{faultNo,jdbcType=VARCHAR},
        #{faultFlag,jdbcType=VARCHAR}, #{objectCode,jdbcType=VARCHAR}, #{objectName,jdbcType=VARCHAR},
        #{trainTrunk,jdbcType=VARCHAR}, #{lineCode,jdbcType=VARCHAR},
        #{positionCode,jdbcType=VARCHAR}, #{majorCode,jdbcType=VARCHAR}, #{systemCode,jdbcType=VARCHAR},
        #{equipTypeCode,jdbcType=VARCHAR}, #{faultModule,jdbcType=VARCHAR}, #{faultType,jdbcType=VARCHAR},
        #{sourceCode,jdbcType=VARCHAR}, #{faultDisplayCode,jdbcType=VARCHAR}, #{faultDetail,jdbcType=VARCHAR},
        #{discovererId,jdbcType=VARCHAR}, #{discovererName,jdbcType=VARCHAR},
        #{discoveryTime,jdbcType=VARCHAR},#{discovererPhone,jdbcType=VARCHAR},#{faultDisplayDetail,jdbcType=VARCHAR},
        #{fillinUserId,jdbcType=VARCHAR},
        #{fillinDeptCode,jdbcType=VARCHAR}, #{fillinTime,jdbcType=VARCHAR}, #{respDeptCode,jdbcType=VARCHAR},
        #{assistDeptCode,jdbcType=VARCHAR},
        #{repairDeptCode,jdbcType=VARCHAR}, #{publishUserId,jdbcType=VARCHAR}, #{publishTime,jdbcType=VARCHAR},
        #{faultLevel,jdbcType=VARCHAR},
        #{faultStatus,jdbcType=VARCHAR}, #{workFlowInstId,jdbcType=VARCHAR}, #{workFlowInstStatus,jdbcType=VARCHAR},
        #{docId,jdbcType=VARCHAR},
        #{remark,jdbcType=VARCHAR}, #{recCreator,jdbcType=VARCHAR}, #{recCreateTime,jdbcType=VARCHAR},
        #{recRevisor,jdbcType=VARCHAR},
        #{recReviseTime,jdbcType=VARCHAR}, #{recDeletor,jdbcType=VARCHAR}, #{recDeleteTime,jdbcType=VARCHAR},
        #{deleteFlag,jdbcType=VARCHAR},
        #{archiveFlag,jdbcType=VARCHAR}, #{recStatus,jdbcType=VARCHAR}, #{ext1,jdbcType=VARCHAR},
        #{ext2,jdbcType=VARCHAR}, #{ext3,jdbcType=VARCHAR},
        #{ext4,jdbcType=VARCHAR}, #{ext5,jdbcType=VARCHAR},#{traintag,jdbcType=VARCHAR})
    </insert>
    <select id="getFaultList" resultType="com.wzmtr.eam.dto.res.fault.FaultReportResDTO">
            SELECT
            t2.REC_ID AS recId,
            t2.COMPANY_CODE AS companyCode,
            t2.COMPANY_NAME AS companyName,
            t2.EQUIPMENT_TYPE_CODE AS equipmentTypeCode,
            t1.NODE_NAME AS equipmentTypeName,
            t2.LINE_CODE AS lineCode,
            t2.FAULT_CODE_TYPE AS faultCodeType,
            t2.FAULT_CODE AS faultCode,
            t2.FAULT_DESCR AS faultDescr,
            t2.RELATED_CODES AS relatedCodes,
            t2.REMARK AS remark,
            xs.USER_NAME AS recCreator,
            t2.REC_CREATE_TIME AS recCreateTime,
            t2.REC_REVISOR AS recRevisor,
            t2.REC_REVISE_TIME AS recReviseTime,
            t2.REC_DELETOR AS recDeletor,
            t2.REC_DELETE_TIME AS recDeleteTime,
            t2.DELETE_FLAG AS deleteFlag,
            t2.ARCHIVE_FLAG AS archiveFlag,
            t2.REC_STATUS AS recStatus,
            t2.EXT1 AS ext1,
            t2.EXT2 AS ext2,
            t2.EXT3 AS ext3,
            t2.EXT4 AS ext4,
            t2.EXT5 AS ext5
            FROM WBPLAT.TDMBM02 t2, T_EQUIPMENT_CATEGORY t1, IPLAT60.XS_USER xs
            WHERE 1=1
            AND t2.EQUIPMENT_TYPE_CODE = t1.NODE_CODE
            AND t2.REC_CREATOR = xs.LOGIN_NAME
            <if test="equipmentTypeCode != null">
                AND t2.EQUIPMENT_TYPE_CODE = #{equipmentTypeCode}
            </if>
            <if test="equipmentTypeName != null">
                AND t1.NODE_NAME = #{equipmentTypeName}
            </if>
            <if test="lineCode != null">
                AND t2.LINE_CODE = #{lineCode}
            </if>
            <if test="faultCode != null">
                AND t2.FAULT_CODE LIKE '%' || #{faultCode} || '%'
            </if>
            <if test="faultCodeType != null">
                AND t2.FAULT_CODE_TYPE = #{faultCodeType}
            </if>
            ORDER BY t2.EQUIPMENT_TYPE_CODE, t2.FAULT_CODE_TYPE, t2.FAULT_CODE ASC
    </select>


    <select id="list" resultType="com.wzmtr.eam.dto.res.fault.FaultReportResDTO">
        SELECT
        d.REC_ID as "recId",  <!-- 记录编号 -->
        df.REC_ID as "workId",
        d.COMPANY_CODE as "companyCode",  <!-- 公司代码 -->
        d.COMPANY_NAME as "companyName",  <!-- 公司名称 -->
        d.FAULT_NO as "faultNo",  <!-- 故障编号 -->
        d.FAULT_FLAG as "faultFlag",  <!-- 故障标识（1-标准故障；2-快速故障） -->
        d.OBJECT_CODE as "objectCode",  <!-- 对象编码 -->
        d.OBJECT_CODE as "objectCode_textField",  <!-- 对象编码 -->
        d.OBJECT_NAME as "objectName",  <!-- 对象名称 -->
        d.TRAIN_TRUNK as "trainTrunk",  <!-- 车底号/车厢号 -->
        (Select ec.ITEM_CNAME from iplat60.tedcm01 ec where ec.ITEM_CODE = d.LINE_CODE and ec.CODESET_CODE='line') as
        "lineName",
        d.LINE_CODE as "lineCode",  <!-- 线路编码 -->
        d.POSITION_CODE as "positionCode",  <!-- 位置编码 -->
        d.POSITION2_CODE as "position2Code",
        d.PART_CODE as "partCode",
        d.PART_NAME as "partName",
        (SELECT db.NODE_NAME from SYS_REGION db where db.NODE_CODE=d.POSITION_CODE) as "positionName_textField",
        (SELECT db.NODE_NAME from SYS_REGION db where db.NODE_CODE=d.POSITION_CODE) as "positionName",
        (SELECT db.NODE_NAME from T_EQUIPMENT_CATEGORY db where db.NODE_CODE=d.MAJOR_CODE) as "majorName",
        (SELECT db.NODE_NAME from T_EQUIPMENT_CATEGORY db where db.NODE_CODE=d.SYSTEM_CODE) as "systemName",
        (SELECT db.NODE_NAME from T_EQUIPMENT_CATEGORY db where db.NODE_CODE=d.EQUIP_TYPE_CODE) as "equipTypeName",
        (select d3.NODE_NAME from SYS_REGION d3 where d3.NODE_CODE=d.EXT1) as "stationCode",
        d.MAJOR_CODE as "majorCode",  <!-- 专业代码 -->
        d.SYSTEM_CODE as "systemCode",  <!-- 系统代码 -->
        d.EQUIP_TYPE_CODE as "equipTypeCode",  <!-- 设备分类代码 -->
        d.FAULT_MODULE as "faultModule",  <!-- 故障模块 -->
        d.FAULT_MODULE_ID as "faultModuleId",
        d.FAULT_TYPE as "faultType",  <!-- 故障分类（10-运营故障；20-自检故障；30-新线调试；40-正线故障；50-出库故障） -->
        d.SOURCE_CODE as "sourceCode",  <!-- 来源编号 -->
        d.FAULT_DISPLAY_CODE as "faultDisplayCode",  <!-- 故障现象 -->
        d.FAULT_DISPLAY_DETAIL as "faultDisplayDetail",
        d.FAULT_DETAIL as "faultDetail",  <!-- 故障详情 -->
        d.DISCOVERER_ID as "discovererId",  <!-- 发现人工号 -->
        d.DISCOVERER_PHONE as "discovererPhone",
        d.DISCOVERER_NAME as "discovererName",  <!-- 发现人姓名 -->
        d.DISCOVERY_TIME as "discoveryTime",  <!-- 发现时间 -->
        d.FILLIN_USER_ID as "fillinUserId",  <!-- 提报人工号 -->
        d.FILLIN_DEPT_CODE as "fillinDeptCode",  <!-- 提报部门 -->
        d.FILLIN_TIME as "fillinTime",  <!-- 提报时间 -->
        d.RESP_DEPT_CODE as "respDeptCode",  <!-- 主责部门 -->
        d.ASSIST_DEPT_CODE as "assistDeptCode",  <!-- 配合部门 -->
        d.REPAIR_DEPT_CODE as "repairDeptCode",  <!-- 维修部门 -->
        d.PUBLISH_USER_ID as "publishUserId",  <!-- 下发人工号 -->
        d.PUBLISH_TIME as "publishTime",  <!-- 下发时间 -->
        d.FAULT_LEVEL as "faultLevel",  <!-- 故障等级 -->
        d.FAULT_STATUS as "faultStatus",  <!-- 故障状态 -->
        d.WORK_FLOW_INST_ID as "workFlowInstId",  <!-- 工作流实例ID -->
        d.WORK_FLOW_INST_STATUS as "workFlowInstStatus",  <!-- 工作流实例状态 -->
        d.DOC_ID as "docId",  <!-- 附件编号 -->
        d.REMARK as "remark",  <!-- 备注 -->
        d.REC_CREATOR as "recCreator",  <!-- 创建者 -->
        d.REC_CREATE_TIME as "recCreateTime",  <!-- 创建时间 -->
        d.REC_REVISOR as "recRevisor",  <!-- 修改者 -->
        d.REC_REVISE_TIME as "recReviseTime",  <!-- 修改时间 -->
        d.REC_DELETOR as "recDeletor",  <!-- 删除者 -->
        d.REC_DELETE_TIME as "recDeleteTime",  <!-- 删除时间 -->
        d.DELETE_FLAG as "deleteFlag",  <!-- 删除标志 -->
        d.ARCHIVE_FLAG as "archiveFlag",  <!-- 归档标记 -->
        d.REC_STATUS as "recStatus",  <!-- 记录状态 -->
        d.EXT1 as "ext1",  <!-- 扩展字段1 -->
        d.EXT2 as "ext2",  <!-- 扩展字段2 -->
        d.EXT3 as "affect",  <!-- 扩展字段3 -->
        d.EXT4 as "ext4",  <!-- 扩展字段4 -->
        d.EXT5 as "ext5", <!-- 扩展字段5 -->
        d.TRAIN_TAG as "traintag",
        u.USER_NAME as "fillinUserName",
        df.FAULT_WORK_NO as "faultWorkNo",  <!-- 故障工单号 -->
        df.FAULT_STATUS as "faultStatus",
        df.REC_ID as "orderRecId",  <!-- 记录编号 -->
        df.ORDER_STATUS as "orderStatus" , <!-- 工单状态 -->
        df.EXT1 as "levelfault"  <!-- 派工状态 -->
        FROM T_FAULT_INFO d,IPLAT60.XS_USER u,T_FAULT_ORDER df
        WHERE 1=1 and d.FILLIN_USER_ID = u.LOGIN_NAME and d.FAULT_NO = df.FAULT_NO
        and d.MAJOR_CODE NOT IN('07','06')
        <if test="faultNo != null">
            AND d.FAULT_NO = #{faultNo}
        </if>
        <if test="objectCode != null">
            AND d.OBJECT_CODE = #{objectCode}
        </if>
        <if test="majorCode != null">
            AND d.MAJOR_CODE = #{majorCode}
        </if>
        <if test="faultModuleId != null">
            AND d.FAULT_MODULE_ID = #{faultModuleId}
        </if>
        <if test="objectName != null">
            AND d.OBJECT_NAME = #{objectName}
        </if>
        <if test="systemCode != null">
            AND d.SYSTEM_CODE = #{systemCode}
        </if>
        <if test="equipTypeCode != null">
            AND d.EQUIP_TYPE_CODE = #{equipTypeCode}
        </if>
        <if test="fillinTimeStart != null">
            AND TO_DATE(d.FILLIN_TIME, 'YYYY-MM-DD HH24:MI:SS') &gt;= TO_DATE(#{fillinTimeStart}, 'YYYY-MM-DD')
        </if>
        <if test="fillinTimeEnd != null">
            AND TO_DATE(d.FILLIN_TIME, 'YYYY-MM-DD HH24:MI:SS') &lt;= TO_DATE(#{fillinTimeEnd}, 'YYYY-MM-DD') + 1
        </if>
        ORDER BY d.FAULT_NO desc
    </select>
    <select id="getFaultOrderFaultWorkNoMaxCode" resultType="java.lang.String">
        SELECT max(FAULT_WORK_NO)
        FROM T_FAULT_ORDER
    </select>
    <select id="getFaultOrderFaultNoMaxCode" resultType="java.lang.String">
        SELECT max(FAULT_NO)
        FROM T_FAULT_INFO
    </select>

</mapper>