<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzmtr.eam.mapper.fault.TrackQueryMapper">


    <select id="query" resultType="com.wzmtr.eam.dto.res.fault.TrackQueryResDTO">
        SELECT
        df9.REC_ID as "recId",  <!-- 记录编号 -->
        df9.COMPANY_CODE as "companyCode",  <!-- 公司代码 -->
        df9.COMPANY_NAME as "companyName",  <!-- 公司名称 -->
        df9.FAULT_TRACK_NO as "faultTrackNo",  <!-- 故障跟踪编号 -->
        df9.FAULT_ANALYSIS_NO as "faultAnalysisNo",  <!-- 故障分析编号 -->
        df9.FAULT_ANALYSIS_NO as "faultAnalysisNo_textField",
        df9.TRACK_REASON as "trackReason",  <!-- 跟踪原因 -->
        df9.TRACK_USER_ID as "trackUserId",  <!-- 转跟踪人员工号 -->
        -- (SELECT USER_NAME FROM IPLAT60.XS_USER WHERE df9.TRACK_USER_ID = LOGIN_NAME) as "trackUserName",
        df9.TRACK_TIME as "trackTime",  <!-- 转跟踪时间 -->
        df9.TRACK_PERIOD as "trackPeriod",  <!-- 跟踪期限 -->
        df9.TRACK_CYCLE as "trackCycle",  <!-- 跟踪周期 -->
        df9.TRACK_START_DATE as "trackStartDate",
        df9.TRACK_END_DATE as "trackEndDate",
        df9.TRACK_REPORTER_ID as "trackReporterId",  <!-- 跟踪报告人工号 -->
        df9.TRACK_REPORT_TIME as "trackReportTime",  <!-- 跟踪报告时间 -->
        df9.TRACK_RESULT as "trackResult",  <!-- 跟踪结果 -->
        df9.TRACK_CLOSER_ID as "trackCloserId",  <!-- 跟踪关闭人工号 -->
        df9.TRACK_CLOSE_TIME as "trackCloseTime",  <!-- 跟踪关闭时间 -->
        df9.WORK_FLOW_INST_ID as "workFlowInstId",  <!-- 工作流实例ID -->
        df9.WORK_FLOW_INST_STATUS as "workFlowInstStatus",  <!-- 工作流实例状态 -->
        df2.WORK_CLASS as "workClass",
        df9.DOC_ID as "docId",  <!-- 附件编号 -->
        df9.REMARK as "remark",  <!-- 备注 -->
        df9.REC_STATUS as "recStatus",  <!-- 记录状态 -->
        df1.FAULT_NO as "faultNo",
        df2.FAULT_WORK_NO as "faultWorkNo",
        df1.OBJECT_CODE as "objectCode",
        df1.OBJECT_NAME as "objectName",
        df1.POSITION_CODE as "positionCode",
        db3.NODE_NAME as "positionName",
        df1.FAULT_DISPLAY_CODE as "faultDisplayCode",
        df1.FAULT_DISPLAY_DETAIL as "faultDisplayDetail",
        df2.FAULT_REASON_CODE as "faultReasonCode",
        df2.FAULT_REASON_DETAIL as "faultReasonDetail",
        df1.LINE_CODE as "lineCode",
        df1.MAJOR_CODE AS "majorCode",
        df1.FAULT_DETAIL AS "faultDetail",
        ( SELECT db.NODE_NAME FROM T_EQUIPMENT_CATEGORY db WHERE db.NODE_CODE = df1.MAJOR_CODE ) AS "majorName",
        df2.FAULT_ACTION_DETAIL AS "faultActionDetail"
        FROM
        T_FAULT_TRACK df9
        LEFT JOIN T_FAULT_ORDER df2 ON df9.FAULT_WORK_NO = df2.FAULT_WORK_NO
        LEFT JOIN T_FAULT_INFO df1 ON df9.FAULT_NO = df1.FAULT_NO and df1.FAULT_NO = df2.FAULT_NO
        LEFT JOIN SYS_REGION db3 ON df1.POSITION_CODE = db3.NODE_CODE
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="faultTrackNo!=null and faultTrackNo!=''">
                and df9.FAULT_TRACK_NO = #{faultTrackNo}
            </if>
            <if test="faultNo!=null and faultNo!=''">
                and df1.FAULT_NO = #{faultNo}
            </if>
            <if test="faultWorkNo!=null and faultWorkNo!=''">
                and df2.FAULT_WORK_NO = #{faultWorkNo}
            </if>
            <if test="objectCode!=null and objectCode!=''">
                and df1.OBJECT_CODE = #{objectCode}
            </if>
            <if test="objectName!=null and objectName!=''">
                and df1.OBJECT_NAME = #{objectName}
            </if>
            <if test="lineCode!=null and lineCode!=''">
                and df1.LINE_CODE = #{lineCode}
            </if>
            <if test="positionCode!=null and positionCode!=''">
                and df1.POSITION_CODE= #{positionCode}
            </if>
            <if test="majorCode!=null and majorCode!=''">
                and df1.MAJOR_CODE = #{majorCode}
            </if>
            <if test="systemCode!=null and systemCode!=''">
                and df1.SYSTEM_CODE = #{systemCode}
            </if>
            <if test="equipTypeCode!=null and equipTypeCode!=''">
                and df1.EQUIP_TYPE_CODE = #{equipTypeCode}
            </if>
            <if test="recStatus!=null and recStatus!=''">
                and df9.REC_STATUS = #{recStatus}
            </if>
            and DELETE_FLAG='0'
        </trim>
        order by df9.FAULT_TRACK_NO desc
    </select>
    <select id="detail" resultType="com.wzmtr.eam.dto.res.fault.TrackQueryResDTO">
        SELECT
        df9.REC_ID as "recId",  <!-- 记录编号 -->
        df9.COMPANY_CODE as "companyCode",  <!-- 公司代码 -->
        df9.COMPANY_NAME as "companyName",  <!-- 公司名称 -->
        df9.FAULT_TRACK_NO as "faultTrackNo",  <!-- 故障跟踪编号 -->
        df9.FAULT_ANALYSIS_NO as "faultAnalysisNo",  <!-- 故障分析编号 -->
        df9.FAULT_ANALYSIS_NO as "faultAnalysisNo_textField",
        df9.TRACK_REASON as "trackReason",  <!-- 跟踪原因 -->
        df9.TRACK_USER_ID as "trackUserId",  <!-- 转跟踪人员工号 -->
        -- (SELECT USER_NAME FROM IPLAT60.XS_USER WHERE df9.TRACK_USER_ID = LOGIN_NAME) as "trackUserName",
        df9.TRACK_TIME as "trackTime",  <!-- 转跟踪时间 -->
        df9.TRACK_PERIOD as "trackPeriod",  <!-- 跟踪期限 -->
        df9.TRACK_CYCLE as "trackCycle",  <!-- 跟踪周期 -->
        df9.TRACK_START_DATE as "trackStartDate",
        df9.TRACK_END_DATE as "trackEndDate",
        df9.TRACK_REPORTER_ID as "trackReporterId",  <!-- 跟踪报告人工号 -->
        df9.TRACK_REPORT_TIME as "trackReportTime",  <!-- 跟踪报告时间 -->
        df9.TRACK_RESULT as "trackResult",  <!-- 跟踪结果 -->
        df9.TRACK_CLOSER_ID as "trackCloserId",  <!-- 跟踪关闭人工号 -->
        df9.TRACK_CLOSE_TIME as "trackCloseTime",  <!-- 跟踪关闭时间 -->
        df9.WORK_FLOW_INST_ID as "workFlowInstId",  <!-- 工作流实例ID -->
        df9.WORK_FLOW_INST_STATUS as "workFlowInstStatus",  <!-- 工作流实例状态 -->
        df2.WORK_CLASS as "workClass",
        df9.DOC_ID as "docId",  <!-- 附件编号 -->
        df9.REMARK as "remark",  <!-- 备注 -->
        df9.REC_STATUS as "recStatus",  <!-- 记录状态 -->
        df1.FAULT_NO as "faultNo",<!-- 故障编号 -->
        df2.FAULT_WORK_NO as "faultWorkNo",<!-- 故障工单号 -->
        df1.OBJECT_CODE as "objectCode",<!-- 对象code -->
        df1.OBJECT_NAME as "objectName",<!-- 对象名称 -->
        df1.POSITION_CODE as "positionCode",<!-- 位置code -->
        db3.NODE_NAME as "positionName",<!-- 位置名称 -->
        df1.FAULT_DISPLAY_CODE as "faultDisplayCode",<!-- 故障 -->
        df1.FAULT_DISPLAY_DETAIL as "faultDisplayDetail",<!-- 故障现象详情 -->
        df2.FAULT_REASON_CODE as "faultReasonCode",<!-- 故障原因code -->
        df2.FAULT_REASON_DETAIL as "faultReasonDetail",<!-- 故障原因 -->
        df1.LINE_CODE as "lineCode",<!-- 线路 -->
        df1.MAJOR_CODE AS "majorCode",<!-- 专业 -->
        df1.FAULT_DETAIL AS "faultDetail",<!-- 故障详情 -->
        ( SELECT db.NODE_NAME FROM T_EQUIPMENT_CATEGORY db WHERE db.NODE_CODE = df1.MAJOR_CODE ) AS "majorName",
        df2.FAULT_ACTION_DETAIL AS "faultActionDetail"
        FROM
        T_FAULT_TRACK df9
        LEFT JOIN T_FAULT_ORDER df2 ON df9.FAULT_WORK_NO = df2.FAULT_WORK_NO
        LEFT JOIN T_FAULT_INFO df1 ON df9.FAULT_NO = df1.FAULT_NO and df1.FAULT_NO = df2.FAULT_NO
        LEFT JOIN SYS_REGION db3 ON df1.POSITION_CODE = db3.NODE_CODE
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="faultTrackNo!=null and faultTrackNo!=''">
                and df9.FAULT_TRACK_NO = #{faultTrackNo}
            </if>
            and DELETE_FLAG='0'
        </trim>
    </select>
    <select id="faultDetail" resultType="com.wzmtr.eam.dto.res.fault.FaultInfo">
        SELECT
        d.REC_ID as "recId",
        df.REC_ID as "workId",
        df.WORK_CLASS as "workClass",
        d.COMPANY_CODE as "companyCode",
        d.COMPANY_NAME as "companyName",
        d.FAULT_NO as "faultNo",
        d.FAULT_FLAG as "faultFlag",
        d.OBJECT_CODE as "objectCode",
        d.OBJECT_NAME as "objectName",
        d.TRAIN_TRUNK as "trainTrunk",
--         (Select ec.ITEM_CNAME from iplat60.tedcm01 ec where ec.ITEM_CODE = d.LINE_CODE and ec.CODESET_CODE='line') as "lineName",
        d.LINE_CODE as "lineCode",
        d.POSITION_CODE as "positionCode",
        d.POSITION2_CODE as "position2Code",
        d.PART_CODE as "partCode",
        d.PART_NAME as "partName",
        d.MAJOR_CODE as "majorCode",
        d.SYSTEM_CODE as "systemCode",
        d.EQUIP_TYPE_CODE as "equipTypeCode",
        d.FAULT_MODULE as "faultModule",
        d.FAULT_MODULE_ID as "faultModuleId",
        d.FAULT_TYPE as "faultType",
        d.SOURCE_CODE as "sourceCode",
        d.FAULT_DISPLAY_CODE as "faultDisplayCode",
        d.FAULT_DISPLAY_DETAIL as "faultDisplayDetail",
        d.FAULT_DETAIL as "faultDetail",
        d.DISCOVERER_ID as "discovererId",
        d.DISCOVERER_PHONE as "discovererPhone",
        d.DISCOVERER_NAME as "discovererName",
        d.DISCOVERY_TIME as "discoveryTime",
        d.FILLIN_USER_ID as "fillinUserId",
        d.FILLIN_DEPT_CODE as "fillinDeptCode",
        d.FILLIN_TIME as "fillinTime",
        d.RESP_DEPT_CODE as "respDeptCode",
        d.ASSIST_DEPT_CODE as "assistDeptCode",
        d.REPAIR_DEPT_CODE as "repairDeptCode",
        d.PUBLISH_USER_ID as "publishUserId",
        d.PUBLISH_TIME as "publishTime",
        d.FAULT_LEVEL as "faultLevel",
        d.FAULT_STATUS as "faultStatus",
        d.WORK_FLOW_INST_ID as "workFlowInstId",
        d.WORK_FLOW_INST_STATUS as "workFlowInstStatus",
        d.DOC_ID as "docId",
        d.REMARK as "remark",
        d.REC_CREATOR as "recCreator",
        d.REC_CREATE_TIME as "recCreateTime",
        d.REC_REVISOR as "recRevisor",
        d.REC_REVISE_TIME as "recReviseTime",
        d.REC_DELETOR as "recDeletor",
        d.REC_DELETE_TIME as "recDeleteTime",
        d.DELETE_FLAG as "deleteFlag",
        d.ARCHIVE_FLAG as "archiveFlag",
        d.REC_STATUS as "recStatus",
        d.EXT1 as "ext1",
        d.EXT2 as "ext2",
        d.EXT3 as "affect",
        d.EXT4 as "ext4",
        d.EXT5 as "ext5",
        d.TRAIN_TAG as "traintag",
        df.CLOSE_TIME as "closeTime",
        df.DEALER_UNIT as "dealerUnit",
        df.DEALER_NUM as "dealerNum",
        df.FAULT_WORK_NO as "faultWorkNo",
        df.REC_ID as "orderRecId",
        df.ORDER_STATUS as "orderStatus",
        df.EXT1 as "levelfault"
        FROM T_FAULT_INFO d
        LEFT JOIN T_FAULT_ORDER df ON d.FAULT_NO = df.FAULT_NO and d.FAULT_FLAG <![CDATA[!=]]> '2'
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="faultNo!=null and faultNo!=''">
                and d.FAULT_NO = #{faultNo}
            </if>
            <if test="faultworkNo!=null and faultworkNo!=''">
                and df.FAULT_WORK_NO = #{faultworkNo}
            </if>
        </trim>
    </select>
    <select id="repairDetail" resultType="com.wzmtr.eam.dto.res.fault.FaultDetailResDTO">
        SELECT
        REC_ID	as "recId",
        COMPANY_CODE	as "companyCode",
        COMPANY_NAME	as "companyName",
        FAULT_NO	as "faultNo",
        FAULT_WORK_NO	as "faultWorkNo",
        DISPATCH_USER_ID	as "dispatchUserId",
        DISPATCH_TIME	as "dispatchTime",
        REPAIR_RESP_USER_ID	as "repairRespUserId",
        WORK_AREA	as "workArea",
        ORDER_STATUS	as "orderStatus",
        REPAIR_DISPATCH_NO	as "repairDispatchNo",
        REPORT_USER_ID	as "reportUserId",
        REPORT_TIME	as "reportTime",
        WORK_CLASS as "workClass",
        CHECK_USER_ID as "checkUserId",
        CHECK_TIME as "checkTime",
        RUSH_REPAIR_NO	as "rushRepairNo",
        ARRIVAL_TIME	as "arrivalTime",
        REPAIR_START_TIME	as "repairStartTime",
        REPAIR_END_TIME	as "repairEndTime",
        REPAIR_TIME	as "repairTime",
        LEAVE_TIME	as "leaveTime",
        FAULT_REASON_CODE	as "faultReasonCode",
        FAULT_REASON_DETAIL	as "faultReasonDetail",
        FAULT_ACTION_CODE	as "faultActionCode",
        FAULT_ACTION_DETAIL	as "faultActionDetail",
        FAULT_PROCESS_RESULT	as "faultProcessResult",
        REPORT_START_USER_ID	as "reportStartUserId",
        REPORT_START_TIME	as "reportStartTime",
        REPORT_FINISH_USER_ID	as "reportFinishUserId",
        REPORT_FINISH_TIME	as "reportFinishTime",
        CONFIRM_USER_ID	as "confirmUserId",
        CONFIRM_TIME	as "confirmTime",
        CLOSE_USER_ID	as "closeUserId",
        CLOSE_TIME	as "closeTime",
        WORK_FLOW_INST_ID	as "workFlowInstId",
        WORK_FLOW_INST_STATUS	as "workFlowInstStatus",
        PLAN_RECOVERY_TIME as "planRecoveryTime",
        (Select u.USER_NAME from IPLAT60.XS_USER u where u.LOGIN_NAME = trim(DISPATCH_USER_ID)) as "dispatchUserName",
        (Select u.USER_NAME from IPLAT60.XS_USER u where u.LOGIN_NAME = trim(REPAIR_RESP_USER_ID)) as "repairRespUserName",
        (Select u.USER_NAME from IPLAT60.XS_USER u where u.LOGIN_NAME = trim(CHECK_USER_ID)) as "checkUserName",
        (Select u.USER_NAME from IPLAT60.XS_USER u where u.LOGIN_NAME = trim(CLOSE_USER_ID)) as "closeUserName",
        (Select u.USER_NAME from IPLAT60.XS_USER u where u.LOGIN_NAME = trim(REPORT_FINISH_USER_ID)) as "reportFinishUserName",
        (Select u.USER_NAME from IPLAT60.XS_USER u where u.LOGIN_NAME = trim(CONFIRM_USER_ID)) as "confirmUserName",
        (Select u.USER_NAME from IPLAT60.XS_USER u where u.LOGIN_NAME = trim(REPORT_USER_ID)) as "reportUserName",
        FAULT_AFFECT as "faultAffect",
        IS_DETAINING_REPAIR as "isDetainingRepair",
        DOC_ID	as "docId",
        REMARK	as "remark",
        REC_CREATOR	as "recCreator",
        REC_CREATE_TIME	as "recCreateTime",
        REC_REVISOR	as "recRevisor",
        REC_REVISE_TIME	as "recReviseTime",
        REC_DELETOR	as "recDeletor",
        REC_DELETE_TIME	as "recDeleteTime",
        DELETE_FLAG	as "deleteFlag",
        ARCHIVE_FLAG	as "archiveFlag",
        REC_STATUS	as "recStatus",
        EXT1	as "levelfault",
        EXT2	as "ext2",
        EXT3	as "ext3",
        EXT4	as "ext4",
        EXT5	as "ext5"
        FROM T_FAULT_ORDER
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="faultNo!=null and faultNo!=''">
                and FAULT_NO = #{faultNo}
            </if>
            <if test="faultworkNo!=null and faultworkNo!=''">
                and FAULT_WORK_NO = #{faultworkNo}
            </if>
        </trim>
    </select>
</mapper>