<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzmtr.eam.mapper.file.FileMapper">

    <insert id="insertFile">
        INSERT INTO T_FILE (ID, FILE_NAME, OLD_NAME, BUCKET, URL, REC_CREATOR,
                            REC_CREATE_TIME) VALUES ( #{id,jdbcType=VARCHAR},
                                #{fileName,jdbcType=VARCHAR},
                                #{oldName,jdbcType=VARCHAR},
                                #{bucket,jdbcType=VARCHAR},
                                #{url,jdbcType=VARCHAR},
                                #{recCreator,jdbcType=VARCHAR},
                                #{recCreateTime,jdbcType=VARCHAR}
                                )
    </insert>
    <select id="getFile" resultType="com.wzmtr.eam.entity.File">
        select * from T_FILE
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="url!=null and url!=''">
                and URL = #{url}
            </if>
            <if test="bucket!=null and bucket!=''">
                and BUCKET = #{bucket}
            </if>
            <if test="oldName!=null and oldName!=''">
                and OLD_NAME = #{oldName}
            </if>
        </trim>
    </select>
</mapper>