<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzmtr.eam.mapper.mea.MeaMapper">

    <sql id="mea-instrument-cols">
        SELECT
        REC_ID	as "recId",  <!-- 记录编号 -->
        EQUIP_KIND_CODE	as "equipKindCode",  <!-- 计量器具分类代码 -->
        EQUIP_CODE	as "equipCode",  <!-- 计量器具代码 -->
        EQUIP_NAME	as "equipName",  <!-- 计量器具名称 -->
        MEASURE_RANGE	as "measureRange",  <!-- 测量范围 -->
        MEASURE_ACCURACY	as "measureAccuracy",  <!-- 准确度 -->
        VERIFY_DEPT	as "verifyDept",  <!-- 检定校准单位 -->
        MEASURE_BARCODE	as "measureBarcode",  <!-- 送检条码号 -->
        CERTIFICATE_NO	as "certificateNo",  <!-- 证书编号 -->
        CERTIFICATE_TYPE	as "certificateType",  <!-- 证书类型 0:检测证书;1:校准证书;2:检测结果通知书;3:检测证书;4:测试报告;5:测试证书;6:无证书7:校验证书; -->
        VERIFY_RESULT	as "verifyResult",  <!-- 检定结果 -->
        VERIFY_PERIOD	as "verifyPeriod",  <!-- 检定周期(天) -->
        USE_BEGIN_DATE	as "useBeginDate",  <!-- 开始使用日期 -->
        LAST_VERIFY_DATE	as "lastVerifyDate",  <!-- 上次检定日期 -->
        NEXT_VERIFY_DATE	as "nextVerifyDate",  <!-- 下次检定日期 -->
        SEND_VERIFY_DATE	as "sendVerifyDate",  <!-- 送检日期 -->
        MANAGE_CLASS	as "manageClass",  <!-- 管理类型:10:A;20:B;30:C -->
        VERIFY_PROOF	as "verifyProof",  <!-- 检定依据 -->
        VERIFY_CONCLUSION	as "verifyConclusion",  <!-- 结论 -->
        HANDLE_ORDER_NO	as "handleOrderNo",  <!-- 处理单号 -->
        MANAGE_MODE	as "manageMode",  <!-- 管理方式 -->
        CONTRACT_PRICE	as "contractPrice",  <!-- 合同价 -->
        PERIOD_MODE	as "periodMode",  <!-- 周期方式 -->
        PLAN_STATUS	as "planStatus",  <!-- 计划完成状态 -->
        ALARM	as "alarm",  <!-- 报警(天) -->
        LINE_NO	as "lineNo",  <!-- 线别代码 -->
        LINE_SUB_NO	as "lineSubNo",  <!-- 线段代码 -->
        POSITION1_CODE	as "position1Code",  <!-- 位置一 -->
        POSITION1_NAME	as "position1Name",  <!-- 位置一名称 -->
        POSITION2_CODE	as "position2Code",  <!-- 位置二 -->
        POSITION2_NAME	as "position2Name",  <!-- 位置二名称 -->
        POSITION3	as "position3",  <!-- 位置三 -->
        POSITION_REMARK	as "positionRemark",  <!-- 位置补充说明 -->
        EQUIPMENT_STATE	as "equipmentState",  <!-- 10:在用;20:限用;30:维修;40:损坏;50:未查;60:送检;70:封存;80:丢失;90:禁用; -->
        MAT_SPECIFI	as "matSpecifi",  <!-- 型号规格 -->
        MANUFACTURE_NO	as "manufactureNo",  <!-- 出厂编号 -->
        MANUFACTURE	as "manufacture",  <!-- 生产厂家 -->
        MANUFACTURE_CODE as "manufactureCode",
        COMPANY_CODE	as "companyCode",  <!-- 公司编号 -->
        SOURCE	as "source",  <!-- 来源10:设备自带;20:非设备自带 -->
        CMD_FLG	as "cmdFlg",  <!-- CMC标识 10:是;20:否 -->
        CONFIRMATION	as "confirmation",  <!--  10:是;20:否 -->
        USE_NO	as "useNo",  <!-- 使用责任人工号 -->
        USE_NAME	as "useName",  <!-- 使用责任人 -->
        USE_DEPT_CODE	as "useDeptCode",  <!-- 使用单位代码 -->
        USE_DEPT_CNAME	as "useDeptCname",  <!-- 使用单位 -->
        COMPULSORY_TEST	as "compulsoryTest",  <!-- 强制检定计量器具 -->
        SEND_VERIFY_FLAG	as "sendVerifyFlag",  <!-- 送检10:否;20:是 -->
        USE_PLACE	as "usePlace",  <!-- 安装使用地点 -->
        USE_AREA	as "useArea",  <!-- 应用领域  -->
        REMARK	as "remark",  <!-- 备注 -->
        WORK_FLOW_INST_ID	as "workFlowInstId",  <!-- 工作流实例ID -->
        WORK_FLOW_INST_STATUS	as "workFlowInstStatus",  <!-- 工作流实例状态 -->
        COMPANY_NAME	as "companyName",  <!-- 公司名称 -->
        REC_CREATOR	as "recCreator",  <!-- 创建者 -->
        REC_CREATOR_NAME	as "recCreatorName",  <!-- 创建者姓名 -->
        REC_CREATE_TIME	as "recCreateTime",  <!-- 创建时间 -->
        REC_REVISOR	as "recRevisor",  <!-- 修改者 -->
        REC_REVISOR_NAME	as "recRevisorName",  <!-- 修改者姓名 -->
        REC_REVISE_TIME	as "recReviseTime",  <!-- 修改时间 -->
        REC_DELETOR	as "recDeletor",  <!-- 删除者 -->
        REC_DELETOR_NAME	as "recDeletorName",  <!-- 删除者姓名 -->
        REC_DELETE_TIME	as "recDeleteTime",  <!-- 删除时间 -->
        DELETE_FLAG	as "deleteFlag",  <!-- 删除标志 -->
        ARCHIVE_FLAG	as "archiveFlag",  <!-- 归档标记 -->
        REC_STATUS	as "recStatus",  <!-- 记录状态 -->
        EXT1	as "ext1",  <!-- 扩展字段1 -->
        EXT2	as "ext2",  <!-- 扩展字段2 -->
        EXT3	as "ext3",  <!-- 扩展字段3 -->
        EXT4	as "ext4",  <!-- 扩展字段4 -->
        EXT5	as "ext5", <!-- 扩展字段5 -->
        DOC_ID  as "docId",
        PHONE_NO as "phoneNo",    <!-- 使用人手机号码 -->
        TRANSFER_DATE as "transferDate"  ,<!-- 移交日期 -->
        EXPIRATION_DATE  as "expirationDate"
    </sql>

    <select id="pageMea" resultType="com.wzmtr.eam.dto.res.MeaResDTO">
        <include refid="mea-instrument-cols"/>
        FROM T_MEA_INSTRUMENT WHERE 1=1
        <if test="req.equipName!=null and req.equipName!=''">
            and EQUIP_NAME like '%' || #{req.equipName} || '%'
        </if>
        <if test="req.equipCode!=null and req.equipCode!=''">
            and EQUIP_CODE like '%' || #{equipCode} || '%'
        </if>
        <if test="req.matSpecifi!=null and req.matSpecifi!=''">
            and MAT_SPECIFI like '%' || #{req.matSpecifi} || '%'
        </if>
        <if test="req.useDeptCname!=null and req.useDeptCname!=''">
            and USE_DEPT_CNAME like '%' || #{req.useDeptCname} || '%'
        </if>
        <if test="req.useName!=null and req.useName!=''">
            and USE_NAME like '%' || #{req.useName} || '%'
        </if>
        <if test="req.lineNo!=null and req.lineNo!=''">
            and LINE_NO=#{req.lineNo}
        </if>
        <if test="req.manufactureNo!=null and req.manufactureNo!=''">
            and MANUFACTURE_NO like '%' || #{req.manufactureNo} || '%'
        </if>
        <if test="req.sendVerifyFlag!=null and req.sendVerifyFlag!=''">
            and SEND_VERIFY_FLAG=#{req.sendVerifyFlag}
        </if>
        <if test="req.useBeginBeginDate!=null and req.useBeginBeginDate!=''">
            and USE_BEGIN_DATE>=#{req.useBeginBeginDate}
        </if>
        <if test="req.useBeginEndDate!=null and req.useBeginEndDate!=''">
            and #{req.useBeginEndDate}>=USE_BEGIN_DATE
        </if>
        order by REC_ID asc
    </select>

    <select id="getMeaDetail" resultType="com.wzmtr.eam.dto.res.MeaResDTO">
        <include refid="mea-instrument-cols"/>
        FROM T_MEA_INSTRUMENT WHERE REC_ID=#{id}
    </select>

    <insert id="addMea">
        INSERT INTO T_MEA_INSTRUMENT (REC_ID,  <!-- 记录编号 -->
        EQUIP_KIND_CODE,  <!-- 计量器具分类代码 -->
        EQUIP_CODE,  <!-- 计量器具代码 -->
        EQUIP_NAME,  <!-- 计量器具名称 -->
        MEASURE_RANGE,  <!-- 测量范围 -->
        MEASURE_ACCURACY,  <!-- 准确度 -->
        VERIFY_DEPT,  <!-- 检定校准单位 -->
        MEASURE_BARCODE,  <!-- 送检条码号 -->
        CERTIFICATE_NO,  <!-- 证书编号 -->
        CERTIFICATE_TYPE,  <!-- 证书类型 0:检测证书;1:校准证书;2:检测结果通知书;3:检测证书;4:测试报告;5:测试证书;6:无证书7:校验证书; -->
        VERIFY_RESULT,  <!-- 检定结果 -->
        VERIFY_PERIOD,  <!-- 检定周期(天) -->
        USE_BEGIN_DATE,  <!-- 开始使用日期 -->
        LAST_VERIFY_DATE,  <!-- 上次检定日期 -->
        NEXT_VERIFY_DATE,  <!-- 下次检定日期 -->
        SEND_VERIFY_DATE,  <!-- 送检日期 -->
        MANAGE_CLASS,  <!-- 管理类型:10:A;20:B;30:C -->
        VERIFY_PROOF,  <!-- 检定依据 -->
        VERIFY_CONCLUSION,  <!-- 结论 -->
        HANDLE_ORDER_NO,  <!-- 处理单号 -->
        MANAGE_MODE,  <!-- 管理方式 -->
        CONTRACT_PRICE,  <!-- 合同价 -->
        PERIOD_MODE,  <!-- 周期方式 -->
        PLAN_STATUS,  <!-- 计划完成状态 -->
        ALARM,  <!-- 报警(天) -->
        LINE_NO,  <!-- 线别代码 -->
        LINE_SUB_NO,  <!-- 线段代码 -->
        POSITION1_CODE,  <!-- 位置一 -->
        POSITION1_NAME,  <!-- 位置一名称 -->
        POSITION2_CODE,  <!-- 位置二 -->
        POSITION2_NAME,  <!-- 位置二名称 -->
        POSITION3,  <!-- 位置三 -->
        POSITION_REMARK,  <!-- 位置补充说明 -->
        EQUIPMENT_STATE,  <!-- 10:在用;20:限用;30:维修;40:损坏;50:未查;60:送检;70:封存;80:丢失;90:禁用; -->
        MAT_SPECIFI,  <!-- 型号规格 -->
        MANUFACTURE_NO,  <!-- 出厂编号 -->
        MANUFACTURE,  <!-- 生产厂家 -->
        MANUFACTURE_CODE,
        COMPANY_CODE,  <!-- 公司编号 -->
        SOURCE,  <!-- 来源10:设备自带;20:非设备自带 -->
        CMD_FLG,  <!-- CMC标识 10:是;20:否 -->
        CONFIRMATION,  <!--  10:是;20:否 -->
        USE_NO,  <!-- 使用责任人工号 -->
        USE_NAME,  <!-- 使用责任人 -->
        USE_DEPT_CODE,  <!-- 使用单位代码 -->
        USE_DEPT_CNAME,  <!-- 使用单位 -->
        COMPULSORY_TEST,  <!-- 强制检定计量器具 -->
        SEND_VERIFY_FLAG,  <!-- 送检10:否;20:是 -->
        USE_PLACE,  <!-- 安装使用地点 -->
        USE_AREA,  <!-- 应用领域  -->
        REMARK,  <!-- 备注 -->
        WORK_FLOW_INST_ID,  <!-- 工作流实例ID -->
        WORK_FLOW_INST_STATUS,  <!-- 工作流实例状态 -->
        COMPANY_NAME,  <!-- 公司名称 -->
        REC_CREATOR,  <!-- 创建者 -->
        REC_CREATOR_NAME,  <!-- 创建者姓名 -->
        REC_CREATE_TIME,  <!-- 创建时间 -->
        REC_REVISOR,  <!-- 修改者 -->
        REC_REVISOR_NAME,  <!-- 修改者姓名 -->
        REC_REVISE_TIME,  <!-- 修改时间 -->
        REC_DELETOR,  <!-- 删除者 -->
        REC_DELETOR_NAME,  <!-- 删除者姓名 -->
        REC_DELETE_TIME,  <!-- 删除时间 -->
        DELETE_FLAG,  <!-- 删除标志 -->
        ARCHIVE_FLAG,  <!-- 归档标记 -->
        REC_STATUS,  <!-- 记录状态 -->
        EXT1,  <!-- 扩展字段1 -->
        EXT2,  <!-- 扩展字段2 -->
        EXT3,  <!-- 扩展字段3 -->
        EXT4,  <!-- 扩展字段4 -->
        EXT5,  <!-- 扩展字段5 -->
        DOC_ID,
        TRANSFER_DATE ,    <!-- 移交日期 -->
        PHONE_NO,
        EXPIRATION_DATE)
        VALUES (
        #{recId,jdbcType=VARCHAR}, #{equipKindCode,jdbcType=VARCHAR}, #{equipCode,jdbcType=VARCHAR}, #{equipName,jdbcType=VARCHAR},
        #{measureRange,jdbcType=VARCHAR}, #{measureAccuracy,jdbcType=VARCHAR}, #{verifyDept,jdbcType=VARCHAR},
        #{measureBarcode,jdbcType=VARCHAR}, #{certificateNo,jdbcType=VARCHAR}, #{certificateType,jdbcType=VARCHAR},
        #{verifyResult,jdbcType=VARCHAR}, #{verifyPeriod,jdbcType=NUMERIC}, #{useBeginDate,jdbcType=VARCHAR}, #{lastVerifyDate,jdbcType=VARCHAR},
        #{nextVerifyDate,jdbcType=VARCHAR}, #{sendVerifyDate,jdbcType=VARCHAR}, #{manageClass,jdbcType=VARCHAR}, #{verifyProof,jdbcType=VARCHAR},
        #{verifyConclusion,jdbcType=VARCHAR}, #{handleOrderNo,jdbcType=VARCHAR}, #{manageMode,jdbcType=VARCHAR}, #{contractPrice,jdbcType=NUMERIC},
        #{periodMode,jdbcType=VARCHAR}, #{planStatus,jdbcType=VARCHAR}, #{alarm,jdbcType=NUMERIC}, #{lineNo,jdbcType=VARCHAR}, #{lineSubNo,jdbcType=VARCHAR},
        #{position1Code,jdbcType=VARCHAR}, #{position1Name,jdbcType=VARCHAR}, #{position2Code,jdbcType=VARCHAR}, #{position2Name,jdbcType=VARCHAR},
        #{position3,jdbcType=VARCHAR}, #{positionRemark,jdbcType=VARCHAR}, #{equipmentState,jdbcType=VARCHAR}, #{matSpecifi,jdbcType=VARCHAR},
        #{manufactureNo,jdbcType=VARCHAR}, #{manufacture,jdbcType=VARCHAR},#manufactureCode,jdbcType=VARCHAR}, #{companyCode,jdbcType=VARCHAR},
        #{source,jdbcType=VARCHAR}, #{cmdFlg,jdbcType=VARCHAR}, #{confirmation,jdbcType=VARCHAR}, #{useNo,jdbcType=VARCHAR}, #{useName,jdbcType=VARCHAR},
        #{useDeptCode,jdbcType=VARCHAR}, #{useDeptCname,jdbcType=VARCHAR}, #{compulsoryTest,jdbcType=VARCHAR}, #{sendVerifyFlag,jdbcType=VARCHAR},
        #{usePlace,jdbcType=VARCHAR}, #{useArea,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{workFlowInstId,jdbcType=VARCHAR}, #{workFlowInstStatus,jdbcType=VARCHAR},
        #{companyName,jdbcType=VARCHAR}, #{recCreator,jdbcType=VARCHAR}, #{recCreatorName,jdbcType=VARCHAR}, #{recCreateTime,jdbcType=VARCHAR}, #{recRevisor,jdbcType=VARCHAR},
        #{recRevisorName,jdbcType=VARCHAR}, #{recReviseTime,jdbcType=VARCHAR}, #{recDeletor,jdbcType=VARCHAR}, #{recDeletorName,jdbcType=VARCHAR}, #{recDeleteTime,jdbcType=VARCHAR},
        #{deleteFlag,jdbcType=VARCHAR}, #{archiveFlag,jdbcType=VARCHAR}, #{recStatus,jdbcType=VARCHAR}, #{ext1,jdbcType=VARCHAR}, #{ext2,jdbcType=VARCHAR}, #{ext3,jdbcType=VARCHAR},
        #{ext4,jdbcType=VARCHAR}, #{ext5,jdbcType=VARCHAR}, #{docId,jdbcType=VARCHAR}, #{transferDate,jdbcType=VARCHAR}, #{phoneNo,jdbcType=VARCHAR}, #{expirationDate,jdbcType=VARCHAR})
    </insert>

    <select id="listMea" resultType="com.wzmtr.eam.dto.res.MeaResDTO">
        <include refid="mea-instrument-cols"/>
        FROM T_MEA_INSTRUMENT WHERE 1=1
        <if test="equipName!=null and equipName!=''">
            and EQUIP_NAME like '%' || #{equipName} || '%'
        </if>
        <if test="equipCode!=null and equipCode!=''">
            and EQUIP_CODE like '%' || #{equipCode} || '%'
        </if>
        <if test="matSpecifi!=null and matSpecifi!=''">
            and MAT_SPECIFI like '%' || #{matSpecifi} || '%'
        </if>
        <if test="useDeptCname!=null and useDeptCname!=''">
            and USE_DEPT_CNAME like '%' || #{useDeptCname} || '%'
        </if>
        <if test="useName!=null and useName!=''">
            and USE_NAME like '%' || #{useName} || '%'
        </if>
        <if test="lineNo!=null and lineNo!=''">
            and LINE_NO=#{lineNo}
        </if>
        <if test="manufactureNo!=null and manufactureNo!=''">
            and MANUFACTURE_NO like '%' || #{manufactureNo} || '%'
        </if>
        <if test="sendVerifyFlag!=null and sendVerifyFlag!=''">
            and SEND_VERIFY_FLAG=#{sendVerifyFlag}
        </if>
        <if test="useBeginBeginDate!=null and useBeginBeginDate!=''">
            and USE_BEGIN_DATE>=#{useBeginBeginDate}
        </if>
        <if test="useBeginEndDate!=null and useBeginEndDate!=''">
            and #{useBeginEndDate}>=USE_BEGIN_DATE
        </if>
        order by REC_ID asc
    </select>

</mapper>