<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzmtr.eam.mapper.mea.MeaMapper">

    <sql id="mea-instrument-cols">
        SELECT
        REC_ID	as "recId",  <!-- 记录编号 -->
        EQUIP_KIND_CODE	as "equipKindCode",  <!-- 计量器具分类代码 -->
        EQUIP_CODE	as "equipCode",  <!-- 计量器具代码 -->
        EQUIP_NAME	as "equipName",  <!-- 计量器具名称 -->
        MEASURE_RANGE	as "measureRange",  <!-- 测量范围 -->
        MEASURE_ACCURACY	as "measureAccuracy",  <!-- 准确度 -->
        VERIFY_DEPT	as "verifyDept",  <!-- 检定校准单位 -->
        MEASURE_BARCODE	as "measureBarcode",  <!-- 送检条码号 -->
        CERTIFICATE_NO	as "certificateNo",  <!-- 证书编号 -->
        CERTIFICATE_TYPE	as "certificateType",  <!-- 证书类型 0:检测证书;1:校准证书;2:检测结果通知书;3:检测证书;4:测试报告;5:测试证书;6:无证书7:校验证书; -->
        VERIFY_RESULT	as "verifyResult",  <!-- 检定结果 -->
        VERIFY_PERIOD	as "verifyPeriod",  <!-- 检定周期(天) -->
        USE_BEGIN_DATE	as "useBeginDate",  <!-- 开始使用日期 -->
        LAST_VERIFY_DATE	as "lastVerifyDate",  <!-- 上次检定日期 -->
        NEXT_VERIFY_DATE	as "nextVerifyDate",  <!-- 下次检定日期 -->
        SEND_VERIFY_DATE	as "sendVerifyDate",  <!-- 送检日期 -->
        MANAGE_CLASS	as "manageClass",  <!-- 管理类型:10:A;20:B;30:C -->
        VERIFY_PROOF	as "verifyProof",  <!-- 检定依据 -->
        VERIFY_CONCLUSION	as "verifyConclusion",  <!-- 结论 -->
        HANDLE_ORDER_NO	as "handleOrderNo",  <!-- 处理单号 -->
        MANAGE_MODE	as "manageMode",  <!-- 管理方式 -->
        CONTRACT_PRICE	as "contractPrice",  <!-- 合同价 -->
        PERIOD_MODE	as "periodMode",  <!-- 周期方式 -->
        PLAN_STATUS	as "planStatus",  <!-- 计划完成状态 -->
        ALARM	as "alarm",  <!-- 报警(天) -->
        LINE_NO	as "lineNo",  <!-- 线别代码 -->
        LINE_SUB_NO	as "lineSubNo",  <!-- 线段代码 -->
        POSITION1_CODE	as "position1Code",  <!-- 位置一 -->
        POSITION1_NAME	as "position1Name",  <!-- 位置一名称 -->
        POSITION2_CODE	as "position2Code",  <!-- 位置二 -->
        POSITION2_NAME	as "position2Name",  <!-- 位置二名称 -->
        POSITION3	as "position3",  <!-- 位置三 -->
        POSITION_REMARK	as "positionRemark",  <!-- 位置补充说明 -->
        EQUIPMENT_STATE	as "equipmentState",  <!-- 10:在用;20:限用;30:维修;40:损坏;50:未查;60:送检;70:封存;80:丢失;90:禁用; -->
        MAT_SPECIFI	as "matSpecifi",  <!-- 型号规格 -->
        MANUFACTURE_NO	as "manufactureNo",  <!-- 出厂编号 -->
        MANUFACTURE	as "manufacture",  <!-- 生产厂家 -->
        MANUFACTURE_CODE as "manufactureCode",
        COMPANY_CODE	as "companyCode",  <!-- 公司编号 -->
        SOURCE	as "source",  <!-- 来源10:设备自带;20:非设备自带 -->
        CMD_FLG	as "cmdFlg",  <!-- CMC标识 10:是;20:否 -->
        CONFIRMATION	as "confirmation",  <!--  10:是;20:否 -->
        USE_NO	as "useNo",  <!-- 使用责任人工号 -->
        USE_NAME	as "useName",  <!-- 使用责任人 -->
        USE_DEPT_CODE	as "useDeptCode",  <!-- 使用单位代码 -->
        USE_DEPT_CNAME	as "useDeptCname",  <!-- 使用单位 -->
        COMPULSORY_TEST	as "compulsoryTest",  <!-- 强制检定计量器具 -->
        SEND_VERIFY_FLAG	as "sendVerifyFlag",  <!-- 送检10:否;20:是 -->
        USE_PLACE	as "usePlace",  <!-- 安装使用地点 -->
        USE_AREA	as "useArea",  <!-- 应用领域  -->
        REMARK	as "remark",  <!-- 备注 -->
        WORK_FLOW_INST_ID	as "workFlowInstId",  <!-- 工作流实例ID -->
        WORK_FLOW_INST_STATUS	as "workFlowInstStatus",  <!-- 工作流实例状态 -->
        COMPANY_NAME	as "companyName",  <!-- 公司名称 -->
        REC_CREATOR	as "recCreator",  <!-- 创建者 -->
        REC_CREATOR_NAME	as "recCreatorName",  <!-- 创建者姓名 -->
        REC_CREATE_TIME	as "recCreateTime",  <!-- 创建时间 -->
        REC_REVISOR	as "recRevisor",  <!-- 修改者 -->
        REC_REVISOR_NAME	as "recRevisorName",  <!-- 修改者姓名 -->
        REC_REVISE_TIME	as "recReviseTime",  <!-- 修改时间 -->
        REC_DELETOR	as "recDeletor",  <!-- 删除者 -->
        REC_DELETOR_NAME	as "recDeletorName",  <!-- 删除者姓名 -->
        REC_DELETE_TIME	as "recDeleteTime",  <!-- 删除时间 -->
        DELETE_FLAG	as "deleteFlag",  <!-- 删除标志 -->
        ARCHIVE_FLAG	as "archiveFlag",  <!-- 归档标记 -->
        REC_STATUS	as "recStatus",  <!-- 记录状态 -->
        EXT1	as "ext1",  <!-- 扩展字段1 -->
        EXT2	as "ext2",  <!-- 扩展字段2 -->
        EXT3	as "ext3",  <!-- 扩展字段3 -->
        EXT4	as "ext4",  <!-- 扩展字段4 -->
        EXT5	as "ext5", <!-- 扩展字段5 -->
        DOC_ID  as "docId",
        PHONE_NO as "phoneNo",    <!-- 使用人手机号码 -->
        TRANSFER_DATE as "transferDate"  ,<!-- 移交日期 -->
        EXPIRATION_DATE  as "expirationDate"
    </sql>

    <select id="pageMea" resultType="com.wzmtr.eam.dto.res.mea.MeaResDTO">
        <include refid="mea-instrument-cols"/>
        FROM T_MEA_INSTRUMENT WHERE 1=1
        <if test="req.equipName!=null and req.equipName!=''">
            and EQUIP_NAME like '%' || #{req.equipName} || '%'
        </if>
        <if test="req.equipCode!=null and req.equipCode!=''">
            and EQUIP_CODE like '%' || #{req.equipCode} || '%'
        </if>
        <if test="req.matSpecifi!=null and req.matSpecifi!=''">
            and MAT_SPECIFI like '%' || #{req.matSpecifi} || '%'
        </if>
        <if test="req.useDeptCname!=null and req.useDeptCname!=''">
            and USE_DEPT_CNAME like '%' || #{req.useDeptCname} || '%'
        </if>
        <if test="req.useName!=null and req.useName!=''">
            and USE_NAME like '%' || #{req.useName} || '%'
        </if>
        <if test="req.lineNo!=null and req.lineNo!=''">
            and LINE_NO=#{req.lineNo}
        </if>
        <if test="req.manufactureNo!=null and req.manufactureNo!=''">
            and MANUFACTURE_NO like '%' || #{req.manufactureNo} || '%'
        </if>
        <if test="req.sendVerifyFlag!=null and req.sendVerifyFlag!=''">
            and SEND_VERIFY_FLAG=#{req.sendVerifyFlag}
        </if>
        <if test="req.useBeginBeginDate!=null and req.useBeginBeginDate!=''">
            and USE_BEGIN_DATE>=#{req.useBeginBeginDate}
        </if>
        <if test="req.useBeginEndDate!=null and req.useBeginEndDate!=''">
            and #{req.useBeginEndDate}>=USE_BEGIN_DATE
        </if>
        order by REC_ID asc
    </select>

    <select id="getMeaDetail" resultType="com.wzmtr.eam.dto.res.mea.MeaResDTO">
        <include refid="mea-instrument-cols"/>
        FROM T_MEA_INSTRUMENT WHERE REC_ID=#{id}
    </select>

    <insert id="importMea">
        insert ALL
        <foreach collection="list" index="index" item="mea" separator=" ">
            INTO T_MEA_INSTRUMENT (
            REC_ID,  <!-- 记录编号 -->
            EQUIP_KIND_CODE,  <!-- 计量器具分类代码 -->
            EQUIP_CODE,  <!-- 计量器具代码 -->
            EQUIP_NAME,  <!-- 计量器具名称 -->
            MEASURE_RANGE,  <!-- 测量范围 -->
            MEASURE_ACCURACY,  <!-- 准确度 -->
            VERIFY_DEPT,  <!-- 检定校准单位 -->
            MEASURE_BARCODE,  <!-- 送检条码号 -->
            CERTIFICATE_NO,  <!-- 证书编号 -->
            CERTIFICATE_TYPE,  <!-- 证书类型 0:检测证书;1:校准证书;2:检测结果通知书;3:检测证书;4:测试报告;5:测试证书;6:无证书7:校验证书; -->
            VERIFY_RESULT,  <!-- 检定结果 -->
            VERIFY_PERIOD,  <!-- 检定周期(天) -->
            USE_BEGIN_DATE,  <!-- 开始使用日期 -->
            LAST_VERIFY_DATE,  <!-- 上次检定日期 -->
            NEXT_VERIFY_DATE,  <!-- 下次检定日期 -->
            SEND_VERIFY_DATE,  <!-- 送检日期 -->
            MANAGE_CLASS,  <!-- 管理类型:10:A;20:B;30:C -->
            VERIFY_PROOF,  <!-- 检定依据 -->
            VERIFY_CONCLUSION,  <!-- 结论 -->
            HANDLE_ORDER_NO,  <!-- 处理单号 -->
            MANAGE_MODE,  <!-- 管理方式 -->
            CONTRACT_PRICE,  <!-- 合同价 -->
            PERIOD_MODE,  <!-- 周期方式 -->
            PLAN_STATUS,  <!-- 计划完成状态 -->
            ALARM,  <!-- 报警(天) -->
            LINE_NO,  <!-- 线别代码 -->
            LINE_SUB_NO,  <!-- 线段代码 -->
            POSITION1_CODE,  <!-- 位置一 -->
            POSITION1_NAME,  <!-- 位置一名称 -->
            POSITION2_CODE,  <!-- 位置二 -->
            POSITION2_NAME,  <!-- 位置二名称 -->
            POSITION3,  <!-- 位置三 -->
            POSITION_REMARK,  <!-- 位置补充说明 -->
            EQUIPMENT_STATE,  <!-- 10:在用;20:限用;30:维修;40:损坏;50:未查;60:送检;70:封存;80:丢失;90:禁用; -->
            MAT_SPECIFI,  <!-- 型号规格 -->
            MANUFACTURE_NO,  <!-- 出厂编号 -->
            MANUFACTURE,  <!-- 生产厂家 -->
            MANUFACTURE_CODE,
            COMPANY_CODE,  <!-- 公司编号 -->
            SOURCE,  <!-- 来源10:设备自带;20:非设备自带 -->
            CMD_FLG,  <!-- CMC标识 10:是;20:否 -->
            CONFIRMATION,  <!--  10:是;20:否 -->
            USE_NO,  <!-- 使用责任人工号 -->
            USE_NAME,  <!-- 使用责任人 -->
            USE_DEPT_CODE,  <!-- 使用单位代码 -->
            USE_DEPT_CNAME,  <!-- 使用单位 -->
            COMPULSORY_TEST,  <!-- 强制检定计量器具 -->
            SEND_VERIFY_FLAG,  <!-- 送检10:否;20:是 -->
            USE_PLACE,  <!-- 安装使用地点 -->
            USE_AREA,  <!-- 应用领域  -->
            REMARK,  <!-- 备注 -->
            WORK_FLOW_INST_ID,  <!-- 工作流实例ID -->
            WORK_FLOW_INST_STATUS,  <!-- 工作流实例状态 -->
            COMPANY_NAME,  <!-- 公司名称 -->
            REC_CREATOR,  <!-- 创建者 -->
            REC_CREATOR_NAME,  <!-- 创建者姓名 -->
            REC_CREATE_TIME,  <!-- 创建时间 -->
            REC_REVISOR,  <!-- 修改者 -->
            REC_REVISOR_NAME,  <!-- 修改者姓名 -->
            REC_REVISE_TIME,  <!-- 修改时间 -->
            REC_DELETOR,  <!-- 删除者 -->
            REC_DELETOR_NAME,  <!-- 删除者姓名 -->
            REC_DELETE_TIME,  <!-- 删除时间 -->
            DELETE_FLAG,  <!-- 删除标志 -->
            ARCHIVE_FLAG,  <!-- 归档标记 -->
            REC_STATUS,  <!-- 记录状态 -->
            EXT1,  <!-- 扩展字段1 -->
            EXT2,  <!-- 扩展字段2 -->
            EXT3,  <!-- 扩展字段3 -->
            EXT4,  <!-- 扩展字段4 -->
            EXT5,  <!-- 扩展字段5 -->
            DOC_ID,
            TRANSFER_DATE ,    <!-- 移交日期 -->
            PHONE_NO,
            EXPIRATION_DATE)
            VALUES (
            #{mea.recId,jdbcType=VARCHAR},
            #{mea.equipKindCode,jdbcType=VARCHAR},
            #{mea.equipCode,jdbcType=VARCHAR},
            #{mea.equipName,jdbcType=VARCHAR},
            #{mea.measureRange,jdbcType=VARCHAR},
            #{mea.measureAccuracy,jdbcType=VARCHAR},
            #{mea.verifyDept,jdbcType=VARCHAR},
            #{mea.measureBarcode,jdbcType=VARCHAR},
            #{mea.certificateNo,jdbcType=VARCHAR},
            #{mea.certificateType,jdbcType=VARCHAR},
            #{mea.verifyResult,jdbcType=VARCHAR},
            #{mea.verifyPeriod,jdbcType=NUMERIC},
            #{mea.useBeginDate,jdbcType=VARCHAR},
            #{mea.lastVerifyDate,jdbcType=VARCHAR},
            #{mea.nextVerifyDate,jdbcType=VARCHAR},
            #{mea.sendVerifyDate,jdbcType=VARCHAR},
            #{mea.manageClass,jdbcType=VARCHAR},
            #{mea.verifyProof,jdbcType=VARCHAR},
            #{mea.verifyConclusion,jdbcType=VARCHAR},
            #{mea.handleOrderNo,jdbcType=VARCHAR},
            #{mea.manageMode,jdbcType=VARCHAR},
            #{mea.contractPrice,jdbcType=NUMERIC},
            #{mea.periodMode,jdbcType=VARCHAR},
            #{mea.planStatus,jdbcType=VARCHAR},
            #{mea.alarm,jdbcType=NUMERIC},
            #{mea.lineNo,jdbcType=VARCHAR},
            #{mea.lineSubNo,jdbcType=VARCHAR},
            #{mea.position1Code,jdbcType=VARCHAR},
            #{mea.position1Name,jdbcType=VARCHAR},
            #{mea.position2Code,jdbcType=VARCHAR},
            #{mea.position2Name,jdbcType=VARCHAR},
            #{mea.position3,jdbcType=VARCHAR},
            #{mea.positionRemark,jdbcType=VARCHAR},
            #{mea.equipmentState,jdbcType=VARCHAR},
            #{mea.matSpecifi,jdbcType=VARCHAR},
            #{mea.manufactureNo,jdbcType=VARCHAR},
            #{mea.manufacture,jdbcType=VARCHAR},
            #{mea.manufactureCode,jdbcType=VARCHAR},
            #{mea.companyCode,jdbcType=VARCHAR},
            #{mea.source,jdbcType=VARCHAR},
            #{mea.cmdFlg,jdbcType=VARCHAR},
            #{mea.confirmation,jdbcType=VARCHAR},
            #{mea.useNo,jdbcType=VARCHAR},
            #{mea.useName,jdbcType=VARCHAR},
            #{mea.useDeptCode,jdbcType=VARCHAR},
            #{mea.useDeptCname,jdbcType=VARCHAR},
            #{mea.compulsoryTest,jdbcType=VARCHAR},
            #{mea.sendVerifyFlag,jdbcType=VARCHAR},
            #{mea.usePlace,jdbcType=VARCHAR},
            #{mea.useArea,jdbcType=VARCHAR},
            #{mea.remark,jdbcType=VARCHAR},
            #{mea.workFlowInstId,jdbcType=VARCHAR},
            #{mea.workFlowInstStatus,jdbcType=VARCHAR},
            #{mea.companyName,jdbcType=VARCHAR},
            #{mea.recCreator,jdbcType=VARCHAR},
            #{mea.recCreatorName,jdbcType=VARCHAR},
            #{mea.recCreateTime,jdbcType=VARCHAR},
            #{mea.recRevisor,jdbcType=VARCHAR},
            #{mea.recRevisorName,jdbcType=VARCHAR},
            #{mea.recReviseTime,jdbcType=VARCHAR},
            #{mea.recDeletor,jdbcType=VARCHAR},
            #{mea.recDeletorName,jdbcType=VARCHAR},
            #{mea.recDeleteTime,jdbcType=VARCHAR},
            #{mea.deleteFlag,jdbcType=VARCHAR},
            #{mea.archiveFlag,jdbcType=VARCHAR},
            #{mea.recStatus,jdbcType=VARCHAR},
            #{mea.ext1,jdbcType=VARCHAR},
            #{mea.ext2,jdbcType=VARCHAR},
            #{mea.ext3,jdbcType=VARCHAR},
            #{mea.ext4,jdbcType=VARCHAR},
            #{mea.ext5,jdbcType=VARCHAR},
            #{mea.docId,jdbcType=VARCHAR},
            #{mea.transferDate,jdbcType=VARCHAR},
            #{mea.phoneNo,jdbcType=VARCHAR},
            #{mea.expirationDate,jdbcType=VARCHAR})
        </foreach>
        SELECT * FROM dual
    </insert>

    <select id="listMea" resultType="com.wzmtr.eam.dto.res.mea.MeaResDTO">
        <include refid="mea-instrument-cols"/>
        FROM T_MEA_INSTRUMENT WHERE 1=1
        <if test="equipName!=null and equipName!=''">
            and EQUIP_NAME like '%' || #{equipName} || '%'
        </if>
        <if test="equipCode!=null and equipCode!=''">
            and EQUIP_CODE like '%' || #{equipCode} || '%'
        </if>
        <if test="matSpecifi!=null and matSpecifi!=''">
            and MAT_SPECIFI like '%' || #{matSpecifi} || '%'
        </if>
        <if test="useDeptCname!=null and useDeptCname!=''">
            and USE_DEPT_CNAME like '%' || #{useDeptCname} || '%'
        </if>
        <if test="useName!=null and useName!=''">
            and USE_NAME like '%' || #{useName} || '%'
        </if>
        <if test="lineNo!=null and lineNo!=''">
            and LINE_NO=#{lineNo}
        </if>
        <if test="manufactureNo!=null and manufactureNo!=''">
            and MANUFACTURE_NO like '%' || #{manufactureNo} || '%'
        </if>
        <if test="sendVerifyFlag!=null and sendVerifyFlag!=''">
            and SEND_VERIFY_FLAG=#{sendVerifyFlag}
        </if>
        <if test="useBeginBeginDate!=null and useBeginBeginDate!=''">
            and USE_BEGIN_DATE>=#{useBeginBeginDate}
        </if>
        <if test="useBeginEndDate!=null and useBeginEndDate!=''">
            and #{useBeginEndDate}>=USE_BEGIN_DATE
        </if>
        order by REC_ID asc
    </select>

    <update id="updateone">
        UPDATE T_MEA_INSTRUMENT SET
        EQUIP_CODE=#{equipCode},   <!-- 计量器具代码 -->
        EQUIP_NAME=#{equipName},   <!-- 计量器具名称 -->
        VERIFY_DEPT=#{verifyDept},   <!-- 检定校准单位 -->
        MEASURE_BARCODE=#{measureBarcode},   <!-- 送检条码号 -->
        CERTIFICATE_NO=#{certificateNo},   <!-- 证书编号 -->
        VERIFY_PERIOD=#{verifyPeriod,jdbcType=NUMERIC},   <!-- 检定周期(天) -->
        LAST_VERIFY_DATE=#{lastVerifyDate},   <!-- 上次检定日期 -->
        NEXT_VERIFY_DATE=#{nextVerifyDate}  <!-- 下次检定日期 -->
        WHERE EQUIP_CODE=#{equipCode}
    </update>

    <select id="pageMeaRecord" resultType="com.wzmtr.eam.dto.res.mea.SubmissionRecordDetailResDTO">
        SELECT
        a.REC_ID	as "recId",  <!-- 记录编号 -->
        a.TEST_REC_ID	as "testRecId",  <!-- 检测记录表REC_ID -->
        a.TEST_LIST_DETAIL_REC_ID	as "testListDetailRecId",  <!-- 检测单明细表REC_ID -->
        a.SEND_VERIFY_NO	as "sendVerifyNo",  <!-- 送检单号 -->
        b.CHECK_NO	as "checkNo",  <!-- 检测单号 -->
        a.EQUIP_CODE	as "equipCode",  <!-- 计量器具代码 -->
        a.EQUIP_NAME	as "equipName",  <!-- 计量器具名称 -->
        a.MAT_SPECIFI	as "matSpecifi",  <!-- 型号规格 -->
        a.MANUFACTURE_NO	as "manufactureNo",  <!-- 出厂编号 -->
        a.MANUFACTURE	as "manufacture",  <!-- 生产厂家 -->
        a.INSTALLATION_UNIT	as "installationUnit",  <!-- 安装单位 -->
        a.MEASURE_BARCODE	as "measureBarcode",  <!-- 送检条码号 -->
        a.VERIFY_DATE	as "verifyDate",  <!-- 检定日期 -->
        a.VERIFY_DEPT	as "verifyDept",  <!-- 检定校准单位 -->
        a.VERIFICATION_NO	as "verificationNo",  <!-- 证书编号 -->
        a.VERIFICATION_TYPE	as "verificationType",  <!-- 证书类型 -->
        a.VERIFY_PROOF	as "verifyProof",  <!-- 检定依据 -->
        a.VERIFY_REPORT_NO	as "verifyReportNo",  <!-- 检定报告编号 -->
        a.VERIFY_REPORT_TYPE	as "verifyReportType",  <!-- 检定报告类型 0:检定证书;1:校准证书;2:检定结果通知书;3:检测证书;4:测试报告;5:测试证书;6:无证书7:校验证书; -->
        a.VERIFY_REPORT_NAME	as "verifyReportName",  <!-- 检定报告名称 -->
        a.VERIFY_REPORT_DATE	as "verifyReportDate",  <!-- 检定报告日期 -->
        a.VERIFY_FEE	as "verifyFee",  <!-- 检定费用 -->
        a.VERIFY_RESULT	as "verifyResult",  <!-- 检定结果（0:合格;1:不合格） -->
        a.VERIFY_CONCLUSION	as "verifyConclusion",  <!-- 检定结果说明 -->
        a.VERIFY_REPORT_FILEID	as "verifyReportFileid",  <!-- 检定报告附件 -->
        a.LAST_VERIFY_DATE	as "lastVerifyDate",  <!-- 上次检定日期 -->
        a.NEXT_VERIFY_DATE	as "nextVerifyDate",  <!-- 下次检定日期 -->
        a.POSITION1_CODE	as "position1Code",  <!-- 位置一 -->
        a.POSITION1_NAME	as "position1Name",  <!-- 位置一名称 -->
        a.POSITION2_CODE	as "position2Code",  <!-- 位置二 -->
        a.POSITION2_NAME	as "position2Name",  <!-- 位置二名称 -->
        a.POSITION3	as "position3",  <!-- 位置三 -->
        a.POSITION_REMARK	as "positionRemark",  <!-- 位置补充说明 -->
        a.FAULT_NO	as "faultNo",  <!-- 故障编号 -->
        a.VERIFY_NOTE	as "verifyNote",  <!-- 备注 -->
        a.COMPANY_CODE	as "companyCode",  <!-- 公司代码 -->
        a.COMPANY_NAME	as "companyName",  <!-- 公司名称 -->
        a.REC_CREATOR	as "recCreator",  <!-- 创建者 -->
        a.REC_CREATE_TIME	as "recCreateTime",  <!-- 创建时间 -->
        a.REC_REVISOR	as "recRevisor",  <!-- 修改者 -->
        a.REC_REVISE_TIME	as "recReviseTime",  <!-- 修改时间 -->
        a.REC_DELETOR	as "recDeletor",  <!-- 删除者 -->
        a.REC_DELETE_TIME	as "recDeleteTime",  <!-- 删除时间 -->
        a.DELETE_FLAG	as "deleteFlag",  <!-- 删除标志 -->
        a.ARCHIVE_FLAG	as "archiveFlag",  <!-- 归档标记 -->
        a.REC_STATUS	as "recStatus",  <!-- 记录状态 -->
        a.EXT1	as "ext1",  <!-- 扩展字段1 -->
        a.EXT2	as "ext2",  <!-- 扩展字段2 -->
        a.EXT3	as "ext3",  <!-- 扩展字段3 -->
        a.EXT4	as "ext4",  <!-- 扩展字段4 -->
        a.EXT5	as "ext5"<!-- 扩展字段5 -->
        FROM T_SUBMISSION_RECORD_DETAIL a
        LEFT JOIN T_MEA_SUBMISSION_RECORD b ON a.TEST_REC_ID=b.REC_ID
        WHERE 1=1 AND a.EQUIP_CODE=#{equipCode}
        order by a.REC_CREATE_TIME desc
    </select>

</mapper>