<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzmtr.eam.mapper.statistic.OneCarOneGearMapper">


    <select id="query" resultType="com.wzmtr.eam.dto.res.statistic.OneCarOneGearResDTO">
        SELECT EQUIP_NAME       as "trainNo",
               START_USE_DATE   as "startUseDate",
               MANUFACTURE_DATE as "manufactureDate"
        FROM T_EQUIPMENT
        WHERE T_EQUIPMENT.EQUIP_NAME = #{equipName}
    </select>
    <select id="querySummary" resultType="com.wzmtr.eam.dto.res.statistic.OneCarOneGearResDTO">
        select
        (
        SELECT
        COUNT(1) from(SELECT T_OVERHAUL_ORDER.REAL_END_TIME
        FROM
        T_OVERHAUL_ORDER
        WHERE
        T_OVERHAUL_ORDER.PLAN_NAME LIKE '%' || #{equipName} || '%'
        AND T_OVERHAUL_ORDER.PLAN_NAME LIKE '%二级修(30天%'
        AND LENGTH(trim(T_OVERHAUL_ORDER.REAL_END_TIME)) IS NOT null) t1
        WHERE
        1=1
        <if test="startTime!=null">
           and to_date( t1.REAL_END_TIME , 'YYYY-MM-DD HH24:MI:SS') <![CDATA[>=]]> to_date(#{startTime}, 'YYYY-MM-DD')
        </if>
        <if test="endTime!=null">
           and to_date(t1.REAL_END_TIME, 'YYYY-MM-DD HH24:MI:SS') <![CDATA[<=]]> to_date(#{endTime}, 'YYYY-MM-DD')
        </if>
        ) as "er2",
        (
        SELECT
        COUNT(1) from(SELECT T_OVERHAUL_ORDER.REAL_END_TIME
        FROM
        T_OVERHAUL_ORDER
        WHERE
        T_OVERHAUL_ORDER.PLAN_NAME LIKE '%' || #{equipName} || '%'
        AND T_OVERHAUL_ORDER.PLAN_NAME LIKE '%二级修(90天%'
        AND LENGTH(trim(T_OVERHAUL_ORDER.REAL_END_TIME)) IS NOT null) t1
        WHERE
        1=1
        <if test="startTime!=null">
          and  to_date( t1.REAL_END_TIME , 'YYYY-MM-DD HH24:MI:SS') <![CDATA[>=]]> to_date(#{startTime}, 'YYYY-MM-DD')
        </if>
        <if test="endTime!=null">
          and  to_date(t1.REAL_END_TIME, 'YYYY-MM-DD HH24:MI:SS') <![CDATA[<=]]> to_date(#{endTime}, 'YYYY-MM-DD')
        </if>
        ) as "er3",
        (
        SELECT
        COUNT(1) from(SELECT T_OVERHAUL_ORDER.REAL_END_TIME
        FROM
        T_OVERHAUL_ORDER
        WHERE
        T_OVERHAUL_ORDER.PLAN_NAME LIKE '%' || #{equipName} || '%'
        AND T_OVERHAUL_ORDER.PLAN_NAME LIKE '%二级修(180天%'
        AND LENGTH(trim(T_OVERHAUL_ORDER.REAL_END_TIME)) IS NOT null) t1
        WHERE
        1=1
        <if test="startTime!=null">
          and  to_date( t1.REAL_END_TIME , 'YYYY-MM-DD HH24:MI:SS') <![CDATA[>=]]> to_date(#{startTime}, 'YYYY-MM-DD')
        </if>
        <if test="endTime!=null">
          and  to_date(t1.REAL_END_TIME, 'YYYY-MM-DD HH24:MI:SS') <![CDATA[<=]]> to_date(#{endTime}, 'YYYY-MM-DD')
        </if>
        ) as "er4",
        (
        SELECT
        COUNT(1) from(SELECT T_OVERHAUL_ORDER.REAL_END_TIME
        FROM
        T_OVERHAUL_ORDER
        WHERE
        T_OVERHAUL_ORDER.PLAN_NAME LIKE '%' || #{equipName} || '%'
        AND T_OVERHAUL_ORDER.PLAN_NAME LIKE '%二级修(360天%'
        AND LENGTH(trim(T_OVERHAUL_ORDER.REAL_END_TIME)) IS NOT null) t1
        WHERE
        1=1
        <if test="startTime!=null">
          and to_date(t1.REAL_END_TIME , 'YYYY-MM-DD HH24:MI:SS') <![CDATA[>=]]> to_date(#{startTime}, 'YYYY-MM-DD')
        </if>
        <if test="endTime!=null">
          and to_date(t1.REAL_END_TIME, 'YYYY-MM-DD HH24:MI:SS') <![CDATA[<=]]> to_date(#{endTime}, 'YYYY-MM-DD')
        </if>
        ) as "er5",
        (
        SELECT
        COUNT(1)
        FROM
        T_FAULT_INFO t1
        LEFT JOIN
        T_FAULT_ORDER t2
        ON
        t1.FAULT_NO=t2.FAULT_NO
        WHERE
        t1.MAJOR_CODE='07'
        AND t1.OBJECT_NAME= #{equipName}
        AND nvl(t2.IS_FAULT,'10')='10'
        <if test="startTime!=null">
           and to_date( t1.FILLIN_TIME , 'YYYY-MM-DD HH24:MI:SS') <![CDATA[>=]]> to_date(#{startTime}, 'YYYY-MM-DD')
        </if>
        <if test="endTime!=null">
           and to_date(t1.FILLIN_TIME, 'YYYY-MM-DD HH24:MI:SS') <![CDATA[<=]]> to_date(#{endTime}, 'YYYY-MM-DD')
        </if>
        ) as "fmCount",
        (
        SELECT
        COUNT(1) from(SELECT T_OVERHAUL_ORDER.REAL_END_TIME
        FROM
        T_OVERHAUL_ORDER
        WHERE
        T_OVERHAUL_ORDER.PLAN_NAME LIKE '%' || #{equipName} || '%'
        AND T_OVERHAUL_ORDER.PLAN_NAME LIKE '%一级修%'
        AND LENGTH(trim(T_OVERHAUL_ORDER.REAL_END_TIME)) IS NOT null) t1
        WHERE
        1=1
        <if test="startTime!=null">
           and to_date( t1.REAL_END_TIME , 'YYYY-MM-DD HH24:MI:SS') <![CDATA[>=]]> to_date(#{startTime}, 'YYYY-MM-DD')
        </if>
        <if test="endTime!=null">
           and to_date(t1.REAL_END_TIME, 'YYYY-MM-DD HH24:MI:SS') <![CDATA[<=]]> to_date(#{endTime}, 'YYYY-MM-DD')
        </if>
        ) as "er1",
        (
        SELECT
        MAX(DM06.TOTAL_MILES)
        FROM
        T_TRAIN_MILEAGE DM06
        WHERE
        DM06.EQUIP_NAME = #{equipName}
        ) as "maxMile",
        (
        SELECT
        MAX(DM06.TOTAL_TRACTION_ENERGY)
        FROM
        T_TRAIN_MILEAGE DM06
        WHERE
        DM06.EQUIP_NAME =#{equipName}
        ) as "maxkWh",
        (
        SELECT
        MAX(DM06.TOTAL_REGENERATED_ELECTRICITY)
        FROM
        T_TRAIN_MILEAGE DM06
        WHERE
        DM06.EQUIP_NAME =#{equipName}

        ) as "maxReEle",
        (
        SELECT
        MAX(DM06.TOTAL_MILES)- MIN(DM06.TOTAL_MILES)
        FROM
        T_TRAIN_MILEAGE DM06
        WHERE
        DM06.EQUIP_NAME =#{equipName}
        <if test="startTime!=null">
           and to_date(SUBSTR(DM06.FILLIN_TIME,0,10),'YYYY-MM-DD') <![CDATA[>=]]> to_date(#{startTime}, 'YYYY-MM-DD')
        </if>
        <if test="endTime!=null">
           and to_date(SUBSTR(DM06.FILLIN_TIME,0,10),'YYYY-MM-DD') <![CDATA[<=]]> to_date(#{endTime}, 'YYYY-MM-DD')
        </if>
        ) as "minusMile",
        (
        SELECT
        MAX(DM06.TOTAL_TRACTION_ENERGY)- MIN(DM06.TOTAL_TRACTION_ENERGY)
        FROM
        T_TRAIN_MILEAGE DM06
        WHERE
        DM06.EQUIP_NAME =#{equipName}
        <if test="startTime!=null">
           and to_date(SUBSTR(DM06.FILLIN_TIME,0,10),'YYYY-MM-DD') <![CDATA[>=]]> to_date(#{startTime}, 'YYYY-MM-DD')
        </if>
        <if test="endTime!=null">
           and to_date(SUBSTR(DM06.FILLIN_TIME,0,10),'YYYY-MM-DD') <![CDATA[<=]]> to_date(#{endTime}, 'YYYY-MM-DD')
        </if>
        ) as "minuskWh",
        (
        SELECT
        MAX(DM06.TOTAL_REGENERATED_ELECTRICITY)- MIN(DM06.TOTAL_REGENERATED_ELECTRICITY)
        FROM
        T_TRAIN_MILEAGE DM06
        WHERE
        DM06.EQUIP_NAME =#{equipName}
        <if test="startTime!=null">
           and to_date(SUBSTR(DM06.FILLIN_TIME,0,10),'YYYY-MM-DD') <![CDATA[>=]]> to_date(#{startTime}, 'YYYY-MM-DD')
        </if>
        <if test="endTime!=null">
           and to_date(SUBSTR(DM06.FILLIN_TIME,0,10),'YYYY-MM-DD') <![CDATA[<=]]> to_date(#{endTime}, 'YYYY-MM-DD')
        </if>
        ) as "minusReEle"

        from dual

    </select>
    <select id="querydmer3" resultType="com.wzmtr.eam.dto.res.statistic.InspectionJobListResDTO">
        SELECT
        MAX( DM06.TOTAL_MILES) as "dmer3km", SUBSTR(DM06.FILLIN_TIME,0,10) as "dmer3date"
        FROM
        T_TRAIN_MILEAGE DM06,T_OVERHAUL_ORDER ER21
        WHERE
        SUBSTR(DM06.FILLIN_TIME,0,10) in
        (
        SELECT
        SUBSTR(ER21.REAL_END_TIME,0,10)
        FROM
        T_OVERHAUL_ORDER ER21
        WHERE
        ER21.PLAN_NAME like '%' || #{equipName} || '%'
        AND ER21.PLAN_NAME LIKE '%' || #{二级修(90天} || '%'
        AND LENGTH(trim(ER21.REAL_END_TIME))IS NOT NULL)
        <if test="startTime!=null">
            to_date(SUBSTR(DM06.FILLIN_TIME,0,10),'YYYY-MM-DD') <![CDATA[>=]]> to_date(#{startTime}, 'YYYY-MM-DD')
        </if>
        <if test="endTime!=null">
            to_date(SUBSTR(DM06.FILLIN_TIME,0,10),'YYYY-MM-DD') <![CDATA[<=]]> to_date(#{endTime}, 'YYYY-MM-DD')
        </if>
        group BY SUBSTR(DM06.FILLIN_TIME,0,10)
        ORDER BY SUBSTR(DM06.FILLIN_TIME,0,10) DESC
    </select>
    <select id="queryER4" resultType="com.wzmtr.eam.dto.res.statistic.InspectionJobListResDTO">
        SELECT
        MAX( DM06.TOTAL_MILES) as "dmer3km", SUBSTR(DM06.FILLIN_TIME,0,10) as "dmer3date"
        FROM
        T_TRAIN_MILEAGE DM06,T_OVERHAUL_ORDER ER21
        WHERE
        SUBSTR(DM06.FILLIN_TIME,0,10) in
        (
        SELECT
        SUBSTR(ER21.REAL_END_TIME,0,10)
        FROM
        T_OVERHAUL_ORDER ER21
        WHERE
        ER21.PLAN_NAME LIKE '%' || #{equipName} || '%'
        AND ER21.PLAN_NAME LIKE '%' || #{二级修(180天} || '%'
        AND LENGTH(trim(ER21.REAL_END_TIME))IS NOT NULL)
        <if test="startTime!=null">
            to_date(SUBSTR(DM06.FILLIN_TIME,0,10),'YYYY-MM-DD') <![CDATA[>=]]> to_date(#{startTime}, 'YYYY-MM-DD')
        </if>
        <if test="endTime!=null">
            to_date(SUBSTR(DM06.FILLIN_TIME,0,10),'YYYY-MM-DD') <![CDATA[<=]]> to_date(#{endTime}, 'YYYY-MM-DD')
        </if>
        group BY SUBSTR(DM06.FILLIN_TIME,0,10)
        ORDER BY SUBSTR(DM06.FILLIN_TIME,0,10) DESC
    </select>
    <select id="queryER5" resultType="com.wzmtr.eam.dto.res.statistic.InspectionJobListResDTO">
        SELECT
        MAX( DM06.TOTAL_MILES) as "dmer3km", SUBSTR(DM06.FILLIN_TIME,0,10) as "dmer3date"
        FROM
        T_TRAIN_MILEAGE DM06,T_OVERHAUL_ORDER ER21
        WHERE
        SUBSTR(DM06.FILLIN_TIME,0,10) in
        (
        SELECT
        SUBSTR(ER21.REAL_END_TIME,0,10)
        FROM
        T_OVERHAUL_ORDER ER21
        WHERE
        ER21.PLAN_NAME LIKE '%' || #{equipName} || '%'
        AND ER21.PLAN_NAME LIKE '%二级修(360天%'
        AND LENGTH(trim(ER21.REAL_END_TIME))IS NOT NULL)
        <if test="startTime!=null">
            to_date(SUBSTR(DM06.FILLIN_TIME,0,10),'YYYY-MM-DD') <![CDATA[>=]]> to_date(#{startTime}, 'YYYY-MM-DD')
        </if>
        <if test="endTime!=null">
            to_date(SUBSTR(DM06.FILLIN_TIME,0,10),'YYYY-MM-DD') <![CDATA[<=]]> to_date(#{endTime}, 'YYYY-MM-DD')
        </if>
        group BY SUBSTR(DM06.FILLIN_TIME,0,10)
        ORDER BY SUBSTR(DM06.FILLIN_TIME,0,10) DESC
    </select>
    <select id="queryFMHistory" resultType="com.wzmtr.eam.dto.res.fault.FaultDetailResDTO">
        SELECT
        d.REC_ID	as "recId",  <!-- 记录编号 -->
        d.FAULT_NO	as "faultNo",  <!-- 故障编号 -->
        d.OBJECT_CODE	as "objectCode",  <!-- 对象编码 -->
        d.OBJECT_CODE	as "objectCode_textField",  <!-- 对象编码 -->
        d.OBJECT_NAME	as "objectName",  <!-- 对象名称 -->
        d.TRAIN_TRUNK	as "trainTrunk",  <!-- 车底号/车厢号 -->
        d.PART_CODE as "partCode",
        d.PART_NAME as "partName",
        d.MAJOR_CODE	as "majorCode",  <!-- 专业代码 -->
        d.SYSTEM_CODE	as "systemCode",  <!-- 系统代码 -->
        d.EQUIP_TYPE_CODE	as "equipTypeCode",  <!-- 设备分类代码 -->
        d.FAULT_MODULE	as "faultModule",  <!-- 故障模块 -->
        d.FAULT_MODULE_ID	as "faultModuleId",
        d.FAULT_TYPE	as "faultType",  <!-- 故障分类（10-运营故障；20-自检故障；30-新线调试；40-正线故障；50-出库故障） -->
        d.SOURCE_CODE	as "sourceCode",  <!-- 来源编号 -->
        d.FAULT_DISPLAY_CODE	as "faultDisplayCode",  <!-- 故障现象 -->
        d.FAULT_DISPLAY_DETAIL as "faultDisplayDetail",
        d.FAULT_DETAIL	as "faultDetail",  <!-- 故障详情 -->
        d.DISCOVERER_ID	as "discovererId",  <!-- 发现人工号 -->
        d.DISCOVERER_PHONE	as "discovererPhone",
        d.DISCOVERER_NAME	as "discovererName",  <!-- 发现人姓名 -->
        d.DISCOVERY_TIME	as "discoveryTime",  <!-- 发现时间 -->
        d.FILLIN_USER_ID	as "fillinUserId",  <!-- 提报人工号 -->
        d.FILLIN_DEPT_CODE	as "fillinDeptCode",  <!-- 提报部门 -->
        d.FILLIN_TIME	as "fillinTime",  <!-- 提报时间 -->
        d.RESP_DEPT_CODE	as "respDeptCode",  <!-- 主责部门 -->
        d.ASSIST_DEPT_CODE	as "assistDeptCode",  <!-- 配合部门 -->
        d.REPAIR_DEPT_CODE	as "repairDeptCode",  <!-- 维修部门 -->
        d.PUBLISH_USER_ID	as "publishUserId",  <!-- 下发人工号 -->
        d.PUBLISH_TIME	as "publishTime",  <!-- 下发时间 -->
        d.FAULT_LEVEL	as "faultLevel",  <!-- 故障等级 -->
        d.FAULT_STATUS	as "faultStatus",  <!-- 故障状态 -->
        d.REC_STATUS	as "recStatus",  <!-- 记录状态 -->
        df.REPAIR_START_TIME	as "repairStartTime",  <!-- 维修开始时间 -->
        df.REPAIR_END_TIME	as "repairEndTime",  <!-- 维修结束时间 -->
        round(((to_date(decode(df.REPAIR_END_TIME,' ','2019-11-11 11:11:11',df.REPAIR_END_TIME),'yyyy-mm-dd HH24:mi:ss') - to_date(decode(df.REPAIR_START_TIME,' ','2019-11-11 11:11:11',df.REPAIR_START_TIME),'yyyy-mm-dd HH24:mi:ss'))*24*60),0) as "repairTime",
        d.EXT1	as "ext1",  <!-- 扩展字段1 -->
        d.EXT2	as "ext2",  <!-- 扩展字段2 -->
        d.EXT3	as "affect",  <!-- 扩展字段3 -->
        d.EXT4	as "ext4",  <!-- 扩展字段4 -->
        d.EXT5	as "ext5", <!-- 扩展字段5 -->
        d.TRAIN_TAG as "traintag",
        df.REPORT_FINISH_USER_ID	as "reportFinishUserId",  <!-- 完工人工号 -->
        df.FAULT_WORK_NO	as "faultWorkNo",  <!-- 故障工单号 -->
        d3.FAULT_PROCESS_DETAIL	as "faultProcessDetail",
        df.REC_ID	as "orderRecId",  <!-- 记录编号 -->
        df.ORDER_STATUS	as "orderStatus" , <!-- 工单状态 -->
        df.FAULT_ACTION_DETAIL	as "faultActionDetail",
        df.EXT1	as "levelfault"  <!-- 派工状态 -->
        FROM T_FAULT_INFO d left join T_FAULT_ORDER df on d.FAULT_NO = df.FAULT_NO left join T_FAULT_DETAIL d3 on d3.FAULT_NO=df.FAULT_NO
        WHERE 1=1 and d.MAJOR_CODE='07' and nvl(df.IS_FAULT,'10')='10'
        and d.OBJECT_NAME = #{equipName}
        <if test="startTime!=null">
           and to_date(d.DISCOVERY_TIME, 'YYYY-MM-DD HH24:MI:SS') <![CDATA[>=]]> to_date(#{startTime}, 'YYYY-MM-DD')
        </if>
        <if test="endTime!=null">
            to_date(d.DISCOVERY_TIME, 'YYYY-MM-DD HH24:MI:SS') <![CDATA[<=]]> to_date(#{endTime}, 'YYYY-MM-DD')
        </if>
        ORDER BY d.FAULT_NO desc,df.FAULT_WORK_NO desc
    </select>
    <select id="queryDMFM21" resultType="com.wzmtr.eam.dto.res.fault.TrackQueryResDTO">
        SELECT
        T21.REC_ID	as "recId",  <!-- 记录编号 -->
        T21.COMPANY_CODE	as "companyCode",  <!-- 公司代码 -->
        T21.COMPANY_NAME	as "companyName",  <!-- 公司名称 -->
        T21.FAULT_TRACK_NO	as "faultTrackNo",  <!-- 故障跟踪编号 -->
        T21.FAULT_ANALYSIS_NO	as "faultAnalysisNo",  <!-- 故障分析编号 -->
        T21.TRACK_REASON	as "trackReason",  <!-- 跟踪原因 -->
        T21.FAULT_NO	as "faultNo",  <!-- 故障分析编号 -->
        T21.FAULT_WORK_NO	as "faultWorkNo",  <!-- 故障分析编号 -->
        T21.TRACK_USER_ID	as "trackUserId",  <!-- 转跟踪人员工号 -->
        T21.TRACK_TIME	as "trackTime",  <!-- 转跟踪时间 -->
        T21.TRACK_PERIOD	as "trackPeriod",  <!-- 跟踪期限 -->
        T21.TRACK_END_DATE  as "trackendTime",<!-- 跟踪截止日期 -->
        T21.TRACK_CYCLE	as "trackCycle",  <!-- 跟踪周期 -->
        T21.TRACK_REPORTER_ID	as "trackReporterId",  <!-- 跟踪报告人工号 -->
        T21.TRACK_REPORT_TIME	as "trackReportTime",  <!-- 跟踪报告时间 -->
        T21.TRACK_RESULT	as "trackResult",  <!-- 跟踪结果 -->
        T21.TRACK_CLOSER_ID	as "trackCloserId",  <!-- 跟踪关闭人工号 -->
        T21.TRACK_CLOSE_TIME	as "trackCloseTime",  <!-- 跟踪关闭时间 -->
        T21.TRACK_START_DATE as "trackStartDate",
        T21.WORK_FLOW_INST_ID	as "workFlowInstId",  <!-- 工作流实例ID -->
        T21.WORK_FLOW_INST_STATUS	as "workFlowInstStatus",  <!-- 工作流实例状态 -->
        T21.DOC_ID	as "docId",  <!-- 附件编号 -->
        T21.REMARK	as "remark",  <!-- 备注 -->
        T21.REC_CREATOR	as "recCreator",  <!-- 创建者 -->
        T21.REC_CREATE_TIME	as "recCreateTime",  <!-- 创建时间 -->
        T21.REC_REVISOR	as "recRevisor",  <!-- 修改者 -->
        T21.REC_REVISE_TIME	as "recReviseTime",  <!-- 修改时间 -->
        T21.REC_DELETOR	as "recDeletor",  <!-- 删除者 -->
        T21.REC_DELETE_TIME	as "recDeleteTime",  <!-- 删除时间 -->
        T21.DELETE_FLAG	as "deleteFlag",  <!-- 删除标志 -->
        T21.ARCHIVE_FLAG	as "archiveFlag",  <!-- 归档标记 -->
        T21.REC_STATUS	as "recStatus",  <!-- 记录状态 -->
        T01.OBJECT_NAME	as "objecName",
        T01.FAULT_DETAIL	as "faultDetail",  <!-- 故障详情 -->
        T21.EXT1	as "ext1",  <!-- 扩展字段1 -->
        T21.EXT2	as "ext2",  <!-- 扩展字段2 -->
        T21.EXT3	as "ext3",  <!-- 扩展字段3 -->
        T21.EXT4	as "ext4",  <!-- 扩展字段4 -->
        T21.EXT5	as "ext5" <!-- 扩展字段5 -->
        FROM T_FAULT_TRACK T21
        LEFT JOIN T_FAULT_INFO T01 on T21.FAULT_NO = T01.FAULT_NO
        WHERE 1=1
        <if test="equipName!=null">
           AND T01.OBJECT_NAME =#{equipName}
        </if>
        <if test="startTime!=null">
          AND  T21.TRACK_START_DATE <![CDATA[>=]]> #{startTime}
        </if>
        <if test="endTime!=null">
          AND  T21.TRACK_START_DATE <![CDATA[<=]]> #{endTime}
        </if>
             ORDER BY T21.REC_ID asc
    </select>
    <select id="querydmdm20" resultType="com.wzmtr.eam.dto.res.PartReplaceResDTO">
        SELECT
        REC_ID as "recId",  <!-- 记录编号 -->
        FAULT_WORK_NO as "faultWorkNo",  <!-- 故障工单编号 -->
        EQUIP_CODE as "equipCode",  <!-- 设备代码 -->
        EQUIP_NAME as "equipName",  <!-- 设备名称 -->
        ORG_TYPE as "orgType",  <!-- 作业单位 -->
        OPERATOR as "operator",  <!-- 作业人员 -->
        REPLACEMENT_NO as "replacementNo",  <!-- 更换配件代码 -->
        REPLACEMENT_NAME as "replacementName",  <!-- 更换配件名称 -->
        REPLACE_REASON as "replaceReason",  <!-- 更换原因 -->
        OLD_REP_NO as "oldRepNo",  <!-- 旧配件编号 -->
        NEW_REP_NO as "newRepNo",  <!-- 新配件编号 -->
        OPERATE_COST_TIME as "operateCostTime",  <!-- 更换所用时间 -->
        REPLACE_DATE as "replaceDate",  <!-- 处理日期 -->
        REMARK as "remark",  <!-- 备注 -->
        DOC_ID as "docId",  <!-- 附件编号 -->
        REC_CREATOR as "recCreator",  <!-- 创建者 -->
        REC_CREATE_TIME as "recCreateTime",  <!-- 创建时间 -->
        REC_REVISOR as "recRevisor",  <!-- 修改者 -->
        REC_REVISE_TIME as "recReviseTime",  <!-- 修改时间 -->
        REC_DELETOR as "recDeletor",  <!-- 删除者 -->
        REC_DELETE_TIME as "recDeleteTime",  <!-- 删除时间 -->
        DELETE_FLAG as "deleteFlag",  <!-- 删除标志 -->
        ARCHIVE_FLAG as "archiveFlag",  <!-- 归档标记 -->
        REC_STATUS as "recStatus",  <!-- 记录状态 -->
        EXT1 as "ext1",  <!-- 扩展字段1 -->
        EXT2 as "ext2",  <!-- 扩展字段2 -->
        EXT3 as "ext3",  <!-- 扩展字段3 -->
        EXT4 as "ext4",  <!-- 扩展字段4 -->
        EXT5 as "ext5",  <!-- 扩展字段5 -->
        EXT6 as "ext6",  <!-- 扩展字段6 -->
        EXT7 as "ext7" <!-- 扩展字段7 -->
        FROM T_PART_REPLACEMENT WHERE 1=1
        <if test="equipName != null">
            AND EQUIP_NAME = #{equipName}
        </if>
        <if test="startTime != null">
            AND REPLACE_DATE <![CDATA[>=]]> #{startTime}
        </if>
        <if test="endTime != null">
            AND REPLACE_DATE <![CDATA[<=]]> #{endTime}
        </if>
        ORDER BY REPLACE_DATE desc,REC_CREATE_TIME desc
    </select>
    <select id="queryER2" resultType="com.wzmtr.eam.dto.res.statistic.InspectionJobListResDTO">
        SELECT
        MAX( DM06.TOTAL_MILES) as "dmer3km", SUBSTR(DM06.FILLIN_TIME,0,10) as "dmer3date"
        FROM
        T_TRAIN_MILEAGE DM06,T_OVERHAUL_ORDER ER21
        WHERE
        SUBSTR(DM06.FILLIN_TIME,0,10) in
        (
        SELECT
        SUBSTR(ER21.REAL_END_TIME,0,10)
        FROM
        T_OVERHAUL_ORDER ER21
        WHERE
        ER21.PLAN_NAME  like '%' || #{equipName} || '%'
        AND ER21.PLAN_NAME LIKE '%二级修(30天%'
        AND LENGTH(trim(ER21.REAL_END_TIME))IS NOT NULL)
        <if test="startTime != null">
            to_date(SUBSTR(DM06.FILLIN_TIME,0,10),'YYYY-MM-DD') <![CDATA[>=]]> to_date(#{startTime}, 'YYYY-MM-DD')
        </if>
        <if test="endTime != null">
            to_date(SUBSTR(DM06.FILLIN_TIME,0,10),'YYYY-MM-DD') <![CDATA[<=]]> to_date(#{endTime}, 'YYYY-MM-DD')
        </if>
        group BY SUBSTR(DM06.FILLIN_TIME,0,10)
        ORDER BY SUBSTR(DM06.FILLIN_TIME,0,10) DESC
    </select>
    <select id="queryER1" resultType="com.wzmtr.eam.dto.res.statistic.InspectionJobListResDTO">
        SELECT
        MAX( DM06.TOTAL_MILES) as "dmer3km", SUBSTR(DM06.FILLIN_TIME,0,10) as "dmer3date"
        FROM
        T_TRAIN_MILEAGE DM06,T_OVERHAUL_ORDER ER21
        WHERE
        SUBSTR(DM06.FILLIN_TIME,0,10) in
        (
        SELECT
        SUBSTR(ER21.REAL_END_TIME,0,10)
        FROM
        T_OVERHAUL_ORDER ER21
        WHERE
        ER21.PLAN_NAME LIKE '%' || #{equipName} || '%'
        AND ER21.PLAN_NAME LIKE '%一级修%'
        AND LENGTH(trim(ER21.REAL_END_TIME))IS NOT NULL)
        <if test="startTime != null">
            to_date(SUBSTR(DM06.FILLIN_TIME,0,10),'YYYY-MM-DD') <![CDATA[>=]]> to_date(#{startTime}, 'YYYY-MM-DD')
        </if>
        <if test="endTime != null">
            to_date(SUBSTR(DM06.FILLIN_TIME,0,10),'YYYY-MM-DD') <![CDATA[<=]]> to_date(#{endTime}, 'YYYY-MM-DD')
        </if>
        group BY SUBSTR(DM06.FILLIN_TIME,0,10)
        ORDER BY SUBSTR(DM06.FILLIN_TIME,0,10) DESC
    </select>
</mapper>