<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzmtr.eam.mapper.basic.OrgMajorMapper">

    <select id="pageOrgMajor" resultType="com.wzmtr.eam.dto.res.OrgMajorResDTO">
        SELECT om.REC_ID, om.ORG_CODE, om.ORG_NAME, om.MAJOR_CODE,
        om.REC_STATUS, om.REMARK, u.NAME AS REC_CREATOR, om.REC_CREATE_TIME
        FROM SYS_ORG_MAJOR om
        LEFT JOIN SYS_USER u ON om.REC_CREATOR=u.ID
        where om.DELETE_FLAG='0'
        <if test="orgCodes!=null and orgCodes.size()>0">
            and
            <foreach collection="orgCodes" item="orgCode" separator="or">
                om.ORG_CODE in
                <foreach collection="orgCode" item="x" separator="," open="(" close=")">
                    #{x}
                </foreach>
            </foreach>
        </if>
        <if test="majorCode!=null and majorCode!=''">
            and om.MAJOR_CODE=#{majorCode}
        </if>
        ORDER BY om.REC_CREATE_TIME ASC
    </select>

    <select id="getOrgMajorDetail" resultType="com.wzmtr.eam.dto.res.OrgMajorResDTO">
        SELECT om.REC_ID, om.ORG_CODE, om.ORG_NAME, om.MAJOR_CODE,
        om.REC_STATUS, om.REMARK, u.NAME AS REC_CREATOR, om.REC_CREATE_TIME
        FROM SYS_ORG_MAJOR om
        LEFT JOIN SYS_USER u ON om.REC_CREATOR=u.ID
        where om.REC_ID=#{id}
    </select>

    <select id="selectOrgMajorIsExist" resultType="java.lang.Integer">
        SELECT COUNT(REC_ID)
        FROM SYS_ORG_MAJOR
        WHERE ORG_CODE=#{orgCode} AND MAJOR_CODE=#{majorCode} AND DELETE_FLAG='0'
        <if test="recId!=null and recId!=''">
            AND REC_ID!=#{recId}
        </if>
    </select>

    <insert id="addOrgMajor">
        INSERT INTO SYS_ORG_MAJOR (REC_ID, ORG_CODE, ORG_NAME, MAJOR_CODE, REC_STATUS,
        <if test="remark!=null and remark!=''">
            REMARK,
        </if>
        REC_CREATOR, REC_CREATE_TIME)
        VALUES (#{recId}, #{orgCode}, #{orgName}, #{majorCode}, #{recStatus},
        <if test="remark!=null and remark!=''">
            #{remark},
        </if>
        #{recCreator}, #{recCreateTime})
    </insert>

    <update id="modifyOrgMajor">
        UPDATE SYS_ORG_MAJOR SET
        <if test="orgCode!=null">
            ORG_CODE=#{orgCode},
        </if>
        <if test="orgName!=null">
            ORG_NAME=#{orgName},
        </if>
        <if test="majorCode!=null">
            MAJOR_CODE=#{majorCode},
        </if>
        <if test="recStatus!=null">
            REC_STATUS=#{recStatus},
        </if>
        <if test="remark!=null">
            REMARK=#{remark},
        </if>
        REC_REVISOR=#{recRevisor}, REC_REVISE_TIME=#{recReviseTime}
        WHERE REC_ID=#{recId}
    </update>

    <update id="deleteOrgMajor">
        UPDATE SYS_ORG_MAJOR SET
        DELETE_FLAG='1', REC_DELETOR=#{userId}, REC_DELETE_TIME=#{time}
        WHERE REC_ID IN (
        <foreach collection="ids" index="index" item="id" separator=",">
            #{id}
        </foreach>
        )
    </update>

    <select id="listOrgMajor" resultType="com.wzmtr.eam.dto.res.OrgMajorResDTO">
        SELECT om.REC_ID, om.ORG_CODE, om.ORG_NAME, om.MAJOR_CODE,
        om.REC_STATUS, om.REMARK, u.NAME AS REC_CREATOR, om.REC_CREATE_TIME
        FROM SYS_ORG_MAJOR om
        LEFT JOIN SYS_USER u ON om.REC_CREATOR=u.ID
        where om.DELETE_FLAG='0'
        <if test="orgCodes!=null and orgCodes.size()>0">
            and
            <foreach collection="orgCodes" item="orgCode" separator="or">
                om.ORG_CODE in
                <foreach collection="orgCode" item="x" separator="," open="(" close=")">
                    #{x}
                </foreach>
            </foreach>
        </if>
        <if test="majorCode!=null and majorCode!=''">
            and om.MAJOR_CODE=#{majorCode}
        </if>
        ORDER BY om.REC_CREATE_TIME ASC
    </select>
    <select id="getWorkerGroupBySubjectAndLine" resultType="com.wzmtr.eam.entity.OrganMajorLineType">
        SELECT T05.ORG_CODE AS orgCode,
        T05.ORG_NAME AS orgName,
        T05.MAJOR_CODE AS majorCode,
        T06.LINE_CODE AS lineCode
        FROM SYS_ORG_MAJOR T05
        LEFT JOIN SYS_ORG_LINE T06 ON T05.ORG_CODE = T06.ORG_CODE
        LEFT JOIN SYS_ORG_TYPE T07 ON T05.ORG_CODE = T07.ORG_CODE
        WHERE 1 = 1
        <if test="subjectCode != null and subjectCode != ''">
            AND T05.MAJOR_CODE = #{subjectCode}
        </if>
        <if test="line != null and line != ''">
            AND T06.LINE_CODE = #{line}
        </if>
        <if test="orgType != null and orgType != ''">
            AND T07.ORG_TYPE = #{orgType}
        </if>
    </select>
    <select id="getDepartmentUserByGroupName" resultType="com.wzmtr.eam.entity.OrganMajorLineType">
        SELECT LOGIN_NAME AS "loginName", USER_NAME AS "userName"
        FROM (SELECT U.LOGIN_NAME, U.USER_NAME
              FROM IPLAT60.XS_USER U
              WHERE U.USER_ID IN
                    (SELECT MEMBER_ID
                     FROM IPLAT60.XS_USER_GROUP_MEMBER
                     WHERE PARENT_ID =
                           (SELECT ID FROM IPLAT60.XS_USER_GROUP WHERE GROUP_ENAME = #{groupCname})))
        WHERE LOGIN_NAME IN (SELECT DISTINCT V_CO_ORG_USER.USER_CODE
                             FROM rplat60.V_CO_ORG_USER
                             WHERE V_CO_ORG_USER.ORG_CODE = #{dptCode})
    </select>
    <select id="queryTypeAndDeptCode" resultType="com.wzmtr.eam.dto.res.OrgMajorResDTO">
        SELECT d5.ORG_CODE, d5.ORG_NAME
        FROM SYS_ORG_MAJOR d5,
             SYS_ORG_LINE d6,
             SYS_ORG_TYPE d7
        where d5.ORG_CODE = d6.ORG_CODE
          AND d6.ORG_CODE = d7.ORG_CODE
          AND d5.MAJOR_CODE = #{majorCode}
          AND d6.LINE_CODE = #{lineCode}
          AND d7.ORG_TYPE = #{organType}
        order by d5.ORG_CODE asc
    </select>
</mapper>