<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzmtr.eam.mapper.basic.OrgTypeMapper">

    <select id="pageOrgType" resultType="com.wzmtr.eam.dto.res.OrgTypeResDTO">
        SELECT ot.REC_ID, ot.ORG_CODE, ot.ORG_NAME, ot.ORG_TYPE,
        ot.REC_STATUS, ot.REMARK, u.NAME AS REC_CREATOR, ot.REC_CREATE_TIME
        FROM SYS_ORG_TYPE ot
        LEFT JOIN SYS_USER u ON ot.REC_CREATOR=u.ID
        where ot.DELETE_FLAG='0'
        <if test="orgCodes!=null and orgCodes.size()>0">
            and ot.ORG_CODE in (
            <foreach collection="orgCodes" index="index" item="orgCode" separator=",">
                #{orgCode}
            </foreach>
            )
        </if>
        <if test="orgType!=null and orgType!=''">
            and ot.ORG_TYPE=#{orgType}
        </if>
        ORDER BY ot.REC_CREATE_TIME ASC
    </select>

    <select id="getOrgTypeDetail" resultType="com.wzmtr.eam.dto.res.OrgTypeResDTO">
        SELECT ot.REC_ID, ot.ORG_CODE, ot.ORG_NAME, ot.ORG_TYPE,
        ot.REC_STATUS, ot.REMARK, u.NAME AS REC_CREATOR, ot.REC_CREATE_TIME
        FROM SYS_ORG_TYPE ot
        LEFT JOIN SYS_USER u ON ot.REC_CREATOR=u.ID
        where ot.REC_ID=#{id}
    </select>

    <select id="selectOrgTypeIsExist" resultType="java.lang.Integer">
        SELECT COUNT(REC_ID)
        FROM SYS_ORG_TYPE
        WHERE ORG_CODE=#{orgCode} AND ORG_TYPE=#{orgType} AND DELETE_FLAG='0'
        <if test="recId!=null and recId!=''">
            AND REC_ID!=#{recId}
        </if>
    </select>

    <insert id="addOrgType">
        INSERT INTO SYS_ORG_TYPE (REC_ID, ORG_CODE, ORG_NAME, ORG_TYPE, REC_STATUS,
        <if test="remark!=null and remark!=''">
            REMARK,
        </if>
        REC_CREATOR, REC_CREATE_TIME)
        VALUES (#{recId}, #{orgCode}, #{orgName}, #{orgType}, #{recStatus},
        <if test="remark!=null and remark!=''">
            #{remark},
        </if>
        #{recCreator}, #{recCreateTime})
    </insert>

    <update id="modifyOrgType">
        UPDATE SYS_ORG_TYPE SET
        <if test="orgCode!=null">
            ORG_CODE=#{orgCode},
        </if>
        <if test="orgName!=null">
            ORG_NAME=#{orgName},
        </if>
        <if test="orgType!=null">
            ORG_TYPE=#{orgType},
        </if>
        <if test="recStatus!=null">
            REC_STATUS=#{recStatus},
        </if>
        <if test="remark!=null">
            REMARK=#{remark},
        </if>
        REC_REVISOR=#{recRevisor}, REC_REVISE_TIME=#{recReviseTime}
        WHERE REC_ID=#{recId}
    </update>

    <update id="deleteOrgType">
        UPDATE SYS_ORG_TYPE SET
        DELETE_FLAG='1', REC_DELETOR=#{userId}, REC_DELETE_TIME=#{time}
        WHERE REC_ID IN (
        <foreach collection="ids" index="index" item="id" separator=",">
            #{id}
        </foreach>
        )
    </update>

    <select id="listOrgType" resultType="com.wzmtr.eam.dto.res.OrgTypeResDTO">
        SELECT ot.REC_ID, ot.ORG_CODE, ot.ORG_NAME, ot.ORG_TYPE,
        ot.REC_STATUS, ot.REMARK, u.NAME AS REC_CREATOR, ot.REC_CREATE_TIME
        FROM SYS_ORG_TYPE ot
        LEFT JOIN SYS_USER u ON ot.REC_CREATOR=u.ID
        where ot.DELETE_FLAG='0'
        <if test="orgCodes!=null and orgCodes.size()>0">
            and ot.ORG_CODE in (
            <foreach collection="orgCodes" index="index" item="orgCode" separator=",">
                #{orgCode}
            </foreach>
            )
        </if>
        <if test="orgType!=null and orgType!=''">
            and ot.ORG_TYPE=#{orgType}
        </if>
        ORDER BY ot.REC_CREATE_TIME ASC
    </select>

</mapper>