<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzmtr.eam.mapper.detection.OtherEquipTypeMapper">

    <select id="pageOtherEquipType" resultType="com.wzmtr.eam.dto.res.detection.OtherEquipTypeResDTO">
        SELECT
        REC_ID,
        TYPE_CODE,
        TYPE_NAME,
        DETECTION_PERIOD,
        REC_CREATOR,
        REC_CREATE_TIME,
        REC_REVISOR,
        REC_REVISE_TIME,
        REC_DELETOR,
        REC_DELETE_TIME,
        DELETE_FLAG
        FROM T_OTHER_EQUIP_TYPE
        where DELETE_FLAG='0'
        <if test="typeCode!=null and typeCode!=''">
            and TYPE_CODE like '%' || #{typeCode} || '%'
        </if>
        <if test="typeName!=null and typeName!=''">
            and TYPE_NAME like '%' || #{typeName} || '%'
        </if>
        ORDER BY TYPE_CODE asc
    </select>

    <select id="getOtherEquipTypeDetail" resultType="com.wzmtr.eam.dto.res.detection.OtherEquipTypeResDTO">
        SELECT
        REC_ID,
        TYPE_CODE,
        TYPE_NAME,
        DETECTION_PERIOD,
        REC_CREATOR,
        REC_CREATE_TIME,
        REC_REVISOR,
        REC_REVISE_TIME,
        REC_DELETOR,
        REC_DELETE_TIME,
        DELETE_FLAG
        FROM T_OTHER_EQUIP_TYPE
        where DELETE_FLAG='0' and REC_ID=#{id}
    </select>

    <insert id="importOtherEquipType">
        insert ALL
        <foreach collection="list" index="index" item="special" separator=" ">
            INTO T_OTHER_EQUIP_TYPE (
            REC_ID,
            TYPE_CODE,
            TYPE_NAME,
            DETECTION_PERIOD,
            REC_CREATOR,
            REC_CREATE_TIME,
            DELETE_FLAG)
            VALUES (
            #{recId},
            #{typeCode,jdbcType=VARCHAR},
            #{typeName,jdbcType=VARCHAR},
            #{detectionPeriod,jdbcType=VARCHAR},
            #{recCreator,jdbcType=VARCHAR},
            #{recCreateTime,jdbcType=VARCHAR},
            0)
        </foreach>
        SELECT * FROM dual
    </insert>

    <select id="getMaxTypeCode" resultType="java.lang.String">
        SELECT max(TYPE_CODE)
        FROM T_OTHER_EQUIP_TYPE
    </select>

    <insert id="addOtherEquipType">
        INSERT INTO T_OTHER_EQUIP_TYPE (
        REC_ID,
        TYPE_CODE,
        TYPE_NAME,
        DETECTION_PERIOD,
        REC_CREATOR,
        REC_CREATE_TIME,
        DELETE_FLAG)
        VALUES (
        #{recId},
        #{typeCode,jdbcType=VARCHAR},
        #{typeName,jdbcType=VARCHAR},
        #{detectionPeriod,jdbcType=VARCHAR},
        #{recCreator,jdbcType=VARCHAR},
        #{recCreateTime,jdbcType=VARCHAR},
        0)
    </insert>
    
    <update id="modifyOtherEquipType">
        UPDATE T_OTHER_EQUIP_TYPE SET
        <if test="typeName!=null">
            TYPE_NAME=#{typeName,jdbcType=VARCHAR},
        </if>
        <if test="detectionPeriod!=null">
            DETECTION_PERIOD=#{detectionPeriod,jdbcType=VARCHAR},
        </if>
        REC_REVISOR=#{recRevisor},
        REC_REVISE_TIME=#{recReviseTime}
        WHERE REC_ID = #{recId,jdbcType=VARCHAR}
    </update>

    <update id="deleteOtherEquipType">
        UPDATE T_OTHER_EQUIP_TYPE SET
        DELETE_FLAG='1', REC_DELETOR=#{userId}, REC_DELETE_TIME=#{time}
        WHERE REC_ID IN (
        <foreach collection="ids" index="index" item="id" separator=",">
            #{id}
        </foreach>
        )
    </update>

    <select id="exportOtherEquipType" resultType="com.wzmtr.eam.dto.res.detection.OtherEquipTypeResDTO">
        SELECT
        REC_ID,
        TYPE_CODE,
        TYPE_NAME,
        DETECTION_PERIOD,
        REC_CREATOR,
        REC_CREATE_TIME,
        REC_REVISOR,
        REC_REVISE_TIME,
        REC_DELETOR,
        REC_DELETE_TIME,
        DELETE_FLAG
        FROM T_OTHER_EQUIP_TYPE
        where DELETE_FLAG='0'
        <if test="typeCode!=null and typeCode!=''">
            AND TYPE_CODE like '%' || #{typeCode} || '%'
        </if>
        <if test="typeName!=null and typeName!=''">
            AND TYPE_NAME like '%' || #{typeName} || '%'
        </if>
        <if test="ids!=null and ids.size()>0">
            AND REC_ID IN (
            <foreach collection="ids" index="index" item="id" separator=",">
                #{id}
            </foreach>
            )
        </if>
        ORDER BY TYPE_CODE asc
    </select>

    <select id="listOtherEquipType" resultType="com.wzmtr.eam.dto.res.detection.OtherEquipTypeResDTO">
        SELECT
        REC_ID,
        TYPE_CODE,
        TYPE_NAME,
        DETECTION_PERIOD,
        REC_CREATOR,
        REC_CREATE_TIME,
        REC_REVISOR,
        REC_REVISE_TIME,
        REC_DELETOR,
        REC_DELETE_TIME,
        DELETE_FLAG
        FROM T_OTHER_EQUIP_TYPE
        where DELETE_FLAG='0'
        <if test="typeCode!=null and typeCode!=''">
            and TYPE_CODE like '%' || #{typeCode} || '%'
        </if>
        <if test="typeName!=null and typeName!=''">
            and TYPE_NAME like '%' || #{typeName} || '%'
        </if>
        ORDER BY TYPE_CODE asc
    </select>

    <select id="getOtherEquipTypeDetailByType" resultType="com.wzmtr.eam.dto.res.detection.OtherEquipTypeResDTO">
        SELECT
        REC_ID,
        TYPE_CODE,
        TYPE_NAME,
        DETECTION_PERIOD,
        REC_CREATOR,
        REC_CREATE_TIME,
        REC_REVISOR,
        REC_REVISE_TIME,
        REC_DELETOR,
        REC_DELETE_TIME,
        DELETE_FLAG
        FROM T_OTHER_EQUIP_TYPE
        where DELETE_FLAG='0'
        <if test="code!=null and code!=''">
            and TYPE_CODE=#{code}
        </if>
        <if test="name!=null and name!=''">
            and TYPE_NAME=#{name}
        </if>
        and rownum=1
    </select>
</mapper>