<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzmtr.eam.mapper.overhaul.OverhaulWeekPlanMapper">

    <sql id="weekPlan-cols">
        SELECT
        REC_ID	as "recId",  <!-- 记录ID -->
        WEEK_PLAN_CODE	as "weekPlanCode",  <!-- 周计划编号 -->
        PLAN_NAME	as "planName",  <!-- 计划名称 -->
        LINE_NO	as "lineNo",  <!-- 线路编码 -->
        LINE_NAME	as "lineName",  <!-- 线路名称 -->
        POSITION1_NAME	as "position1Name",  <!-- 位置1  -->
        POSITION1_CODE	as "position1Code",  <!-- 位置1代码 -->
        SUBJECT_CODE	as "subjectCode",  <!-- 设备专业编码 -->
        SUBJECT_NAME	as "subjectName",  <!-- 设备专业名称 -->
        WORKER_GROUP_CODE	as "workerGroupCode",  <!-- 作业工班编码 -->
        WORK_GROUP_NAME	as "workGroupName",  <!-- 作业工班名称 -->
        WORKER_NAME	as "workerName",  <!-- 作业人员姓名 -->
        WORKER_CODE	as "workerCode",  <!-- 作业人员工号 -->
        FIRST_BEGIN_TIME	as "firstBeginTime",  <!-- 开始时间 -->
        PLAN_FINISH_TIME	as "planFinishTime",  <!-- 结束时间 -->
        PLAN_STATUS	as "planStatus",  <!-- 计划状态 -->
        TRIAL_STATUS	as "trialStatus",  <!-- 审批状态 -->
        WORK_FLOW_INST_ID	as "workFlowInstId",  <!-- 工作流实例ID -->
        WORK_FLOW_INST_STATUS	as "workFlowInstStatus",  <!-- 工作流实例状态 -->
        COMPANY_CODE	as "companyCode",  <!-- 公司代码 -->
        COMPANY_NAME	as "companyName",  <!-- 公司名称 -->
        REC_CREATOR	as "recCreator",  <!-- 记录创建者 -->
        REC_CREATOR_NAME	as "recCreatorName",  <!-- 记录创建者姓名 -->
        REC_CREATE_TIME	as "recCreateTime",  <!-- 记录创建时间 -->
        REC_REVISOR	as "recRevisor",  <!-- 记录修改者 -->
        REC_REVISE_TIME	as "recReviseTime",  <!-- 记录修改时间 -->
        REC_DELETOR	as "recDeletor",  <!-- 记录删除者 -->
        REC_DELETE_TIME	as "recDeleteTime",  <!-- 记录删除时间 -->
        DELETE_FLAG	as "deleteFlag",  <!-- 删除标记 -->
        ARCHIVE_FLAG	as "archiveFlag",  <!-- 归档标记 -->
        REMARK	as "remark",  <!-- 说明 -->
        EXT1	as "ext1",  <!-- 扩展字段1 -->
        EXT2	as "ext2",  <!-- 扩展字段2 -->
        EXT3	as "ext3",  <!-- 扩展字段3 -->
        EXT4	as "ext4",  <!-- 扩展字段4 -->
        EXT5	as "ext5" <!-- 扩展字段5 -->
    </sql>

    <select id="pageOverhaulWeekPlan" resultType="com.wzmtr.eam.dto.res.overhaul.OverhaulWeekPlanResDTO">
        <include refid="weekPlan-cols"/>
        FROM T_WEEKLY_PLAN WHERE 1=1 and DELETE_FLAG='0'
        <if test="req.weekPlanCode!=null and req.weekPlanCode!=''">
            and WEEK_PLAN_CODE=#{req.weekPlanCode}
        </if>
        <if test="req.planName!=null and req.planName!=''">
            and PLAN_NAME=#{req.planName}
        </if>
        <if test="req.lineNo!=null and req.lineNo!=''">
            and LINE_NO=#{req.lineNo}
        </if>
        <if test="req.subjectCode!=null and req.subjectCode!=''">
            and SUBJECT_CODE=#{req.subjectCode}
        </if>
        <if test="req.trialStatus!=null and req.trialStatus!=''">
            and TRIAL_STATUS IN (${req.trialStatus})
        </if>
        <if test="req.workFlowInstId!=null and req.workFlowInstId!=''">
            and WORK_FLOW_INST_ID=#{req.workFlowInstId}
        </if>
        <if test="req.firstBeginTime!=null and req.firstBeginTime!=''">
            and (FIRST_BEGIN_TIME=#{req.firstBeginTime} or FIRST_BEGIN_TIME=#{req.firstBeginTime1})
        </if>
        <if test="req.workerGroupCode!=null and req.workerGroupCode!=''">
            and WORKER_GROUP_CODE=#{req.workerGroupCode}
        </if>
        ORDER BY WEEK_PLAN_CODE desc
    </select>

    <select id="getOverhaulWeekPlanDetail" resultType="com.wzmtr.eam.dto.res.overhaul.OverhaulWeekPlanResDTO">
        <include refid="weekPlan-cols"/>
        FROM T_WEEKLY_PLAN WHERE REC_ID=#{id}
    </select>

    <select id="getSubjectByUserId" resultType="java.lang.String">
        SELECT NODE_CODE as "nodeCode"
        FROM T_EQUIPMENT_CATEGORY where 1=1 AND NODE_CODE IN (
        SELECT MAJOR_CODE as "majorCode"
        FROM SYS_ORG_MAJOR where 1=1 AND REC_STATUS = '10' AND
        ORG_CODE = (SELECT CASE WHEN AREA_ID IS NULL THEN ID ELSE AREA_ID END
        FROM SYS_OFFICE WHERE ID=(SELECT OFFICE_ID from SYS_USER where ID=#{userId} AND ROWNUM=1)
        AND ROWNUM=1))
    </select>

    <select id="getMaxCode" resultType="java.lang.String">
        select max(WEEK_PLAN_CODE) from T_WEEKLY_PLAN
    </select>

    <insert id="addOverhaulWeekPlan">
        INSERT INTO T_WEEKLY_PLAN (REC_ID,  <!-- 记录ID -->
        WEEK_PLAN_CODE,  <!-- 周计划编号 -->
        PLAN_NAME,  <!-- 计划名称 -->
        LINE_NO,  <!-- 线路编码 -->
        LINE_NAME,  <!-- 线路名称 -->
        POSITION1_NAME,  <!-- 位置1  -->
        POSITION1_CODE,  <!-- 位置1代码 -->
        SUBJECT_CODE,  <!-- 设备专业编码 -->
        SUBJECT_NAME,  <!-- 设备专业名称 -->
        WORKER_GROUP_CODE,  <!-- 作业工班编码 -->
        WORK_GROUP_NAME,  <!-- 作业工班名称 -->
        WORKER_NAME,  <!-- 作业人员姓名 -->
        WORKER_CODE,  <!-- 作业人员工号 -->
        FIRST_BEGIN_TIME,  <!-- 开始时间 -->
        PLAN_FINISH_TIME,  <!-- 结束时间 -->
        PLAN_STATUS,  <!-- 计划状态 -->
        TRIAL_STATUS,  <!-- 审批状态 -->
        WORK_FLOW_INST_ID,  <!-- 工作流实例ID -->
        WORK_FLOW_INST_STATUS,  <!-- 工作流实例状态 -->
        COMPANY_CODE,  <!-- 公司代码 -->
        COMPANY_NAME,  <!-- 公司名称 -->
        REC_CREATOR,  <!-- 记录创建者 -->
        REC_CREATOR_NAME,  <!-- 记录创建者姓名 -->
        REC_CREATE_TIME,  <!-- 记录创建时间 -->
        REC_REVISOR,  <!-- 记录修改者 -->
        REC_REVISE_TIME,  <!-- 记录修改时间 -->
        REC_DELETOR,  <!-- 记录删除者 -->
        REC_DELETE_TIME,  <!-- 记录删除时间 -->
        DELETE_FLAG,  <!-- 删除标记 -->
        ARCHIVE_FLAG,  <!-- 归档标记 -->
        REMARK,  <!-- 说明 -->
        EXT1,  <!-- 扩展字段1 -->
        EXT2,  <!-- 扩展字段2 -->
        EXT3,  <!-- 扩展字段3 -->
        EXT4,  <!-- 扩展字段4 -->
        EXT5  <!-- 扩展字段5 -->)
        VALUES (
        #{recId,jdbcType=VARCHAR},
        #{weekPlanCode,jdbcType=VARCHAR},
        #{planName,jdbcType=VARCHAR},
        #{lineNo,jdbcType=VARCHAR},
        #{lineName,jdbcType=VARCHAR},
        ' ',
        ' ',
        #{subjectCode,jdbcType=VARCHAR},
        #{subjectName,jdbcType=VARCHAR},
        #{workerGroupCode,jdbcType=VARCHAR},
        #{workGroupName,jdbcType=VARCHAR},
        #{workerName,jdbcType=VARCHAR},
        #{workerCode,jdbcType=VARCHAR},
        #{firstBeginTime,jdbcType=VARCHAR},
        #{planFinishTime,jdbcType=VARCHAR},
        #{planStatus,jdbcType=VARCHAR},
        #{trialStatus,jdbcType=VARCHAR},
        #{workFlowInstId,jdbcType=VARCHAR},
        #{workFlowInstStatus,jdbcType=VARCHAR},
        #{companyCode,jdbcType=VARCHAR},
        #{companyName,jdbcType=VARCHAR},
        #{recCreator,jdbcType=VARCHAR},
        #{recCreatorName,jdbcType=VARCHAR},
        #{recCreateTime,jdbcType=VARCHAR},
        #{recRevisor,jdbcType=VARCHAR},
        #{recReviseTime,jdbcType=VARCHAR},
        #{recDeletor,jdbcType=VARCHAR},
        #{recDeleteTime,jdbcType=VARCHAR},
        '0',
        #{archiveFlag,jdbcType=VARCHAR},
        #{remark,jdbcType=VARCHAR},
        #{ext1,jdbcType=VARCHAR},
        #{ext2,jdbcType=VARCHAR},
        #{ext3,jdbcType=VARCHAR},
        #{ext4,jdbcType=VARCHAR},
        #{ext5,jdbcType=VARCHAR})
    </insert>

    <update id="modifyOverhaulWeekPlan">
        UPDATE T_WEEKLY_PLAN SET
        <if test="weekPlanCode!=null">
            WEEK_PLAN_CODE =#{weekPlanCode},
        </if>
        <if test="planName!=null">
            PLAN_NAME =#{planName},
        </if>
        <if test="lineNo!=null">
            LINE_NO =#{lineNo},
        </if>
        <if test="lineName!=null">
            LINE_NAME =#{lineName},
        </if>
        <if test="position1Name!=null">
            POSITION1_NAME =#{position1Name},
        </if>
        <if test="position1Code!=null">
            POSITION1_CODE =#{position1Code},
        </if>
        <if test="subjectCode!=null">
            SUBJECT_CODE =#{subjectCode},
        </if>
        <if test="subjectName!=null">
            SUBJECT_NAME =#{subjectName},
        </if>
        <if test="workerGroupCode!=null">
            WORKER_GROUP_CODE =#{workerGroupCode},
        </if>
        <if test="workGroupName!=null">
            WORK_GROUP_NAME =#{workGroupName},
        </if>
        <if test="workerName!=null">
            WORKER_NAME =#{workerName},
        </if>
        <if test="workerCode!=null">
            WORKER_CODE =#{workerCode},
        </if>
        <if test="firstBeginTime!=null">
            FIRST_BEGIN_TIME =#{firstBeginTime},
        </if>
        <if test="planFinishTime!=null">
            PLAN_FINISH_TIME =#{planFinishTime},
        </if>
        <if test="planStatus!=null">
            PLAN_STATUS =#{planStatus},
        </if>
        <if test="trialStatus!=null">
            TRIAL_STATUS =#{trialStatus},
        </if>
        <if test="workFlowInstId!=null">
            WORK_FLOW_INST_ID =#{workFlowInstId},
        </if>
        <if test="workFlowInstStatus!=null">
            WORK_FLOW_INST_STATUS =#{workFlowInstStatus},
        </if>
        <if test="companyCode!=null">
            COMPANY_CODE =#{companyCode},
        </if>
        <if test="companyName!=null">
            COMPANY_NAME =#{companyName},
        </if>
        <if test="archiveFlag!=null">
            ARCHIVE_FLAG =#{archiveFlag},
        </if>
        <if test="remark!=null">
            REMARK =#{remark},
        </if>
        <if test="ext1!=null">
            EXT1 =#{ext1},
        </if>
        <if test="ext2!=null">
            EXT2 =#{ext2},
        </if>
        <if test="ext3!=null">
            EXT3 =#{ext3},
        </if>
        <if test="ext4!=null">
            EXT4 =#{ext4},
        </if>
        <if test="ext5!=null">
            EXT5 =#{ext5},
        </if>
        REC_REVISOR =#{recRevisor},
        REC_REVISE_TIME =#{recReviseTime}
        WHERE REC_ID =#{recId}
    </update>

    <update id="deleteOverhaulWeekPlan">
        UPDATE T_WEEKLY_PLAN SET
        DELETE_FLAG='1', REC_DELETOR=#{userId}, REC_DELETE_TIME=#{time}
        WHERE REC_ID=#{id}
    </update>

    <update id="deleteOverhaulPlan">
        UPDATE T_OVERHAUL_PLAN SET
        DELETE_FLAG='1', REC_DELETOR=#{userId}, REC_DELETE_TIME=#{time}
        WHERE WEEK_PLAN_CODE=#{weekPlanCode}
    </update>

    <update id="deleteOverhaulObject">
        UPDATE T_OVERHAUL_OBJECT SET
        DELETE_FLAG='1', REC_DELETOR=#{userId}, REC_DELETE_TIME=#{time}
        WHERE PLAN_CODE IN (SELECT T11.PLAN_CODE FROM T_OVERHAUL_PLAN T11 WHERE T11.WEEK_PLAN_CODE = #{weekPlanCode})
    </update>

    <select id="listOverhaulWeekPlan" resultType="com.wzmtr.eam.dto.res.overhaul.OverhaulWeekPlanResDTO">
        <include refid="weekPlan-cols"/>
        FROM T_WEEKLY_PLAN WHERE 1=1 and DELETE_FLAG='0'
        <if test="weekPlanCode!=null and weekPlanCode!=''">
            and WEEK_PLAN_CODE=#{weekPlanCode}
        </if>
        <if test="planName!=null and planName!=''">
            and PLAN_NAME=#{planName}
        </if>
        <if test="lineNo!=null and lineNo!=''">
            and LINE_NO=#{lineNo}
        </if>
        <if test="subjectCode!=null and subjectCode!=''">
            and SUBJECT_CODE=#{subjectCode}
        </if>
        <if test="trialStatus!=null and trialStatus!=''">
            and TRIAL_STATUS IN (${trialStatus})
        </if>
        <if test="workFlowInstId!=null and workFlowInstId!=''">
            and WORK_FLOW_INST_ID=#{workFlowInstId}
        </if>
        <if test="firstBeginTime!=null and firstBeginTime!=''">
            and (FIRST_BEGIN_TIME=#{firstBeginTime} or FIRST_BEGIN_TIME=#{firstBeginTime1})
        </if>
        <if test="workerGroupCode!=null and workerGroupCode!=''">
            and WORKER_GROUP_CODE=#{workerGroupCode}
        </if>
        ORDER BY WEEK_PLAN_CODE desc
    </select>

    <select id="getOverhaulWeekPlanByIds" resultType="com.wzmtr.eam.dto.res.overhaul.OverhaulWeekPlanResDTO">
        SELECT
        REC_ID	as "recId",  <!-- 记录ID -->
        WEEK_PLAN_CODE	as "weekPlanCode",  <!-- 周计划编号 -->
        PLAN_NAME	as "planName",  <!-- 计划名称 -->
        LINE_NO	as "lineNo",  <!-- 线路编码 -->
        LINE_NAME	as "lineName",  <!-- 线路名称 -->
        POSITION1_NAME	as "position1Name",  <!-- 位置1  -->
        POSITION1_CODE	as "position1Code",  <!-- 位置1代码 -->
        SUBJECT_CODE	as "subjectCode",  <!-- 设备专业编码 -->
        (SELECT t1.NODE_NAME FROM T_EQUIPMENT_CATEGORY t1 WHERE t1.NODE_CODE=SUBJECT_CODE AND t1.DELETE_FLAG='0' AND t1.REC_STATUS='10') as "subjectName",  <!-- 设备专业名称 -->
        WORKER_GROUP_CODE	as "workerGroupCode",  <!-- 作业工班编码 -->
        WORK_GROUP_NAME	as "workGroupName",  <!-- 作业工班名称 -->
        WORKER_NAME	as "workerName",  <!-- 作业人员姓名 -->
        WORKER_CODE	as "workerCode",  <!-- 作业人员工号 -->
        FIRST_BEGIN_TIME	as "firstBeginTime",  <!-- 开始时间 -->
        PLAN_FINISH_TIME	as "planFinishTime",  <!-- 结束时间 -->
        PLAN_STATUS	as "planStatus",  <!-- 计划状态 -->
        TRIAL_STATUS	as "trialStatus",  <!-- 审批状态 -->
        WORK_FLOW_INST_ID	as "workFlowInstId",  <!-- 工作流实例ID -->
        WORK_FLOW_INST_STATUS	as "workFlowInstStatus",  <!-- 工作流实例状态 -->
        COMPANY_CODE	as "companyCode",  <!-- 公司代码 -->
        COMPANY_NAME	as "companyName",  <!-- 公司名称 -->
        REC_CREATOR	as "recCreator",  <!-- 记录创建者 -->
        REC_CREATOR_NAME	as "recCreatorName",  <!-- 记录创建者姓名 -->
        REC_CREATE_TIME	as "recCreateTime",  <!-- 记录创建时间 -->
        REC_REVISOR	as "recRevisor",  <!-- 记录修改者 -->
        REC_REVISE_TIME	as "recReviseTime",  <!-- 记录修改时间 -->
        REC_DELETOR	as "recDeletor",  <!-- 记录删除者 -->
        REC_DELETE_TIME	as "recDeleteTime",  <!-- 记录删除时间 -->
        DELETE_FLAG	as "deleteFlag",  <!-- 删除标记 -->
        ARCHIVE_FLAG	as "archiveFlag",  <!-- 归档标记 -->
        REMARK	as "remark",  <!-- 说明 -->
        EXT1	as "ext1",  <!-- 扩展字段1 -->
        EXT2	as "ext2",  <!-- 扩展字段2 -->
        EXT3	as "ext3",  <!-- 扩展字段3 -->
        EXT4	as "ext4",  <!-- 扩展字段4 -->
        EXT5	as "ext5" <!-- 扩展字段5 -->
        FROM T_WEEKLY_PLAN WHERE DELETE_FLAG='0' and REC_ID IN (
        <foreach collection="ids" index="index" item="id" separator=",">
            #{id}
        </foreach>
        )
        ORDER BY WEEK_PLAN_CODE desc
    </select>

</mapper>