<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzmtr.eam.mapper.bpmn.OverTodoMapper">
    <delete id="delete">
            DELETE FROM IPLAT60.STATUS_WORK_FLOW_LOG WHERE
                TODO_ID = #{todoId} AND USER_ID = #{userId}
    </delete>

    <select id="queryNotWorkFlow" resultType="com.wzmtr.eam.dto.res.overTodo.QueryNotWorkFlowResDTO">
        SELECT
        TODO_ID as "todoId",
        USER_ID as "userId",
        EIP_URL as "eipUrl",
        PHONE_URL as "phoneUrl"
        FROM iplat60.STATUS_WORK_FLOW_LOG where TODO_STATUS='1'
        <if test="todoId!=null and todoId!=''">
            and TODO_ID = #{todoId}
        </if>
        ORDER BY TODO_ID DESC
    </select>

    <update id="updateStatus">
        UPDATE IPLAT60.STATUS_WORK_FLOW_LOG SET
        TODO_DATE=#{todoDate},
        PROCESS_USER_ID= #{processUserId},
        TODO_STATUS=#{todoStatus},
        AUDIT_OPINION= #{auditOpinion}
        WHERE TODO_ID=#{todoId} AND USER_ID=#{userId}
    </update>

    <insert id="insert">
        INSERT INTO IPLAT60.STATUS_WORK_FLOW_LOG (
        TODO_ID,  <!-- 待办主键ID -->
        SYSCODE,  <!-- 系统编码 -->
        OPER_ID,  <!-- 1：新增2：更新 3：删除 -->
        TITLE,  <!-- 标题 -->
        USER_ID,  <!-- 代办人——用户ID -->
        TODO_STATUS,  <!-- 1：待办 2：已办 -->
        EIP_URL,  <!-- EIP待办详情URL -->
        PHONE_URL,  <!-- 移动端待办详情URL -->
        KIND_TYPE,  <!-- 待办级别 1为最高级 -->
        TODO_DATE,  <!-- 待办/已办日期 -->
        STEP_NAME,  <!-- 当前步骤名称 -->
        LAST_STEP_USER_ID,  <!-- 提交人员 -->
        TASK_RCV_TIME,  <!-- 任务到达时间 -->
        PROCESS_USER_ID,  <!-- 实际处理人ID -->
        AUDIT_OPINION,  <!-- 提交/审核意见 -->
        EXT1,  <!-- 扩展字段1 -->
        EXT2,  <!-- 扩展字段2 -->
        EXT3,  <!-- 扩展字段3 -->
        EXT4,  <!-- 扩展字段4 -->
        EXT5,  <!-- 扩展字段5 -->
        EXT6  <!-- 扩展字段6 -->)
        VALUES (
        #{todoId,jdbcType=VARCHAR},
        #{syscode,jdbcType=VARCHAR},
        #{operId,jdbcType=VARCHAR},
        #{title,jdbcType=VARCHAR},
        #{userId,jdbcType=VARCHAR},
        #{todoStatus,jdbcType=VARCHAR},
        #{eipUrl,jdbcType=VARCHAR},
        #{phoneUrl,jdbcType=VARCHAR},
        #{kindType,jdbcType=VARCHAR},
        #{todoDate,jdbcType=VARCHAR},
        #{stepName,jdbcType=VARCHAR},
        #{lastStepUserId,jdbcType=VARCHAR},
        #{taskRcvTime,jdbcType=VARCHAR},
        #{processUserId,jdbcType=VARCHAR},
        #{auditOpinion,jdbcType=VARCHAR},
        #{ext1,jdbcType=VARCHAR},
        #{ext2,jdbcType=VARCHAR},
        #{ext3,jdbcType=VARCHAR},
        #{ext4,jdbcType=VARCHAR},
        #{ext5,jdbcType=VARCHAR},
        #{ext6,jdbcType=VARCHAR})
    </insert>
</mapper>