<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzmtr.eam.mapper.basic.PartMapper">


    <select id="queryPartByFaultWorkNo" resultType="com.wzmtr.eam.bizobject.PartBO">
        SELECT
            nvl(listagg(to_char(dm20.REPLACEMENT_NAME), '; ' ) within group(order by dm20.REPLACEMENT_NAME),' ') AS "replacementName",
            nvl(listagg(to_char(dm20.OLD_REP_NO), '; ') within group(order by dm20.OLD_REP_NO),' ') AS "oldRepNo",
            nvl(listagg(to_char(dm20.NEW_REP_NO), '; ') within group(order by dm20.NEW_REP_NO),' ') AS "newRepNo",
            nvl(listagg(to_char(dm20.OPERATE_COST_TIME), '; ') within group(order by dm20.OPERATE_COST_TIME),' ') AS "operateCostTime"
        FROM T_PART_REPLACEMENT dm20
                 LEFT JOIN T_FAULT_ORDER fm02 ON fm02.FAULT_WORK_NO = dm20.FAULT_WORK_NO
        WHERE fm02.FAULT_WORK_NO = #{faultWorkNo}
    </select>
</mapper>