<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzmtr.eam.mapper.PersonMapper">

    <select id="searchPersonByNo" resultType="com.wzmtr.eam.shiro.model.TPerson">
        SELECT
        ID,
        NO,
        NAME,
        OFFICE_ID
        FROM
        SYS_USER
        WHERE LOGIN_NAME=#{no}
    </select>


</mapper>