<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzmtr.eam.mapper.basic.RegionMapper">

    <select id="pageRegion" resultType="com.wzmtr.eam.dto.res.basic.RegionResDTO">
        SELECT r.REC_ID, r.PARENT_NODE_REC_ID, r.NODE_NAME, r.NODE_CODE, r.REC_STATUS, r.LINE_CODE, r.REMARK, u.NAME AS REC_CREATOR, r.REC_CREATE_TIME
        FROM SYS_REGION r
        LEFT JOIN SYS_USER u ON r.REC_CREATOR=u.ID
        where r.DELETE_FLAG='0'
        <if test="name!=null and name!=''">
            and r.NODE_NAME like '%' || #{name} || '%'
        </if>
        <if test="code!=null and code!=''">
            and r.NODE_CODE like '%' || #{code} || '%'
        </if>
        <if test="parentId!=null and parentId!=''">
            and r.PARENT_NODE_REC_ID=#{parentId}
        </if>
        ORDER BY r.NODE_CODE ASC
    </select>

    <select id="listRegionRootList" resultType="com.wzmtr.eam.dto.res.basic.RegionResDTO">
        SELECT REC_ID, PARENT_NODE_REC_ID, NODE_NAME, NODE_CODE, REC_STATUS, LINE_CODE, REMARK, REC_CREATOR, REC_CREATE_TIME
        FROM SYS_REGION
        where DELETE_FLAG='0' AND REC_ID='0'
        ORDER BY NODE_CODE ASC
    </select>

    <select id="listRegionBodyList" resultType="com.wzmtr.eam.dto.res.basic.RegionResDTO">
        SELECT REC_ID, PARENT_NODE_REC_ID, NODE_NAME, NODE_CODE, REC_STATUS, LINE_CODE, REMARK, REC_CREATOR, REC_CREATE_TIME
        FROM SYS_REGION
        where DELETE_FLAG='0' AND REC_ID!='0'
        ORDER BY NODE_CODE ASC
    </select>

    <select id="getRegionDetail" resultType="com.wzmtr.eam.dto.res.basic.RegionResDTO">
        SELECT r.REC_ID, r.PARENT_NODE_REC_ID, r.NODE_NAME, r.NODE_CODE, r.REC_STATUS, r.LINE_CODE, r.REMARK, u.NAME AS REC_CREATOR, r.REC_CREATE_TIME
        FROM SYS_REGION r
        LEFT JOIN SYS_USER u ON r.REC_CREATOR=u.ID
        where r.REC_ID=#{id}
    </select>

    <select id="selectRegionIsExist" resultType="java.lang.Integer">
        SELECT COUNT(REC_ID)
        FROM SYS_REGION
        WHERE PARENT_NODE_REC_ID=#{parentNodeRecId} AND NODE_CODE=#{nodeCode} AND DELETE_FLAG='0'
        <if test="recId!=null and recId!=''">
            AND REC_ID!=#{recId}
        </if>
    </select>

    <insert id="addRegion">
        INSERT INTO SYS_REGION (REC_ID, NODE_NAME, NODE_CODE, REC_STATUS, NODE_LEVEL,
        <if test="lineCode!=null and lineCode!=''">
            LINE_CODE,
        </if>
        <if test="remark!=null and remark!=''">
            REMARK,
        </if>
        REC_CREATOR, REC_CREATE_TIME, PARENT_NODE_REC_ID)
        VALUES (#{recId}, #{nodeName}, #{nodeCode}, #{recStatus}, #{nodeLevel},
        <if test="lineCode!=null and lineCode!=''">
            #{lineCode},
        </if>
        <if test="remark!=null and remark!=''">
            #{remark},
        </if>
        #{recCreator}, #{recCreateTime}, #{parentNodeRecId})
    </insert>

    <update id="modifyRegion">
        UPDATE SYS_REGION SET
        <if test="nodeName!=null">
            NODE_NAME=#{nodeName},
        </if>
        <if test="nodeCode!=null">
            NODE_CODE=#{nodeCode},
        </if>
        <if test="recStatus!=null">
            REC_STATUS=#{recStatus},
        </if>
        <if test="lineCode!=null">
            LINE_CODE=#{lineCode},
        </if>
        <if test="remark!=null">
            REMARK=#{remark},
        </if>
        <if test="parentNodeRecId!=null">
            PARENT_NODE_REC_ID=#{parentNodeRecId},
        </if>
        <if test="nodeLevel!=null">
            NODE_LEVEL=#{nodeLevel},
        </if>
        REC_REVISOR=#{recRevisor}, REC_REVISE_TIME=#{recReviseTime}
        WHERE REC_ID=#{recId}
    </update>

    <update id="deleteRegion">
        UPDATE SYS_REGION SET
        DELETE_FLAG='1', REC_DELETOR=#{userId}, REC_DELETE_TIME=#{time}
        WHERE REC_ID IN (
        <foreach collection="ids" index="index" item="id" separator=",">
            #{id}
        </foreach>
        )
    </update>

    <select id="listRegion" resultType="com.wzmtr.eam.dto.res.basic.RegionResDTO">
        SELECT r.REC_ID, r.PARENT_NODE_REC_ID, r.NODE_NAME, r.NODE_CODE, r.REC_STATUS, r.LINE_CODE, r.REMARK, u.NAME AS REC_CREATOR, r.REC_CREATE_TIME
        FROM SYS_REGION r
        LEFT JOIN SYS_USER u ON r.REC_CREATOR=u.ID
        where r.DELETE_FLAG='0'
        <if test="name!=null and name!=''">
            and r.NODE_NAME like '%' || #{name} || '%'
        </if>
        <if test="code!=null and code!=''">
            and r.NODE_CODE like '%' || #{code} || '%'
        </if>
        <if test="parentId!=null and parentId!=''">
            and r.PARENT_NODE_REC_ID=#{parentId}
        </if>
        ORDER BY r.NODE_CODE ASC
    </select>
    <select id="selectByNodeCodes" resultType="com.wzmtr.eam.dto.res.basic.RegionResDTO">
        SELECT * from SYS_REGION
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="nodeCodes!=null and nodeCodes.size() > 0">
                AND NODE_CODE IN
                <foreach collection="nodeCodes" item="code" open="(" close=")" separator=",">
                    #{code}
                </foreach>
            </if>
        </trim>
    </select>
</mapper>