<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzmtr.eam.mapper.statistic.ReliabilityMapper">


    <select id="queryTicketFault" resultType="com.wzmtr.eam.dto.res.statistic.ReliabilityResDTO">
        select c.YEAR_MONTH as "yearMonth",
               (
                       (1 - (round((sum(
                               (case
                                    when substr(t.FILLIN_TIME, 1, 7) <![CDATA[ <]]> c.YEAR_MONTH and
                                         substr(t.CLOSE_TIME, 1, 7) = c.YEAR_MONTH
                                        then round(TO_NUMBER(TO_DATE(t.CLOSE_TIME, 'YYYY-MM-DD HH24:MI:SS') -
                                                             TO_DATE(c.YEAR_MONTH || '-01 00:00:00', 'YYYY-MM-DD HH24:MI:SS')) *
                                                   24)
                                    when substr(t.FILLIN_TIME, 1, 7) <![CDATA[ <]]> c.YEAR_MONTH and
                                         substr(t.CLOSE_TIME, 1, 7) > c.YEAR_MONTH
                                        then round(TO_NUMBER(add_months(
                                                                     TO_DATE(c.YEAR_MONTH || '-01 00:00:00', 'YYYY-MM-DD HH24:MI:SS'),
                                                                     1) -
                                                             TO_DATE(c.YEAR_MONTH || '-01 00:00:00', 'YYYY-MM-DD HH24:MI:SS')) *
                                                   24)
                                    when substr(t.FILLIN_TIME, 1, 7) = c.YEAR_MONTH and
                                         substr(t.CLOSE_TIME, 1, 7) = c.YEAR_MONTH
                                        then round(TO_NUMBER(TO_DATE(t.CLOSE_TIME, 'YYYY-MM-DD HH24:MI:SS') -
                                                             TO_DATE(t.FILLIN_TIME, 'YYYY-MM-DD HH24:MI:SS')) * 24)
                                    when substr(t.FILLIN_TIME, 1, 7) = c.YEAR_MONTH and
                                         substr(t.CLOSE_TIME, 1, 7) > c.YEAR_MONTH
                                        then round(TO_NUMBER(add_months(
                                                                     TO_DATE(c.YEAR_MONTH || '-01 00:00:00', 'YYYY-MM-DD HH24:MI:SS'),
                                                                     1) -
                                                             TO_DATE(t.FILLIN_TIME, 'YYYY-MM-DD HH24:MI:SS')) * 24)
                                    else 0 end))
                                       ) / (to_number(to_char(last_day(to_date(c.YEAR_MONTH, 'YYYY-MM')), 'dd')) * 24 *
                                            (select count(1)
                                             from T_EQUIPMENT
                                             where EQUIP_TYPE_CODE = '110201'
                                               and MAJOR_CODE = '11')), 4))) * 100
                   )        as "precent"
        from (select a.FAULT_NO,
                     a.FILLIN_TIME,
                     (select max(b.CLOSE_TIME) from T_FAULT_ORDER b where a.FAULT_NO = b.FAULT_NO) as CLOSE_TIME
              from T_FAULT_INFO a
              where not exists(select 1
                               from T_FAULT_ORDER b
                               where a.FAULT_NO = b.FAULT_NO
                                 and b.ORDER_STATUS<![CDATA[ <>]]> '70')
                and rtrim(a.FAULT_FLAG) is null
                and a.MAJOR_CODE = '11'
                and a.EQUIP_TYPE_CODE = '110201') t,
             (select to_char(add_months(to_date(#{startTime}, 'YYYY-MM'), rownum - 1), 'YYYY-MM') as YEAR_MONTH
              from dual
                  connect by rownum <![CDATA[ <=]]> months_between(to_date(#{endTime}, 'YYYY-MM'), to_date(#{startTime}, 'YYYY-MM')) + 1) c
        where (substr(t.FILLIN_TIME, 1, 7)<![CDATA[ >=]]> #{startTime} and
               substr(t.FILLIN_TIME, 1, 7)<![CDATA[ <=]]> #{endTime})
           or (substr(t.CLOSE_TIME, 1, 7)<![CDATA[ >=]]> #{startTime} and
               substr(t.CLOSE_TIME, 1, 7)<![CDATA[ <=]]> #{endTime})
        group by c.YEAR_MONTH
        order by c.YEAR_MONTH
    </select>
    <select id="queryGateBrakeFault" resultType="com.wzmtr.eam.dto.res.statistic.ReliabilityResDTO">
        select c.YEAR_MONTH as "yearMonth",
               (
                       (1 - (round((sum(
                               (case
                                    when substr(t.FILLIN_TIME, 1, 7) <![CDATA[ <]]> c.YEAR_MONTH and
                                         substr(t.CLOSE_TIME, 1, 7) = c.YEAR_MONTH
                                        then round(TO_NUMBER(TO_DATE(t.CLOSE_TIME, 'YYYY-MM-DD HH24:MI:SS') -
                                                             TO_DATE(c.YEAR_MONTH || '-01 00:00:00', 'YYYY-MM-DD HH24:MI:SS')) *
                                                   24)
                                    when substr(t.FILLIN_TIME, 1, 7) <![CDATA[ <]]> c.YEAR_MONTH and
                                         substr(t.CLOSE_TIME, 1, 7) > c.YEAR_MONTH
                                        then round(TO_NUMBER(add_months(
                                                                     TO_DATE(c.YEAR_MONTH || '-01 00:00:00', 'YYYY-MM-DD HH24:MI:SS'),
                                                                     1) -
                                                             TO_DATE(c.YEAR_MONTH || '-01 00:00:00', 'YYYY-MM-DD HH24:MI:SS')) *
                                                   24)
                                    when substr(t.FILLIN_TIME, 1, 7) = c.YEAR_MONTH and
                                         substr(t.CLOSE_TIME, 1, 7) = c.YEAR_MONTH
                                        then round(TO_NUMBER(TO_DATE(t.CLOSE_TIME, 'YYYY-MM-DD HH24:MI:SS') -
                                                             TO_DATE(t.FILLIN_TIME, 'YYYY-MM-DD HH24:MI:SS')) * 24)
                                    when substr(t.FILLIN_TIME, 1, 7) = c.YEAR_MONTH and
                                         substr(t.CLOSE_TIME, 1, 7) > c.YEAR_MONTH
                                        then round(TO_NUMBER(add_months(
                                                                     TO_DATE(c.YEAR_MONTH || '-01 00:00:00', 'YYYY-MM-DD HH24:MI:SS'),
                                                                     1) -
                                                             TO_DATE(t.FILLIN_TIME, 'YYYY-MM-DD HH24:MI:SS')) * 24)
                                    else 0 end))
                                       ) / (to_number(to_char(last_day(to_date(c.YEAR_MONTH, 'YYYY-MM')), 'dd')) * 24 *
                                            (select count(1)
                                             from T_EQUIPMENT
                                             where EQUIP_TYPE_CODE = '110203' and MAJOR_CODE = '11')), 4))) * 100
                   )        as "precent"
        from (select a.FAULT_NO,
                     a.FILLIN_TIME,
                     (select max(b.CLOSE_TIME) from T_FAULT_ORDER b where a.FAULT_NO = b.FAULT_NO) as CLOSE_TIME
              from T_FAULT_INFO a
              where not exists(select 1
                               from T_FAULT_ORDER b
                               where a.FAULT_NO = b.FAULT_NO and b.ORDER_STATUS<![CDATA[ <>]]> '70')
                and rtrim(a.FAULT_FLAG) is null
                and a.MAJOR_CODE = '11'
                and a.EQUIP_TYPE_CODE = '110203') t,
             (select to_char(add_months(to_date(#{startTime}, 'YYYY-MM'), rownum - 1), 'YYYY-MM') as YEAR_MONTH
              from dual
                  connect by rownum <![CDATA[ <=]]> months_between(to_date(#{endTime}, 'YYYY-MM'), to_date(#{startTime}, 'YYYY-MM')) + 1) c
        where (substr(t.FILLIN_TIME, 1, 7)<![CDATA[ >=]]> #{startTime} and
               substr(t.FILLIN_TIME, 1, 7)<![CDATA[ <=]]> #{endTime})
           or (substr(t.CLOSE_TIME, 1, 7)<![CDATA[ >=]]> #{startTime} and
               substr(t.CLOSE_TIME, 1, 7)<![CDATA[ <=]]> #{endTime})
        group by c.YEAR_MONTH
        order by c.YEAR_MONTH
    </select>
    <select id="queryEscalatorFault" resultType="com.wzmtr.eam.dto.res.statistic.ReliabilityResDTO">
        select c.YEAR_MONTH as "yearMonth",
               (
                       (1 - (round((sum(
                               (case
                                    when substr(t.FILLIN_TIME, 1, 7) <![CDATA[ <]]> c.YEAR_MONTH and
                                         substr(t.CLOSE_TIME, 1, 7) = c.YEAR_MONTH
                                        then round(TO_NUMBER(TO_DATE(t.CLOSE_TIME, 'YYYY-MM-DD HH24:MI:SS') -
                                                             TO_DATE(c.YEAR_MONTH || '-01 00:00:00', 'YYYY-MM-DD HH24:MI:SS')) *
                                                   24)
                                    when substr(t.FILLIN_TIME, 1, 7) <![CDATA[ <]]> c.YEAR_MONTH and
                                         substr(t.CLOSE_TIME, 1, 7) > c.YEAR_MONTH
                                        then round(TO_NUMBER(add_months(
                                                                     TO_DATE(c.YEAR_MONTH || '-01 00:00:00', 'YYYY-MM-DD HH24:MI:SS'),
                                                                     1) -
                                                             TO_DATE(c.YEAR_MONTH || '-01 00:00:00', 'YYYY-MM-DD HH24:MI:SS')) *
                                                   24)
                                    when substr(t.FILLIN_TIME, 1, 7) = c.YEAR_MONTH and
                                         substr(t.CLOSE_TIME, 1, 7) = c.YEAR_MONTH
                                        then round(TO_NUMBER(TO_DATE(t.CLOSE_TIME, 'YYYY-MM-DD HH24:MI:SS') -
                                                             TO_DATE(t.FILLIN_TIME, 'YYYY-MM-DD HH24:MI:SS')) * 24)
                                    when substr(t.FILLIN_TIME, 1, 7) = c.YEAR_MONTH and
                                         substr(t.CLOSE_TIME, 1, 7) > c.YEAR_MONTH
                                        then round(TO_NUMBER(add_months(
                                                                     TO_DATE(c.YEAR_MONTH || '-01 00:00:00', 'YYYY-MM-DD HH24:MI:SS'),
                                                                     1) -
                                                             TO_DATE(t.FILLIN_TIME, 'YYYY-MM-DD HH24:MI:SS')) * 24)
                                    else 0 end))
                                       ) / (to_number(to_char(last_day(to_date(c.YEAR_MONTH, 'YYYY-MM')), 'dd')) * 24 *
                                            (select count(1)
                                             from T_EQUIPMENT
                                             where EQUIP_TYPE_CODE = '020102'
                                               and MAJOR_CODE = '02')), 4))) * 100
                   )        as "precent"
        from (select a.FAULT_NO,
                     a.FILLIN_TIME,
                     (select max(b.CLOSE_TIME) from T_FAULT_ORDER b where a.FAULT_NO = b.FAULT_NO) as CLOSE_TIME
              from T_FAULT_INFO a
              where not exists(select 1
                               from T_FAULT_ORDER b
                               where a.FAULT_NO = b.FAULT_NO
                                 and b.ORDER_STATUS<![CDATA[ <>]]> '70')
                and rtrim(a.FAULT_FLAG) is null
                and a.MAJOR_CODE = '02'
                and a.EQUIP_TYPE_CODE = '020102') t,
             (select to_char(add_months(to_date(#{startTime}, 'YYYY-MM'), rownum - 1), 'YYYY-MM') as YEAR_MONTH
              from dual
                  connect by rownum <![CDATA[ <=]]> months_between(to_date(#{endTime}, 'YYYY-MM'), to_date(#{startTime}, 'YYYY-MM')) + 1) c
        where (substr(t.FILLIN_TIME, 1, 7)<![CDATA[ >=]]> #{startTime} and
               substr(t.FILLIN_TIME, 1, 7)<![CDATA[ <=]]> #{endTime})
           or (substr(t.CLOSE_TIME, 1, 7)<![CDATA[ >=]]> #{startTime} and
               substr(t.CLOSE_TIME, 1, 7)<![CDATA[ <=]]> #{endTime})
        group by c.YEAR_MONTH
        order by c.YEAR_MONTH
    </select>
    <select id="queryVerticalEscalatorFault" resultType="com.wzmtr.eam.dto.res.statistic.ReliabilityResDTO">
        select c.YEAR_MONTH as "yearMonth",
               (
                       (1 - (round((sum(
                               (case
                                    when substr(t.FILLIN_TIME, 1, 7) <![CDATA[ <]]> c.YEAR_MONTH and
                                         substr(t.CLOSE_TIME, 1, 7) = c.YEAR_MONTH
                                        then round(TO_NUMBER(TO_DATE(t.CLOSE_TIME, 'YYYY-MM-DD HH24:MI:SS') -
                                                             TO_DATE(c.YEAR_MONTH || '-01 00:00:00', 'YYYY-MM-DD HH24:MI:SS')) *
                                                   24)
                                    when substr(t.FILLIN_TIME, 1, 7) <![CDATA[ <]]> c.YEAR_MONTH and
                                         substr(t.CLOSE_TIME, 1, 7) > c.YEAR_MONTH
                                        then round(TO_NUMBER(add_months(
                                                                     TO_DATE(c.YEAR_MONTH || '-01 00:00:00', 'YYYY-MM-DD HH24:MI:SS'),
                                                                     1) -
                                                             TO_DATE(c.YEAR_MONTH || '-01 00:00:00', 'YYYY-MM-DD HH24:MI:SS')) *
                                                   24)
                                    when substr(t.FILLIN_TIME, 1, 7) = c.YEAR_MONTH and
                                         substr(t.CLOSE_TIME, 1, 7) = c.YEAR_MONTH
                                        then round(TO_NUMBER(TO_DATE(t.CLOSE_TIME, 'YYYY-MM-DD HH24:MI:SS') -
                                                             TO_DATE(t.FILLIN_TIME, 'YYYY-MM-DD HH24:MI:SS')) * 24)
                                    when substr(t.FILLIN_TIME, 1, 7) = c.YEAR_MONTH and
                                         substr(t.CLOSE_TIME, 1, 7) > c.YEAR_MONTH
                                        then round(TO_NUMBER(add_months(
                                                                     TO_DATE(c.YEAR_MONTH || '-01 00:00:00', 'YYYY-MM-DD HH24:MI:SS'),
                                                                     1) -
                                                             TO_DATE(t.FILLIN_TIME, 'YYYY-MM-DD HH24:MI:SS')) * 24)
                                    else 0 end))
                                       ) / (to_number(to_char(last_day(to_date(c.YEAR_MONTH, 'YYYY-MM')), 'dd')) * 24 *
                                            (select count(1)
                                             from T_EQUIPMENT
                                             where EQUIP_TYPE_CODE = '020101'
                                               and MAJOR_CODE = '02')), 4))) * 100
                   )        as "precent"
        from (select a.FAULT_NO,
                     a.FILLIN_TIME,
                     (select max(b.CLOSE_TIME) from T_FAULT_ORDER b where a.FAULT_NO = b.FAULT_NO) as CLOSE_TIME
              from T_FAULT_INFO a
              where not exists(select 1
                               from T_FAULT_ORDER b
                               where a.FAULT_NO = b.FAULT_NO
                                 and b.ORDER_STATUS<![CDATA[ <>]]> '70')
                and rtrim(a.FAULT_FLAG) is null
                and a.MAJOR_CODE = '02'
                and a.EQUIP_TYPE_CODE = '020101') t,
             (select to_char(add_months(to_date(#{startTime}, 'YYYY-MM'), rownum - 1), 'YYYY-MM') as YEAR_MONTH
              from dual
                  connect by rownum <![CDATA[ <=]]> months_between(to_date(#{endTime}, 'YYYY-MM'), to_date(#{startTime}, 'YYYY-MM')) + 1) c
        where (substr(t.FILLIN_TIME, 1, 7)<![CDATA[ >=]]> #{startTime} and
               substr(t.FILLIN_TIME, 1, 7)<![CDATA[ <=]]> #{endTime})
           or (substr(t.CLOSE_TIME, 1, 7)<![CDATA[ >=]]> #{startTime} and
               substr(t.CLOSE_TIME, 1, 7)<![CDATA[ <=]]> #{endTime})
        group by c.YEAR_MONTH
        order by c.YEAR_MONTH
    </select>
    <select id="queryTrainPassengerInformationFault"
            resultType="com.wzmtr.eam.dto.res.statistic.ReliabilityResDTO">
        select c.YEAR_MONTH as "yearMonth",
               (
                       (1 - (round((sum(
                               (case
                                    when substr(t.FILLIN_TIME, 1, 7) <![CDATA[ <]]> c.YEAR_MONTH and
                                         substr(t.CLOSE_TIME, 1, 7) = c.YEAR_MONTH
                                        then round(TO_NUMBER(TO_DATE(t.CLOSE_TIME, 'YYYY-MM-DD HH24:MI:SS') -
                                                             TO_DATE(c.YEAR_MONTH || '-01 00:00:00', 'YYYY-MM-DD HH24:MI:SS')) *
                                                   24)
                                    when substr(t.FILLIN_TIME, 1, 7) <![CDATA[ <]]> c.YEAR_MONTH and
                                         substr(t.CLOSE_TIME, 1, 7) > c.YEAR_MONTH
                                        then round(TO_NUMBER(add_months(
                                                                     TO_DATE(c.YEAR_MONTH || '-01 00:00:00', 'YYYY-MM-DD HH24:MI:SS'),
                                                                     1) -
                                                             TO_DATE(c.YEAR_MONTH || '-01 00:00:00', 'YYYY-MM-DD HH24:MI:SS')) *
                                                   24)
                                    when substr(t.FILLIN_TIME, 1, 7) = c.YEAR_MONTH and
                                         substr(t.CLOSE_TIME, 1, 7) = c.YEAR_MONTH
                                        then round(TO_NUMBER(TO_DATE(t.CLOSE_TIME, 'YYYY-MM-DD HH24:MI:SS') -
                                                             TO_DATE(t.FILLIN_TIME, 'YYYY-MM-DD HH24:MI:SS')) * 24)
                                    when substr(t.FILLIN_TIME, 1, 7) = c.YEAR_MONTH and
                                         substr(t.CLOSE_TIME, 1, 7) > c.YEAR_MONTH
                                        then round(TO_NUMBER(add_months(
                                                                     TO_DATE(c.YEAR_MONTH || '-01 00:00:00', 'YYYY-MM-DD HH24:MI:SS'),
                                                                     1) -
                                                             TO_DATE(t.FILLIN_TIME, 'YYYY-MM-DD HH24:MI:SS')) * 24)
                                    else 0 end))
                                       ) / (to_number(to_char(last_day(to_date(c.YEAR_MONTH, 'YYYY-MM')), 'dd')) * 24 *
                                            to_number((select count(1)
                                                       from T_BOM
                                                       where ENAME like 'B0117%'
                                                         and ENAME not in
                                                             ('B01170137', 'B01170104', 'B01170105', 'B01170304',
                                                              'B01170305', 'B01170337'))) * 18), 4))) * 100
                   )        as "precent"
        from (select a.FAULT_NO,
                     a.FILLIN_TIME,
                     (select max(b.CLOSE_TIME) from T_FAULT_ORDER b where a.FAULT_NO = b.FAULT_NO) as CLOSE_TIME
              from T_FAULT_INFO a
              where not exists(select 1
                               from T_FAULT_ORDER b
                               where a.FAULT_NO = b.FAULT_NO and b.ORDER_STATUS<![CDATA[ <>]]> '70')
                and a.MAJOR_CODE = '07'
                and rtrim(a.FAULT_FLAG) is null
                and a.FAULT_MODULE_ID in (select tt.ENAME
                                          from T_BOM tt
                                          where ENAME like 'B0117%'
                                            and ENAME not in
                                                ('B01170137', 'B01170104', 'B01170105', 'B01170304', 'B01170305',
                                                 'B01170337'))) t,
             (select to_char(add_months(to_date(#{startTime}, 'YYYY-MM'), rownum - 1), 'YYYY-MM') as YEAR_MONTH
              from dual
                  connect by rownum <![CDATA[ <=]]> months_between(to_date(#{endTime}, 'YYYY-MM'), to_date(#{startTime}, 'YYYY-MM')) + 1) c
        where (substr(t.FILLIN_TIME, 1, 7)<![CDATA[ >=]]> #{startTime} and
               substr(t.FILLIN_TIME, 1, 7)<![CDATA[ <=]]> #{endTime})
           or (substr(t.CLOSE_TIME, 1, 7)<![CDATA[ >=]]> #{startTime} and
               substr(t.CLOSE_TIME, 1, 7)<![CDATA[ <=]]> #{endTime})
        group by c.YEAR_MONTH
        order by c.YEAR_MONTH
    </select>
    <select id="queryStationPassengerInformationFault"
            resultType="com.wzmtr.eam.dto.res.statistic.ReliabilityResDTO">
        select c.YEAR_MONTH as "yearMonth",
               (
                       (1 - (round((sum(
                               (case
                                    when substr(t.FILLIN_TIME, 1, 7) <![CDATA[ <]]> c.YEAR_MONTH and
                                         substr(t.CLOSE_TIME, 1, 7) = c.YEAR_MONTH
                                        then round(TO_NUMBER(TO_DATE(t.CLOSE_TIME, 'YYYY-MM-DD HH24:MI:SS') -
                                                             TO_DATE(c.YEAR_MONTH || '-01 00:00:00', 'YYYY-MM-DD HH24:MI:SS')) *
                                                   24)
                                    when substr(t.FILLIN_TIME, 1, 7) <![CDATA[ <]]> c.YEAR_MONTH and
                                         substr(t.CLOSE_TIME, 1, 7) > c.YEAR_MONTH
                                        then round(TO_NUMBER(add_months(
                                                                     TO_DATE(c.YEAR_MONTH || '-01 00:00:00', 'YYYY-MM-DD HH24:MI:SS'),
                                                                     1) -
                                                             TO_DATE(c.YEAR_MONTH || '-01 00:00:00', 'YYYY-MM-DD HH24:MI:SS')) *
                                                   24)
                                    when substr(t.FILLIN_TIME, 1, 7) = c.YEAR_MONTH and
                                         substr(t.CLOSE_TIME, 1, 7) = c.YEAR_MONTH
                                        then round(TO_NUMBER(TO_DATE(t.CLOSE_TIME, 'YYYY-MM-DD HH24:MI:SS') -
                                                             TO_DATE(t.FILLIN_TIME, 'YYYY-MM-DD HH24:MI:SS')) * 24)
                                    when substr(t.FILLIN_TIME, 1, 7) = c.YEAR_MONTH and
                                         substr(t.CLOSE_TIME, 1, 7) > c.YEAR_MONTH
                                        then round(TO_NUMBER(add_months(
                                                                     TO_DATE(c.YEAR_MONTH || '-01 00:00:00', 'YYYY-MM-DD HH24:MI:SS'),
                                                                     1) -
                                                             TO_DATE(t.FILLIN_TIME, 'YYYY-MM-DD HH24:MI:SS')) * 24)
                                    else 0 end))
                                       ) / (to_number(to_char(last_day(to_date(c.YEAR_MONTH, 'YYYY-MM')), 'dd')) * 24 *
                                            (select count(1)
                                             from T_EQUIPMENT
                                             where EQUIP_TYPE_CODE = '080804'
                                               and MAJOR_CODE = '08')), 4))) * 100
                   )        as "precent"
        from (select a.FAULT_NO,
                     a.FILLIN_TIME,
                     (select max(b.CLOSE_TIME) from T_FAULT_ORDER b where a.FAULT_NO = b.FAULT_NO) as CLOSE_TIME
              from T_FAULT_INFO a
              where not exists(select 1
                               from T_FAULT_ORDER b
                               where a.FAULT_NO = b.FAULT_NO
                                 and b.ORDER_STATUS<![CDATA[ <>]]> '70')
                and rtrim(a.FAULT_FLAG) is null
                and a.MAJOR_CODE = '08'
                and a.EQUIP_TYPE_CODE = '080804') t,
             (select to_char(add_months(to_date(#{startTime}, 'YYYY-MM'), rownum - 1), 'YYYY-MM') as YEAR_MONTH
              from dual
                  connect by rownum <![CDATA[ <=]]> months_between(to_date(#{endTime}, 'YYYY-MM'), to_date(#{startTime}, 'YYYY-MM')) + 1) c
        where (substr(t.FILLIN_TIME, 1, 7)<![CDATA[ >=]]> #{startTime} and
               substr(t.FILLIN_TIME, 1, 7)<![CDATA[ <=]]> #{endTime})
           or (substr(t.CLOSE_TIME, 1, 7)<![CDATA[ >=]]> #{startTime} and
               substr(t.CLOSE_TIME, 1, 7)<![CDATA[ <=]]> #{endTime})
        group by c.YEAR_MONTH
        order by c.YEAR_MONTH
    </select>
    <select id="queryFireFightingEquipmentFault"
            resultType="com.wzmtr.eam.dto.res.statistic.ReliabilityResDTO">
        select c.YEAR_MONTH as "yearMonth",
               (
                       (1 - (round((sum(
                               (case
                                    when substr(t.FILLIN_TIME, 1, 7) <![CDATA[ <]]> c.YEAR_MONTH and
                                         substr(t.CLOSE_TIME, 1, 7) = c.YEAR_MONTH
                                        then round(TO_NUMBER(TO_DATE(t.CLOSE_TIME, 'YYYY-MM-DD HH24:MI:SS') -
                                                             TO_DATE(c.YEAR_MONTH || '-01 00:00:00', 'YYYY-MM-DD HH24:MI:SS')) *
                                                   24)
                                    when substr(t.FILLIN_TIME, 1, 7) <![CDATA[ <]]> c.YEAR_MONTH and
                                         substr(t.CLOSE_TIME, 1, 7) > c.YEAR_MONTH
                                        then round(TO_NUMBER(add_months(
                                                                     TO_DATE(c.YEAR_MONTH || '-01 00:00:00', 'YYYY-MM-DD HH24:MI:SS'),
                                                                     1) -
                                                             TO_DATE(c.YEAR_MONTH || '-01 00:00:00', 'YYYY-MM-DD HH24:MI:SS')) *
                                                   24)
                                    when substr(t.FILLIN_TIME, 1, 7) = c.YEAR_MONTH and
                                         substr(t.CLOSE_TIME, 1, 7) = c.YEAR_MONTH
                                        then round(TO_NUMBER(TO_DATE(t.CLOSE_TIME, 'YYYY-MM-DD HH24:MI:SS') -
                                                             TO_DATE(t.FILLIN_TIME, 'YYYY-MM-DD HH24:MI:SS')) * 24)
                                    when substr(t.FILLIN_TIME, 1, 7) = c.YEAR_MONTH and
                                         substr(t.CLOSE_TIME, 1, 7) > c.YEAR_MONTH
                                        then round(TO_NUMBER(add_months(
                                                                     TO_DATE(c.YEAR_MONTH || '-01 00:00:00', 'YYYY-MM-DD HH24:MI:SS'),
                                                                     1) -
                                                             TO_DATE(t.FILLIN_TIME, 'YYYY-MM-DD HH24:MI:SS')) * 24)
                                    else 0 end))
                                       ) / (to_number(to_char(last_day(to_date(c.YEAR_MONTH, 'YYYY-MM')), 'dd')) * 24 *
                                            (select count(1)
                                             from T_EQUIPMENT
                                             where SYSTEM_CODE = '1002' and MAJOR_CODE = '10')), 4))) * 100
                   )        as "precent"
        from (select a.FAULT_NO,
                     a.FILLIN_TIME,
                     (select max(b.CLOSE_TIME) from T_FAULT_ORDER b where a.FAULT_NO = b.FAULT_NO) as CLOSE_TIME
              from T_FAULT_INFO a
              where not exists(select 1
                               from T_FAULT_ORDER b
                               where a.FAULT_NO = b.FAULT_NO and b.ORDER_STATUS<![CDATA[ <>]]> '70')
                and rtrim(a.FAULT_FLAG) is null
                and a.MAJOR_CODE = '10'
                and a.SYSTEM_CODE = '1002') t,
             (select to_char(add_months(to_date(#{startTime}, 'YYYY-MM'), rownum - 1), 'YYYY-MM') as YEAR_MONTH
              from dual
                  connect by rownum <![CDATA[ <=]]> months_between(to_date(#{endTime}, 'YYYY-MM'), to_date(#{startTime}, 'YYYY-MM')) + 1) c
        where (substr(t.FILLIN_TIME, 1, 7)<![CDATA[ >=]]> #{startTime} and
               substr(t.FILLIN_TIME, 1, 7)<![CDATA[ <=]]> #{endTime})
           or (substr(t.CLOSE_TIME, 1, 7)<![CDATA[ >=]]> #{startTime} and
               substr(t.CLOSE_TIME, 1, 7)<![CDATA[ <=]]> #{endTime})
        group by c.YEAR_MONTH
        order by c.YEAR_MONTH
    </select>

</mapper>