<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzmtr.eam.mapper.special.equip.SpecialEquipTypeMapper">

    <select id="pageSpecialEquipType" resultType="com.wzmtr.eam.dto.res.special.equip.SpecialEquipTypeResDTO">
        SELECT
        REC_ID,
        TYPE_CODE,
        TYPE_NAME,
        DETECTION_PERIOD,
        REC_CREATOR,
        REC_CREATE_TIME,
        REC_REVISOR,
        REC_REVISE_TIME,
        REC_DELETOR,
        REC_DELETE_TIME,
        DELETE_FLAG
        FROM T_SPECIAL_EQUIP_TYPE
        where DELETE_FLAG='0'
        <if test="typeCode!=null and typeCode!=''">
            and TYPE_CODE like '%' || #{typeCode} || '%'
        </if>
        <if test="typeName!=null and typeName!=''">
            and TYPE_NAME like '%' || #{typeName} || '%'
        </if>
        ORDER BY TYPE_CODE asc
    </select>

    <select id="getSpecialEquipTypeDetail" resultType="com.wzmtr.eam.dto.res.special.equip.SpecialEquipTypeResDTO">
        SELECT
        REC_ID,
        TYPE_CODE,
        TYPE_NAME,
        DETECTION_PERIOD,
        REC_CREATOR,
        REC_CREATE_TIME,
        REC_REVISOR,
        REC_REVISE_TIME,
        REC_DELETOR,
        REC_DELETE_TIME,
        DELETE_FLAG
        FROM T_SPECIAL_EQUIP_TYPE
        where DELETE_FLAG='0' and REC_ID=#{id}
    </select>

    <insert id="importSpecialEquipType">
        insert ALL
        <foreach collection="list" index="index" item="special" separator=" ">
            INTO T_SPECIAL_EQUIP_TYPE (
            REC_ID,
            TYPE_CODE,
            TYPE_NAME,
            DETECTION_PERIOD,
            REC_CREATOR,
            REC_CREATE_TIME,
            DELETE_FLAG)
            VALUES (
            #{recId},
            #{typeCode,jdbcType=VARCHAR},
            #{typeName,jdbcType=VARCHAR},
            #{detectionPeriod,jdbcType=VARCHAR},
            #{recCreator,jdbcType=VARCHAR},
            #{recCreateTime,jdbcType=VARCHAR},
            0)
        </foreach>
        SELECT * FROM dual
    </insert>

    <insert id="addSpecialEquipType">
        INSERT INTO T_SPECIAL_EQUIP_TYPE (
        REC_ID,
        TYPE_CODE,
        TYPE_NAME,
        DETECTION_PERIOD,
        REC_CREATOR,
        REC_CREATE_TIME,
        DELETE_FLAG)
        VALUES (
        #{recId},
        #{typeCode,jdbcType=VARCHAR},
        #{typeName,jdbcType=VARCHAR},
        #{detectionPeriod,jdbcType=VARCHAR},
        #{recCreator,jdbcType=VARCHAR},
        #{recCreateTime,jdbcType=VARCHAR},
        0)
    </insert>
    
    <update id="modifySpecialEquipType">
        UPDATE T_SPECIAL_EQUIP_TYPE SET
        <if test="typeCode!=null">
            TYPE_CODE=#{typeCode,jdbcType=VARCHAR},
        </if>
        <if test="typeName!=null">
            TYPE_NAME=#{typeName,jdbcType=VARCHAR},
        </if>
        <if test="detectionPeriod!=null">
            DETECTION_PERIOD=#{detectionPeriod,jdbcType=VARCHAR},
        </if>
        REC_REVISOR=#{recRevisor},
        REC_REVISE_TIME=#{recReviseTime}
        WHERE REC_ID = #{recId,jdbcType=VARCHAR}
    </update>

    <update id="deleteSpecialEquipType">
        UPDATE T_SPECIAL_EQUIP_TYPE SET
        DELETE_FLAG='1', REC_DELETOR=#{userId}, REC_DELETE_TIME=#{time}
        WHERE REC_ID IN (
        <foreach collection="ids" index="index" item="id" separator=",">
            #{id}
        </foreach>
        )
    </update>

    <select id="exportSpecialEquipType" resultType="com.wzmtr.eam.dto.res.special.equip.SpecialEquipTypeResDTO">
        SELECT
        REC_ID,
        TYPE_CODE,
        TYPE_NAME,
        DETECTION_PERIOD,
        REC_CREATOR,
        REC_CREATE_TIME,
        REC_REVISOR,
        REC_REVISE_TIME,
        REC_DELETOR,
        REC_DELETE_TIME,
        DELETE_FLAG
        FROM T_SPECIAL_EQUIP_TYPE
        where DELETE_FLAG='0'
        AND REC_ID IN (
        <foreach collection="ids" index="index" item="id" separator=",">
            #{id}
        </foreach>
        )
        ORDER BY TYPE_CODE asc
    </select>

    <select id="listSpecialEquipType" resultType="com.wzmtr.eam.dto.res.special.equip.SpecialEquipTypeResDTO">
        SELECT
        REC_ID,
        TYPE_CODE,
        TYPE_NAME,
        DETECTION_PERIOD,
        REC_CREATOR,
        REC_CREATE_TIME,
        REC_REVISOR,
        REC_REVISE_TIME,
        REC_DELETOR,
        REC_DELETE_TIME,
        DELETE_FLAG
        FROM T_SPECIAL_EQUIP_TYPE
        where DELETE_FLAG='0'
        <if test="typeCode!=null and typeCode!=''">
            and TYPE_CODE like '%' || #{typeCode} || '%'
        </if>
        <if test="typeName!=null and typeName!=''">
            and TYPE_NAME like '%' || #{typeName} || '%'
        </if>
        ORDER BY TYPE_CODE asc
    </select>
</mapper>