<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzmtr.eam.mapper.equipment.TrainMileMapper">

    <select id="pageTrainMile" resultType="com.wzmtr.eam.dto.res.equipment.TrainMileResDTO">
        select
        a.REC_ID as "recId",
        a.EQUIP_CODE as "equipCode",
        a.EQUIP_NAME as "equipName",
        a.TOTAL_MILES as "totalMiles",
        a.TOTAL_TRACTION_ENERGY as "totalTractionEnergy",
        a.TOTAL_AUXILIARY_ENERGY as "totalAuxiliaryEnergy",
        a.TOTAL_REGENERATED_ELECTRICITY as "totalRegenratedElectricity",
        (SELECT MAX(FILLIN_TIME) from T_TRAIN_MILEAGE b where a.EQUIP_CODE=b.EQUIP_CODE) as "fillinTime"
        from T_EQUIPMENT a
        where a.MAJOR_CODE='07'
        <if test="equipCode!=null and equipCode!=''">
            and a.EQUIP_CODE like '%' || #{equipCode} || '%'
        </if>
        <if test="equipName!=null and equipName!=''">
            and a.EQUIP_NAME like '%' || #{equipName} || '%'
        </if>
        <if test="originLineNo!=null and originLineNo!=''">
            and (a.ORIGIN_LINE_NO=#{originLineNo} or a.USE_LINE_NO=#{originLineNo})
        </if>
        order by a.ORIGIN_LINE_NO,a.USE_LINE_NO,a.EQUIP_NAME asc
    </select>

    <select id="getTrainMileDetail" resultType="com.wzmtr.eam.dto.res.equipment.TrainMileResDTO">
        select
        a.REC_ID as "recId",
        a.EQUIP_CODE as "equipCode",
        a.EQUIP_NAME as "equipName",
        a.TOTAL_MILES as "totalMiles",
        a.TOTAL_TRACTION_ENERGY as "totalTractionEnergy",
        a.TOTAL_AUXILIARY_ENERGY as "totalAuxiliaryEnergy",
        a.TOTAL_REGENERATED_ELECTRICITY as "totalRegenratedElectricity",
        (SELECT MAX(FILLIN_TIME) from T_TRAIN_MILEAGE b where a.EQUIP_CODE=b.EQUIP_CODE) as "fillinTime"
        from T_EQUIPMENT a
        where a.MAJOR_CODE='07' and a.REC_ID=#{id}
    </select>

    <select id="listTrainMile" resultType="com.wzmtr.eam.dto.res.equipment.TrainMileResDTO">
        select
        a.REC_ID as "recId",
        a.EQUIP_CODE as "equipCode",
        a.EQUIP_NAME as "equipName",
        a.TOTAL_MILES as "totalMiles",
        a.TOTAL_TRACTION_ENERGY as "totalTractionEnergy",
        a.TOTAL_AUXILIARY_ENERGY as "totalAuxiliaryEnergy",
        a.TOTAL_REGENERATED_ELECTRICITY as "totalRegenratedElectricity",
        (SELECT MAX(FILLIN_TIME) from T_TRAIN_MILEAGE b where a.EQUIP_CODE=b.EQUIP_CODE) as "fillinTime"
        from T_EQUIPMENT a
        where a.MAJOR_CODE='07'
        <if test="equipCode!=null and equipCode!=''">
            and a.EQUIP_CODE like '%' || #{equipCode} || '%'
        </if>
        <if test="equipName!=null and equipName!=''">
            and a.EQUIP_NAME like '%' || #{equipName} || '%'
        </if>
        <if test="originLineNo!=null and originLineNo!=''">
            and a.ORIGIN_LINE_NO=#{originLineNo}
        </if>
        order by a.ORIGIN_LINE_NO,a.EQUIP_NAME asc
    </select>

    <update id="updateTrainMile">
        update T_EQUIPMENT set
        TOTAL_MILES=#{totalMiles},
        TOTAL_TRACTION_ENERGY = #{totalTractionEnergy},
        TOTAL_AUXILIARY_ENERGY = #{totalAuxiliaryEnergy},
        TOTAL_REGENERATED_ELECTRICITY = #{totalRegenratedElectricity}
        where DELETE_FLAG='0'
        <if test="recId!=null and recId!=''">
            AND REC_ID=#{recId}
        </if>
        <if test="equipCode!=null and equipCode!=''">
            AND equipCode=#{equipCode}
        </if>
    </update>

    <insert id="insertTrainMileage">
        INSERT INTO T_TRAIN_MILEAGE
        (REC_ID,
        EQUIP_CODE,
        EQUIP_NAME,
        TOTAL_MILES,
        MILES_INCREMENT,
        FILLIN_TIME,
        FILLIN_USER_ID,
        REMARK,
        REC_CREATOR,
        REC_CREATE_TIME,
        REC_REVISOR,
        REC_REVISE_TIME,
        REC_DELETOR,
        REC_DELETE_TIME,
        DELETE_FLAG,
        ARCHIVE_FLAG,
        REC_STATUS,
        EXT1,
        EXT2,
        EXT3,
        EXT4,
        EXT5,
        TOTAL_TRACTION_ENERGY ,
        TOTAL_AUXILIARY_ENERGY ,
        TOTAL_REGENERATED_ELECTRICITY,
        TRACTION_INCREMENT,
        AUXILIARY_INCREMENT,
        REGENERATED_INCREMENT)
        VALUES (
        #{recId,jdbcType=VARCHAR},
        #{equipCode,jdbcType=VARCHAR},
        #{equipName,jdbcType=VARCHAR},
        #{totalMiles,jdbcType=NUMERIC},
        #{milesIncrement,jdbcType=NUMERIC},
        #{fillinTime,jdbcType=VARCHAR},
        #{fillinUserId,jdbcType=VARCHAR},
        #{remark,jdbcType=VARCHAR},
        #{recCreator,jdbcType=VARCHAR},
        #{recCreateTime,jdbcType=VARCHAR},
        #{recRevisor,jdbcType=VARCHAR},
        #{recReviseTime,jdbcType=VARCHAR},
        #{recDeletor,jdbcType=VARCHAR},
        #{recDeleteTime,jdbcType=VARCHAR},
        '0',
        #{archiveFlag,jdbcType=VARCHAR},
        #{recStatus,jdbcType=VARCHAR},
        #{ext1,jdbcType=VARCHAR},
        #{ext2,jdbcType=VARCHAR},
        #{ext3,jdbcType=VARCHAR},
        #{ext4,jdbcType=VARCHAR},
        #{ext5,jdbcType=VARCHAR},
        #{totalTractionEnergy,jdbcType=NUMERIC},
        #{totalAuxiliaryEnergy,jdbcType=NUMERIC},
        #{totalRegenratedElectricity,jdbcType=NUMERIC},
        #{tractionIncrement,jdbcType=NUMERIC},
        #{auxiliaryIncrement,jdbcType=NUMERIC},
        #{regenratedIncrement,jdbcType=NUMERIC})
    </insert>

    <select id="pageTrainMileage" resultType="com.wzmtr.eam.dto.res.equipment.TrainMileageResDTO">
        SELECT
        tm.REC_ID	as "recId",
        tm.EQUIP_CODE	as "equipCode",
        tm.EQUIP_NAME	as "equipName",
        tm.TOTAL_MILES	as "totalMiles",
        tm.MILES_INCREMENT	as "milesIncrement",
        tm.FILLIN_TIME	as "fillinTime",
        tm.FILLIN_USER_ID	as "fillinUserId",
        u.NAME	as "fillinUserName",
        tm.REMARK	as "remark",
        tm.REC_CREATOR	as "recCreator",
        tm.REC_CREATE_TIME	as "recCreateTime",
        tm.REC_REVISOR	as "recRevisor",
        tm.REC_REVISE_TIME	as "recReviseTime",
        tm.REC_DELETOR	as "recDeletor",
        tm.REC_DELETE_TIME	as "recDeleteTime",
        tm.TOTAL_TRACTION_ENERGY as "totalTractionEnergy",
        tm.TOTAL_AUXILIARY_ENERGY as "totalAuxiliaryEnergy",
        tm.TOTAL_REGENERATED_ELECTRICITY as "totalRegenratedElectricity",
        tm.TRACTION_INCREMENT as "tractionIncrement",
        tm.AUXILIARY_INCREMENT as "auxiliaryIncrement",
        tm.REGENERATED_INCREMENT as "regenratedIncrement",
        tm.DELETE_FLAG	as "deleteFlag",
        tm.ARCHIVE_FLAG	as "archiveFlag",
        tm.REC_STATUS	as "recStatus",
        tm.EXT1	as "ext1",
        tm.EXT2	as "ext2",
        tm.EXT3	as "ext3",
        tm.EXT4	as "ext4",
        tm.EXT5	as "ext5"
        FROM T_TRAIN_MILEAGE tm
        left join SYS_USER u on u.ID=FILLIN_USER_ID
        WHERE 1=1
        <if test="equipCode!=null and equipCode!=''">
            and tm.EQUIP_CODE=#{equipCode}
        </if>
        <if test="startTime!=null and startTime!=''">
            and SUBSTR(tm.FILLIN_TIME,1,10)>=#{startTime}
        </if>
        <if test="endTime!=null and endTime!=''">
            and #{endTime}>=SUBSTR(tm.FILLIN_TIME,1,10)
        </if>
        order by tm.FILLIN_TIME desc
    </select>

    <select id="getTrainMileageDetail" resultType="com.wzmtr.eam.dto.res.equipment.TrainMileageResDTO">
        SELECT
        tm.REC_ID	as "recId",
        tm.EQUIP_CODE	as "equipCode",
        tm.EQUIP_NAME	as "equipName",
        tm.TOTAL_MILES	as "totalMiles",
        tm.MILES_INCREMENT	as "milesIncrement",
        tm.FILLIN_TIME	as "fillinTime",
        tm.FILLIN_USER_ID	as "fillinUserId",
        u.NAME	as "fillinUserName",
        tm.REMARK	as "remark",
        tm.REC_CREATOR	as "recCreator",
        tm.REC_CREATE_TIME	as "recCreateTime",
        tm.REC_REVISOR	as "recRevisor",
        tm.REC_REVISE_TIME	as "recReviseTime",
        tm.REC_DELETOR	as "recDeletor",
        tm.REC_DELETE_TIME	as "recDeleteTime",
        tm.TOTAL_TRACTION_ENERGY as "totalTractionEnergy",
        tm.TOTAL_AUXILIARY_ENERGY as "totalAuxiliaryEnergy",
        tm.TOTAL_REGENERATED_ELECTRICITY as "totalRegenratedElectricity",
        tm.TRACTION_INCREMENT as "tractionIncrement",
        tm.AUXILIARY_INCREMENT as "auxiliaryIncrement",
        tm.REGENERATED_INCREMENT as "regenratedIncrement",
        tm.DELETE_FLAG	as "deleteFlag",
        tm.ARCHIVE_FLAG	as "archiveFlag",
        tm.REC_STATUS	as "recStatus",
        tm.EXT1	as "ext1",
        tm.EXT2	as "ext2",
        tm.EXT3	as "ext3",
        tm.EXT4	as "ext4",
        tm.EXT5	as "ext5"
        FROM T_TRAIN_MILEAGE tm
        left join SYS_USER u on u.ID=FILLIN_USER_ID
        WHERE tm.REC_ID = #{id}
    </select>

    <select id="listTrainMileage" resultType="com.wzmtr.eam.dto.res.equipment.TrainMileageResDTO">
        SELECT
        tm.REC_ID	as "recId",
        tm.EQUIP_CODE	as "equipCode",
        tm.EQUIP_NAME	as "equipName",
        tm.TOTAL_MILES	as "totalMiles",
        tm.MILES_INCREMENT	as "milesIncrement",
        tm.FILLIN_TIME	as "fillinTime",
        tm.FILLIN_USER_ID	as "fillinUserId",
        u.NAME	as "fillinUserName",
        tm.REMARK	as "remark",
        tm.REC_CREATOR	as "recCreator",
        tm.REC_CREATE_TIME	as "recCreateTime",
        tm.REC_REVISOR	as "recRevisor",
        tm.REC_REVISE_TIME	as "recReviseTime",
        tm.REC_DELETOR	as "recDeletor",
        tm.REC_DELETE_TIME	as "recDeleteTime",
        tm.TOTAL_TRACTION_ENERGY as "totalTractionEnergy",
        tm.TOTAL_AUXILIARY_ENERGY as "totalAuxiliaryEnergy",
        tm.TOTAL_REGENERATED_ELECTRICITY as "totalRegenratedElectricity",
        tm.TRACTION_INCREMENT as "tractionIncrement",
        tm.AUXILIARY_INCREMENT as "auxiliaryIncrement",
        tm.REGENERATED_INCREMENT as "regenratedIncrement",
        tm.DELETE_FLAG	as "deleteFlag",
        tm.ARCHIVE_FLAG	as "archiveFlag",
        tm.REC_STATUS	as "recStatus",
        tm.EXT1	as "ext1",
        tm.EXT2	as "ext2",
        tm.EXT3	as "ext3",
        tm.EXT4	as "ext4",
        tm.EXT5	as "ext5"
        FROM T_TRAIN_MILEAGE tm
        left join SYS_USER u on u.ID=FILLIN_USER_ID
        WHERE 1=1
        <if test="equipCode!=null and equipCode!=''">
            and tm.EQUIP_CODE=#{equipCode}
        </if>
        <if test="startTime!=null and startTime!=''">
            and SUBSTR(tm.FILLIN_TIME,1,10)>=#{startTime}
        </if>
        <if test="endTime!=null and endTime!=''">
            and #{endTime}>=SUBSTR(tm.FILLIN_TIME,1,10)
        </if>
        order by tm.FILLIN_TIME desc
    </select>

    <select id="pageTrainDailyMile" resultType="com.wzmtr.eam.dto.res.equipment.TrainMileDailyResDTO">
        SELECT
        REC_ID,
        EQUIP_CODE,
        EQUIP_NAME,
        "DAY",
        DAILY_WORK_MILE,
        TOTAL_WORK_MILE,
        DAILY_MILE,
        TOTAL_MILE,
        TRACTION_INCREMENT,
        TOTAL_TRACTION_ENERGY,
        AUXILIARY_INCREMENT,
        TOTAL_AUXILIARY_ENERGY,
        REGENRATED_INCREMENT,
        TOTAL_REGENRATED_ELECTRICITY,
        REC_CREATOR,
        REC_CREATE_TIME,
        REC_REVISOR,
        REC_REVISE_TIME,
        REC_DELETOR,
        REC_DELETE_TIME,
        DELETE_FLAG,
        REMARK
        FROM T_TARIN_MILE
        WHERE DELETE_FLAG='0'
        <if test="day!=null and day!=''">
            AND "DAY"=#{day}
        </if>
        <if test="equipCode!=null and equipCode!=''">
            AND EQUIP_CODE=#{equipCode}
        </if>
        order by "DAY" desc
    </select>

    <select id="getTrainDailyMileDetail" resultType="com.wzmtr.eam.dto.res.equipment.TrainMileDailyResDTO">
        SELECT
        REC_ID,
        EQUIP_CODE,
        EQUIP_NAME,
        "DAY",
        DAILY_WORK_MILE,
        TOTAL_WORK_MILE,
        DAILY_MILE,
        TOTAL_MILE,
        TRACTION_INCREMENT,
        TOTAL_TRACTION_ENERGY,
        AUXILIARY_INCREMENT,
        TOTAL_AUXILIARY_ENERGY,
        REGENRATED_INCREMENT,
        TOTAL_REGENRATED_ELECTRICITY,
        REC_CREATOR,
        REC_CREATE_TIME,
        REC_REVISOR,
        REC_REVISE_TIME,
        REC_DELETOR,
        REC_DELETE_TIME,
        DELETE_FLAG,
        REMARK
        FROM T_TARIN_MILE
        WHERE DELETE_FLAG='0' AND REC_ID=#{id}
    </select>

    <insert id="addTrainDailyMile">
        INSERT INTO T_TARIN_MILE (
        REC_ID,
        EQUIP_CODE,
        EQUIP_NAME,
        "DAY",
        DAILY_WORK_MILE,
        TOTAL_WORK_MILE,
        DAILY_MILE,
        TOTAL_MILE,
        TRACTION_INCREMENT,
        TOTAL_TRACTION_ENERGY,
        AUXILIARY_INCREMENT,
        TOTAL_AUXILIARY_ENERGY,
        REGENRATED_INCREMENT,
        TOTAL_REGENRATED_ELECTRICITY,
        REMARK,
        REC_CREATOR,
        REC_CREATE_TIME)
        VALUES (
        #{recId,jdbcType=VARCHAR},
        #{equipCode,jdbcType=VARCHAR},
        #{equipName,jdbcType=VARCHAR},
        #{day,jdbcType=VARCHAR},
        #{dailyWorkMile,jdbcType=DECIMAL},
        #{totalWorkMile,jdbcType=DECIMAL},
        #{dailyMile,jdbcType=DECIMAL},
        #{totalMile,jdbcType=DECIMAL},
        #{tractionIncrement,jdbcType=DECIMAL},
        #{totalTractionEnergy,jdbcType=DECIMAL},
        #{auxiliaryIncrement,jdbcType=DECIMAL},
        #{totalAuxiliaryEnergy,jdbcType=DECIMAL},
        #{regenratedIncrement,jdbcType=DECIMAL},
        #{totalRegenratedElectricity,jdbcType=DECIMAL},
        #{remark,jdbcType=VARCHAR},
        #{recCreator,jdbcType=VARCHAR},
        #{recCreateTime,jdbcType=VARCHAR})
    </insert>

    <update id="modifyTrainDailyMile">
        UPDATE T_TARIN_MILE SET
        <if test="equipCode!=null">
            EQUIP_CODE = #{equipCode},
        </if>
        <if test="equipName!=null">
            EQUIP_NAME = #{equipName},
        </if>
        <if test="day!=null">
            "DAY" = #{day},
        </if>
        <if test="dailyWorkMile!=null">
            DAILY_WORK_MILE = #{dailyWorkMile},
        </if>
        <if test="totalWorkMile!=null">
            TOTAL_WORK_MILE = #{totalWorkMile},
        </if>
        <if test="dailyMile!=null">
            DAILY_MILE = #{dailyMile},
        </if>
        <if test="totalMile!=null">
            TOTAL_MILE = #{totalMile},
        </if>
        <if test="tractionIncrement!=null">
            TRACTION_INCREMENT = #{tractionIncrement},
        </if>
        <if test="totalTractionEnergy!=null">
            TOTAL_TRACTION_ENERGY = #{totalTractionEnergy},
        </if>
        <if test="auxiliaryIncrement!=null">
            AUXILIARY_INCREMENT = #{auxiliaryIncrement},
        </if>
        <if test="totalAuxiliaryEnergy!=null">
            TOTAL_AUXILIARY_ENERGY = #{totalAuxiliaryEnergy},
        </if>
        <if test="regenratedIncrement!=null">
            REGENRATED_INCREMENT = #{regenratedIncrement},
        </if>
        <if test="totalRegenratedElectricity!=null">
            TOTAL_REGENRATED_ELECTRICITY = #{totalRegenratedElectricity},
        </if>
        <if test="remark!=null">
            REMARK = #{remark},
        </if>
        REC_REVISOR = #{recRevisor},
        REC_REVISE_TIME = #{recReviseTime}
        where REC_ID = #{recId}
    </update>

    <update id="deleteTrainDailyMile">
        UPDATE T_TARIN_MILE SET
        DELETE_FLAG='1', REC_DELETOR=#{userId}, REC_DELETE_TIME=#{time}
        WHERE REC_ID IN (
        <foreach collection="ids" index="index" item="id" separator=",">
            #{id}
        </foreach>
        )
    </update>

    <select id="listTrainDailyMile" resultType="com.wzmtr.eam.dto.res.equipment.TrainMileDailyResDTO">
        SELECT
        REC_ID,
        EQUIP_CODE,
        EQUIP_NAME,
        "DAY",
        DAILY_WORK_MILE,
        TOTAL_WORK_MILE,
        DAILY_MILE,
        TOTAL_MILE,
        TRACTION_INCREMENT,
        TOTAL_TRACTION_ENERGY,
        AUXILIARY_INCREMENT,
        TOTAL_AUXILIARY_ENERGY,
        REGENRATED_INCREMENT,
        TOTAL_REGENRATED_ELECTRICITY,
        REC_CREATOR,
        REC_CREATE_TIME,
        REC_REVISOR,
        REC_REVISE_TIME,
        REC_DELETOR,
        REC_DELETE_TIME,
        DELETE_FLAG,
        REMARK
        FROM T_TARIN_MILE
        WHERE DELETE_FLAG='0'
        <if test="day!=null and day!=''">
            AND "DAY"=TO_DATE(#{day}, 'yyyy-mm-dd hh24:mi:ss')
        </if>
        <if test="equipCode!=null and equipCode!=''">
            AND EQUIP_CODE=#{equipCode}
        </if>
        order by "DAY" desc
    </select>

    <insert id="importTrainDailyMile">
        insert ALL
        <foreach collection="list" index="index" item="mile" separator=" ">
            INTO T_TARIN_MILE (
            REC_ID,
            EQUIP_CODE,
            EQUIP_NAME,
            "DAY",
            DAILY_WORK_MILE,
            TOTAL_WORK_MILE,
            REMARK,
            REC_CREATOR,
            REC_CREATE_TIME)
            VALUES (
            #{mile.recId,jdbcType=VARCHAR},
            #{mile.equipCode,jdbcType=VARCHAR},
            #{mile.equipName,jdbcType=VARCHAR},
            #{mile.day,jdbcType=VARCHAR},
            #{mile.dailyWorkMile,jdbcType=DECIMAL},
            #{mile.totalWorkMile,jdbcType=DECIMAL},
            #{mile.remark,jdbcType=VARCHAR},
            #{mile.recCreator,jdbcType=VARCHAR},
            #{mile.recCreateTime,jdbcType=VARCHAR})
        </foreach>
        SELECT * FROM dual
    </insert>
</mapper>